.pull-left-lg {
  float: left !important;
}
.pull-right-lg {
  float: right !important;
}
.text-left-lg {
  text-align: left !important
}
.text-center-lg {
  text-align: center !important
}
.text-right-lg {
  text-align: right !important
}
@media (max-width: $screen-md-max) {
  .pull-left-md {
    float: left !important;
  }
  .pull-right-md {
    float: right !important;
  }
  .text-left-md {
    text-align: left !important
  }
  .text-center-md {
    text-align: center !important
  }
  .text-right-md {
    text-align: right !important
  }
}
@media (max-width: $screen-sm-max) {
  .pull-left-sm {
    float: left !important;
  }
  .pull-right-sm {
    float: right !important;
  }
  .text-left-sm {
    text-align: left !important
  }
  .text-center-sm {
    text-align: center !important
  }
  .text-right-sm {
    text-align: right !important
  }
}
@media (max-width: $screen-xs-max) {
  .pull-left-xs {
    float: left !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .text-left-xs {
    text-align: left !important
  }
  .text-center-xs {
    text-align: center !important
  }
  .text-right-xs {
    text-align: right !important
  }
}