.background-color-white {
  background-color: $color-white;
}

.color-white {
  color: $color-white;
}

// must have for infinite scroll
html, body {
  height: 100%;
  background-color: $color-white;
  font-family: helvetica;
}

td {
  font-size: 13px;
}

// highest level container, located in index.html
.container-fluid {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

// wraps every page that contains the sidebar menu, located in menu.html
.sidebar-menu-wrapper {
  min-height: 100%;
  position: relative;
}

// div to the right of the sidebar, located in menu.html
@media (max-width: $screen-sm-max){
  .main-content {
    width: calc(100% - 175px);
    margin-left: $sidebar-width;
  }
}

@media (max-width: 50000px) and (min-width: $screen-sm-max){
  .main-content {
    // width: 100.8%;
    padding-left: 14px;
  }
}

// wraps menu child states, located in menu.html
.view {
  padding-bottom: $gutter-size;
}

@media (min-width: 991px) {
    .view-web {
        padding-left: 51px;
    }
}


// everything below page-header-bar, located in each menu child state
.page-content {
  margin-top: 10px;
  // padding-right: 15px;
}

.background-white {
  background-color:$color-white;
}

@media (max-width: $screen-sm-max) {
  .main-content {
    width: inherit;
    margin-left: 15px;
    margin-right: 0;
  }
  .page-content {
    margin-top: 15px;
  }
}

@media print {
  .main-content {
    margin-left: 0;
  }
}

.no-results {
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
}

.max-width-100Percent {
  max-width: 100% !important;
}

.height-100Percent {
  height: 100%;
}

.hidden-icon{
  visibility: hidden;
}

.no-display{
  display: none;
}

.vertical-align-middle {
  vertical-align: middle;
}

.inline-block-display {
  display:inline-block;
  display: -ms-inline-flexbox;
}

.highlightRows:nth-of-type(even) {
  background-color: #F3F1EB;
}

.block-display {
  display:block;
}

.border-left-orange {
  border-left: 3px solid $color-orange;
}

.border-left-green {
  border-left: 3px solid $color-green;
}

.border-left-red {
  border-left: 3px solid $color-red;
}

.row {
  margin-right: 0;
}


#loading-bar .bar {
  height: 5px;
}

.width-87Percent {
    width: 87%;
}

.width-100Percent {
    width: 100%;
}

.padding-left-200px {
    padding-left: 200px;
}

@media (max-width: 991px) {
    .padding-bottom-10 {
        padding-bottom: 10px;
    }
}

.foundItem {
    background-color: $color-yellow !important;
}

input[type="search"]::-webkit-search-cancel-button {
 /*Bootstrap 4 override*/
 -webkit-appearance: searchfield-cancel-button;
}

@-moz-document url-prefix() {

    .firefox-margin-right {
        margin-right: 195px !important;
    }


    .firefox-input-width {
        width: 200px !important;
    }

}

.header-div {
  width: 100%; 
  height: 2px; 
  background: #C7BEA3; 
  overflow: hidden; 
  margin-bottom: 10px; 
  margin-top: 5px;
}