.background-color-white {
  background-color: $color-white;
}

.color-white {
  color: $color-white;
}

// must have for infinite scroll
html, body {
  height: 100%;
}

// highest level container, located in index.html
.container-fluid {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

// wraps every page that contains the sidebar menu, located in menu.html
.sidebar-menu-wrapper {
  min-height: 100%;
  position: relative;
  background-image: url('../images/Textured-BG.jpg');
}

// div to the right of the sidebar, located in menu.html
@media (max-width: $screen-sm-max){
  .main-content {
    width: calc(100% - 175px);
    margin-left: $sidebar-width;
  }
}

@media (max-width: 50000px) and (min-width: $screen-sm-max){
  .main-content {
    width: 100.8%;
    padding-left: 12px;
  }
}

// wraps menu child states, located in menu.html
.view {
  padding-bottom: $gutter-size;
}

// everything below page-header-bar, located in each menu child state
.page-content {
  margin-top: 30px;
}

.background-white {
  background-color:$color-white;
}

@media (max-width: $screen-sm-max) {
  .main-content {
    width: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  .page-content {
    margin-top: 15px;
  }
}

@media print {
  .main-content {
    margin-left: 0;
  }
}

.no-results {
  font-size: 15px; 
  font-weight: 400; 
  line-height: 40px; 
  letter-spacing: 1px;
}

.margin-left-5 {
  margin-left:5px !important;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left:15px;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right:15px;
}

.margin-top-3 {
  margin-top: 3px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.max-width-100Per {
  max-width: 100% !important;
}

.hidden-icon{
  visibility: hidden;
}

.no-display{
  display: none;
}

.vertical-align-middle {
  vertical-align: middle;
}

.inline-block-display {
  display:inline-block;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-5 {
  padding-right: 5px;
}

.highlightRows:nth-of-type(odd) {
  background-color: $color-white !important;
}

.block-display {
  display:block;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-5 {
  padding-left: 5px;
}

.border-left-orange {
  border-left: 3px solid $color-orange;
}

.border-left-green {
  border-left: 3px solid $color-green;
}

.border-left-red {
  border-left: 3px solid $color-red;
}
