html {
  height: 100%;
}

.desktop-wrapper {
  background-image: url('../images/Textured-BG.jpg');
}


// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.page-content {
  width: calc(100% - 175px);
  margin-left: $sidebar-width;
}
.view {
  padding-bottom: $gutter-size;
}

@media (max-width: $screen-sm-max) {
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}

@media print {
  .page-content {
    margin-left: 0;
  }
}