.hidden-mobile-visible-print {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .visible-print;
  @extend .visible-md;
  @extend .visible-lg;
}

@media print {
  @include make-grid(sm);

  @include responsive-visibility('.visible-xs');
  @include responsive-visibility('.hidden-xs');
  @include responsive-visibility('.visible-sm');
  @include responsive-invisibility('.hidden-xs.hidden-print');
  @include responsive-invisibility('.hidden-sm');
  @include responsive-invisibility('.visible-sm.hidden-print');

  .table-border {
    > thead:first-child > tr:first-child > th {
      border-top: 1px solid black !important;
    }
    > thead > tr > th,
    > tbody > tr > td,
    > tfoot > tr > td {
      &:first-child {
        border-left: 1px solid black !important;
      }
      &:last-child {
        border-right: 1px solid black !important;
      }
    }
    > thead > tr > th,
    > tbody > tr > td, 
    > tfoot > tr > td {
      border-bottom: 1px solid black !important;
    }
    > tbody > tr:first-child > td,
    > tbody > tr:first-child > th {
      border-top: none;
    }
  }

  //Menu.Cart.Items print styles
  .info-box {
      border: 0px solid #fff !important;
      vertical-align: text-top !important;
  }

  .info-box label, .info-box p {
      padding-top: 0 !important;
      vertical-align: text-top !important;
      white-space: nowrap;
  }

  .info-box label {
      text-align: right !important;
  }

  .info-box input {
    margin: 0 !important;
    padding: 0 0 15px 0 !important;
  }

  .print-clean {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    transition: none !important;
  }

  .page-header-bar {
      border-bottom: 1px solid #000 !important;
  }



}
