-- =============================================-- Author:        Joshua P. Tirey-- Create date: 3/29/2015-- Description:    Creates Entree list for Customer History (worksheet) items-- -- Modified - JCS - 8/5/2015-- =============================================ALTER PROCEDURE [ETL].[ProcessWorksheetList]ASBEGIN   -- Clear Lists and ListItem tables.   DECLARE @ClearTables VARCHAR(20);   SELECT @ClearTables = 'ClearTables'; 	   DELETE FROM [List].ListItems WHERE Category = '5'        -- Variables       DECLARE @customerId varchar(15)       DECLARE @branchID varchar(50)       DECLARE @existingListId bigint          --DECLARE Cursor for all contracts       DECLARE worksheet_Cursor CURSOR FOR           SELECT                [CustomerNumber],               [DivisionNumber]           FROM                [BEK_Commerce_AppData].[ETL].[Staging_WorksheetItems]           GROUP BY               [CustomerNumber],               [DivisionNumber]        OPEN worksheet_Cursor       FETCH NEXT FROM worksheet_Cursor INTO @customerId, @branchID        WHILE @@FETCH_STATUS = 0       BEGIN            -- Create list           INSERT INTO [BEK_Commerce_AppData].[List].[Lists]               ([DisplayName]               ,[Type]               ,[CustomerId]               ,[BranchId]               ,[ReadOnly]               ,[CreatedUtc]               ,[ModifiedUtc])           VALUES               ('History'               ,5               ,LTRIM(RTRIM(@customerId))               ,LTRIM(RTRIM(@branchID))               ,1               ,GETUTCDATE()               ,GETUTCDATE())            SET @existingListId = SCOPE_IDENTITY();            --Insert items into the new list           INSERT INTO [BEK_Commerce_AppData].[List].[ListItems]                       ([ItemNumber]                       ,[Par]                       ,[CreatedUtc]                       ,[ParentList_Id]                       ,[ModifiedUtc]					   ,[Category]                       ,[Position]                       ,[Each])           SELECT                LTRIM(RTRIM(ItemNumber)),               0.00,               GETUTCDATE(),               @existingListId,               GETUTCDATE(),			   '5' As Category,               ROW_NUMBER() over (Order By ItemNumber),               CASE WHEN BrokenCaseCode = 'Y' THEN 1 ELSE 0 END           FROM                [BEK_Commerce_AppData].[ETL].[Staging_WorksheetItems]           WHERE               [CustomerNumber] = @customerId AND               [DivisionNumber] = @branchID            SET @existingListId = null              FETCH NEXT FROM worksheet_Cursor INTO @customerId, @branchID       END		close worksheet_Cursor	DEALLOCATE worksheet_CursorEND