.top-buffer {
    margin-top: 20px;
}

.control-label.userMessage {
    color: green;
    text-align: left;
}

.glyphicon.blue {
  color: rgb(72, 158, 207);
}

.filterInputLeft {
  padding-left: 2px !important;
}

.filterInputLeft .no-margin {
  margin: 0;
}

.preferencesTable {

}

.preferencesTable th {
  padding: 5px 7px;
}

.preferencesTable td {
  padding: 7px 7px;
}

.preferencesTable td.checkboxCenter {
  text-align: center;
}

.smallerHeaderLinkText {
  font-size: 16px;
}

.infiniteScroll {
  @include scroll-div-vertical(201px);
}

.inlineOverride {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
