.ship-dates {
  left: initial;
  right: 0;
}

.reminder-items__table {
  @include scroll-div-vertical(150px);
  margin-top: 10px;

  .table > thead > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > th, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > th, 
  .table > tfoot > tr > td {
    padding: 6px 5px;
  }
}