.invoice-table {
  > tbody > tr.invoice__late > td {
    &:first-child {
      border-left: 3px solid $color-red;
    }
    &.highlight-text {
      color: $color-red;
    }
  }
  > tbody > tr.invoice__paid > td {
    &:first-child {
      border-left: 3px solid $color-green;
    }
    &.highlight-text {
      color: $color-green;
    }
  }
}

.datepicker ul {
  padding: 10px;

  .btn-default {
    border: none;
  }
}

.overdueHighlight td {
  background-color: rgba(234, 56, 24, 0.50) !important;
}
