.item-details__main-info {

  .item-details__icons {
    margin-left: $gutter-size;
    font-size: 15px;
  }

  .main-info__description {
    max-width: 495px;
  }
}
.item-details__main-image {
  padding-right: $gutter-size;

  img {
    height: 135px;
  }
}

.item-details__images {
  padding: $gutter-size;

  img {
    margin: 3px;
  }
}

.item-details__table {
  > tbody > tr:first-child > td,
  > tbody > tr:first-child > th {
    border-top: none;
  }
}

@media (min-width: $screen-sm-min) {
  .item-name {
    margin-top: 0;
  }
}

.padding-top-15 {
    padding-top: 15px !important;
}

@media (orientation:portrait){
    .hidePortrait {
        display:none;
    }
}

@media (max-width: 1342px) {
  .max-width-25 {
    width: 24%;
  }
}

@media (min-width: 1343px) {
  .min-width-33 {
    width: 33%;
  }
}