.table tbody > tr {
  &.new-message td {
    background-color: aliceblue;
  }
  &.mandatory td {
    &:first-child {
      border-left: 3px solid $color-red;
    }
    color: $color-red;
  }  
}

.notification-body {
	margin-bottom:20px; 
	overflow:auto; 
	height: 200px;
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection * {
    visibility: visible;
    width: 100%;
  }
  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
  pre {
  	height: auto !important;
  	overflow: hidden !important;
  }
}