<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="EventLog" connectionString="Data Source=bekkecbdb1.bekco.com; Initial Catalog=eventlog; Application Name=EntreeQueueService; user id=eluser; Password=3v3ntWr1t3r" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEKDBContext" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;user id=ecom; Password=RtOKxf)h]vt" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>