<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EventLog"
         connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BEKDBContext"
         connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>