 <div class="modal-header">
    <div class="modal-close-button" ng-click="closeModal()"><span class="icon-cross large-icon"></span></div>
    <h2 class="modal-title">Notification Details</h2>
</div>
<div class="modal-body">

  <h3>{{notification.messagecreatedutc | date:medium }}</h3>

  <h4 style="margin-top:20px;">Subject: {{notification.subject}}</h4>
  <p style="margin-bottom:20px;" ng-class="{ 'text-red': notification.mandatory }">{{notification.body}}</p>

  <div class="row">
    <label class="col-xs-4" for="">Label</label>
    <div class="col-xs-8">{{notification.label}}</div>
  </div>

  <div class="row">
    <label class="col-xs-4" for="">Customer #</label>
    <div class="col-xs-8">{{notification.customernumber}}</div>
  </div>

  <div class="row">
    <label class="col-xs-4" for="">Type</label>
    <div class="col-xs-8">{{notification.notificationtypedescription}}</div>
  </div>

</div>
<div class="modal-footer">
  <button 
    ng-if="notification.displayType === 'Order'" 
    ng-click="goToPage('menu.order')" 
    class="btn btn-lg btn-primary pull-left">
    View All Orders
  </button>
  <button 
    ng-if="notification.displayType === 'Invoice'"
    ng-click="goToPage('menu.invoice')" 
    class="btn btn-lg btn-primary pull-left">
    View All Invoices
  </button>
  <button 
    ng-if="notification.displayType !== 'Order' && notification.displayType !== 'Invoice'"
    ng-click="closeModal()" 
    class="btn btn-lg btn-primary pull-left">
    OK
  </button>
</div>