.cart-selection-button {
  font-size:15px;
  padding: 8px 12px;
}
.cart-selection {
  border: 1px solid $color-border;
  padding: 0;

  .cart-selection-list {
    width: 400px;
    margin: 0;

    a > .row {
      border-bottom: 1px solid $color-border;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background-color: $background;
      }
    }
    a:last-child > .row {
      border-bottom: none;
    }
  }
}

.input-group.datepicker-input {
  margin: 0;
  width: 200px;

  > input.form-control {
    border-radius: 0;
    min-height: 0;
    height: 30px;
    background-color: $color-white;
  }
  > span > button {
    border-radius: 0;
    min-height: 0;
    padding: 4px 10px;
  }

  table tbody button, table thead button {
    border: none !important;
  }
}

.cart-info {
  background-color: $color-white;
  border: 1px solid $color-border;
  padding: $gutter-size;

  .cart-info-item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &.cart-info-item__ship-date {
      line-height: 21px;
    }

    .cart-info-buttons {
      button:first-child {
        margin-right: 5px;
      }
    }

    .cart-info-subtotal {
      font-size: 26px;
      font-weight: 600;
    }
  }
}

@media (max-width: $mobile-max) {
  .cart-selection {
    .cart-selection-list {
      width: 320px;
    }
  }
}

// xs devices
@media(min-width: 768px) {
  .cart-info {
    .cart-info-item {
      .cart-info-buttons {
        text-align: right;
      }
    }
  }
}