.dropdown-menu-list {
  width: 100%;
  border-radius: 0;
  padding: 0;

  li {
    padding: 10px;
    border-bottom: 1px solid $color-border;

    &:hover {
      background-color: $background;
    }
  }
}

.dropdown-menu-list-multi-columns {
  border: 1px solid $color-border;
  padding: 0;
  border-radius: 0;

  > li > .row {
    width: 400px;
    margin: 0;

    a > .row {
      border-bottom: 1px solid $color-border;
      padding-top: 8px;
      padding-bottom: 8px;

      &:hover {
        background-color: $background;
      }
    }
    a:last-child > .row {
      border-bottom: none;
    }
  }
}