/* LEFT SIDE LIST NAVIGATION BUTTONS */
.custom-lists .btn-list {
  min-width: 130px;
  font-size: $font-size;
  display: block;

  &:hover {
    color: $color-blue;
  }

  &.bek-drag-active {
    border: 1px dashed $color-border;
  }

  &.bek-drag-hover {
    color: $color-blue;
    border: 2px solid $color-blue;
    cursor: copy;
  }
  
  // button list of custom list names
  &.custom-lists__name {

    // currently selected list link
    &.current-list {
      background-color: $color-blue;
      color: $color-white !important;
      border: none;
    }
  }
}

// 'Show More' link
.custom-lists__more {
  margin-top: 10px;
}

// trash can button
.btn-trash {
  margin-top: 10px;
  
  &.bek-drag-active {
    border: 1px dashed $color-red;
    display: inline-block;
  }

  &.bek-drag-hover {
    border: 2px solid $color-red;
    cursor: copy;
  }
}

/* LIST TABLE */
.custom-lists__table {

  .table-body {

    .table-row {
      &.bek-reordered-item  {
        background-color: #f3f3d1 !important;
      }

      
    }

    .edit-parlevel {
      width: calc(100% - 15px);
    }
    .edit-label {
      width: calc(100% - 25px);
    }
  }
}

/* DRAG AND DROP */
.ui-draggable-handle {
  cursor: move;
}
.ui-draggable-dragging {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;
  background-color: $color-white !important;
  
  [class^='col-'] {
    width: inherit;
    float: none;
    display: inline-block;
  }

  .hidden-drag {
    display: none;
  } 
}
.ui-sortable-helper {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;
  width: 95% !important;
  background-color: #EBE7D9 !important;
}
// prevents weird page jumping when reordering items that are scrolled down the page
.bek-reorder-overflow {
  overflow: auto;
}

// highlight row when hovering on desktop only
@media (min-width: $mobile-max) {
  .custom-lists__table .table-body .table-row:hover {
    background-color: #EBE7D9;
  }
}

@media (max-width: $mobile-max) {
  .custom-lists {
    position:absolute; 
    z-index: 3; 
    right: 10px; 
    top: 155px;
  }

  .custom-lists__table {
    .edit-label {
      display: inline-block;
    }
  }

  .custom-lists__save {
    min-height: 0;
    font-size: 10px;
    float: right;
    margin: 3px 10px;
    padding: 7px;
  }
}