<div page-header-bar>
  <div header-message>
    Add To Order

    <button class="btn-lg btn btn-primary pull-right hidden-md hidden-lg hidden-print" ng-click="updateOrderClick(selectedList, selectedCart)" ng-disabled="addToOrderForm.$invalid">Save</button>
    <button class="btn-lg btn btn-danger pull-right hidden-md hidden-lg hidden-print" style="margin-right:3px;" ui-sref="menu.home">Cancel Order</button>
  </div>
  <div header-buttons ng-hide="invalidParams">
    <button class="btn-lg btn btn-danger pull-right-sm hidden-print" ui-sref="menu.home">Cancel Order</button>
    <button class="btn-lg btn btn-primary pull-right-sm hidden-print" ng-click="saveAndRetainQuantity()" ng-disabled="addToOrderForm.$invalid">Save</button>
    <a class="btn-lg btn btn-default pull-right-sm hidden-print" ng-click="addToOrderForm.$setPristine(); saveAndContinue()">Proceed to Checkout</a>
    <button title="Print" class="btn btn-default btn-icon" ng-click="print()"><span class="icon-printer"></span></button>
  </div>
</div>

<div loading-spinner="invalidParams"></div>

<div class="page-content" ng-hide="invalidParams">
  
  <a class="btn-lg btn btn-default hidden-md hidden-lg hidden-print" ng-click="addToOrderForm.$setPristine(); saveAndContinue()">Proceed to Checkout</a>

  <div ng-if="selectedList.itemCount > pagingPageSize">
   <pagination 
    total-items="selectedList.itemCount" 
    ng-model="currentPage" 
    items-per-page="pagingPageSize" 
    max-size="10" 
    boundary-links="true" 
    rotate="false" 
    ng-change="pageChanged(this)" 
    class="pagination">
   </pagination> 
  </div>

  <div class="row" ng-if="addToOrderForm.$invalid">
    <div class="col-xs-12 text-red">
      <span>Your form has some errors. Please fix these before adding items to an order.</span>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-5" >
      <input id="useParlevel" name="useParlevel" type="checkbox" ng-model="useParlevel">
      <label for="useParlevel">Use PAR Level</label>
    </div>
    <div class="col-xs-7 text-right" style="float:right;" >      
     Showing {{rangeStart}} - {{rangeEnd}} of  {{selectedList.itemCount}} Items
    </div>

  </div>

  <div class="row hidden-print">
    <div class="col-xs-12">
      <div class="row select-nav-bar no-margin">
        <div class="no-border-right-sm info-box col-md-3 col-sm-6 col-xs-12 select-nav btn-group dropdown-toggle hand" dropdown is-open="showLists" ng-disabled="lists.length === 1">
          <span class="nav-description text-light">Select a List</span>
          <span class="nav-title">{{selectedList.name}}</span>
          <span class="pull-right icon-arrow-down7 text-light"></span>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="list in lists | sortLists" ng-if="list.listid !== selectedList.listid">
              <a ng-click="redirect(list.listid, selectedCart, useParlevel)">
                {{list.name}}
              </a>
            </li>
          </ul>
        </div>
        
        <div class="info-box col-md-3 col-sm-6 col-xs-12 select-nav btn-group">
          <span class="nav-description text-light">Selected Order</span>
          <span class="nav-title" ng-hide="isRenaming">{{selectedCart.name || selectedCart.invoicenumber || 'New Cart'}} 
            <span ng-if="::!isChangeOrder" class="icon-pencil hand large-icon text-light" ng-click="startRenamingCart(selectedCart.name)"></span>
          </span>
          <span ng-if="isRenaming">
            <form name="renameCartForm">
              <input type="text" ng-model="tempCartName" focus-me="isRenaming" required>
              <button type="submit" class="btn-no-style icon-checkmark large-icon hand text-green" ng-disabled="renameCartForm.$invalid" ng-click="renameCart(selectedCart.id, tempCartName)"></button>
              <span class="icon-cross large-icon hand text-red" ng-click="isRenaming = false"></span>
            </form>
          </span>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12 btn-group info-box hand no-border-right-sm dropdown-toggle" dropdown is-open="showShipDates">
          <span class="nav-description text-light">Ship Date</span>
          <span class="nav-title">
            {{(selectedCart.requestedshipdate | formatDate) || 'Select a date...' }}
          </span>
          <span class="pull-right icon-arrow-down7 text-light"></span>
          <div class="dropdown-menu">
            <table class="table no-margin">
              <tr style="cursor:default">
                <td></td>
                <td>Ship Date</td>
                <td>Submit By</td>
              </tr>
              <tr ng-repeat="shipDate in shipDates" ng-click="selectedCart.requestedshipdate = shipDate.shipdate">
                <td>{{shipDate.dayofweek}}</td>
                <td class="nowrap">{{shipDate.shipdate}}</td>
                <td class="nowrap">{{shipDate.cutoffdatetime | formatDateWithTimezone}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 info-box">
          <span class="nav-description text-light">Cart Info</span>
          <span class="nav-title">{{itemCount || '0'}} Items</span>
          <span class="nav-subtotal pull-right text-green">{{selectedCart.subtotal | currency}}</span>
        </div>

      </div>
    </div>
  </div>

  <div class="visible-print row sub-content">
    <div class="col-xs-3">{{selectedList.name}}</div>
    <div class="col-xs-3">{{selectedCart.name || selectedCart.ordernumber || 'New Cart'}}</div>
    <div class="col-xs-2">{{( selectedCart.requestedshipdate | formatDate) || 'Select a date...' }}</div>
    <div class="col-xs-2">{{itemCount || '0'}} Items</div>
    <div class="col-xs-2 text-right">{{subtotal | currency}}</div>
  </div>

  <form name="orderSearchForm" class="hidden-print">
    <div class="input-group input-group-lg">
      <input 
        id="searchBar"
        ng-model="orderSearchTerm"
        type="text" 
        class="form-control mousetrap" 
        placeholder="Search current list by keyword, item # or label" />
      <span class="input-group-btn">
        <button type="submit" ng-click="filterItems(orderSearchTerm)" class="btn btn-default"><span class="icon-search"></span></button>
        <button type="button"  ng-click="clearFilter()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
      </span>
    </div>
  </form>
  

  <form 
    unsaved-warning-form 
    novalidate 
    name="addToOrderForm" 
    class="style-validation-errors" 
    autocomplete="off">
    <div class="table-addtoorder">
      <table      
        class="table table-striped-rows table-border" 
        navigate-table="lists">
        <thead>
          <tr fsm-sticky-header scroll-body="'.table-addtoorder'" scroll-stop="0">
            <th class="sort-col-header" ng-click="sortList('position',sort[0].order)">
              <span># <span sort-icons field="'position'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="sort-col-header" ng-click="sortList('itemnumber',sort[0].order)">
             Item
              <span># <span sort-icons field="'itemnumber'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="sort-col-header" ng-click="sortList('name',sort[0].order)">
              <span>Name<span sort-icons field="'name'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortList('brandextendeddescription',sort[0].order)">
              <span>Brand <span sort-icons field="'brandextendeddescription'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortList('itemclass',sort[0].order)">
              <span>Category <span sort-icons field="'itemclass'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="hidden-mobile-visible-print">
              Pack/Size
            </th>
            <th class="hidden-mobile-visible-print sort-col-header notes-col" ng-click="sortList('notes',sort[0].order)">
              <span>Notes <span sort-icons field="'notes'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="hidden-xs hidden-sm"></th>
            <th class="hidden-xs hidden-sm"></th>
            <th  class="sort-col-header hidden-mobile-visible-print" ng-click="sortList('label',sort[0].order)">
              <span>Label <span sort-icons field="'label'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
            </th>
            <th class="hidden-mobile" ng-if="useParlevel">
              PAR
            </th>
            <th  class="hidden-mobile text-center" ng-if="useParlevel">
              On Hand
            </th>
            <th>
             Qty
            </th>
            <th class="hidden-mobile-visible-print">
              Each
            </th>
            <th class="hidden-mobile-visible-print">
              Price
            </th>
            <th class="hidden-mobile-visible-print">
              Ext Price
            </th>
            <th style="margin-left:5px;" class="hidden-mobile-visible-print">
            Average Use </br> (8 wk)             
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody ng-hide="(selectedList.items.length === 0 || !selectedList.items) && selectedList" ng-repeat="item in selectedList.items.slice(startingPoint, endPoint) track by item.listitemid"          
            ng-class="{ odd : $odd, even: $even }">

          <tr ng-mouseenter="item.initInputs = true">
            <td>
              {{::item.position}}
              <a ng-if="$last || clearedWhilePristine" ng-init="refreshQuantities(); addItemWatches(startingPoint, endPoint);"></a>
            </td>
            <td>
              <a ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber })">{{::item.itemnumber}}</a>
            </td>
            <td>
              {{::item.name}}
            </td>
            <td class="hidden-mobile-visible-print">
              {{::item.brand_extended_description}}
            </td>
            <td class="hidden-mobile-visible-print">
              {{::item.class}}
            </td>
            <td class="hidden-mobile-visible-print">
              {{::item.packsize}}
            </td>
            <td class="hidden-mobile-visible-print notes-col">
              {{::item.notes}}
            </td>
            <td class="hidden-mobile-visible-print" item-icons></td>
            <td class="hidden-xs hidden-sm">
              <span tooltip="{{item.notes}}" ng-if="item.notes" class="icon-docs"></span> 
            </td>
            <td class="hidden-mobile-visible-print">
              {{::item.label}}
            </td>
            <td ng-if="useParlevel" class="hidden-mobile">
              {{::item.parlevel}}
            </td>
            <td ng-if="useParlevel && item.initInputs" class="input-col text-center hidden-mobile" style="max-width:120px;" >            
              <ng-form name="parlevelForm" class="counter-container" style="white-space:nowrap;" ng-if="item.canOrder">
              <!--  ON HAND AMOUNT -->
              <button type="button" class="btn btn-warning icon-minus3 hidden-lg"  ng-click="item.onhand = item.onhand -1; onItemOnHandAmountChanged(item)"></button>
              <input 
                  type="text"
                  id="onHand"
                  ng-focus="this.select(); onItemOnHandAmountChanged(item)" 
                  ng-change="onItemOnHandAmountChanged(item)"          
                  focus-me="($first || (indexOfSDestroyedRow === $index && destroyedOnField === 'onhand'))"
                  ng-blur="confirmQuantity('onhand', item, item.onhand);"
                  class="dropdown-toggle input-number text-right mousetrap" 
                  allow-one-positive-decimal                                 
                  ng-model="item.onhand"
                  name="onhand" 
                  />
              <button type="button" class="btn btn-warning icon-plus3 hidden-lg" ng-click="item.onhand = item.onhand + 1; onItemOnHandAmountChanged(item)"></button>                  
              </ng-form>  
            </td>
            <td ng-if="useParlevel && !item.initInputs" class="input-col text-center hidden-mobile" style="max-width:120px;" >            
              <ng-form name="parlevelForm" class="counter-container" style="white-space:nowrap;" ng-if="item.canOrder">
              <!--  ON HAND AMOUNT DUMMY-->
              <button type="button" class="btn btn-warning icon-minus3 hidden-lg"></button>
              <input 
                  type="text"
                  id="onHand"    
                  ng-focus="this.select(); onItemOnHandAmountChanged(item)" 
                  class="dropdown-toggle input-number text-right"                  
                  ng-model="item.onhand"
                  ng-init="item.onhand=item.onhand + 0"
                  ng-change="rowChanged($index, 'onhand'); onItemOnHandAmountChanged(item)"
                  name="onhand"/>
              <button type="button" class="btn btn-warning icon-plus3 hidden-lg"></button>                  
              </ng-form>  
            </td>
            <td class="input-col nowrap">
              <!--  QUANTITY -->
              <span class="hidden-mobile visible-print">{{::item.quantity}}</span>
              <ng-form class="hidden-print" name="quantityForm">
                <div counter ng-model="item.quantity" min="0" length="5" ng-hide="!item.canOrder"  ng-if="!useParlevel && item.canOrder"></div>
                <span  class="counter-container"  >
                 <button type="button" class="btn btn-warning icon-minus3 hidden-lg show-mobile" ng-disabled = "item.quantity === 0" ng-if="useParlevel && item.canOrder"  ng-click="item.quantity = item.quantity -1;"></button>
                  <input                             
                  type="text" 
                  focus-me="($first || (indexOfSDestroyedRow === $index && destroyedOnField === 'quantity'))"
                  ng-if="useParlevel && item.canOrder && item.initInputs"
                  ng-blur="confirmQuantity('quantity', item, item.quantity)"
                  class="input-number text-right mousetrap tabstop" 
                  allow-one-positive-decimal
                  ng-model="item.quantity"/>
                  <input                             
                  type="text"
                  focus-me="($first)"              
                  ng-if="useParlevel && item.canOrder && !item.initInputs"
                  ng-init="item.quantity = item.quantity + 0"                
                  class="input-number text-right tabstop" 
                  ng-model="item.quantity"
                  ng-change="rowChanged($index, 'quantity')"/>
              <button type="button" class="btn btn-warning icon-plus3 hidden-lg show-mobile" ng-if="useParlevel && item.canOrder" ng-click="item.quantity = item.quantity + 1;"></button> 
              </span>        
              </ng-form>
            </td>

            <td class="input-col hidden-mobile-visible-print">
              <ng-form name="eachForm" ng-if="item.hasPackagePrice">
                <input type="checkbox" class="mousetrap" ng-checked = "!item.hasCasePrice || item.each" ng-disabled = "!item.hasCasePrice" ng-model="item.each" id="each" name="each"/>
                <label for="each"></label>
              </ng-form>
            </td>
            <td class="hidden-mobile-visible-print">
              <div ng-if="item.canOrder">
                {{item.each ? item.packageprice : item.caseprice | currency}}
                <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>  
              </div>
            </td>
            <td class="hidden-mobile-visible-print">
              <div ng-if="item.canOrder">
                {{item.extPrice | currency}}  
              </div>
            </td>
            <td  class="hidden-mobile-visible-print" >
            <div ng-if="item.itemstatistics.packageaverage || item.itemstatistics.caseaverage "> 
            <a>
                <div ng-if="item.each" 
                    tooltip="View order history for this item." 
                    class="pull-left" 
                    ng-click="openItemUsageSummaryModal(item)">
                        {{item.itemstatistics.packageaverage == 1 ? item.itemstatistics.packageaverage + ' Pack' : item.itemstatistics.packageaverage + ' Packs'}}
                </div>
            </a>
            <a>
                <div ng-if="!item.each" 
                    tooltip="View order history for this item." 
                    class="pull-left" 
                    ng-click="openItemUsageSummaryModal(item)">
                        {{item.itemstatistics.caseaverage == 1 ? item.itemstatistics.caseaverage + ' Case' : item.itemstatistics.caseaverage + ' Cases'}}
               </div>
            </a>
          </div>
          <div ng-click="openItemUsageSummaryModal(item)" ng-if="!item.itemstatistics.packageaverage && !item.itemstatistics.caseaverage">
            None
          </div>
           </td>
            <td class="large-icon icon-col">
              <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="item.showDetails = !item.showDetails;"></span></a>
            </td>
          </tr>
          <tr ng-if="item.showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row hidden-md hidden-lg">
            <td colspan="5">
              <table>
                <colgroup>
                  <col width="25%" />
                  <col width="75%" />
                </colgroup>
                <tr>
                  <td>Notes</td>
                  <td>{{::item.notes}}</td>
                </tr>
                <tr>
                  <td>Label</td>
                  <td>{{::item.label}}</td>
                </tr>
                <tr>
                  <td>Class</td>
                  <td>{{::item.class}}</td>
                </tr>
                <tr>
                  <td>Pack/Size</td>
                  <td>{{::item.packsize}}</td>
                </tr>
                <tr>
                  <td>Brand</td>
                  <td>{{::item.brand}}</td>
                </tr>
                <tr ng-hide="isChangeOrder || selectedCart.id === 'New'">
                  <td># in Cart</td>
                  <td>{{::item.quantityincart}}</td>
                </tr>
                <tr>
                  <td item-icons></td>
                </tr>
                <tr ng-show="useParlevel">
                  <td>PAR Level</td>
                  <td>{{::item.parlevel}}</td>
                </tr>
                <tr ng-show="useParlevel && item.canOrder">
                  <td>On Hand Amount</td>
                  <td class="input-col">
                    <ng-form name="parlevelForm_mobile">
                      <input 
                        type="text" 
                        class="input-number text-right mousetrap" 
                        allow-one-positive-decimal 
                        ng-model="item.onhand" 
                        ng-change="onItemOnHandAmountChanged(item)">
                    </ng-form>
                  </td>
                </tr>
                <tr ng-show="item.hasPackagePrice">
                  <td>Each</td>
                  <td>
                    <ng-form name="eachForm_mobile">
                      <input type="checkbox" ng-model="item.each" ng-checked = "!item.hasCasePrice || item.each" class="mousetrap" ng-disabled="!item.hasCasePrice" id="each" name="each" />
                    </ng-form>
                  </td>
                </tr>
                <tr ng-show="item.canOrder">
                  <td>Price</td>
                  <td>
                    {{item.each ? item.packageprice : item.caseprice | currency}}
                    <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
                  </td>
                </tr>
                <tr ng-show="item.canOrder">
                  <td>Ext Price</td>
                  <td>{{item.extPrice | currency}}</td>
                </tr>
                <tr ng-show="item.canOrder">
                  <td>Average Use </br> (8 wk)</td>
                <td  ng-click="openItemUsageSummaryModal(item)"> 
                  <div ng-if="(item.itemstatistics.packageaverage !== 0 || item.itemstatistics.caseaverage !== 0)"> 
                  <a><div ng-show="item.each" tooltip="View order history for this item." class="pull-left" >{{item.itemstatistics.packageaverage}} Packs</div></a>
                  <a><div ng-show="!item.each" tooltip="View order history for this item." class="pull-left">{{item.itemstatistics.caseaverage}} Cases</div></a>
                </div>
                <div ng-show="item.itemstatistics.packageaverage === 0 && item.itemstatistics.caseaverage === 0">None</div>                 
                </td>
                </tr>
              </table>
            </td>
          </tr>

        </tbody>
        <tfoot ng-show="(selectedList.items.length === 0 || !selectedList.items) && selectedList">
          <tr>
            <td colspan="17">
              There are no products to display.
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  <div ng-show="selectedList.itemCount > pagingPageSize">
   <pagination 
    total-items="selectedList.itemCount" 
    ng-model="currentPage" 
    items-per-page="pagingPageSize" 
    max-size="10" 
    boundary-links="true" 
    rotate="false" 
    ng-change="pageChanged(this)" 
    class="pagination">
   </pagination> 
  </div>

  <h3>Other Cart Items</h3>
  <table 
    class="table table-striped-rows table-border" 
    navigate-table="lists">
    <thead>
      <tr>
        <th>Item #</th>
        <th>Name</th>
        <th class="hidden-mobile-visible-print">Brand</th>
        <th class="hidden-mobile-visible-print">Pack/Size</th>
        <th class="hidden-mobile-visible-print">Notes</th>
        <th class="hidden-mobile-visible-print"></th>
        <th>Qty</th>
        <th class="hidden-mobile-visible-print">Each</th>
        <th class="hidden-mobile-visible-print">Price</th>
        <th class="hidden-mobile-visible-print">Ext Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="item in filteredCartItems = (selectedCart.items |  orderBy:'createddate':false)">
      <tr        
        ng-class="{ odd : $odd, even: $even }">

        <td>
          <a ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber })">{{::item.itemnumber}}</a>
          <a ng-if="$last || clearedWhilePristine" ng-init="refreshQuantities();"></a>
        </td>
        <td>{{item.name}}</td>
        <td class="hidden-mobile-visible-print">{{item.iscombinedquantity}}</td>
        <td class="hidden-mobile-visible-print">{{item.packsize}}</td>
        <td class="hidden-mobile-visible-print">
          {{::item.notes}}
        </td>
        <td class="hidden-mobile-visible-print">
          <span tooltip="{{::item.notes}}" ng-if="item.notes" class="icon-docs"></span> 
        </td>
        <td class="input-col nowrap">
          <ng-form class="hidden-print" name="quantityForm">
            <div counter ng-model="item.quantity" class="mousetrap" min="0" length="5"></div>
          </ng-form>
        </td>
        <td class="input-col hidden-mobile-visible-print">
          <ng-form name="eachForm" ng-if="::item.hasPackagePrice">
            <input type="checkbox" ng-checked = "!item.hasCasePrice || item.each" ng-disabled = "!item.hasCasePrice" class="mousetrap" ng-model="item.each" id="each" name="each" />
            <label for="each"></label>
          </ng-form>
        </td>
        <td ng-if="::!isChangeOrder" class="hidden-mobile-visible-print" >
          {{item.each ? item.packageprice : item.caseprice | currency}}
          <span class="text-small" tooltip="Catch weight pricing" ng-if="::item.catchweight">LB</span>
        </td>
        <td ng-if="::isChangeOrder" class="hidden-mobile-visible-print">
          {{item.price | currency}}
          <span class="text-small" tooltip="Catch weight pricing" ng-if="::item.catchweight">LB</span>
        </td>
        <td class="hidden-mobile-visible-print">
          {{item.extPrice | currency}}
        </td>
        <td class="large-icon icon-col">
          <a class="hidden-print visible-xs-inline visible-sm-inline" ng-click="showDetails = !showDetails;"><span class="text-light icon-ellipsis"></span></a>
        </td>
      </tr>
      <tr ng-if="showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row hidden-md hidden-lg">
        <td colspan="11">
          <table>
            <colgroup>
              <col width="25%" />
              <col width="75%" />
            </colgroup>
            <tr>
              <td>Notes</td>
              <td>{{::item.notes}}</td>
            </tr>
            <tr>
              <td>Pack/Size</td>
              <td>{{::item.packsize}}</td>
            </tr>
            <tr>
              <td>Brand</td>
              <td>{{::item.brand}}</td>
            </tr>
            <tr ng-if="::item.hasPackagePrice">
              <td>Each</td>
              <td>
                <input type="checkbox" value="" ng-checked = "!item.hasCasePrice || item.each" ng-disabled = "!item.hasCasePrice" class="mousetrap" name="each" id="each" ng-model="item.each">
              </td>
            </tr>
            
            <tr>
              <td>Price</td>
              <td ng-if="::!isChangeOrder">
                {{item.each ? item.packageprice : item.caseprice | currency}}
                <span class="text-small" tooltip="Catch weight pricing" ng-if="::item.catchweight">LB</span>
              </td>
              <td ng-if="::isChangeOrder">
                {{item.price | currency}}
                <span class="text-small" tooltip="Catch weight pricing" ng-if="::item.catchweight">LB</span>
              </td>
            </tr>
            <tr>
              <td>Ext Price</td>
              <td>{{item.extPrice | currency}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot ng-if="filteredCartItems.length === 0 || !filteredCartItems">
        <tr>
          <td colspan="11">
            There are no products to display.
          </td>
        </tr>
      </tfoot>
  </table>
  </form>
</div>
