<div page-header-bar>
  <div header-message>
    Add To Order
    <button class="btn btn-primary add-items-button" ng-click="addItemsToCart(selectedList, selectedCart)">Add to Cart</button>
  </div>
  <div header-buttons>
    <button class="btn btn-default btn-icon" ng-click="print()"><span class="icon-printer"></span></button>
    <button class="btn btn-default btn-icon"><span class="icon-export"></span></button>
  </div>
</div>

<div class="row hidden-xs hidden-sm">
  <div class="col-xs-12 text-right">
    <input type="checkbox" ng-model="useParlevel">
    <label for="">Use PAR Level</label>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="row select-nav-bar">
      <div class="col-md-3 col-sm-6 col-xs-6 select-nav btn-group" dropdown is-open="showLists">
        <div class="dropdown-toggle select-area hand" ng-disabled="lists.length === 1">
          <span class="nav-description text-light">Select a List</span>
          <span class="nav-title">{{selectedList.name}}</span>
          <span class="pull-right icon-arrow-down7 text-light"></span>
        </div>
        <ul class="dropdown-menu dropdown-menu-list" role="menu">
          <li ng-click="selectList(list)" ng-repeat="list in lists | orderBy:'name'" ng-show="list.listid !== selectedList.listid">{{list.name}}</li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 col-xs-6 select-nav btn-group" dropdown is-open="showCarts">
        <div class="dropdown-toggle select-area hand">
          <span class="nav-description text-light">Select a Cart</span>
          <span class="nav-title">{{selectedCart.name || 'New Cart'}}</span>
          <span class="pull-right icon-arrow-down7 text-light"></span>
        </div>
        <ul class="dropdown-menu dropdown-menu-list-multi-columns">
          <li>
            <div class="row">
              <div class="col-xs-12">
                <a class="text-regular" ng-click="selectCart(cart)" ng-show="cart.id !== selectedCart.id" ng-repeat="cart in carts | orderBy:'name'">
                  <div class="row">
                    <div class="col-xs-6">{{cart.name}}</div>
                    <div class="col-xs-2">{{cart.items.length}}</div>
                    <div class="col-xs-4">{{cart.requestedshipdate | date:shortDate}}</div>
                  </div>
                </a>
                <a ng-click="createNewCart()" ng-show="selectedCart.id">
                  <div class="row">
                    <div class="col-xs-6">Create a Cart...</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-6 col-xs-6 btn-group select-nav">
        <div class="select-area hand" ng-click="openDatepicker($event)">
          <span class="nav-description text-light">Ship Date</span>
          <span class="nav-title">
            {{(selectedCart.requestedshipdate | date:shortDate) || 'Select a date...' }}
            <input type="text" style="display:none;" class="datepicker form-control" datepicker-popup="" ng-disabled="true" ng-model="selectedCart.requestedshipdate" is-open="openedDatepicker" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          </span>
          <span class="pull-right icon-arrow-down7 text-light"></span>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 col-xs-6 select-nav select-area">
        <span class="nav-description text-light">Cart Info</span>
        <span class="nav-title">{{getItemCount(selectedCart.items, selectedList.items) || '0'}} Items</span>
        <span style="font-size:16px; font-weight:600;" class="pull-right text-green">{{getSubtotal(selectedCart.items, selectedList.items) | currency}}</span>
      </div>

    </div>
  </div>
</div>

<div class="bootstrap-table" navigate-table>
  <div class="row table-header">
    <div class="col-xs-12">
      <div class="row table-row table-row-data">
        <div class="col-md-1 col-xs-2 hand" ng-click="sortBy='itemnumber';sortOrder=!sortOrder;">
          Item #
          <span sort-icons field="'itemnumber'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-xs-1 hidden-sm hidden-xs hand" ng-click="sortBy='notes';sortOrder=!sortOrder;">
          Notes
          <span sort-icons field="'notes'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-xs-1 hand hidden-sm hidden-xs" ng-click="sortBy='label';sortOrder=!sortOrder;">
          Label
          <span sort-icons field="'label'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-md-2 col-xs-7 hand" ng-click="sortBy='name';sortOrder=!sortOrder;">
          Name
          <span sort-icons field="'name'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-xs-1 hidden-sm hidden-xs">
          Pack/Size
        </div>
        <div class="col-xs-1 hidden-sm hidden-xs hand" ng-click="sortBy='brand_extended_description';sortOrder=!sortOrder;">
          Brand
          <span sort-icons field="'brand_extended_description'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-md-1" ng-show="useParlevel">
          PAR Level
        </div>
        <div class="col-md-1 col-xs-2 hand" ng-click="sortBy='quantity';sortOrder=!sortOrder;">
          Qty
          <span sort-icons field="'quantity'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-md-1 hand hidden-sm hidden-xs" ng-click="sortBy='each';sortOrder=!sortOrder;">
          Each
          <span sort-icons field="'each'" sortorder="sortOrder" sortby="sortBy"></span>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs">
          Price
        </div>
        <div class="col-md-1 hidden-sm hidden-xs">
          Ext Price
          <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="table-body row" ng-hide="(selectedList.items.length === 0 || !selectedList.items) && selectedList">
    <div class="col-xs-12">
      <form unsaved-warning-form novalidate name="addToOrderForm" class="style-validation-errors">

        <!-- Filter row -->
        <div class="row table-row filter-row" ng-show="showFilter">
          <div class="col-md-1 col-xs-2">
            
          </div>
          <div class="col-xs-1 table-col-input hidden-xs hidden-sm">
            <input type="text" no-dirty-check placeholder="Filter..." ng-model="filterFields.notes">
          </div>
          <div class="col-xs-1 hidden-xs hidden-sm table-col-input">
            <input type="text" no-dirty-check placeholder="Filter..." ng-model="filterFields.label">
          </div>
          <div class="col-md-2 col-xs-7 table-col-input">
            <input type="text" no-dirty-check placeholder="Filter..." ng-model="filterFields.name">
          </div>
          <div class="col-xs-1 hidden-xs hidden-sm">

          </div>
          <div class="col-xs-1 table-col-input hidden-xs hidden-sm">
            <input type="text" placeholder="Filter..." ng-model="filterFields.brand">
          </div>
          <div class="col-md-1 col-xs-2">
          </div>
          <div class="col-md-1 hidden-xs hidden-sm">
          </div>
          <div class="col-md-1 hidden-xs hidden-sm">
            
          </div>
          <div class="col-xs-1 hidden-xs hidden-sm">
            <a ng-click="filterFields = {}"><span class="text-light icon-cross3"></span></a>
          </div>
        </div> <!-- end Filter row -->

        <!-- Data rows -->
        <div 
          class="row table-row"  
          ng-class="{ odd : $odd, even: $even }" 
          ng-repeat="item in (filteredItems = (selectedList.items | filter:filterFields | orderBy:sortBy:sortOrder)) track by item.listitemid"
         >
          <div class="col-xs-12">
            <div class="row table-row-data">
              <div class="table-cell col-md-1 col-xs-2">
                <a ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber })">{{item.itemnumber}}</a>
              </div>
              <div class="table-cell col-md-1 hidden-xs hidden-sm">
                {{item.notes}}
              </div>
              <div class="table-cell col-md-1 hidden-xs hidden-sm">
                {{item.label}}
              </div>
              <div class="table-cell col-md-2 col-xs-7">
                {{item.name}}
                <span class="pull-right" item-icons></span>
              </div>
              <div class="table-cell col-md-1 hidden-sm hidden-xs">
                {{item.packsize}}
              </div>
              <div class="table-cell col-md-1 hidden-sm hidden-xs">
                {{item.brand_extended_description}}
              </div>
              <div class="table-cell col-md-1 table-col-input" ng-show="useParlevel">
                {{item.parlevel}}
                <input style="width: calc(100% - 20px);" type="text" class="text-right" integer ng-model="item.onhand" name="onhand" update-quantity-from-parlevel parlevel="item.parlevel" quantity="item.quantity">
              </div>
              <div class="table-cell col-md-1 table-col-input col-xs-2">
                <ng-form class="hidden-print" name="quantityForm">
                    <input type="text" name="quantity" ng-model="item.quantity" class="text-right" integer>
                </ng-form>
              </div>
              <div class="table-cell col-md-1 hidden-sm hidden-xs table-col-input">
                <ng-form name="eachForm" ng-if="item.packageprice !== '0'">
                    <input type="checkbox" ng-model="item.each" id="each" name="each" />
                    <label for="each"></label>
                </ng-form>
              </div>
              <div class="table-cell col-md-1 hidden-sm hidden-xs">
                {{item.each ? item.packageprice : item.caseprice | currency}}
              </div>
              <div class="table-cell col-md-1 hidden-sm hidden-xs">
                {{item.quantity * (item.each ? item.packageprice : item.caseprice) | currency}}
              </div>
              <div class="table-cell col-xs-1 table-col-icons visible-xs-inline visible-sm-inline">
                <a><span class="hidden-print text-light visible-xs-inline visible-sm-inline icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
              </div>              
            </div>

            <!-- Mobile Details -->
            <div class="row" ng-show="showDetails">
              <div class="col-xs-12">
                <p>Notes: {{item.notes}}</p>
                <p>Label: {{item.label}}</p>
                <p>Pack/Size: {{item.packsize}}</p>
                <p>Brand: {{item.brand_extended_description}}</p>
                <p>PAR Level: {{item.parlevel}}</p>
                <p>
                  Quantity On-Hand:
                  <input type="text" class="form-control text-right" integer ng-model="item.onhand_mobile" update-quantity-from-parlevel parlevel="item.parlevel" quantity="item.quantity">
                </p>
                <p item-icons></p>
                <p ng-if="item.packageprice !== '0'">
                  <!-- <div class="checkbox"> -->
                    <label for="each">Each</label>
                    <input type="checkbox" value="" name="each" id="each" ng-model="item.each">
                  <!-- </div> -->
                </p>
                <p>Price: {{item.each ? item.packageprice : item.caseprice | currency}}</p>
                <p>Ext Price: {{item.quantity * (item.each ? item.packageprice : item.caseprice) | currency}}</p>
              </div>  
            </div> <!-- end Mobile details -->
          </div>
        </div> <!-- end Data rows -->
      </form>
    </div>
  </div>

  <div class="row table-footer">
    <div class="col-xs-12">
      <div class="row table-row table-row-data" ng-show="(selectedList.items.length === 0 || !selectedList.items || filteredItems.length === 0) && selectedList">
        <div class="col-xs-12">
          There are no products to display.
        </div>
      </div>
    </div>
  </div>
</div>