<div class="row page-header-bar">
  <div class="col-md-7 page-header-bar__message">
    <div ng-hide="currentCart.isRenaming">
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn-lg btn btn-default dropdown-toggle">
          {{currentCart.name || '# ' + currentCart.ordernumber}} <span class="icon-arrow-down6"></span>
        </button>
        <div class="dropdown-menu">
          
          <table class="table no-margin">
            <caption class="text-left">Carts</caption>
            <tr ng-click="goToCart(cart.id, false)" ng-show="cart.id !== currentCart.id" ng-repeat="cart in carts | orderBy: 'name'">
              <td><span class="overflow">{{cart.name}}</span></td>
              <td>{{cart.items.length}}</td>
              <td class="nowrap">{{cart.requestedshipdate | date:shortDate}}</td>
            </tr>
            <tr ng-click="createNewCart()">
              <td colspan="3">Create a Cart...</td>
            </tr>
          </table>

          <table class="table no-margin" ng-if="changeOrders.length > 0">
            <caption class="text-left">Change Orders</caption>
            <tr ng-if="order.ordernumber !== currentCart.ordernumber" ng-click="goToCart(order.ordernumber, true)" ng-repeat="order in changeOrders">
              <td><span class="overflow"># {{order.ordernumber}}</span></td>
              <td>{{order.itemcount}}</td>
              <td class="nowrap">{{order.requestedshipdate | date:shortDate}}</td>
            </tr>
            <tr ng-if="changeOrders.length === 1 && currentCart.ordernumber === changeOrders[0].ordernumber">
              <td colspan="3">No other change orders.</td>
            </tr>
          </table>
          
        </div>
      </div>

      <div ng-if="!isChangeOrder" style="display:inline-block;">
        <a ng-click="startEditCartName(currentCart.name)"><span class="hidden-print large-icon text-light icon-pencil"></span></a>
        <a class="hidden-print" confirmed-click="deleteCart(currentCart)" ng-confirm-click="{{'This will delete the cart ' + currentCart.name + ' and all items within. Are you sure you want to delete this cart?'}}"><span class="large-icon text-light icon-trash"></span></a>
      </div>
    </div>

    <form name="renameCartForm" class="style-validation-errors inline-header-form" ng-show="currentCart.isRenaming" autocomplete="off">
      <input check-duplicate-field="name" collection="carts" type="text" max-length="15" focus-me="currentCart.isRenaming" class="input-lg form-control" required ng-model="editCart.name" name="cartName" id="cartName" />
      <button ng-disabled="renamecartForm.$invalid" class="btn-no-style" type="submit" ng-click="renameCart(currentCart.id, editCart.name); renameCartForm.$setPristine();"><span class="large-icon text-green icon-checkmark"></span></button>
      <a ng-click="currentCart.isRenaming = false"><span class="large-icon text-red icon-cross"></span></a>
      <span class="form-error-message" ng-show="renameCartForm.cartName.$error.required">Cart name is required</span>
      <span class="form-error-message" ng-show="renameCartForm.cartName.$error.checkDuplicateField">Duplicate cart name</span>
    </form>
  </div>
  <div class="col-md-5 hidden-xs hidden-sm hidden-print page-header-bar__actions">

    <div class="pull-right">
      <div class="page-header__buttons">
        <button class="btn btn-default btn-icon" ng-click="print()"><span class="icon-printer"></span></button>
        <button class="btn btn-default btn-icon"><span class="icon-export"></span></button>
        <button class="btn btn-default btn-icon" ng-click="openOrderImportModal()"><span class="icon-publish"></span></button>
      </div>
      <div class="page-header__orders" ng-if="isOrderEntryCustomer">
        <a ui-sref="menu.cart.items({ cartId: 1 })"><span class="large-icon icon-truck"></span></a>
      </div>
    </div>

  </div>
</div>

<form unsaved-warning-form novalidate name="cartForm" class="form-horizontal style-validation-errors">
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
    <div class="info-box">
      
      <div class="row">
        <div class="col-xs-12">
          
          <p class="text-red" ng-show="cartForm.$invalid && !cartForm.$pristine">Your cart has some errors. Please fix these before submitting your order.</p>
          <p class="text-red" ng-show="currentCart.requestedshipdate && cartForm.cutoffDate.$error.orderCutoffDate">Selected ship date is invalid.</p>

        </div>
      </div>

      <div class="row" ng-if="!isChangeOrder">
        <div class="col-sm-4 col-md-4 text-green currency-value">
          {{getSubtotal(currentCart.items) | currency}}
        </div>

        <div class="col-sm-8 col-md-8 hidden-print button-row text-right-lg text-left-xs">
          <button class="btn-lg btn btn-primary" type="submit" ng-disabled="cartForm.$pristine" ng-click="saveCart(currentCart)">Save Cart</button>
          
          <button class="btn-lg btn btn-primary" ng-disabled="cartForm.$invalid || (!currentCart.items || currentCart.items.length === 0)" ng-click="submitOrder(currentCart)" >Submit Order</button>
        </div>
      </div>

      <div class="row" ng-if="isChangeOrder">
        <div class="col-sm-4 col-md-4 currency-value">
          {{currentCart.ordertotal | currency}}
        </div>

        <div class="col-sm-8 col-md-8 hidden-print button-row text-right-lg text-left-xs">
          <button class="btn-lg btn btn-primary" ng-disabled="cartform.$pristine" ng-click="saveChangeOrder(currentCart)" >Update</button>

          <button class="btn-lg btn btn-primary" ng-disabled="cartForm.$invalid || (!currentCart.items || currentCart.items.length === 0)" ng-click="resubmitOrder(currentCart)" >Re-Submit</button>

          <button class="btn-lg btn btn-danger" confirmed-click="cancelOrder(currentCart)" ng-confirm-click="{{'Are you sure you want to cancel order # ' + currentCart.ordernumber + '?'}}">Cancel</button>
        </div>
      </div>

      <div class="sub-content form-group no-margin">
        <label for="shipDate" class="col-sm-3 control-label">Ship Date:</label>
        <div class="col-sm-6">
          <p class="form-control-static">
            {{currentCart.requestedshipdate | date:'yyyy-MM-dd'}}
            <button class="btn-no-style dropdown-toggle" dropdown is-open="showShipDates"> <span class="text-blue icon-calendar"></span>
              
              <div class="dropdown-menu">
                <table class="table no-margin">
                  <tr>
                    <th></th>
                    <th>Ship Date</th>
                    <th>Submit By</th>
                  </tr>
                  <tr ng-repeat="shipDate in shipDates" ng-click="selectShipDate(shipDate)">
                    <td>{{shipDate.dayofweek}}</td>
                    <td class="nowrap">{{shipDate.shipdate}}</td>
                    <td class="nowrap">{{shipDate.cutoffdatetime}}</td>
                  </tr>
                </table>
              </div>

            </button>
          </p>
        </div>
      </div>

      <div class="form-group no-margin">
        <label for="shipDate" class="col-sm-3 control-label">Submit by:</label>
        <div class="col-sm-6">
          <p class="form-control-static text-light">{{selectedShipDate.cutoffdatetime}}</p>
          <input name="cutoffDate" type="hidden" ng-model="selectedShipDate.cutoffdatetime" order-cutoff-date>
        </div>
      </div>

      <p class="sub-content" ng-if="isChangeOrder">This is a change order. Updated prices will not be reflected until you re-submit the order.</p>

    </div>
  </div>

  <div ng-if="reminderList && reminderList.items.length > 0" class="col-xs-12 col-sm-5 col-md-5 col-lg-6 padding-top-xs">
    <h4 class="no-margin">Reminder Items</h4>
    <div class="reminder-items__table">
      <table class="table table-border table-striped-rows">
        <thead>
          <tr>
            <th class="sort-col-header" ng-click="reminderSortBy='itemnumber';reminderSortOrder=!reminderSortOrder;">
              Item #
              <span sort-icons field="'itemnumber'" sortorder="reminderSortOrder" sortby="reminderSortBy"></span>
            </th>
            <th class="sort-col-header" ng-click="reminderSortBy='name';reminderSortOrder=!reminderSortOrder;">
              Name
              <span sort-icons field="'name'" sortorder="reminderSortOrder" sortby="reminderSortBy"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in (reminderItems = (reminderList.items | meetsMinimumQuantity:currentCart.items | orderBy:reminderSortBy:reminderSortOrder))"  ng-class="{ odd : $odd, even: $even }">
            <td>
              <a ui-sref="menu.catalog.products.details({itemNumber: item.itemnumber})">{{item.itemnumber}}</a>
            </td>
            <td>
              {{item.name}}
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="reminderItems.length === 0 || !reminderItems">
          <tr>
            <td colspan="2">
              There are no missing reminder items for this cart.
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<div class="row sub-content">
  <div class="col-md-12">
    <span class="pull-right">Showing {{filteredItems.length}} of {{currentCart.items.length}} Items</span>
    <h4 class="visible-xs-inline-block">Cart Items</h4>
    <table class="table table-striped-rows table-border" navigate-table>
      <thead>
        <tr>
          <th class="sort-col-header" ng-click="sortBy='itemnumber';sortOrder=!sortOrder;">
            Item #
            <span sort-icons field="'itemnumber'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header hidden-xs hidden-sm visible-md visible-lg visible-print" ng-click="sortBy='notes';sortOrder=!sortOrder">
            Notes
            <span sort-icons field="'notes'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="hidden-xs hidden-sm"></th>
          <th class="hidden-xs hidden-sm visible-md visible-lg visible-print">
            Pack/Size
          </th>
          <th class="sort-col-header hidden-xs hidden-sm visible-md visible-lg visible-print" ng-click="sortBy='brand';sortOrder=!sortOrder">
            Brand
            <span sort-icons field="'brand'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header" ng-click="sortBy='name';sortOrder=!sortOrder">
            Name
            <span sort-icons field="'name'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="hidden-xs hidden-sm visible-md visible-lg visible-print">
            
          </th>
          <th class="sort-col-header" ng-click="sortBy='quantity';sortOrder=!sortOrder">
            Qty
            <span sort-icons field="'quantity'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="hidden-xs hidden-sm visible-md visible-lg visible-print sort-col-header" ng-click="sortBy='each';sortOrder=!sortOrder">
            Each
            <span sort-icons field="'each'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header hidden-sm hidden-xs" ng-click="sortBy=sortByPrice;sortOrder=!sortOrder;">
            Price
            <span sort-icons field="sortByPrice" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            Ext Price
          </th>
          <th class="hidden-print large-icon icon-col">
            <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
          </th>
        </tr>
      </thead>
      <tbody infinite-scroll="infiniteScrollLoadMore()" infinite-scroll-distance="2">
        <!-- Filter row -->
        <tr class="filter-row hidden-print" ng-show="showFilter">
          <td></td>
          <td class="hidden-xs hidden-sm input-col">
            <input name="filterNotes" no-dirty-check type="text" placeholder="Filter..." ng-model="filterFields.notes">
          </td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="hidden-xs hidden-sm input-col">
            <input name="filterBrands" no-dirty-check type="text" placeholder="Filter..." ng-model="filterFields.brand">
          </td>
          <td class="input-col">
            <input name="filterName" no-dirty-check type="text" placeholder="Filter..." ng-model="filterFields.name">
          </td>
          <td class="hidden-xs hidden-sm"></td>
          <td></td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="large-icon icon-col">
            <a ng-click="filterFields = {}"><span class="text-light icon-cross3"></span></a>
          </td>
        </tr> <!-- end Filter row -->

        <tr ng-class="{ odd : $odd, even: $even }" 
            ng-repeat-start="item in (filteredItems = (currentCart.items | filter:filterFields | orderBy:sortBy:sortOrder | limitTo:itemsToDisplay))">
          <td>
            <a ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber })">{{item.itemnumber}}</a>
          </td>
          <td class="hidden-xs hidden-sm visible-md visible-lg visible-print notes-col">
            {{item.notes}}
          </td>
          <td class="hidden-sm hidden-xs">
            <span tooltip="{{item.notes}}" ng-if="item.notes" class="icon-docs"></span> 
          </td>
          <td class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{item.packsize}}
          </td>
          <td class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{item.brand}}
          </td>
          <td>
            {{item.name}}
          </td>
          <td class="hidden-xs hidden-sm visible-md visible-lg visible-print " item-icons>
          </td>
          <td class="input-col nowrap">
            <ng-form class="hidden-print" name="quantityForm">
              <!-- <input name="quantity" required type="text" ng-model="item.quantity" class="input-number text-right" integer> -->
              <div counter ng-model="item.quantity" min="0"></div>
            </ng-form>
          </td>
          <td class="hidden-xs hidden-sm visible-md visible-lg visible-print input-col">
            <ng-form name="eachForm" ng-if="item.packageprice !== '0'">
              <input type="checkbox" ng-model="item.each" id="each" name="each" />
              <label for="each"></label>
            </ng-form>
          </td>

          <td ng-if="!isChangeOrder" class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{item.each ? item.packageprice : item.caseprice | currency}}
            <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
          </td>
          <td ng-if="!isChangeOrder" class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{(item.quantity * (item.each ? item.packageprice : item.caseprice) || 0) | currency}}
          </td>

          <td ng-if="isChangeOrder" class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{item.price | currency}}
            <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
          </td>
          <td ng-if="isChangeOrder" class="hidden-xs hidden-sm visible-md visible-lg visible-print ">
            {{item.linetotal | currency}}
          </td>


          <td class="hidden-print large-icon icon-col">
            <a class="visible-xs-inline visible-sm-inline"><span class="hidden-print text-light visible-xs-inline visible-sm-inline icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
            <a class="hidden-xs hidden-sm" ng-click="deleteItem(item)"><span class="text-red icon-cross"></span></a>
          </td>
        </tr>

        <tr ng-repeat-end ng-show="showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row hidden-md hidden-lg">
          <td colspan="4">
            <table>
              <colgroup>
                <col width="25%" />
                <col width="75%" />
              </colgroup>
              <tr>
                <td>Notes</td>
                <td>{{item.notes}}</td>
              </tr>
              <tr>
                <td>Pack/Size</td>
                <td>{{item.packsize}}</td>
              </tr>
              <tr>
                <td>Brand</td>
                <td>{{item.brand}}</td>
              </tr>
              <tr>
                <td item-icons></td>
              </tr>
              <tr ng-if="item.packageprice !== '0'">
                <td>Each</td>
                <td>
                  <input type="checkbox" value="" name="each" id="each" ng-model="item.each">
                </td>
              </tr>
              
              <tr ng-if="!isChangeOrder">
                <td>Price</td>
                <td>
                  {{item.each ? item.packageprice : item.caseprice | currency}}
                  <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
                </td>
              </tr>
              <tr ng-if="!isChangeOrder">
                <td>Ext Price</td>
                <td>{{item.quantity * (item.each ? item.packageprice : item.caseprice) | currency}}</td>
              </tr>
              
              <tr ng-if="isChangeOrder">
                <td>Price</td>
                <td>
                  {{item.price | currency}}
                  <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
                </td>
              </tr>
              <tr ng-if="isChangeOrder">
                <td>Ext Price</td>
                <td>{{item.linetotal | currency}}</td>
              </tr>

              <tr>
                <td colspan="2" class="sub-content">
                  <button ng-click="deleteItem(item)" class="btn btn-lg btn-danger"><span class="icon-cross"></span>Remove Item</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </tbody>
      <tfoot>
        <tr ng-show="(currentCart.items.length === 0 || !currentCart.items || filteredItems.length === 0) && currentCart">
          <td colspan="12">No products found.</td>
        </tr>
      </tfoot>
    </table>
    </div>
    <div class="text-center sub-content" ng-show="loadingResults" loading-spinner="loadingResults"></div>
  </div>
</div>
</form>