<div page-header-bar>
  <div header-message>
    Product Catalog
  </div>
  <div header-buttons></div>
</div>

<!-- Search -->
<div class="row hidden-sm hidden-xs">
	<div class="col-sm-12">
		<form name="catalogSearchForm" novalidate class="search-form catalog-search">
			<div class="input-group">
				<input required ng-minlength="3" ng-model="catalogSearchTerm" type="text" class="form-control" placeholder="Search by keyword, item number, brand or manufacturer number">
				<span class="input-group-btn">
				<button ui-sref="menu.catalog.products.list({ type: 'search', id: catalogSearchTerm })" ng-disabled="catalogSearchForm.$invalid" class="btn btn-primary btn-lg" type="submit"><span class="icon-search"></span> SEARCH</button>
				</span>
			</div>
		</form>
	</div>
</div>

<!-- Recently Viewed Items -->
<div class="row">
	<div class="col-sm-12">
		<h3>Recently Viewed Items</h3>
		<h4>Coming soon</h4>
		<!-- <ul class="horizontal-slide hidden-xs hidden-sm">
			<li ng-repeat="product in featuredProducts | orderBy: ['name']" class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						{{product.name}}
						<a ui-sref="menu.catalog.products.details({ itemId : product.id })" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="visible-xs visible-sm sub-content" featured-item-carousel items="featuredProducts" link="'menu.catalog.products.details({ itemId : item.id })'"></div> -->
	</div>
</div>

<!-- Recommended Items -->
<div class="row sub-content">
	<div class="col-sm-12">
		<h3>Recommended Items</h3>
		<h4>Coming soon</h4>
		<!-- <ul class="horizontal-slide hidden-xs hidden-sm">
			<li ng-repeat="product in featuredProducts | orderBy: ['name']" class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						{{product.name}}
						<a ui-sref="menu.catalog.products.details({ itemId : product.id })" link="'menu.catalog.products.details({ itemId : item.id })'" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="visible-xs visible-sm sub-content" featured-item-carousel items="featuredProducts"></div> -->
	</div>
</div>

<!-- Categories -->
<div class="row sub-content">
	<div class="col-sm-12">
		<h3>Select A Category</h3>
		<ul class="horizontal-slide hidden-xs hidden-sm">
			<li loading-spinner="loadingCategories"></li>
			<li ng-repeat="category in categories | orderBy: ['name']" class="item-holder">
				<div class="featured-item text-center">
					<img class="hand" ui-sref="menu.catalog.products.list({ type: 'category', id: category.id })" src="images/green-apple.jpg" alt="image">
					<div class="featured-item__detail">
						{{category.name}}
						<a ui-sref="menu.catalog.products.list({ type: 'category', id: category.id })" class="text-uppercase">view category</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="visible-xs visible-sm" loading-spinner="loadingCategories"></div>
		<div ng-hide="loadingCategories" class="visible-xs visible-sm sub-content" featured-item-carousel items="categories" link="'menu.catalog.products.list({ type: \'category\', id: item.id })'"></div>
	</div>
</div>

<!-- Brands -->
<div class="row sub-content">
	<div class="col-sm-12">
		<h3>Select A Brand</h3>
		<ul class="horizontal-slide hidden-xs hidden-sm">
			<li loading-spinner="loadingBrands"></li>
			<li ng-repeat="brand in brands | orderBy: ['extended_description']" class="item-holder">
				<div class="featured-item text-center">
					<img class="hand" ui-sref="menu.catalog.products.list({ type: 'brand', id: brand.brand_control_label })" ng-src="{{brand.imageurl}}" alt="image">
					<div class="featured-item__detail">
						{{brand.extended_description}}
						<a ui-sref="menu.catalog.products.list({ type: 'brand', id: brand.brand_control_label })" class="text-uppercase">view brand</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="visible-xs visible-sm" loading-spinner="loadingBrands"></div>
		<div ng-hide="loadingBrands" class="visible-xs visible-sm sub-content" featured-item-carousel items="brands" link="'menu.catalog.products.list({ type: \'brand\', id: item.brand_control_label })'"></div>
	</div>
</div>