<div page-header-bar>
  <div header-message>
    Product Catalog
  </div>
  <div header-buttons></div>
</div>

<div class="page-content">
  <!-- Search -->
  <div class="row hidden-sm hidden-xs">
  	<div class="col-sm-12">
  		<form name="catalogSearchForm" novalidate class="catalog-search">
  			<div class="input-group">
  				<input required ng-minlength="3" ng-model="catalogSearchTerm" type="text" class="form-control" placeholder="Search by keyword, item number, brand or manufacturer number">
  				<span class="input-group-btn">
  				<button 
            ui-sref="menu.catalog.products.list({ type: 'search', id: catalogSearchTerm })" 
            ng-disabled="catalogSearchForm.$invalid" 
            class="btn btn-primary btn-lg" 
            type="submit">
            <span class="icon-search"></span> SEARCH
          </button>
  				</span>
  			</div>
  		</form>
  	</div>
  </div>

  <!-- Recently Viewed Items -->
  <div class="row">
  	<div class="col-sm-12">
  		<h2>Recently Viewed Items</h2>
      <div loading-spinner="loadingRecentlyViewedItems" ng-show="loadingRecentlyViewedItems"></div>

  		<ul class="horizontal-slide hidden-xs hidden-sm">
  			<li ng-repeat="item in recentlyViewedItems" class="item-holder">
  				<div class="featured-item text-center">
  					<img 
              ng-if="item.images.length > 0" 
              class="hand" 
              ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" 
              ng-src="{{item.images[0].url}}" 
              alt="product image">
            <img 
              ng-if="item.images.length === 0" 
              class="product-placeholder-image" 
              src="images/bek-logo.png" 
              alt="default product image">
  					<span class="featured-item__detail">
  						{{item.name}}
  						<a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase">#{{item.itemnumber}}</a>
  					</span>
  				</div>
  			</li>
  		</ul>

      <div class="featured-item-mobile visible-xs visible-sm">
        <carousel interval="myInterval" disable-ng-animate>
          <slide ng-repeat="item in recentlyViewedItems" active="item.active">
            <div class="col-xs-4 no-padding text-left">
              <img ng-if="item.images.length > 0" class="hand" ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" ng-src="{{item.images[0].url}}" alt="product image">
              <img ng-if="item.images.length === 0" class="product-placeholder-image" src="images/bek-logo.png" alt="default product image">
            </div>
            <div class="col-xs-8 no-padding featured-item-mobile__detail">
              {{item.name}}<br />
              <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase"># {{item.itemnumber}}</a>
            </div>
          </slide>
        </carousel>
      </div>

      <h4 ng-if="recentlyViewedItems.length === 0">No recently viewed items to display.</h4>

  	</div>
  </div>  <!-- end Recently Viewed Items -->

  <!-- Recommended Items -->
  <div class="row" ng-if="isOrderEntryCustomer">
  	<div class="col-sm-12">
  		<h2>Recommended Items</h2>
  		<div loading-spinner="loadingRecommendedItems" ng-show="loadingRecommendedItems"></div>

      <ul class="horizontal-slide hidden-xs hidden-sm">
        <li ng-repeat="item in recommendedItems" class="item-holder">
          <div class="featured-item text-center">
            <img 
              ng-if="item.images.length > 0" 
              class="hand" 
              ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" 
              ng-src="{{item.images[0].url}}" 
              alt="product image">
            <img 
              ng-if="item.images.length === 0" 
              class="product-placeholder-image" 
              src="images/bek-logo.png" 
              alt="default product image">
            <span class="featured-item__detail">
              {{item.name}}
              <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase">#{{item.itemnumber}}</a>
            </span>
          </div>
        </li>
      </ul>

      <div class="featured-item-mobile visible-xs visible-sm">
        <carousel interval="myInterval" disable-ng-animate>
          <slide ng-repeat="item in recommendedItems" active="item.active">
            <div class="col-xs-4 no-padding text-left">
              <img ng-if="item.images.length > 0" class="hand" ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" ng-src="{{item.images[0].url}}" alt="product image">
              <img ng-if="item.images.length === 0" class="product-placeholder-image" src="images/bek-logo.png" alt="default product image">
            </div>
            <div class="col-xs-8 no-padding featured-item-mobile__detail">
              {{item.name}}<br />
              <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase"># {{item.itemnumber}}</a>
            </div>
          </slide>
        </carousel>
      </div>

      <h4 ng-if="recommendedItems.length === 0">No recommended items to display.</h4>

  	</div>
  </div>

  <!-- Categories -->
  <div class="row">
  	<div class="col-sm-12">
  		<h2>Select A Category</h2>
      <div loading-spinner="loadingCategories" ng-show="loadingCategories"></div>

  		<ul class="horizontal-slide hidden-xs hidden-sm">
  			<li ng-repeat="category in categories | orderBy: ['name']" class="item-holder">
  				<div class="featured-item text-center">
  					<img class="hand" ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name })" ng-src="{{category.category_image.url}}" alt="image">
  					<div class="featured-item__detail">
  						{{category.name}}
  						<a ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name })" class="text-uppercase">view category</a>
  					</div>
  				</div>
  			</li>
  		</ul>
  		
  		<div class="featured-item-mobile visible-xs visible-sm">
  	    <carousel interval="myInterval" disable-ng-animate>
          <slide ng-repeat="category in categories | orderBy: ['name'] track by $index" active="category.active">
            <div ng-show="category.category_image.url" class="col-xs-4 no-padding text-left">
              <img ng-src="{{category.category_image.url}}">
            </div>
            <div class="col-xs-8 no-padding featured-item-mobile__detail">
              {{category.name}}<br />
              <a ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name })" class="text-uppercase">View Details</a>
            </div>
          </slide>
  		  </carousel>
  		</div>
  	</div>
  </div> <!-- end Categories -->

  <!-- Brands -->
  <div class="row">
  	<div class="col-sm-12">
  		<h2>Select A Brand</h2>
  		<div ng-show="loadingBrands" loading-spinner="loadingBrands"></div>

      <ul class="horizontal-slide hidden-xs hidden-sm">
  			<li ng-repeat="brand in brands | orderBy: ['extended_description']" class="item-holder">
  				<div class="featured-item text-center">
  					<img class="hand" ui-sref="menu.catalog.products.list({ type: 'brand', id: brand.brand_control_label })" ng-src="{{brand.imageurl}}" alt="image">
  					<div class="featured-item__detail">
  						{{brand.extended_description}}
  						<a ui-sref="menu.catalog.products.list({ type: 'brand', id: brand.brand_control_label })" class="text-uppercase">view brand</a>
  					</div>
  				</div>
  			</li>
  		</ul>

      <div class="featured-item-mobile visible-xs visible-sm">
        <carousel interval="myInterval" disable-ng-animate>
          <slide ng-repeat="brand in brands | orderBy: ['extended_description'] track by $index" active="brand.active">
            <div ng-show="brand.imageurl" class="col-xs-4 no-padding text-left">
              <img ng-src="{{brand.imageurl}}">
            </div>
            <div class="col-xs-8 no-padding featured-item-mobile__detail">
              {{brand.extended_description}}<br />
              <a ui-sref="menu.catalog.products.list({ type: 'brand', id: brand.brand_control_label })" class="text-uppercase">View Details</a>
            </div>
          </slide>
        </carousel>
      </div>
  	</div>
  </div>
</div>