<div class="row register-wrapper view sub-content">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="row register-header">
      <div class="col-md-6">
        <img src="images/bek-logo-green.png" alt="logo" />
      </div>

      <div class="col-md-6">
          <!-- Where login form used to be -->
      </div>
    </div>

    <div class="register-body sub-content">

      <div class="row">
        <div class="col-xs-12 col-xs-offset-3">
          <h1 class="text-thin">Password Change</h1>
          <p>Your temporary password is expired. Please change your password to continue</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-xs-offset-3 text-red">
          <p>{{changePasswordErrorMessage}}</p>
        </div>
      </div>

      <form name="changePasswordForm" novalidate class="register-form sub-content style-validation-errors">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 form-group">
            <label for="username">Old Password</label>
            <span ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$dirty" class="text-red">Old Password is required</span>
            <input required ng-trim class="form-control" type="password" id="oldPassword" name="oldPassword" ng-model="passwordData.originalPassword">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 form-group">
            <label for="username">Password</label>
            <span ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty" class="text-red">Password is required</span>
            <input required ng-trim class="form-control" type="password" id="newPassword" name="newPassword" ng-model="passwordData.newPassword">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 form-group">
            <label for="confirmUsername">Confirm Password</label>
            <span ng-show="changePasswordForm.confirmPassword.$error.matchInput && changePasswordForm.confirmPassword.$dirty" class="text-red">Passwords do not match</span>
            <span ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty" class="text-red">Password confirmation is required</span>
            <input required ng-trim class="form-control" type="password" id="confirmPassword" name="confirmPassword" ng-model="passwordData.confirmPassword"  match-input="passwordData.newPassword">
          </div>
        </div>
       
        <div class="row sub-content">
          <div class="col-xs-12 col-xs-offset-3 button-row">
            <button ng-click="changePassword(passwordData)" ng-disabled="changePasswordForm.$invalid || changePasswordSubmitted" type="submit" class="btn-lg btn btn-primary">Submit</button>
            <a ng-click="signOut()">Sign Out</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
