<div page-header-bar>
  <div header-message>
    Configuration Settings
  </div>
  <div header-buttons></div>
  <button class="btn btn-lg btn-primary pull-right" 
    ng-disabled="configSettingsForm.$invalid || configSettingsForm.$pristine" 
    ng-click="verifySettings = !verifySettings" type="button" ng-show="!verifySettings">
    Verify
  </button>
  <button class="btn btn-lg btn-primary pull-right"
    ng-disabled="!isverified"
    ng-click="saveConfig(configSettings)" type="button" ng-show="verifySettings">
    Save
  </button>
  <label ng-if="verifySettings" class="text-red pull-right" style="padding:10px 20px 0 0;">
    Please verify your changes below by checking the checkbox
  </label>
</div>

<div class="page-content">
  <div class="col-md-12">
  <form name="configSettingsForm">
    <table class="table table-striped-rows table-border">
      <thead>
        <tr>
          <th class="col-sm-1 col-md-2">Key</th>
          <th class="col-sm-1 col-md-2">Old Value</th>
          <th class="col-sm-1 col-md-3">New Value</th>
          <th class="col-sm-1 col-md-1">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="setting in configSettings" ng-class="{ odd: $odd, even: $even }">
          <td>{{setting.key}}</td>
          <td>
            <label style="max-width: 200px; word-wrap: break-word">
              {{setting.value}}
            </label>
          </td>
          <td>
            <input
            style="width:70%; float:left;"     
            name="settingValueInput"                    
            type="text"     
            ng-model="setting.newvalue"    
            onfocus="this.select()"
            placeholder="Enter New Value"
            />
            <input type="checkbox" style="display:inline-block; float:left; margin-left:10px;" ng-if="setting.newvalue" ng-click="setSettingsVerified(setting)" />
          </td>
          <td>{{setting.comment}}</td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>
