 <div class="modal-header">
    <h3 class="modal-title">Add Item {{item.name}} To...</h3>
</div>
<div class="modal-body">

  <ul class="list-group" ng-show="!item.favorite" ng-click="addItemToFavorites(item)">
    <li class="hand list-group-item"><span class="large-icon" favorite-icons></span>Favorites</li>
  </ul>

  <div ng-if="item.nonstock !== 'Y'">
    <h3>Carts</h3>
    <ul class="list-group">
      <li ng-repeat="cart in carts | orderBy: ['name']" ng-click="addItemToCart(cart.id, item)" class="hand list-group-item">{{cart.name}}</li>
      <li class="hand list-group-item" ng-click="createCartWithItem(item)">Create New Cart...</li>
    </ul>
  </div>
  
  <div>
    <h3>Lists</h3>
    <ul class="list-group">
      <li ng-repeat="list in lists | sortLists" ng-if="!list.isReadOnly" ng-click="addItemToList(list.listid, item)" class="hand list-group-item">{{list.name}}</li>
      <li class="hand list-group-item" ng-click="createListWithItem(item)">Create New List...</li>
    </ul>
  </div>

</div>
<div class="modal-footer">
    <button class="btn-lg btn btn-default" ng-click="cancel()">Cancel</button>
</div>