<div class="row register-wrapper view sub-content">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="row register-header">
      <div class="col-md-6">
        <img src="images/bek-logo.png" alt="logo" />
      </div>

      <div class="col-md-6">
          <!-- Where login form used to be -->
      </div>
    </div>

    <div class="register-body sub-content">
    
		<div ng-show="{{!isTokenValid}}">
			<div class="row">
				<div class="col-md-9 col-md-offset-3">
					<h1 class="text-thin">Invalid Link</h1>
				  	<p>The link you have entered is incorrect or has expired. Please start the forgot password process again.</p>
				</div>
			</div>
		</div>
		<div ng-show="{{isTokenValid}}">
			<div class="row">
				<div class="col-md-9 col-md-offset-3">
					<h1 class="text-thin">Set Password</h1>
				  	<p>Please enter your new password below</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 col-md-offset-3 text-red">
					<p>{{changePasswordErrorMessage}}</p>
				</div>
			</div>

			<form name="changePasswordForm" novalidate class="register-form sub-content style-validation-errors">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 form-group">
					    <label for="username">Password</label>
					    <span ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty" class="text-red">Password is required</span>
					    <span ng-show="changePasswordForm.newPassword.$error.passwordRequirements && changePasswordForm.newPassword.$dirty && !changePasswordForm.newPassword.$error.required" class="text-red">Must contain one uppercase letter, one lowercase letter, and a number. Minimum length is 8 characters. Cannot contain any part of your name or email address.</span>
					    <input required password-requirements ng-trim class="form-control" type="password" id="newPassword" name="newPassword" ng-model="passwordData.newPassword">
				  	</div>
				</div>
				<div class="row">
				  	<div class="col-md-6 col-md-offset-3 form-group">
					    <label for="confirmUsername">Confirm Password</label>
					    <span ng-show="changePasswordForm.confirmPassword.$error.matchInput && changePasswordForm.confirmPassword.$dirty" class="text-red">Passwords do not match</span>
					    <span ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty" class="text-red">Password confirmation is required</span>
					    <input required ng-trim class="form-control" type="password" id="confirmPassword" name="confirmPassword" ng-model="passwordData.confirmPassword"  match-input="passwordData.newPassword">
				  	</div>
				</div>

				<div class="row sub-content">
					<div class="col-md-9 col-md-offset-3 button-row">
					   	<button ng-click="resetPassword(passwordData)" ng-show="{{isTokenValid}}" ng-disabled="changePasswordForm.$invalid || changePasswordSubmitted" type="submit" class="btn-lg btn btn-primary">Submit</button>
					</div>
				</div>

			</form>
		</div>
	</div>

  </div>
</div>