<div page-header-bar message="'Welcome Back ' + currentUser.name + '!'">
    <button class="btn cta-btn">Create An Order</button>
</div>
<div class="row">
    <!-- Account Summary -->
    <div class="col-md-4 col-md-push-8">
        <div class="account-summary__balance">

            <button class="pull-right btn cta-btn pay-now-btn">Pay Now</button>
            
            <h4><strong>Account Balance</strong></h4>
            
            <div class="text-late balance__amount text--late">
                $3,253.31
            </div>
            
            <p class="balance__term">Your Terms: Net 14</p>
            
            <div class="row text-center">
                <div class="col-xs-4 balance__term--amount">
                    <strong>0 - 7</strong>
                    $1,785
                </div>
                <div class="col-xs-4 balance__term--amount">
                    <strong>0 - 14</strong>
                    $1468.21
                </div>
                <div class="col-xs-4 balance__term--amount">
                    <strong>Past Due</strong>
                    <span class="text--late">$300.08</span>
                </div>
            </div>
        </div>
        <div class="account-summary__graph">
            <h4><strong>Order Summary Last 6 Months</strong></h4>
            <img src="" alt="graph" style="height:140px;width:200px;">
        </div>
    </div> <!-- end Account Summary -->
    <!-- Order Summary -->
    <div class="col-md-8 col-md-pull-4 order-summary text-center">
        
        <div class="row order-summary__header hidden-xs hidden-sm">
            <div class="col-md-2 order-col">
                Orders
            </div>
            <div class="col-md-2">
                Delivery Date
            </div>
            <div class="col-md-2">
                Total Cost
            </div>
            <div class="col-md-4">
                Status
            </div>
            <div class="col-md-2">
                Payment Status
            </div>
        </div>
        <div class="row sub-content-mobile visible-xs visible-sm">
            <div class="col-xs-9">
                <h2 class="text-left">Current Order Status</h2>
            </div>
            <div class="col-xs-3">
                <button class="btn pull-right">View All</button>
            </div>
        </div>
        <div class="row order-summary__order hidden-xs hidden-sm">
            <div class="col-md-2 col-xs-12 order-col">
                <span class="order-col__text">Order #</span>
                <span class="order-col__number">Pending</span>
            </div>
            <div class="col-md-2 col-xs-2">
                TBD
            </div>
            <div class="col-md-2 col-xs-2">
                $7000.56
            </div>
            <div class="col-md-4 col-xs-2">
                Open
            </div>
            <div class="col-md-2 col-xs-2">
                N/A
            </div>
        </div>
        <div class="row order-summary__order order-summary__order--late hidden-xs hidden-sm">
            <div class="col-md-2 order-col">
                <span class="order-col__text">Order #</span>
                <span class="order-col__number">00076245</span>
                <span class="order-col__date">04-20-14</span>
            </div>
            <div class="col-md-2">
                TBD
            </div>
            <div class="col-md-2">
                $7000.56
            </div>
            <div class="col-md-4 text-late">
                Delivered Exceptions - Change
            </div>
            <div class="col-md-2 text-late">
                Late
            </div>
        </div>
        <div class="row order-summary__order order-summary__order--paid">
            <div class="col-md-2 col-xs-12  order-col">
                <div class="row">
                    <div class="col-md-12 col-xs-6">
                        <span class="order-col__text">Order #</span>
                        <span class="order-col__number">00076245</span>
                    </div>
                    <div class="col-md-12 col-xs-6">
                        <span class="order-col__date"><span class="icon-calendar visible-xs-inline-block visible-sm-inline-block"></span>04-20-14</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="row">
                    <div class="col-xs-6 visible-xs visible-sm text-left">
                        Delivery Date
                    </div>
                    <div class="col-md-12 col-xs-6 right">
                        TBD
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="row">
                    <div class="col-xs-6 visible-xs visible-sm text-left">
                        Total Cost
                    </div>
                    <div class="col-md-12 col-xs-6 right">
                        $7000.56
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-6 visible-xs visible-sm text-left">
                        Status
                    </div>
                    <div class="col-md-12 col-xs-6 right text-paid">
                        Delivered
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="row">
                    <div class="col-xs-6 visible-xs visible-sm text-left">
                        Payment Status
                    </div>
                    <div class="col-md-12 col-xs-6 right text-paid">
                        Paid
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end Order Summary -->
</div>
<div class="row sub-content">
    <!-- Featured Items -->
    <div class="col-md-8 col-xs-12">
        <h2>Latest From Ben E. Keith</h2>
        <div class="row">
            <div class="col-sm-12 hidden-xs hidden-sm">
                <div ng-repeat="item in items">
                    <div class="featured-item text-center">
                        <img ng-src="{{item.imageUrl}}" alt="image">
                        <div class="featured-item__detail">
                            {{item.description}}
                            <a ui-sref="menu.catalog.products.details({ itemId : item.id })" class="text-uppercase">view details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 visible-xs visible-sm sub-content" featured-item-carousel items="items" link="'menu.catalog.products.details({ itemId : item.id })'" info="currentItem"></div>
        </div>
    </div> <!-- end Featured Items -->
    <!-- Recent Activity -->
    <div class="col-md-4 hidden-xs hidden-sm">
        <h2>Recent Activity</h2>
        
        <div class="row notification">
            <div class="col-lg-2">
                item
            </div>
            <div class="col-lg-10">
                <div class="notification__message">
                    You | 8:45am
                </div>
            </div>
        </div>
        <div class="row notification">
            <div class="col-lg-2">
                item
            </div>
            <div class="col-lg-10">
                <div class="notification__message">
                    Created an Invoice | 8:30am
                </div>
            </div>
        </div>
        <div class="row notification">
            <div class="col-lg-2">
                item
            </div>
            <div class="col-lg-10">
                <div class="notification__message">
                    item
                </div>
            </div>
        </div>
    </div> <!-- end Recent Activity -->
</div>