<!-- Featured Items -->
<div class="row">
    <!-- <h3>Latest From Ben E. Keith</h3> -->
    <div loading-spinner="loadingPromoItems" ng-show="loadingPromoItems"></div>
    <p class="col-xs-12" ng-show="!promoMessage && promoItems && promoItems.length === 0">There are no promos to display at this time.</p>
    <p class="col-xs-12 text-red" ng-show="promoMessage">{{promoMessage}}</p>

    <div ng-if="promoItems.length > 0 && !loadingPromoItems">

      <div class="page-header-bar-home">
        <div featured-item-carousel="promoItems" template="{{'views/featuredItemTemplates/featureditem.html'}}"></div>
      </div>

    </div>
</div>

<div ng-if="systemUpdates.length > 0" ng-init="showNotification(systemUpdates[0])"></div>
<!-- <ng-include src="'views/globalmessage.html'"></ng-include> -->
<div class="page-content">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <!-- Account Summary -->
      <div class="info-box" ng-class="{ 'account-summary-info': canViewOrders}" ng-if="canViewInvoices">
        <a ui-sref="menu.invoice" ng-hide="isInternalAccountAdminUser || hidePayNowButton" class="pull-right btn btn-primary btn-lg">Pay Now</a>
        <h4><strong>Account Balance</strong></h4>
        <div loading-spinner="loadingAccountBalance"></div>
        <div ng-show="!loadingAccountBalance">
          <p class="currency-value">
            {{selectedUserContext.customer.balance.totalbalance || 0 | currency}}
          </p>
          <p class="">Your Terms: {{selectedUserContext.customer.termdescription || 'N/A'}}</p>
          <div class="row text-center">
            <div class="balance__term--amount">
              <strong>Current</strong> {{selectedUserContext.customer.balance.currentbalance | currency}}
            </div>
            <div class="balance__term--amount">
              <strong>Past Due</strong>
              <div ng-class="{ 'text-red': selectedUserContext.customer.balance.pastdue > 0 }">
                <strong>{{selectedUserContext.customer.balance.pastdue | currency}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-box account-summary__graph hidden-xs hidden-sm" style="padding-left: 0; padding-bottom: 0;" ng-controller="OrderSummaryGraphController" ng-if="canViewOrders">
        <div style="margin-left: 15px;">
          <h4 class="no-margin-top"><strong>Order Summary Last 6 Months</strong></h4>
          <div loading-spinner="loadingOrderGraph"></div>
          <span class="text-red" ng-show="ordersGraphMessage">{{ordersGraphMessage}}</span>
        </div>
        <div id="chart_div" style="height:140px;width:100%;"></div>
      </div>
      <!-- end Account Summary -->
      <!-- Featured Items -->
      <div class="row">
        <div class="col-sm-12">
          <h3>Latest From Ben E. Keith</h3>
          <div loading-spinner="loadingPromoItems" ng-show="loadingPromoItems"></div>
          <p class="col-xs-12" ng-show="!promoMessage && marketingPromoItems && marketingPromoItems.length === 0">There are no promos to display at this time.</p>
          <p class="col-xs-12 text-red" ng-show="promoMessage">{{promoMessage}}</p>

          <div ng-if="marketingPromoItems.length > 0 && !loadingPromoItems">

            <div class="col-xs-12">
              <div featured-item-carousel="marketingPromoItems" marketing="true" template="{{'views/featuredItemTemplates/featureditem.html'}}"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-pull-4">
        <!-- Cart Summary -->
        <div ng-if="canCreateOrders && cartHeaders && cartHeaders.length > 0">
            <div class="row hidden-xs hidden-sm text-center order-summary__header no-margin">
              <div class="col-md-3" style="margin-top: -25px">
                <h3><strong>Pending Orders</strong></h3>
              </div>
              <div class="col-md-3 nowrap">
                Ship Date
              </div>
              <div class="col-md-3 nowrap">
                Item Count
              </div>
              <div class="col-md-3">
                Subtotal
              </div>
            </div>
            <div class="order-summary__order hidden-xs hidden-sm text-center" ng-repeat="cart in cartHeaders | orderBy:'createddate':true | limitTo: numCartsToDisplay">
              <div class="row no-margin">
                <div class="col-md-3 order-col">
                  <a ui-sref="menu.cart.items({cartId: cart.id})" class="order-col__number">{{cart.name}}</a>
                  <span class="order-col__date" style="font-size:11px;">{{cart.createddate | formatDateWithTimezone}}</span>
                </div>
                <div class="col-md-3 table-col">
                  <span>{{(cart.requestedshipdate || 'N/A') | formatDate}}</span>
                </div>
                <div class="col-md-3 table-col">
                  {{cart.itemcount}}
                </div>
                <div class="col-md-3 table-col">
                  {{cart.subtotal | currency}}
                </div>
              </div>
            </div>
            <div class="text-center hidden-xs hidden-sm" loading-spinner="loadingCarts" ng-show="loadingCarts"></div>
            <div class="text-center hidden-xs hidden-sm" ng-hide="loadingCarts || cartMessage || cartHeaders.length === 0">
              <a class="view-all" ui-sref="menu.order">View All</a>
            </div>
        </div>
        
      <!-- Order Summary -->
      <div ng-if="canViewOrders && orders && orders.length > 0">
        <div class="row hidden-xs hidden-sm text-center order-summary__header no-margin" style="margin-top:10px;">
          <div class="col-md-3" style="margin-top: -25px">
            <h3><strong>Confirmed Orders</strong></h3>
          </div>
          <div class="col-md-2 nowrap">
            Delivery Date
          </div>
          <div class="col-md-2 nowrap">
            Subtotal <span tooltip="This is your order total without taxes, fees, and final catch weight prices." class="glyphicon glyphicon-info-sign ico-blue"></span>
          </div>
          <div class="col-md-3">
            Status
          </div>
          <div class="col-md-2">
            Invoice Status
          </div>
        </div>
        <div class="order-summary__order hidden-xs hidden-sm text-center" ng-repeat="order in orders | orderBy:'createddate':true | limitTo: numOrdersToDisplay | styleOrders" ng-class="order.highlightClass">
          <div class="row no-margin">
            <div class="col-md-3 order-col">
              <div class="order-col__number" order-link></div>
              <span class="order-col__date" style="font-size:11px;">{{order.createddate | formatDateWithTimezone}}</span>
            </div>
            <div class="col-md-2 table-col nowrap">
              <span ng-if="order.deliverydate != null">{{order.deliverydate | formatDate}}</span>
              <span ng-if="order.deliverydate == null">TBD</span>
            </div>
            <div class="col-md-2 table-col">
              {{order.ordertotal | currency}}
            </div>
            <div class="nowrap col-md-3 table-col highlight-col" ng-if="order.scheduleddeliverytime == null && order.estimateddeliverytime == null && order.actualdeliverytime == null">
              {{order.status}}
            </div>
            <!-- Display order status before ETA info is available -->
            <div class="nowrap col-md-3 table-col highlight-col" ng-if="order.scheduleddeliverytime != null
              || order.estimateddeliverytime != null
              || order. actualdeliverytime != null" style="padding:12px 0">
              <span ng-if="order.estimateddeliverytime != null
                && order.actualdeliverytime == null
                && order.deliveryoutofsequence != true">
                <span class="small-icon icon-truck"></span>
              <br/>ETA:&nbsp;{{order.estimateddeliverytime | formatDateWithTimezone:'h:mma z'}}
              </span>
              <span ng-if="order.actualdeliverytime != null">
              Delivered<br />{{order.actualdeliverytime | formatDateWithTimezone}}
            </span>
              <span ng-if="
                order.actualdeliverytime == null && (order.estimateddeliverytime == null
                || order.deliveryoutofsequence == true)">
              <span class="small-icon icon-truck"></span>
              <br />Out For Delivery
              </span>
            </div>
            <!-- Display ETA info once it s available -->
            <div class="col-md-2 table-col highlight-col">
              {{order.invoicestatus || 'N/A'}}
            </div>
          </div>
        </div>
        <div class="text-center hidden-xs hidden-sm" ng-hide="loadingOrders || ordersMessage || orders.length === 0">
          <a class="view-all" ui-sref="menu.order">View All</a>
        </div>
        <div class="text-center hidden-sm hidden-xs" loading-spinner="loadingOrders" ng-show="loadingOrders"></div>
        <div class="text-red hidden-xs hidden-sm" ng-show="ordersMessage">{{ordersMessage}}</div>
      </div>
      <div ng-if="canCreateOrders && cartHeaders && cartHeaders.length > 0">
        <div class="row sub-content visible-xs visible-sm">
          <div class="col-xs-8">
            <h3>Pending Orders</h3>
          </div>
          <div class="col-xs-4">
            <a ui-sref="menu.order" class="btn btn-default pull-right btn-lg"  ng-hide="loadingCarts || cartMessage || cartHeaders.length === 0">View All</a>
          </div>
        </div>
        <div class="order-summary__order visible-xs visible-sm" ng-repeat="cart in cartHeaders | orderBy:'createddate':true | limitTo: 2">
          <div class="order-col">
            <div class="row">
              <div class="col-xs-6">
                <a ui-sref="menu.cart.items({cartId: cart.id})" class="order-col__number">{{cart.name}}</a>
                <div class="order-col__number" order-link></div>
              </div>
              <div class="col-xs-6 order-col__date">
                <span class="icon-calendar"></span> {{cart.createddate | formatDateWithTimezone}}
              </div>
            </div>
          </div>
          <div class="order-details">
            <div class="details-item">
              <div class="item-title">
                Ship Date
              </div>
              <div class="item-value">
                {{(cart.requestedshipdate || 'N/A') | formatDate}}
              </div>
            </div>
            <div class="details-item">
              <div class="item-title">
                Item Count
              </div>
              <div class="item-value">
                {{cart.itemcount}}
              </div>
            </div>
            <div class="details-item">
              <div class="item-title">
                Subtotal
              </div>
              <div class="item-value highlight-col">
                {{cart.subtotal | currency}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="canViewOrders && orders && orders.length > 0">
        <div class="row sub-content visible-xs visible-sm">
          <div class="col-xs-8">
            <h3>Confirmed Orders</h3>
          </div>
          <div class="col-xs-4">
            <a ui-sref="menu.order" class="btn btn-default pull-right btn-lg"  ng-hide="loadingOrders || ordersMessage || orders.length === 0">View All</a>
          </div>
        </div>
        <p class="text-red hidden-md hidden-lg" ng-show="ordersMessage">{{ordersMessage}}</p>
        <div class="order-summary__order visible-xs visible-sm" ng-repeat="order in orders | orderBy:'createddate':true | limitTo: 2" ng-class="order.highlightClass">
          <div class="order-col">
            <div class="row">
              <div class="col-xs-6">
                <span>INVOICE #</span>
                <div class="order-col__number" order-link></div>
              </div>
              <div class="col-xs-6 order-col__date">
                <span class="icon-calendar"></span> {{order.createddate | formatDateWithTimezone}}
              </div>
            </div>
          </div>
          <div class="order-details">
            <div class="details-item">
              <div class="item-title">
                Delivery Date
              </div>
              <div class="item-value">
                <div ng-if="order.deliverydate != null">{{order.deliverydate | formatDate}}</div>
                <div ng-if="order.deliverydate == null">TBD</div>
              </div>
            </div>
            <div class="details-item">
              <div class="item-title">
                Subtotal <span tooltip="This is your order total without taxes, fees, and final catch weight prices." class="glyphicon glyphicon-info-sign ico-blue"></span>
              </div>
              <div class="item-value">
                {{order.ordertotal | currency}}
              </div>
            </div>
            <div class="details-item">
              <div class="item-title">
                Status
              </div>
              <div class="item-value highlight-col" ng-if="order.scheduleddeliverytime == null && order.estimateddeliverytime == null && order.actualdeliverytime == null">
                {{order.status}}
              </div>
              <!-- Display order status before ETA info is available-->
              <div ng-if="order.estimateddeliverytime != null
              && order.actualdeliverytime == null
              && order.deliveryoutofsequence != true" class="item-value highlight-col">
                <span class="small-icon icon-truck"></span>
                <br/>ETA:&nbsp;{{order.estimateddeliverytime | formatDateWithTimezone:'h:mma z'}}
              </div>
              <div class="item-value highlight-col" ng-if="order.actualdeliverytime != null">
                Delivered
                <br/>{{order.actualdeliverytime | formatDateWithTimezone}}
              </div>
              <div ng-if="order.actualdeliverytime == null && (!order.estimateddeliverytime == null
              || order.deliveryoutofsequence == true)" class="item-value highlight-col">
                <span class="small-icon icon-truck"></span>
                <br />Out For Delivery
              </div>
            </div>
            <div class="details-item">
              <div class="item-title">
                Invoice Status
              </div>
              <div class="item-value highlight-col">
                {{order.invoicestatus || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Order Summary -->

    </div>
    
    <!-- Recently Viewed Items -->
    <div class="row" ng-if="recentlyViewedItems.length > 0">
      <div class="col-sm-12">
          <h3>Recently Viewed Items <span><a class="clearRecent" ng-click="clearRecentlyViewedItems()"> Clear</a></span></h3>
        <div loading-spinner="loadingRecentlyViewedItems" ng-show="loadingRecentlyViewedItems"></div>

          <div ng-show="!loadingRecentlyViewedItems && recentlyViewedItems.length > 0">
          <ul class="horizontal-slide hidden-xs hidden-sm">
            <li ng-repeat="item in recentlyViewedItems" class="item-holder">
              <div class="featured-item text-center">
                <img
                  ng-if="item.images.length > 0"
                  class="hand"
                  ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })"
                  ng-src="{{item.images[0].url}}"
                  alt="product image">
                <img
                  ng-if="item.images.length === 0"
                  class="product-placeholder-image"
                  src="images/bek-logo.png"
                  alt="default product image">
                <span class="featured-item__detail">
                  {{::item.name}}
                  <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase">#{{::item.itemnumber}}</a>
                </span>
              </div>
            </li>
          </ul>

          <div featured-item-carousel="recentlyViewedItems" catalog="true" template="{{'views/featuredItemTemplates/product.html'}}"></div>
        </div>
        <h4 ng-if="recentlyViewedItems == null && !loadingRecentlyViewedItems">No recently viewed items to display.</h4>

      </div>
    </div>  <!-- end Recently Viewed Items -->

    <div class="col-xs-12">

    <!-- Categories -->
    <div class="row">
      <div class="col-sm-12">
          <h3>Categories</h3>
        <div loading-spinner="loadingCategories" ng-show="loadingCategories"></div>

        <div ng-show="!loadingCategories && categories.length > 0">
              <ul class="horizontal-slide hidden-xs hidden-sm">
                  <li ng-repeat="category in categories | orderBy: ['id']" ng-if="category.name != 'All'" class="item-holder">
                      <div class="featured-item text-center">
                          <img class="hand" ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name, category: category.name})" ng-src="{{category.category_image.url}}" alt="image">
                          <div>
                              <a ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name, category: category.name})" class="featured-item__detail">{{::category.name}}</a>
                          </div>
                      </div>
                  </li>
              </ul>

              <div featured-item-carousel="categories" catalog="true" template="{{'views/featuredItemTemplates/category.html'}}"></div>
        </div>
      </div>
    </div> <!-- end Categories -->
    
    <!-- Recommended Items -->
    <div class="row" ng-if="isOrderEntryCustomer && recommendedItems.length > 0">
        <div class="col-sm-12">
            <h3>Recommended Items</h3>
            <div loading-spinner="loadingRecommendedItems" ng-show="loadingRecommendedItems"></div>

        <div ng-show="!loadingRecommendedItems && recommendedItems.length > 0">
          <ul class="horizontal-slide hidden-xs hidden-sm">
            <li ng-repeat="item in recommendedItems" class="item-holder">
              <div class="featured-item text-center">
                <img
                  ng-if="item.images.length > 0"
                  class="hand"
                  ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })"
                  ng-src="{{item.images[0].url}}"
                  alt="product image">
                <img
                  ng-if="item.images.length === 0"
                  class="product-placeholder-image"
                  src="images/bek-logo.png"
                  alt="default product image">
                <span class="featured-item__detail">
                  {{::item.name}}
                  <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase">#{{::item.itemnumber}}</a>
                </span>
              </div>
            </li>
          </ul>

          <div featured-item-carousel="recommendedItems" catalog="true" template="{{'views/featuredItemTemplates/product.html'}}"></div>
        </div>
        <h4 ng-if="recommendedItems == null || recommendedItems.length === 0">No recommended items to display.</h4>

        </div>
    </div>

    <!-- Brands -->
        <div class="row">
          <div class="col-sm-12">
              <h3>Featured Brands</h3>
              <div ng-show="loadingBrands" loading-spinner="loadingBrands"></div>

            <div ng-show="!loadingBrands && brands.length > 0">
              <ul class="horizontal-slide hidden-xs hidden-sm">
                      <li ng-repeat="brand in brands | orderBy: ['extended_description']" class="item-holder">
                          <div class="featured-item text-center">
                              <img class="hand" ui-sref="menu.catalog.products.list({ type: 'housebrand', id: brand.brand_control_label, brand: brand.extended_description })" ng-src="{{brand.imageurl}}" alt="image">
                              <div>
                                  <a ui-sref="menu.catalog.products.list({ type: 'housebrand', id: brand.brand_control_label, brand: brand.extended_description })" class="featured-item__detail">{{::brand.extended_description}}</a>
                              </div>
                          </div>
                      </li>
                  </ul>

              <div featured-item-carousel="brands" catalog="true" template="{{'views/featuredItemTemplates/brand.html'}}"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
