<div page-header-bar>
  <div header-message>
    Inventory Valuation Report
    <button class="btn hidden-md hidden-lg btn-lg btn-primary" ng-click="saveReport(report)" type="button">Save</button>
    <button class="btn hidden-md hidden-lg btn-lg btn-default" ng-click="clearReport(report.listid)" type="button">Clear</button>
  </div>
  <div header-buttons>
    <button class="btn btn-lg btn-primary" ng-click="saveReport(report)" type="button">Save</button>
    <button class="btn btn-lg btn-default" ng-click="clearReport(report.listid)" type="button">Clear</button>
    <a class="btn btn-icon btn-default" ng-click="print()" title="Print"><span class="icon-printer"></span></a>
    <a title="Export" ng-click="openExportModal()" class="btn btn-default btn-icon"><span class="icon-export"></span></a>
  </div>
</div>

<div class="page-content inventory-report">
  
  <div class="row">
    <a class="col-xs-12 hidden-print text-large btn-link" ui-sref="menu.reports"><span class="icon-arrow-left6"></span> Back</a>
  </div>

<!--   <div class="row">
    <p class="col-md-12 col-lg-8 hidden-print text-red">This report is still under development.  Right now you can’t save your work, but you can print or export to Excel or PDF.  Please try it out if you have a chance and let us know what you think.</p>
  </div> -->

  <div class="row sub-content">
    <form class="hidden-print col-md-12 col-lg-8 form-inline" name="addItemByNumberForm">
      <div style="width:100%" class="form-group">
        <p class="text-green" ng-show="successMessage">{{successMessage}}</p>
        <p class="text-red" ng-show="errorMessage">{{errorMessage}}</p>

        <input type="text" placeholder="Item Number" ng-model="itemNumber" class="item-number-input form-control input-lg">

        <button type="submit" class="btn btn-primary btn-lg" ng-click="addItemByItemNumber(itemNumber)">Add Item</button>
        
        <div class="lists-dropdown btn-group hidden-print" dropdown is-open="status.listactions">
          <button type="button" class="btn btn-lg btn-default dropdown-toggle" ng-disabled="listsLoading">
            <div ng-if="!listsLoading">Add Items from List <span class="icon-arrow-down6"></span></div>
            <div class="text-red" ng-if="listsLoading">Loading Lists...
            </div>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="list in ::lists | sortLists">
              <a ng-click="addItemsFromList(list.listid)">{{::list.name}}</a>
            </li>
          </ul>
        </div>

        <div class="clearfix"></div>
      </div>
    </form>
    
    <form name="inventoryForm" class="style-validation-errors col-md-12 col-lg-8" unsaved-warning-form>
      <div class="row sub-content">
        <div class="col-xs-7" style="margin-top: 10px;">
          Showing {{report.items.length}} Item<span ng-if="report.items.length !== 1">s</span>
        </div>
        <div class="text-green currency-value col-xs-5 text-right">
          {{subtotal | currency}}
        </div>
      </div>
      <table class="table table-border table-striped-rows table-inventory-valuation" navigate-table>
        <thead>
        <tr fsm-sticky-header scroll-body="'.table-inventory-valuation'" scroll-stop="0" scroll-offset="245">
            <th class="sort-col-header" ng-click="sortTable('itemid', sortDescending)">
              Item <span># <span sort-icons field="'itemid'" sortorder="sortDescending" sortby="sortField"></span></span>
            </th>
            <th class="sort-col-header" ng-click="sortTable('name', sortDescending)">
              <span>Name <span sort-icons field="'name'" sortorder="sortDescending" sortby="sortField"></span></span>
            </th>
            <th class="hidden-mobile-visible-print">Pack/Size</th>
            <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortTable('label', sortDescending)">
              <span>Label <span sort-icons field="'label'" sortorder="sortDescending" sortby="sortField"></span></span>
            </th>
            <th>Qty</th>
            <th class="hidden-xs hidden-sm">Each</th>
            <th class="hidden-mobile-visible-print">Price</th>
            <th class="hidden-mobile-visible-print">Ext. Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="item in report.items | orderBy:sortField:sortDescending" ng-class="{ odd : $odd, even: $even }">
            <td>
              <a ui-sref="menu.catalog.products.details({itemNumber: item.itemid})">{{::item.itemid}}</a>
            </td>
            <td>{{::item.name}}</td>
            <td class="hidden-mobile-visible-print">{{::item.packsize}}</td>
            <td class="hidden-mobile-visible-print">{{::item.label}}</td>
            <td class="input-col nowrap">
              <!-- <div type="text" counter allow-one-positive-decimal min="0" length="5" ng-model="item.quantity"></div> -->
              <input type="text" allow-one-positive-decimal class="input-number" id="inventoryRep" ng-model="item.quantity">
            </td>
            <td class="input-col hidden-xs hidden-sm">
              <input ng-if="item.hasPackagePrice" name="each" type="checkbox" ng-model="item.each">
            </td>
            <td class="hidden-mobile-visible-print">
              {{item.price | currency}}
              <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
            </td>
            <td class="hidden-mobile-visible-print">
              {{item.extprice | currency}}
            </td>
            <td class="icon-col">
              <a class="hidden-xs hidden-sm" ng-click="removeRow(item)"><span class="large-icon text-red icon-cross"></span></a>
              <a class="hidden-print visible-xs-inline visible-sm-inline" ng-click="showDetails = !showDetails;"><span class="text-light large-icon icon-ellipsis"></span></a>
            </td>
          </tr>
          <tr ng-repeat-end ng-show="showDetails" class="mobile-details-row" ng-class="{ odd : $odd, even: $even }">
            <td colspan="4">
              <table>
                <colgroup>
                  <col width="25%" />
                  <col width="75%" />
                </colgroup>
                <tr>
                  <td>Pack/Size</td>
                  <td>{{::item.packsize}}</td>
                </tr>
                <tr>
                  <td>Label</td>
                  <td>{{::item.label}}</td>
                </tr>
                <tr ng-if="item.hasPackagePrice">
                  <td>Each</td>
                  <td>
                    <ng-form name="eachForm_mobile">
                      <input type="checkbox" ng-model="item.each" id="each" name="each" />
                    </ng-form>
                  </td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td>
                    {{item.price | currency}}
                    <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
                  </td>
                </tr>
                <tr>
                  <td>Ext. Price</td>
                  <td>
                    {{item.extprice | currency}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-lg btn-danger" type="button" ng-click="removeRow(item)">Remove Item</button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot ng-show="report.items && report.items.length === 0">
          <tr>
            <td colspan="9">There are no items to display.</td>
          </tr>
        </tfoot>
      </table>
    </form>
    <div class="text-center" loading-spinner="loadingResults"></div>

  </div>
</div>
