<div page-header-bar>
  <div header-message>
    Showing
    <div class="btn-group hidden-print" dropdown is-open="status.isopen1">
      <button type="button" class="btn-lg btn btn-default dropdown-toggle">{{selectedFilterView.name}} <span class="icon-arrow-down6"></span></button>

      <ul class="dropdown-menu">
        <li><a
          ng-repeat="filterView in filterViews"
          ng-click="selectFilterView(filterView)"
          ng-if="selectedFilterView.name !== filterView.name">
        {{filterView.name}}</a></li>
      </ul>
    </div>
     for 
    <div class="btn-group hidden-print" dropdown is-open="status.isopen2">
      <button type="button" class="btn-lg btn btn-default dropdown-toggle" ng-disabled="isInternalAccountAdminUser">{{selectedInvoiceContext.text}} <span class="icon-arrow-down6"></span></button>

      <ul class="dropdown-menu">
        <li ng-repeat="context in invoiceCustomerContexts" ng-if="selectedInvoiceContext !== context">
          <a ng-click="setViewingAllCustomers(context)">{{context.text}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div header-buttons>
    <a class="btn btn-icon btn-default" ng-click="print()" title="Print"><span class="icon-printer"></span></a>
    <a class="btn btn-icon btn-default" ng-click="openExportModal()" title="Export"><span class="icon-export"></span></a>
  </div>
</div>

  <form name="invoiceForm"
        unsaved-warning-form 
        class="style-validation-errors" 
        novalidate>
    <div  class = "billing" ng-if="!viewingAllCustomers &&  (!isInternalAccountAdminUser || isDemo)">
      <div class="info-box no-open-invoices" ng-if="!hasPayableInvoices && !loadingResults">
        <p>You have no payable invoices at this time.</p>
        <p>Contact your DSR to pay invoices online.</p>
      </div>
      <div class="info-box pull-left billing-info" ng-if="hasPayableInvoices">
        <div  class = "bill-box">
          <b class = "bill-title">Billing Information:</b>
          <address class="text-light">
            {{selectedUserContext.customer.customerName}}<br>
            {{selectedUserContext.customer.address.street}}<br>
            {{selectedUserContext.customer.address.city}}, {{selectedUserContext.customer.address.regioncode}} {{selectedUserContext.customer.address.postalcode}}<br>
          </address>
        </div>
        <div ng-if="hasPayableInvoices" class="total-line"> Total: <span ng-class="{'text-red' : total < 0}" class="total-amt">{{totalPaymentAmount() | currency}}</span><br> <button type="button" ng-disabled="invoiceForm.$invalid || invoiceForm.$pristine || getSelectedInvoices() <= 0 || total < 0  || errorMessage.length" ng-click="payInvoices()" ng-if="hasPayableInvoices" class="btn btn-primary btn-lg pay-btn" analytics-on analytics-category="Invoices" analytics-event="Pay Invoices">Pay Invoice(s)</button></div>
      </div>
    </div>
    <div class="row page-content" style="margin-top:5px;">  
      <div class="col-xs-12"  style="margin-top:16px;">
        <a ui-sref="menu.transaction">View Pending Transactions for All Customers</a>      
        <p class="text-red" ng-if="errorMessage.length">{{errorMessage}}</p>
               <div class="text-right" style="padding-right:15px;">
          Showing {{invoices.length}} of {{totalInvoices}} Invoices
        </div>
      </div>
    <div class="col-md-12" ng-if="viewingAllCustomers">
      <h3>Total Amount Due: <span class="currency-value">{{totalAmountDue | currency}}</span></h3>
    </div>  
      <div class="padding-top-xs padding-top-sm">
 
        <div class="table-invoices" style="padding-left:15px; padding-right:15px;">

        <table class="table table-border table-striped-rows invoice-table" navigate-table="mobile" infinite-scroll="infiniteScrollLoadMore()">
          <thead>
            <tr fsm-sticky-header scroll-body="'.table-invoices'" scroll-stop="0" scroll-offset="74 + 64 + 17 + 30">
              <th ng-if="!viewingAllCustomers" class="input-col">
                <input type="checkbox" ng-if="!isInternalAccountAdminUser" ng-model="selectAllPayable" ng-change="selectAll(selectAllPayable)" no-dirty-check>
              </th>
              <th ng-show="viewingAllCustomers" class="sort-col-header" ng-click="sortInvoices('customername', !sort.sortDescending)">
                Customer 
                <span>Name <span sort-icons field="'customername'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th ng-show="viewingAllCustomers" class="sort-col-header" ng-click="sortInvoices('customernumber', !sort.sortDescending)">
                Customer
                <span># <span sort-icons field="'customernumber'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="sort-col-header" ng-click="sortInvoices('invoicenumber', !sort.sortDescending)">
                Reference
                <span># <span sort-icons field="'invoicenumber'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortInvoices('type', !sort.sortDescending)">
                <span>Type <span sort-icons field="'type'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortInvoices('status', !sort.sortDescending)">
                <span>Status <span sort-icons field="'status'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortInvoices('ponumber', !sort.sortDescending)">
                <span>PO Number</span>
              </th>
              <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortInvoices('duedate', !sort.sortDescending)">
                Due
                <span>Date<span sort-icons field="'duedate'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="sort-col-header" ng-click="sortInvoices('amount', !sort.sortDescending)">
                Amount
                <span>Due<span sort-icons field="'amount'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="text-center hidden-mobile-visible-print">Invoice Image</th>
              <th ng-show="!viewingAllCustomers"  class="sort-col-header hidden-mobile-visible-print" ng-click="sortByScheduleDate(ascendingDate)">
                Schedule 
                <span>Date<span sort-icons field="'scheduledate'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th ng-show="!viewingAllCustomers">Payment Amt</th>
              <th ng-show="!viewingAllCustomers" class="hidden-mobile-visible-print">Bank Account</th>
              <th class="large-icon icon-col">
                <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
              </th>
            </tr>
          </thead>
          <tbody>

          <!-- Filter Row -->
          <tr class="filter-row" ng-show="showFilter">
            <td ng-if="!viewingAllCustomers" class="input-col">
              <!-- <input type="checkbox" ng-model="tempSelected" ng-change="setSelectedFilter(filterRowFields.isSelected)"/> -->
            </td>
            <td ng-show="viewingAllCustomers" class="input-col">
              <input type="text" placeholder="Filter..." ng-model="filterRowFields.customername" no-dirty-check>
            </td>
            <td ng-show="viewingAllCustomers" class="input-col">
              <input type="text" placeholder="Filter..." ng-model="filterRowFields.customernumber" no-dirty-check>
            </td>
            <td class="input-col">
              <input type="text" placeholder="Filter..." ng-model="filterRowFields.invoicenumber" no-dirty-check>
            </td>
            <td class="input-col hidden-mobile-visible-print">
              <input type="text" placeholder="Filter..." ng-model="filterRowFields.typedescription" no-dirty-check>
            </td>
            <td class="input-col hidden-mobile-visible-print">
              <input type="text" placeholder="Filter..." ng-model="filterRowFields.statusdescription" no-dirty-check>
            </td>
            <td></td>
            <td></td>
            <td class="hidden-mobile-visible-print"></td>
            <td class="hidden-mobile-visible-print"></td>
            <td ng-show="!viewingAllCustomers"></td>
            <td ng-show="!viewingAllCustomers"></td>
            <td ng-show="!viewingAllCustomers" class="hidden-mobile-visible-print">       
            </td>
            <td class="input-col nowrap">
              <button type="button" class="btn btn-primary btn-sm" ng-click="filterInvoices(filterRowFields)">Filter</button>
              <button type="button" class="btn btn-default btn-sm" ng-click="clearFilters(filterRowFields)">Clear</button>
            </td>
          </tr> <!-- end Filter Row -->

          <tr ng-repeat-start="invoice in invoices" ng-class="{ odd : $odd, even: $even, 'item-selected': (invoice.isSelected && !errorMessage.length), 'invalid-item': invoice.failedBatchValidation, 'invoice__late':  invoice.status === 2}">
            <td ng-if="!viewingAllCustomers">
              <input no-dirty-check ng-if="invoice.userCanPayInvoice" type="checkbox" ng-model="invoice.isSelected" ng-change="selectInvoice(invoice, invoice.isSelected)">
            </td>
            <td ng-show="viewingAllCustomers">
              <a ng-click="changeCustomerOnClick(invoice.customernumber, invoice.branchid)">{{::invoice.customername}}</a>
            </td>
            <td ng-show="viewingAllCustomers">
              <a ng-click="changeCustomerOnClick(invoice.customernumber, invoice.branchid)">{{::invoice.customernumber}}</a>
            </td>
            <td>
              <a format="telephone=no" ng-show="invoice.typedescription === 'Invoice'" ng-click="linkToReferenceNumber(invoice.customernumber, invoice.branchid, invoice.invoicenumber)">{{::invoice.invoicenumber}}</a>
              <span ng-show="invoice.typedescription !== 'Invoice'">{{::invoice.invoicenumber}}</span>
            </td>
            <td class="hidden-mobile-visible-print">
              {{::invoice.typedescription}}
            </td>
            <td class="highlight-text hidden-mobile-visible-print">
              {{::invoice.statusdescription}}
            </td>
            <td class="highlight-text hidden-mobile-visible-print">
              {{::invoice.ponumber}}
            </td>
            <td class="hidden-mobile-visible-print">
              {{::invoice.duedate | formatDate}}
            </td>
            <td>
              {{::invoice.amount | currency}}
            </td>
            <td class="text-center icon-col large-icon hidden-mobile-visible-print">
              <a ui-sref="invoiceimage({ invoiceNumber: invoice.invoicenumber })" target="_blank" class="icon-camera"></a>
            </td>
            <td ng-if="!viewingAllCustomers" class="hidden-mobile-visible-print datepicker">
              <a
              ng-class="{'hidden-icon' : ((invoice.statusdescription =='Past Due') || viewingAllCustomers)}"
                ng-click="openDatepicker = true"
                ng-if="invoice.userCanPayInvoice"
                class="icon-calendar text-right"                
                datepicker-popup="{{datepickerOptions.options.dateFormat}}"
                ng-model="invoice.date"
                is-open="openDatepicker"
                ng-change="validateBatch()"
                min-date="datepickerOptions.minDate"
                max-date="invoice.maxPaymentDate"
                datepicker-options="datepickerOptions.options"
                date-disabled="disabled(date, mode)"
                close-text="Close"></a>
              <span class = "date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription !='Past Due' && invoice.statusdescription != 'Payment Pending'">{{invoice.date | formatDate}}</span>
              <span class = "date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription =='Past Due'">{{currDate | formatDate}}</span>
              <span class = "date-picker-field" ng-if="invoice.statusdescription =='Payment Pending'">{{invoice.date || invoice.pendingtransaction.date | formatDate}}</span>
            </td>
            <td ng-if="!viewingAllCustomers" class="input-col">             
              <div ng-if="invoice.pendingtransaction && !invoice.pendingtransaction.editable">{{invoice.pendingtransaction.amount}}</div>
              <input
                remove-positive-numbers
                name="paymentAmount"
                id="paymentAmount"
                invoice-amount = "invoice.amount"
                ng-if="invoice.userCanPayInvoice"
                class="text-right"
                type="text"
                style="width:75px;"
                ng-model="invoice.paymentAmount"                
                fcsa-number="{
                  'maxDecimals': 2,
                  'addMissingDecimals': true,
                  'preventInvalidInput': true,
                  'prepend': '$',
                  'min': {{invoice.amount > 0 ? 0 : invoice.amount}}                  
                }"
                ng-required="invoice.isSelected"
                ng-change="toggleSelect(invoice)"
                ng-init="invoice.paymentAmount = (invoice.pendingtransaction.amount)"
                >
            </td>
            <td ng-if="!viewingAllCustomers" class="input-col hidden-mobile-visible-print" >
              <div class="btn-group accounts-btn" dropdown is-open="status.isopen" ng-if="accounts.length >= 1 && invoice.statusdescription !== 'Paid'">
               <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="accounts.length <= 1">
                  <div class = "account-info">                  
                    {{invoice.account}}
                  </div>
                  <span class="icon-arrow-down6"></span>
                </button>
                <div class="dropdown-menu">
                <table class="table no-margin">
                  <tr ng-click="selectAccount(invoice, account)" ng-repeat="account in accounts | orderBy: 'name'">
                       <td class="account-info">
                          {{account.name}}<br>
                          {{account.accountNumber}}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
            </td>
            <td class="large-icon icon-col">
              <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
            </td>
          </tr>

          <tr ng-repeat-end class="mobile-details-row hidden-md hidden-lg" ng-show="showDetails" ng-class="{ odd : $odd, even: $even }">
            <td colspan="5">
              <table>
                <colgroup>
                  <col width="25%" />
                  <col width="75%" />
                </colgroup>
                <tr>
                  <td>Due Date</td>
                  <td>{{::invoice.duedate | formatDate}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{::invoice.statusdescription}}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{::invoice.typedescription}}</td>
                </tr>
                <!-- <tr ng-if="invoice.userCanPayInvoice">
                  <td>Payment Amount</td>
                  <td>
                    <input
                      name="paymentAmount"
                      id="paymentAmount"
                      ng-if="invoice.userCanPayInvoice"
                      class="form-control text-right"
                      type="text"
                      ng-model="invoice.paymentAmount"
                      fcsa-number="{
                        'maxDecimals': 2,
                        'addMissingDecimals': true,
                        'preventInvalidInput': true,
                        'prepend': '$',
                        'min': {{invoice.amount > 0 ? 0 : invoice.amount}}
                      }"
                      ng-required="invoice.isSelected"
                      ng-change="toggleSelect(invoice)"
                      >
                  </td>
                </tr> -->
                <tr ng-if="!viewingAllCustomers && invoice.userCanPayInvoice">
                  <td>
                    Schedule Date
                  </td>
                  <td  ng-if="invoice.userCanPayInvoice && invoice.statusdescription !='Past Due' && invoice.statusdescription != 'Payment Pending'" class="datepicker">
                  <a
                    ng-class="{'hidden-icon' : ((invoice.statusdescription =='Past Due') || viewingAllCustomers)}"
                    ng-click="openDatepicker = true"              
                    ng-if="invoice.userCanPayInvoice"
                   
                    class="icon-calendar text-right"                
                    datepicker-popup="{{datepickerOptions.options.dateFormat}}"
                    ng-model="invoice.date"
                    is-open="openDatepicker"
                    min-date="datepickerOptions.minDate"
                    max-date="invoice.maxPaymentDate"
                    datepicker-options="datepickerOptions.options"
                    date-disabled="disabled(date, mode)"
                    close-text="Close"></a>
                      {{invoice.date | formatDate}}
                  </td>
                  <td ng-if="invoice.userCanPayInvoice && invoice.statusdescription =='Past Due'">{{currDate | formatDate}}</td>
                  <td ng-if="invoice.userCanPayInvoice && invoice.statusdescription =='Payment Pending'">{{invoice.pendingtransaction.date | formatDate}}</td>
                </tr>
                <tr ng-if="!viewingAllCustomers && accounts.length">
                  <td>
                    Bank Account
                  </td>            
                  <td>
                    <div class="btn-group accounts-btn" dropdown is-open="status.isopen" ng-if="accounts.length >= 1">
                      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="accounts.length <= 1">
                        <div class = "account-info">                  
                          {{invoice.account}}
                        </div>
                      <span class="icon-arrow-down6 account-info"></span>
                      </button>
                      <div class="dropdown-menu">
                         <table class="table no-margin">
                          <tr ng-click="selectAccount(invoice, account)" ng-repeat="account in accounts | orderBy: 'name'">
                            <td class = "account-info">
                          {{account.name}}<br>
                          {{account.accountNumber}}
                        </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </td>  
                </tr>
                <tr>
                  <td class="large-icon" colspan="2">
                    <a ng-if="invoice.invoicelink" ui-sref="invoiceimage({ invoiceNumber: invoice.invoicenumber })" class="icon-camera"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </tbody>

        <tfoot ng-show="invoices.length === 0 && !loadingResults">
          <tr>
            <td colspan="12">There are no invoices to display.</td>
          </tr>
        </tfoot>
      </table>
      </div>

      <div class="text-center" loading-spinner="loadingResults"></div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>

