<div page-header-bar>
  <div header-message class="hidden-print">
    Show:
    <div class="dropdown hidden-print inline-block-display">
      <a role="button" data-toggle="dropdown" class="btn btn-lg btn-default">
          <span ng-if="!selectedFilterViewName">{{selectedFilterView.name}}</span><span ng-if="selectedFilterViewName">{{selectedFilterViewName}}</span> <span class="caret text-dark"></span>
      </a>
      <ul class="dropdown dropdown-menu" role="menu">
        <li ng-repeat="filterView in filterViews">
          <a ng-click="selectFilterView(filterView)">{{filterView.name}}</a>
        </li>
        <li class="dropdown-submenu dateRangeDropdown dropdown-submenu-mobile">
          <a>Paid Invoices By Month<span class="pull-right icon-arrow-right6"></span></a>
          <ul class="dropdown-menu" style="margin-top:0;">
            <li class="dropdown-submenu dropdown-submenu-mobile-months" is-open="paidDateRangeYearIsOpen" ng-repeat="paidDateRangeYear in dateRangeYears">
              <a ng-click="paidDateRangeYearIsOpen = !paidDateRangeYearIsOpen" data-toggle="dropdown">{{paidDateRangeYear}}<span class="pull-right icon-arrow-right6"></span></a>
              <ul class="dropdown-menu" style="margin-top:0;">
                <li ng-repeat="paidDateRangeMonth in dateRangeMonths">
                  <a class="dropdown-dateRange" data-toggle="dropdown" ng-click="selectFilterView('Paid Date Range', paidDateRangeYear, paidDateRangeMonth)">{{paidDateRangeMonth}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown-submenu dateRangeDropdown dropdown-submenu-mobile">
          <a>All Invoices By Month<span class="pull-right icon-arrow-right6"></span></a>
          <ul class="dropdown-menu" style="margin-top:0;">
            <li class="dropdown-submenu dropdown-submenu-mobile-months" is-open="dateRangeYearIsOpen" ng-repeat="dateRangeYear in dateRangeYears">
              <a ng-click="dateRangeYearIsOpen = !dateRangeYearIsOpen" data-toggle="dropdown">{{dateRangeYear}}<span class="pull-right icon-arrow-right6"></span></a>
              <ul class="dropdown-menu" style="margin-top:0;">
                <li ng-repeat="dateRangeMonth in dateRangeMonths">
                  <a class="dropdown-dateRange" data-toggle="dropdown" ng-click="selectFilterView('Date Range', dateRangeYear, dateRangeMonth)">{{dateRangeMonth}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Mobile Pay and Update buttons -->
    <button
      type="button"
      ng-if="selectedFilterView.name !== 'Invoices Pending Payment' && hasPayableInvoices && !isInternalUser && userCanPayInvoice"
      ng-disabled="getSelectedInvoices() <= 0 || errorMessage.length || validating"
      ng-click="payInvoices()"
      class="btn-lg btn btn-primary pull-right-sm pull-right-xs hidden-md hidden-lg hidden-print"
      analytics-on
      analytics-category="Invoices"
      analytics-event="Pay Invoice">
      Pay Now
    </button>
    <button
      type="button"
      ng-if="selectedFilterView.name === 'Invoices Pending Payment' && hasPayableInvoices && !isInternalUser && userCanPayInvoice"
      ng-disabled="getSelectedInvoices() <= 0 || errorMessage.length || validating"
      ng-click="payInvoices()"
      class="btn-lg btn btn-primary pull-right hidden-md hidden-lg hidden-print">
      Update Payment(s)
    </button>
   <span ng-if="!isMobile">Find: </span>

    <div ng-if="!isMobile" class="btn-group hidden-print hidden-sm">
      <div class="btn-group" style="max-width:700px;">
        <form name="invoiceFilterForm" class="form-inline">
          <div class="input-group input-group-lg">
            <div dropdown is-open="openScope" class="input-group-btn">
              <button
                type="button"
                class="btn btn-lg btn-default dropdown-toggle pull-left">
                {{selectedInvoiceFilter.name}}
                <span class="caret margin-left-5" ></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="invoiceFilter in invoiceFilters">
                  <a ng-click="selectInvoiceFilter(invoiceFilter)">{{invoiceFilter.name}}</a>
                </li>
              </ul>
              <input
                type="text"
                id="invoiceFilterInput"
                ng-model="invoiceFilter.input"
                class="form-control input-lg"
                placeholder="Find {{selectedInvoiceFilter.name}}"
                style="width:300px;">
            </div>
            <span class="input-group-btn">
              <button
                type="submit"
                class="btn-default btn"
                ng-disabled="!invoiceFilter.input"
                ng-click="filterInvoices(selectedInvoiceFilter.field, invoiceFilter.input)">
                <span class="icon-search large-icon hand"></span>
              </button>
              <button
                type="button"
                class="btn-default btn"
                ng-disabled="!invoiceFilter.input"
                ng-click="clearFilters(invoiceFilter.input);">
                <span class="icon-cross large-icon hand text-red"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="hidden-print pull-right margin-right-10">
    <button
      type="button"
      ng-if="selectedFilterView.name !== 'Invoices Pending Payment' && hasPayableInvoices && !isInternalUser && userCanPayInvoice"
      ng-disabled="getSelectedInvoices() <= 0 || errorMessage.length || validating"
      ng-click="payInvoices()"
      class="btn-lg btn btn-primary pull-right-sm "
      analytics-on
      analytics-category="Invoices"
      analytics-event="Pay Invoice">
      Pay Now
    </button>
    <button
      type="button"
      ng-if="selectedFilterView.name === 'Invoices Pending Payment' && hasPayableInvoices && !isInternalUser && userCanPayInvoice"
      ng-disabled="getSelectedInvoices() <= 0 || errorMessage.length || validating"
      ng-click="payInvoices()"
      class="btn-lg btn btn-primary pull-right-sm">
      Update Payment(s)
    </button>
    <a class="btn btn-icon btn-default hidden-xs hidden-sm" ng-click="print();" title="Print"><span class="icon-printer"></span></a>
    <a class="btn btn-icon btn-default hidden-xs hidden-sm" ng-click="openExportModal()" title="Export"><span class="icon-export"></span></a>
  </div>
</div>

<form name="invoiceForm"
      class="style-validation-errors"
      novalidate>
  <div class="row">
    <div ng-if="(!isInternalAccountAdminUser || isDemo) || userCanPayInvoice">
      <div class="no-open-invoices hidden-print" style="margin-left:15px;" ng-if="!hasPayableInvoices && !loadingResults">
        <p>You have no payable invoices at this time.</p>
        <p>Contact your DSR to pay invoices online.</p>
      </div>
      <div style="width:100%;" class="inline-block-display hidden-print">
        <div class="pull-left billing-info" ng-if="hasPayableInvoices"></div>
      </div>
    </div>
    <div class="col-sm-10 hidden-print" >
      <span class="pull-left"></span>
      <div class="text-red invoice-error">{{errorMessage}}</div>
    </div>

    <div class="invoiceoptions">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div ng-if="selectedFilterViewName != 'Open Invoices'" >
            <a class="hidden-print text-large btn-link max-width-100px" ng-click="selectFilterView(filterViews[0]);"><span class="icon-arrow-left6"></span> Back</a>
          </div>
          <div class="hidden-print" ng-if="isMobile">
            <p>Find: </p>
            <div class="btn-group" style="max-width:500px;">
              <form name="invoiceFilterForm">
                <div class="input-group input-group-lg">
                  <div dropdown is-open="openScope" class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedInvoiceFilter.name}}<span class="caret margin-left-5" ></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-repeat="invoiceFilter in invoiceFilters"><a ng-click="selectInvoiceFilter(invoiceFilter)">{{invoiceFilter.name}}</a></li>
                    </ul>
                  </div>

                  <input type="text" id="invoiceFilterInput" ng-model="invoiceFilter.input" class="form-control" placeholder="Find {{selectedInvoiceFilter.name}}">
                  <span class="input-group-btn">
                    <button class="btn-default btn" type="submit" ng-disabled="!invoiceFilter.input" ng-click="filterInvoices(selectedInvoiceFilter.field, invoiceFilter.input)"><span class="icon-search large-icon hand"></span></button>
                    <button class="btn-default btn" type="button" ng-disabled="!invoiceFilter.input" ng-click="clearFilters(invoiceFilter.input);"><span class="icon-cross large-icon hand text-red"></span></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div>
            <span ng-if="totalInvoices > 0" class="pull-left credit-memo-toggle hidden-print">
              <input type="checkbox" id="invoiceHasCreditMemos" ng-click="filterInvoices('hascreditmemos', toggleCreditMemos)" ng-model="toggleCreditMemos" ng-disabled="hasCreditMemosDisabled"> Invoices with Credit Memos
            </span>
            <span ng-if="totalInvoices > 0 && !isInternalUser && userCanPayInvoice" class="pull-left selectallinvoices credit-memo-toggle hidden-print">
              <input type="checkbox" class="invoiceSelectAll" ng-model="invoices.allSelected" ng-click="selectAll('selectAllInvoices')"> Select All Invoices
            </span>
            <div>
              <span ng-if="totalInvoices > 0 && !isInternalUser && userCanPayInvoice" class="total-amt total-line text-green currency-value pull-right-lg pull-right-md pull-right-sm pull-right-xs pull-left-xxs">Total: {{totalPaymentAmount() | currency}}</span>
            </div>
          </div>
          <div ng-if="totalInvoices > 0" class="pull-right">
            <span class="btn-group pull-right-lg pull-right-md pull-right-sm pull-left-xs xs-right-5" ng-if="totalInvoices > 0 && !isInternalUser">
              <button class="btn btn-default hidden-print" ng-click="expandcollapseAll(collapsed = !collapsed)">Expand/Collapse All</button>
            </span>
            <div class="input-group hidden-print">
              <div class="input-group-btn">
                <div class="pull-right-sm pull-right-lg pull-right-md pull-left-xs btn-group dropdown" ng-class="{'sm-right-5' : !isInternalUser}">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedSortParameter}}<span class="caret margin-left-5"></span></button>
                    <ul class="dropdown-menu pull-right-sm pull-right-lg pull-right-md pull-left-xs">
                      <li ng-repeat="sortParameter in sortParameters" >
                        <a ng-click="selectSortParameter(sortParameter.name, sortParameter.value)">{{sortParameter.name}}</a>
                      </li>
                    </ul>
                  <button class="btn btn-default" type="button" ng-click="sortInvoices(sortDirection, sortParametervalue)">{{sortDirection}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Displayed Accordion -->
      <div class="row topPadded hidden-print">
        <div class="col-sm-12">
          <accordion close-others="false">
            <accordion-group ng-if="customer.invoices.results.length" class="panel-title" ng-show="true" ng-init="customer.isOpen = (invoices.length == 1)" is-open="customer.isOpen" ng-repeat="customer in invoices | orderBy:'customerName'">
              <accordion-heading>
                <div class="white-space: normal;">
                  <span style="padding-left:10px;"> {{customer.customerNumber}} - {{customer.customerName}} ({{customer.invoices.totalinvoices}})</span>
                  
                  <span class="hidden-sm hidden-xs" style="margin-left:20px;"> {{customer.address.street}} {{customer.address.city}}<span ng-if="customer.address.regioncode">,</span> {{customer.address.regioncode}} {{customer.address.postalcode}}</span>
                  <i class="pull-right" ng-class="{'icon-arrow-up6': customer.isOpen, 'icon-arrow-down7': !customer.isOpen}"></i>
                  <span class="pull-right col-lg-3 col-md-4 col-sm-6 col-xs-12"><span ng-if="userCanPayInvoice && !isInternalAccountAdminUser && customer.haspayableinvoices">Balance: {{customer.totaldue | currency}}<span style="padding-right: 10px; padding-left: 10px;">  |  </span>Total: {{customer.total | currency}}</span>
                  </span>
                </div>
              </accordion-heading>
              <div class="col-sm-12 background-white" ng-show="!isInternalAccountAdminUser && customer.haspayableinvoices && selectedFilterView.name !== 'Paid Invoices' && userCanPayInvoice">
                <button class="btn btn-default btn-sm" style="margin:10px -5px;" ng-click="customer.selected = !customer.selected; selectAll(selectCustomerInvoices, customer, $event);">Select All Invoices For Customer</button>
              </div>
              <div ng-repeat="invoice in customer.invoices.results" class="panel panel-body panel-default">
                <div>
                  <div>
                    <label>
                      <input type="checkbox" class="margin-top-10 margin-left-10" no-dirty-check ng-if="invoice.userCanPayInvoice && !isInternalAccountAdminUser && userCanPayInvoice" ng-model="invoice.isSelected" ng-hide="selectedFilterViewName != 'Invoices Pending Payment' && invoice.statusdescription == 'Payment Pending'" ng-change="selectInvoice(invoice, invoice.isSelected)">
                    </label>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display margin-bottom-10">
                    <span></span><a ng-click="linkToReferenceNumber(invoice.customernumber, invoice.branchid, invoice.invoicenumber)"><strong><span style="text-decoration:none" class="text-black" ></span>{{::invoice.invoicenumber}}</a></strong>
                    <h5>{{::invoice.typedescription}}</h5>
                    <h5 ng-if="invoice.pendingtransaction.confirmationid">Confirmation ID: {{::invoice.pendingtransaction.confirmationid}}</h5>
                    <h5><span ng-if="invoice.statusdescription != 'Payment Pending'">Status: <span ng-class="{'highlight-text-late': (invoice.statusdescription == 'Past Due'), 'highlight-text-paid': (invoice.statusdescription == 'Paid') }" >{{::invoice.statusdescription}}</span></span><span ng-if="invoice.statusdescription == 'Payment Pending'">Current Status: <span class="highlight-text-late">Processing Payment</span></span></h5>
                    <h5 ng-if="invoice.pendingtransaction.submittedby">Submitted By: {{::invoice.pendingtransaction.submittedby}}</h5>
                    <h5 ng-if="invoice.pendingtransaction.submittedon">Submitted On: {{::invoice.pendingtransaction.submittedon | formatDateWithTimezone}}</h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display margin-bottom-10">
                    <h5 >PO Number: {{::invoice.ponumber}}</h5>
                    <h5 >Invoice Date: {{::invoice.invoicedate |formatDate}}</h5>
                    <h5 >Due Date: {{::invoice.duedate | formatDate}}</h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display margin-bottom-10">
                    <h5 >Invoice Amount: {{::invoice.invoiceamount | currency}}</h5>
                    <h5>Amount Due: {{::invoice.amount | currency}}<span><a class="icon-plus3 large-icon margin-left-5" ng-if="invoice.transactioncount > 2" tooltip="View transaction history for this invoice."  ng-click="openTransactionSummaryModal(invoice)"></a></span></h5>
                    <h5 class="hidden-print">Invoice Image: <span><a  ui-sref="invoiceimage({invoiceNumber: invoice.invoicenumber, customerid: invoice.customernumber, branchid: invoice.branchid})"  target="_blank" class="icon-camera large-icon" analytics-on analytics-category="Invoices" analytics-event="View Invoice Image"></a></span></h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display margin-bottom-10">
                    <span ng-if="userCanPayInvoice">
                      <span style="padding-right:10px;">Scheduled Date:</span>
                      <a
                        ng-class="{'no-display' : ((invoice.statusdescription === 'Past Due' && (invoice.amount > 0 || currDate > invoice.maxPaymentDate)))}"
                        ng-if="invoice.userCanPayInvoice && !invoice.showDatePicker && !isInternalAccountAdminUser"
                        ng-hide="(selectedFilterViewName != 'Invoices Pending Payment' && invoice.statusdescription == 'Payment Pending')"
                        ng-mouseenter="invoice.showDatePicker=true"
                        class="icon-calendar large-icon text-right margin-right-10">
                      </a>
                      <a
                        id="datePickerWithOptions"
                        ng-class="{'hidden-icon' : ((invoice.statusdescription === 'Past Due' && (invoice.amount > 0 || currDate > invoice.maxPaymentDate)))}"
                        ng-click="openDatepicker = true"
                        ng-if="invoice.userCanPayInvoice && invoice.showDatePicker && !isInternalAccountAdminUser"
                        ng-hide="(selectedFilterViewName != 'Invoices Pending Payment' && invoice.statusdescription == 'Payment Pending')"
                        class="icon-calendar large-icon text-right"
                        datepicker-popup="{{datepickerOptions.options.dateFormat}}"
                        ng-model="invoice.date"
                        is-open="openDatepicker"
                        ng-change="toggleSelect(invoice, 'date'); validateBatch()"
                        min-date="datepickerOptions.minDate"
                        max-date="invoice.maxPaymentDate"
                        datepicker-options="datepickerOptions.options"
                        date-disabled="disabled(date, mode)"
                        close-text="Close">
                      </a>
                      <span>
                      <span class="date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription !== 'Past Due' && invoice.statusdescription !== 'Payment Pending' && invoice.date">{{invoice.date | formatDate}}</span>
                      <span class="date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription === 'Past Due'">{{invoice.date || tomorrow | formatDate}}</span>
                      <span class="date-picker-field" ng-if="invoice.statusdescription === 'Payment Pending'">{{invoice.date || invoice.pendingtransaction.date | formatDate}}</span>
                      </span>
                    </span>
                    <span ng-if="userCanPayInvoice">
                    <h5>Payment Amount: <span ng-if="invoice.pendingtransaction && !invoice.pendingtransaction.editable">{{invoice.pendingtransaction.amount}}</span>
                      <input
                      remove-positive-numbers
                      ng-disabled="isInternalAccountAdminUser || (selectedFilterViewName != 'Invoices Pending Payment' && invoice.statusdescription == 'Payment Pending')"
                      name="paymentAmount"
                      id="paymentAmount"
                      status = '{{invoice.statusdescription}}'
                      invoice-amount = "invoice.amount"
                      ng-if="invoice.userCanPayInvoice"
                      class="text-right tabstop"
                      type="text"
                      style="width:75px;"
                      ng-model="invoice.paymentAmount"
                      fcsa-number="{
                        'maxDecimals': 2,
                        'addMissingDecimals': true,
                        'preventInvalidInput': true,
                        'prepend': '$',
                        'min': {{invoice.amount > 0 ? 0.01 : invoice.amount}}
                      }"
                      ng-required="invoice.isSelected"
                      ng-change="toggleSelect(invoice, 'amount')"
                      ng-init="invoice.paymentAmount = (invoice.pendingtransaction.amount)"
                      />
                    </h5>
                    </span>
                    <h5 ng-if="userCanPayInvoice">Bank Account: <span>
                      <div class="btn-group accounts-btn" dropdown is-open="status.isopen" ng-if="invoice.banks.length >= 1 && invoice.statusdescription !== 'Paid'">
                        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="invoice.banks.length <= 1 || isInternalAccountAdminUser">
                          <div class = "account-info span3">
                            {{invoice.account}}
                          </div>
                        <span class="icon-arrow-down6 account-info"></span>
                        </button>
                        <div class="dropdown-menu">
                          <h5 ng-click="selectAccount(invoice, account)" ng-repeat="account in invoice.banks">
                            {{account.name}}<br>
                            {{account.accountNumber}}
                          </h5>
                        </div>
                      </div></span>
                    </h5>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>

      <!-- Print Accordion Only -->
      <div class="row topPadded visible-print">
        <div class="col-sm-12">
          <accordion close-others="false">
            <accordion-group class="panel-title" ng-show="(customer.isOpen || customer.selected) && customer.invoices.results.length" is-open="true" ng-repeat="customer in invoices | orderBy:'customerName'">
              <accordion-heading>
                <div class="white-space: normal;">
                  <span style="padding-left:10px;"> {{customer.customerNumber}} - {{customer.customerName}} ({{customer.invoices.totalResults}})</span>
                  <span class="hidden-sm hidden-xs" style="margin-left:20px;"> {{customer.address.street}} {{customer.address.city}}<span ng-if="customer.address.regioncode">,</span> {{customer.address.regioncode}} {{customer.address.postalcode}}</span>
                </div>
              </accordion-heading>
              <div ng-repeat="invoice in customer.invoices.results" class="panel panel-body panel-default">
                <div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display">
                    <span></span><a ng-click="linkToReferenceNumber(invoice.customernumber, invoice.branchid, invoice.invoicenumber)"><strong><span style="text-decoration:none" class="text-black" ></span>{{::invoice.invoicenumber}}</a></strong>
                    <h5>{{::invoice.typedescription}}</h5>
                    <h5 ng-if="invoice.pendingtransaction.confirmationid">{{::invoice.pendingtransaction.confirmationid}}</h5>
                    <h5>Status: <span ng-class="{'highlight-text-late': (invoice.statusdescription == 'Past Due'), 'highlight-text-paid': (invoice.statusdescription == 'Paid') }" >{{::invoice.statusdescription}}</span></h5>
                    <h5 ng-if="invoice.pendingtransaction.submittedby">Submitted By: {{::invoice.pendingtransaction.submittedby}}</h5>
                    <h5 ng-if="invoice.pendingtransaction.submittedon">Submitted On: {{::invoice.pendingtransaction.submittedon | formatDate}}</h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display">
                    <h5 >PO Number: {{::invoice.ponumber}}</h5>
                    <h5 >Invoice Date: {{::invoice.invoicedate |formatDate}}</h5>
                    <h5 >Due Date: {{::invoice.duedate | formatDate}}</h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display">
                    <h5 >Invoice Amount: {{::invoice.invoiceamount | currency}}</h5>
                    <h5>Amount Due: {{::invoice.amount | currency}}</h5>
                  </div>
                  <div class="col-md-3 col-xs-6 row-fluid inline-block-display">
                    <span style="padding-right:10px;">Scheduled Date:</span>
                    <span style="margin-left:-10px;">
                    <span class="date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription !== 'Past Due' && invoice.statusdescription !== 'Payment Pending' && invoice.date">{{invoice.date | formatDate}}</span>
                    <span class="date-picker-field" ng-if="invoice.userCanPayInvoice && invoice.statusdescription === 'Past Due'">{{invoice.date || tomorrow | formatDate}}</span>
                    <span class="date-picker-field" ng-if="invoice.statusdescription === 'Payment Pending'">{{invoice.date || invoice.pendingtransaction.date | formatDate}}</span>
                    </span>
                    <h5>Payment Amount: <span ng-if="invoice.pendingtransaction && !invoice.pendingtransaction.editable">{{invoice.pendingtransaction.amount}}</span>
                    <span>
                      <input
                      name="paymentAmount"
                      id="paymentAmount"
                      status = '{{invoice.statusdescription}}'
                      invoice-amount = "invoice.amount"
                      ng-if="invoice.userCanPayInvoice"
                      class="text-right tabstop"
                      type="text"
                      style="width:75px;"
                      ng-model="invoice.paymentAmount"
                      ng-required="invoice.isSelected"
                      ng-init="invoice.paymentAmount = (invoice.pendingtransaction.amount)"
                      /></span>
                    </h5>
                    <h5>Bank Account: <span>
                      <div class="btn-group accounts-btn" ng-if="invoice.banks.length >= 1 && invoice.statusdescription !== 'Paid'">
                        <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="invoice.banks.length <= 1 || isInternalAccountAdminUser">
                          <div class = "account-info span3">
                            {{invoice.account}}
                          </div>
                        <span class="icon-arrow-down6 account-info"></span>
                        </button>
                        <div class="dropdown-menu">
                          <h5 ng-repeat="account in invoice.banks">
                            {{account.name}}<br>
                            {{account.accountNumber}}
                          </h5>
                        </div>
                      </div></span>
                    </h5>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="!totalInvoices > 0 && !loadingResults" class="col-sm-7 no-results">
    <p>There are no invoices to display. Please try selecting another option in the dropdown.</p>
  </div>

  <div class="clearfix"></div>
</form>
