<div page-header-bar>
  <div header-message>
    Item Details
  </div>
  <div header-buttons>
      <button class="btn btn-icon btn-default" ng-click="print()"><span class="icon-printer"></span></button>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 col-md-8">
    <div ng-show="item.productimages.length > 0" class="item-details__main-image">
      <img ng-src="{{item.productimages[0].url}}" alt=""/>
    </div>
    <div class="item-details__main-info visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
      <h2>
        <span favorite-item-click-handlers favorite-icons></span>
        {{item.name}}
        <span class="item-details__icons" item-icons="item"></span>
      </h2>
      <div>
        <div ng-if="item.description">
          <strong>Description:</strong> {{item.description}}
        </div>
        <div>
          <span><strong>Item #</strong> {{item.itemnumber}} | </span>
          <span ng-if="item.caseprice !== '$0.00' && item.caseprice"><strong>Case:</strong> {{item.caseprice}} |</span>
          <span ng-if="item.packageprice !== '$0.00' && item.packageprice"><strong>Package:</strong> {{item.packageprice}} |</span>
          <span ng-if="item.pack !== null"><strong>Pack/Size:</strong> {{item.pack|number}}/{{item.size}}</span>
        </div>
        <div>
          <span ng-if="item.brand !== null"><strong>Brand:</strong> {{item.brand}}</span>
          <span ng-if="item.upc !== null && item.upc !== ''"><strong>| UPC Vendor:</strong> {{item.upc}}</span>
        </div>
      </div>
      <div ng-if="canOrderProduct(item)" class="item-details__actions hidden-print">
        <a class="btn-primary btn" ng-mouseenter="displayedItems.isContextMenuDisplayed = true" ng-mouseleave="displayedItems.isContextMenuDisplayed = false">Add To... <span class="icon-arrow-down6"></span><div context-menu></div></a>
        <div class="btn-group" dropdown is-open="isopen">
          <input required style="width: 55px;" type="text" ng-model="item.quantity" class="dropdown-toggle form-control text-right" integer>
          <ul class="dropdown-menu quantity-dropdown" role="menu">
            <li ng-repeat="qty in [1,2,3,4,5,6,7,8,9,10]" ng-click="item.quantity = qty">{{qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 item-details__notes">
    <textarea placeholder="Add a note..." name="notes" id="notes" rows="3" class="form-control" ng-model="item.notes"></textarea>
    <form class="sub-content">
      <button class="btn btn-primary" type="submit" ng-click="saveNote(item.itemnumber, item.notes)">Save</button>
      <a ng-click="cancelChanges()">Cancel</a>
      <button class="pull-right btn btn-default" ng-click="deleteNote(item.itemnumber)"><span class="icon-trash text-light large-icon"></span></button>
    </form>
  </div>
</div>

<div class="row sub-content">
  <div class="col-lg-12">
    <tabset class="tabset">
      <tab heading="Item Specifications">
        <h3 class="visible-print-block hidden-xs hidden-sm hidden-md hidden-lg">Item Specifications</h3>
        <div class="table-responsive">
          <table class="item-details__table table table-striped">
            <colgroup>
              <col style="width: 25%">
              <col style="width: 75%">
            </colgroup>
            <tbody>
              <tr class="even">
                <th>Specification</th>
                <th>Details</th>
              </tr>
              <tr class="odd">
                <td>Item #</td>
                <td>{{item.itemnumber}}</td>
              </tr>
              <tr class="even">
                <td>GTIN</td>
                <td>{{item.upc}}</td>
              </tr>
              <tr class="odd">
                <td>Servings / Case</td>
                <td>{{item.gs1.servingsperpack}}</td>
              </tr>
              <tr class="even">
                <td>Portion Cost</td>
                <td>{{item.packageprice}}</td>
              </tr>
              <tr class="odd">
                <td>Portion Size</td>
                <td>{{item.gs1.servingsize}} {{item.gs1.servingsizeuom}}</td>
              </tr>
              <!-- Always null
              <tr>
                <td>Portion Size</td>
                <td>{{item.gs1.servingsuggestion}}</td>
              </tr> -->
              <tr class="even">
                <td>Previous Orders</td>
                <td></td>
              </tr>
              <tr class="odd">
                <td>Manufacturer</td>
                <td>{{item.manufacturer_name}}</td>
              </tr>
              <tr class="even">
                <td>Manufacturer Brand</td>
                <td>{{item.manufacturer_brand}}</td>
              </tr>
              <tr class="odd">
                <td>Vendor</td>
                <td>{{item.vendor_num}}</td>
              </tr>
              <tr class="even">
                <td>Vendor Item #</td>
                <td>{{item.manufacturer_number}}</td>
              </tr>
              <tr class="odd">
                <td>Category</td>
                <td>{{item.categoryname}}</td>
              </tr>
              <tr class="even">
                <td>Class</td>
                <td>{{item.iclass}}</td>
              </tr>
              <tr class="odd">
                <td>Storage Instructions</td>
                <td>{{item.gs1.storagetemp}}</td>
              </tr>
              <tr class="even">
                <td>Gross Wt</td>
                <td>{{item.gs1.grossweight}}</td>
              </tr>
              <tr class="odd">
                <td>Case Cube</td>
                <td>{{item.icube}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Dietary Specifications">
        <h3 class="visible-print-block hidden-xs hidden-sm hidden-md hidden-lg">Dietary Specifications</h3>
        <div class="table-responsive">
          <table class="item-details__table table table-striped">
            <colgroup>
              <col style="width: 15%">
              <col style="width: 85%">
            </colgroup>
            <tbody>
              <tr class="even">
                <th>Diet Types</th>
                <td ng-if="item.gs1.diet" class="text-capitalize">
                  <span ng-repeat-start="diet in item.gs1.diet">{{diet.diettype}}</span>
                  <span ng-repeat-end ng-if="!$last">, </span>
                </td>
                <td ng-if="!item.gs1.diet.length > 0">Not Tested</td>
              </tr>
              <tr class="odd">
                <th>Contains</th>
                <td ng-if="item.gs1.allergens.contains.length > 0">{{item.gs1.allergens.contains.join(', ')}}</td>
                <td ng-if="!item.gs1.allergens.contains.length > 0">Not Tested</td>
              </tr>
              <tr class="even">
                <th>May Contain</th>
                <td ng-if="item.gs1.allergens.maycontain.length > 0">{{item.gs1.allergens.maycontain.join(', ')}}</td>
                <td ng-if="!item.gs1.allergens.maycontain.length > 0">Not Tested</td>
              </tr>
              <tr class="odd">
                <th>Free From</th>
                <td ng-if="item.gs1.allergens.freefrom.length > 0">{{item.gs1.allergens.freefrom.join(', ')}}</td>
                <td ng-if="!item.gs1.allergens.freefrom.length > 0">Not Tested</td>
              </tr>
              <tr class="even">
                <th>Ingredients</th>
                <td>{{item.gs1.ingredients}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Nutrition">
        <h3 class="visible-print-block hidden-xs hidden-sm hidden-md hidden-lg">Nutrition</h3>
        <div class="table-responsive">
          <table class="item-details__table table table-striped">
            <colgroup>
              <col style="width: 20%">
              <col style="width: 20%">
              <col style="width: 20%">
              <col style="width: 20%">
              <col style="width: 20%">
            </colgroup>
            <tbody>
              <tr class="even">
                <th>Nutrient Type</th>
                <th>Nutrient Type Code</th>
                <th>Daily Value</th>
                <th>Measurement Type ID</th>
                <th>Measurement Value</th>
              </tr>
              <tr ng-repeat="nutrition in item.gs1.nutrition" ng-class="{ odd : $even, even: $odd }">
                <td>{{nutrition.nutrienttype}}</td>
                <td>{{nutrition.nutrienttypecode}}</td>
                <td>{{nutrition.dailyvalue}}</td>
                <td>{{nutrition.measurementtypeid}}</td>
                <td>{{nutrition.measurementvalue}}</td>
              </tr>
              <tr class="odd" ng-if="!item.gs1.nutrition || item.gs1.nutrition.length === 0"><td colspan="5">Not Tested</td></tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Images" ng-show="item.productimages.length > 0">
        <div class="hidden-print item-details__images">
            <a ng-href="{{image.url}}" target="_blank" ng-repeat="image in item.productimages">
                <img ng-src="{{image.url}}" alt="" style="height:200px;" border="0"/>
            </a>
            <br />
        </div>
      </tab>
    </tabset>
  </div>
</div>