<div page-header-bar>
  <div header-message>
    <div ng-if="!selectedList.isRenaming">
      <div class="list-name">{{selectedList.name}}</div>

      <div style="display:inline-block;">
        <span ng-if="selectedList.issharing" class="large-icon icon-user-add" tooltip="You are sharing this list."></span>
        <span ng-if="selectedList.isshared" class="large-icon icon-users" tooltip="This list is shared with you."></span>
      </div>

      <div 
        style="display:inline-block;" 
        ng-show="selectedList" 
        ng-if="::selectedList.permissions.canDeleteList || selectedList.permissions.canRenameList">
        
        <a 
          ng-if="::selectedList.permissions.canRenameList" 
          ng-click="selectedList.isRenaming = true">
          <span class="hidden-print large-icon text-light icon-pencil"></span>
        </a>
        
        <a 
          ng-if="::selectedList.permissions.canDeleteList" 
          confirmed-click="deleteList(selectedList.listid)" 
          class="hidden-print" 
          ng-confirm-click="{{'This will delete the list ' + selectedList.name + ' and all items within. Are you sure you want to delete this list?'}}">
          <span class="large-icon text-light icon-trash"></span>
        </a>
      </div>

    </div>

    <form name="renameListForm" class="style-validation-errors inline-header-form nowrap" ng-show="selectedList.isRenaming">
      <input 
        no-duplicates="name" 
        collection="lists" 
        type="text" 
        focus-me="selectedList.isRenaming" 
        required 
        ng-model="selectedList.name" 
        name="listName" 
        id="listName" 
        class="input-lg form-control" />
      
      <button 
        ng-disabled="renameListForm.$invalid" 
        class="btn-no-style" 
        type="submit" 
        ng-click="renameList(selectedList.listid, selectedList.name); renameListForm.$setPristine();">
        <span class="large-icon text-green icon-checkmark"></span>
      </button>
      
      <a ng-click="cancelRenameList()"><span class="large-icon text-red icon-cross"></span></a>
      
      <span class="form-error-message" ng-show="renameListForm.listName.$error.required">List name is required</span>
      <span class="form-error-message" ng-show="renameListForm.listName.$error.noDuplicates">Duplicate list name</span>
    </form>

  </div>
  <div header-buttons>
    <button 
      ng-if="::selectedList.permissions.canEditList" 
      type="submit" 
      class="btn-lg btn btn-primary" 
      ng-disabled="listForm.$invalid || listForm.$pristine" 
      ng-click="saveList(selectedList)">
      Save
    </button>
    <button 
      ng-if="::selectedList.permissions.canEditList" 
      class="btn-lg btn btn-default" 
      type="button"
      ng-click="undoChanges()" 
      ng-disabled="listForm.$pristine">
      Cancel
    </button>
  
    <div class="btn-group" dropdown is-open="status.listactions">
      <a class="btn btn-lg btn-default dropdown-toggle">
        List Actions <span class="icon-arrow-down6"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a ng-click="openPrintOptionsModal(selectedList)">Print</a></li>
        <li><a ng-click="openExportModal()">Export</a></li>
        <li><a ng-click="openListImportModal()">Import</a></li>
        <li><a ng-if="::selectedList.permissions.canShareList || selectedList.permissions.canCopyList" ng-click="openReplicateListModal(selectedList)">Give list</a></li>
        <li><a ng-click="copyList(selectedList)">Duplicate list</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- Mobile subheader bar -->
<div class="visible-xs visible-sm hidden-print row page-subheader-bar">

  <button 
    ng-if="::selectedList.permissions.canEditList" 
    type="submit" 
    class="btn-no-style page-subheader-bar__button button-left" 
    ng-disabled="listForm.$invalid || listForm.$pristine" 
    ng-click="saveList(selectedList)">
    Save
  </button>

  <button 
    ng-if="::selectedList.permissions.canEditList" 
    class="btn-no-style page-subheader-bar__button button-left" 
    ng-click="undoChanges()" 
    type="button"
    ng-disabled="listForm.$pristine">
    Cancel
  </button>

<!--   <button     
  class="btn-no-style page-subheader-bar__button button-left" 
  type="button"
  ng-click="loadEntireList()" 
  ng-if="(selectedList.items|filter:{isdeleted:'false'}).length < selectedList.itemCount">
  Load All
  </button>  -->   
   
<!-- 
  <div ng-click="displayedListNames = !displayedListNames" class="page-subheader-bar__button button-right">
    Lists <span ng-show="filterCount>0">({{filterCount}})</span><span class="icon-arrow-down5"></span>
  </div> -->

  <div class="btn-group pull-right" dropdown is-open="status.listsisopen">
    <a type="button" class="dropdown-toggle btn-no-style page-subheader-bar__button button-right text-regular">Lists <span class="icon-arrow-down5"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="list in lists | sortLists track by list.listid" ng-show="list.listid !== selectedList.listid">
        <a ng-click="goToList(list, selectedCart)">
          {{list.name}}
        </a>
      </li>
      <li><a ng-click="createList()">Create a List...</a></li>

      <li ng-if="isInternalAccountAdminUser && !hideMandatoryListCreateButton"><a ng-click="createMandatoryList()">Create Mandatory List...</a></li>
      <li ng-if="isInternalAccountAdminUser && !hideRecommendedListCreateButton"><a ng-click="createRecommendedList()">Create Recommended List...</a></li>

    </ul>
  </div>

</div>

<div class="custom-lists hidden-md hidden-lg" ng-show="displayedListNames">
  <div class="btn-group-vertical list-names text-blue">
    <button 
      type="button" 
      ng-repeat="list in lists | sortLists track by list.listid" 
      ng-click="goToList(list)" 
      ng-class="{'current-list' : list.listid == selectedList.listid}" 
      class="custom-lists__name btn btn-default btn-list">
      {{list.name}}
    </button>
    <button 
      type="button" 
      ng-click="createList()" 
      class="btn btn-default btn-list">
      Create a List...
    </button>
  </div>
</div> <!-- end Mobile subheader bar -->

<div class="page-content">
  <div class="row">
    <!-- Available Lists -->
    <div class="col-sm-2 hidden-xs hidden-sm hidden-print lists">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom-lists" sticky confine="true">
            <h3>Your Lists</h3>

            <div class="btn-group-vertical list-names text-blue">
              <button 
                type="button" 
                ng-repeat="list in lists | sortLists | limitTo: showMoreListNames ? numberListNamesToShow : lists.length track by list.listid" 
                ng-click="goToList(list)" 
                ng-class="{'current-list' : list.listid == selectedList.listid}" 
                class="btn-lg custom-lists__name btn btn-default btn-list" 
                data-drop="isDragging && list.permissions.canAddItems" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'addItemFromDrag(list)'}">
                {{list.name}}
              </button>
            </div>
            <h5>
              <a 
                ng-show="lists.length > numberListNamesToShow" 
                ng-click="showMoreListNames = !showMoreListNames">
                {{showMoreListNames ? '+ Show More' : '- Show Less'}}
              </a>
            </h5>
            
            <div class="btn-group-vertical">
            <button 
              type="button" 
              ng-click="createList()" 
              data-drop="isDragging" 
              data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
              jqyoui-droppable="{onDrop: 'createListFromDrag()'}" 
              class="btn btn-default btn-list text-light btn-lg">
              Create A List...
            </button>

            <button
              type="button" 
              ng-click="createMandatoryList()" 
              data-drop="isDragging" 
              data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
              jqyoui-droppable="{onDrop: 'createMandatoryListFromDrag()'}" 
              class="btn btn-default btn-list text-left text-light btn-lg"
              ng-if="::isInternalAccountAdminUser && !hideMandatoryListCreateButton"
              title="Create Mandatory Items List for Customer">
              Create <br>Mandatory...
            </button>

            <button
              type="button" 
              ng-click="createRecommendedList()" 
              data-drop="isDragging" 
              data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
              jqyoui-droppable="{onDrop: 'createRecommendedListFromDrag()'}" 
              class="btn btn-default btn-list text-left text-light btn-lg"
              ng-if="isInternalAccountAdminUser && !hideRecommendedListCreateButton"
              title="Create Recommended Items List for Customer">
              Create <br>Recommended...
            </button>
            </div>
            
            <button 
              ng-if="::selectedList.permissions.canDeleteItems" 
              type="button" 
              class="btn btn-icon btn-default large-icon btn-trash" 
              ng-disabled="!isDragging" 
              data-drop="isDragging" 
              data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
              jqyoui-droppable="{onDrop: 'deleteItemFromDrag(selectedList)'}">
              <span class="icon-trash"></span>
            </button>

            <p style="margin-top: 10px; font-size: 14px;">
              <a ng-if="selectedList.permissions.canReorderItems" ui-sref="menu.organizelist({listId: selectedList.listid})">Organize this list <span class="icon-arrow-right6"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Items in List -->
    <div class="padding-top-sm padding-top-xs items col-md-10 col-xs-12">
      
      <div class="hidden-print">
        <p class="text-red" ng-show="listForm.$invalid && listForm.$dirty" >List has some errors. Please fix these before saving.</p>
      </div>
      
      <form name="listSearchForm" class="hidden-print" ng-hide="(selectedList.items | filter:{isSelected:'true'}).length > 0">
        <div class="input-group input-group-lg">
          <input 
            ng-model="listSearchTerm"
            type="text" 
            class="form-control" 
            placeholder="Search current list by keyword, item # or label" />
          <span class="input-group-btn">
            <button type="submit" ng-click="filterItems(listSearchTerm)" class="btn btn-default"><span class="icon-search"></span></button>
            <button type="button"  ng-click="clearFilter()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>

          </span>
        </div>
      </form>

      <!-- Multi-select menu -->
      <div class="hidden-print row" ng-show="(selectedList.items | filter:{isSelected:'true'}).length > 0">
        <div class="col-xs-12 col-sm-6">
          <div class="btn-group custom-lists__multi-actions">
            <!-- Add to List -->
            <div class="btn-group" dropdown is-open="multiSelect.showLists">
              <button type="button" class="multi-action-btn btn btn-default btn-lg dropdown-toggle">
                <span class="icon-folder large-icon text-light"></span>
                <span class="icon-arrow-down6 text-light"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li 
                  ng-click="addItemsToList(list)" 
                  ng-repeat="list in lists | sortLists track by list.listid" 
                  ng-if="::list.permissions.canAddItems && selectedList.listid !== list.listid && !list.permissions.specialDisplay">
                  <a href="">{{list.name}}</a>
                </li>
                <li ng-click="createListFromMultiSelect()"><a>Create New List...</a></li>
              </ul>
            </div>
            <!-- Edit Labels -->
            <div class="btn-group" dropdown is-open="multiSelect.showLabels" ng-if="::selectedList.permissions.canEditLabels">
              <button type="button" class="multi-action-btn btn btn-default btn-lg dropdown-toggle">
                <span class="icon-tag large-icon text-light"></span>
                <span class="icon-arrow-down6 text-light"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="label in labels track by label" ng-click="addLabels(label)"><a>{{label}}</a></li>
                <li ng-click="multiSelect.addingNewLabel=true; multiSelect.showLabels=false;"><a>Add New Label...</a></li>
              </ul>
            </div>
            <!-- Delete items -->
            <button 
              type="button" 
              class="multi-action-btn btn btn-default btn-lg" 
              ng-click="deleteMultipleItems(selectedList)" 
              ng-if="::selectedList.permissions.canDeleteItems">
              <span class="icon-trash large-icon text-light"></span>
            </button>
          </div>
        </div>
        <div class="col-xs-8 col-sm-4" ng-show="multiSelect.addingNewLabel">
          <input 
            type="text" 
            class="input-lg form-control" 
            ng-model="newLabel" 
            focus-me="multiSelect.addingNewLabel" 
            placeholder="Add New Label..." />
        </div>
        <div class="col-xs-4 col-sm-2" ng-show="multiSelect.addingNewLabel">
          <button 
            type="button" 
            class="btn-lg btn btn-primary" 
            ng-disabled="!newLabel" 
            ng-click="applyNewLabel(newLabel)">
            Apply
          </button>
        </div>
      </div><!-- end Multi-select menu -->
<!-- 
 <button class="btn-lg btn btn-primary hidden-print pull-right hidden-sm hidden-xs" style="margin-top:5px;"  ng-click="loadEntireList()" ng-disabled="(selectedList.items|filter:{isdeleted:'false'}).length === selectedList.itemCount">Load All</button> -->
  <div class="row sub-content">
    <div class="col-xs-5 " >         
      <span>{{(selectedList.items|filter:{isSelected:'true', isdeleted:'false'}).length}} Items Selected</span>
    </div>
    <div class="col-xs-7 col-md-5 col-lg-5 text-right" style="float:right; " >      
     Showing {{(selectedList.items|filter:{isdeleted:'false'}).length}} of {{selectedList.itemCount}} Items
    </div>
  </div>

     <form 
      unsaved-warning-form 
      novalidate 
      name="listForm" 
      class="style-validation-errors list-form" 
      autocomplete="off" 
      context-menu 
      favorite-item-click-handlers>
      
        <table 
          navigate-table="lists" 
          class="custom-lists__table table table-border table-striped-rows" 
          infinite-scroll="infiniteScrollLoadMore()" 
          
          ui-sortable="{ 
            handle: '.bek-sortable-handle', 
            stop: stopReorder, 
            tolerance: 'pointer', 
            containment: 'document' }" 
          ng-model="selectedList.items">

          <thead>
            <tr fsm-sticky-header scroll-body="'.custom-lists__table'" scroll-stop="0" scroll-offset="163">
              <th class="nowrap input-col">
                <input class="hidden-print" type="checkbox" ng-model="selectedList.allSelected" ng-change="changeAllSelectedItems()" no-dirty-check>
                <span class="sort-col-header" ng-click="sortList('position',sort.sortDescending)"> 
                  #
                  <span sort-icons field="'position'" sortorder="sort.sortDescending" sortby="sort.field"></span>
                </span>
              </th>
              <th class="sort-col-header" ng-click="sortList('itemnumber',sort.sortDescending)">
                <span>Item <span sort-icons field="'itemnumber'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="sort-col-header" ng-click="sortList('name',sort.sortDescending)">
                <span>Name <span sort-icons field="'name'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortList('brandextendeddescription',sort.sortDescending)">
                <span>Brand <span sort-icons field="'brandextendeddescription'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortList('itemclass',sort.sortDescending)">
                <span>Category <span sort-icons field="'class'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print">
                Pack/Size
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortList('notes',sort.sortDescending)">
                <span>Notes <span sort-icons field="'notes'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-xs hidden-sm"></th>
              <th class="hidden-mobile-visible-print"></th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-if="::selectedList.permissions.alternativeFieldHeader" ng-click="sortList(selectedList.permissions.alternativeFieldName,sort.sortDescending)">
                <span>{{::selectedList.permissions.alternativeFieldHeader}}
                <span sort-icons field="selectedList.permissions.alternativeFieldName" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-if="::selectedList.permissions.canSeeLabels" ng-click="sortList('label',sort.sortDescending)">
                <span>Label <span sort-icons field="'label'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-if="::selectedList.permissions.canSeeParlevel" ng-click="sortList('parlevel',sort.sortDescending)">
                <span>{{::selectedList.permissions.alternativeParHeader || 'PAR'}}<span sort-icons field="'parlevel'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
              </th>
              
              <th class="hidden-print"></th>
            </tr> 
          </thead>

          <tbody ng-class="{ 'item-selected': item.isSelected }" 
              ng-repeat="item in selectedList.items | filter:{listitemid: '!!', isdeleted:false} track by item.listitemid" 
              data-product="{{item}}" 
              data-drag="isDragEnabled()" 
              data-jqyoui-options="{
                helper:generateDragHelper, 
                cursorAt: { top: -5, left: -5 }, 
                cancel: '.bek-no-drag', 
                handle: '.bek-drag-handle',
                delay: 200}" 
              jqyoui-draggable="{
                onStart: 'setIsDragging(true)', 
                onStop: 'setIsDragging(false)'}">
           
            <tr ng-class="{ odd : $odd, even: $even}">
              <td class="hidden-drag bek-drag-handle large-icon icon-col">
                <input type="checkbox" class="hidden-print bek-no-drag hand" ng-model="item.isSelected" no-dirty-check>
                <span style="font-size:11px;">
                  {{item.position}}
                </span>
                <span favorite-icons class="bek-no-drag"></span>
              </td>
              <td class="bek-drag-handle">
                <a class="bek-no-drag" ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber, item: item })">{{::item.itemnumber}}</a>
              </td>
              <td class="bek-drag-handle">
                {{::item.name}}
              </td>
              <td class="hidden-mobile-visible-print bek-drag-handle">
                {{::item.brand_extended_description}}
              </td>
              <td class="hidden-mobile-visible-print bek-drag-handle">
                {{::item.class}}
              </td>
              <td class="hidden-mobile-visible-print bek-drag-handle">
                {{::item.packsize}}
              </td>
              <!-- Notes -->
              <td class="hidden-mobile-visible-print notes-col hidden-drag">
                {{::item.notes}}
              </td>
              <td class="hidden-sm hidden-xs hidden-drag">
                <span tooltip="{{item.notes}}" ng-if="::item.notes" class="icon-docs"></span> 
              <td class="hidden-mobile-visible-print" item-icons></td>
              <td ng-if="::selectedList.permissions.alternativeFieldName" class="hidden-xs hidden-sm hidden-drag">
                {{::item[selectedList.permissions.alternativeFieldName]}}
              </td>
              <!-- Label -->
              <td class="input-col nowrap hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-show="::selectedList.permissions.canSeeLabels && selectedList.permissions.canEditLabels">
                <div ng-hide="item.isEditing" class="bek-no-drag">
                  <select name="" id="" ng-model="item.label" ng-options="label for label in labels">
                    <option value="">Select A Label...</option>
                  </select>
                  <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                </div>

                <ng-form class="hidden-print bek-no-drag" name="addLabelForm" ng-show="item.isEditing">
                  <input 
                    id="newLabel" 
                    name="newLabel" 
                    type="text" 
                    class="edit-label bek-no-drag" 
                    focus-me="item.isEditing" 
                    placeholder="New Label..." 
                    ng-required="item.isEditing" 
                    ng-model="item.editLabel" />

                  <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                </ng-form>
              </td>
              <td class="input-col nowrap hidden-xs hidden-sm hidden-drag bek-drag-handle" ng-show="::selectedList.permissions.canSeeLabels && !selectedList.permissions.canEditLabels">
                {{::item.label}}
              </td>
              <!-- Label for Print -->
              <td class="visible-print" ng-show="::selectedList.permissions.canSeeLabels">
                {{::item.label}}
              </td>
              </td>
              <!-- Parlevel -->
              <td class="input-col hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-show="::selectedList.permissions.canSeeParlevel && selectedList.permissions.canEditParlevel">
                <ng-form name="parlevelForm">
                  <input                     
                    id="parlevel" 
                    name="parlevel" 
                    type="text" 
                    allow-one-positive-decimal 
                    ng-model="item.parlevel" 
                    ng-blur="initParLvl(item)"
                    class="text-right input-number bek-no-drag" />
                </ng-form>
              </td>
              <td class="input-col hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-show="::selectedList.permissions.canSeeParlevel && !selectedList.permissions.canEditParlevel">
                {{::item.parlevel}}
              </td>
              <!-- Parlevel for Print -->
              <td class="visible-print hidden-drag" ng-show="::selectedList.permissions.canSeeParlevel">
                {{::item.parlevel}}
              </td>

              <td class="nowrap hidden-print hidden-drag bek-no-drag large-icon icon-col">
                <div               
                  ng-class="{'hidden-icon' : !((canManageLists || canCreateOrders || canSubmitOrders) && item.canOrder) }" 
                  context-menu-template
                  class="context-menu-template context-menu__in-list hidden-print"
                >
                  <a class="icon-plus2"></a>
                </div>

                <a class="hidden-xs hidden-sm" ng-class="{'hidden-icon' : !selectedList.permissions.canDeleteItems }" ng-click="deleteItem(item)"><span class="text-red icon-cross"></span></a>
                
                <span 
                  ng-if="!hideDragToReorder && selectedList.permissions.canReorderItems" 
                  class="hidden-xs hidden-sm icon-list2 bek-sortable-handle bek-no-drag" 
                  style="cursor:move;">
                </span>
                
                <a class="bek-no-drag"><span class="text-light visible-xs-inline visible-sm-inline icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
              </td>

            </tr>
            <tr ng-if="showDetails" class="mobile-details-row hidden-md hidden-lg" ng-class="{ odd : $odd, even: $even }">
              <td colspan="10">
                <table>
                  <colgroup>
                    <col width="25%" />
                    <col width="75%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Notes</td>
                      <td>{{::item.notes}}</td>
                    </tr>
                    <tr>
                      <td>Brand</td>
                      <td>{{::item.brand_extended_description}}</td>
                    </tr>
                    <tr>
                      <td>Class</td>
                      <td>{{::item.class}}</td>
                    </tr>
                    <tr>
                      <td>Pack/Size</td>
                      <td>{{::item.packsize}}</td>
                    </tr>
                    <tr>
                      <td item-icons></td>
                    </tr>
                    <tr ng-if="::selectedList.permissions.alternativeFieldName">
                      <td>{{::selectedList.permissions.alternativeFieldHeader}}</td>
                      <td>{{::item[selectedList.permissions.alternativeFieldName]}}</td>
                    </tr>
                    <tr ng-if="::selectedList.permissions.canSeeLabels">
                      <td>Label</td>
                      <td ng-if="::selectedList.permissions.canEditLabels">
                        <div ng-hide="item.isEditing" class="form-control-group__input">
                          <div class="select-div bek-no-drag hidden-print">
                            <select name="" id="" ng-model="item.label" ng-options="label for label in labels">
                              <option value="">Select A Label...</option>
                            </select>
                          </div>
                          <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                        </div>

                        <ng-form 
                          class="hidden-print form-control-group__input" 
                          name="addLabelForm_mobile" 
                          ng-show="item.isEditing">
                          
                          <input 
                            type="text" 
                            class="form-control edit-label bek-no-drag" 
                            placeholder="New Label..." 
                            ng-required="item.isEditing" 
                            ng-model="item.editLabel" />
                          <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                        </ng-form>
                      </td>
                      <td ng-if="::!selectedList.permissions.canEditLabels">
                        {{::item.label}}
                      </td>
                    </tr>
                    <tr ng-if="::selectedList.permissions.canSeeParlevel">
                      <td>{{::selectedList.permissions.alternativeParHeader || 'PAR'}}</td>
                      <td ng-if="::selectedList.permissions.canEditParlevel">
                        <ng-form name="parlevelForm_mobile" class="form-control-group__input">
                          <input 
                            id="parlevel" 
                            name="parlevel" 
                            type="text"                              
                            allow-one-positive-decimal 
                            ng-model="item.parlevel" 
                            ng-blur="initParLvl(item)"
                            class="input-number input-number-mobile text-right bek-no-drag form-control" 
                            />
                        </ng-form>
                      </td>
                      <td ng-if="::!selectedList.permissions.canEditParlevel">
                        {{::item.parlevel}}
                      </td>
                    </tr>
                    <tr ng-if="::selectedList.permissions.canDeleteItems">
                      <td colspan="2">
                        <button type="button" class="btn btn-lg btn-danger" ng-click="deleteItem(item)"><span class="icon-cross"></span> Remove Item</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>

          <tfoot ng-show="(selectedList.items.length - 1) <= 0 && !loadingResults">
            <tr>
              <td colspan="12">
                No products to display.
              </td>
            </tr>
          </tfoot>
        </table>
      </form>

      <div class="text-center sub-content" ng-show="loadingResults" loading-spinner="loadingResults"></div>
    </div>
  </div>
</div>
