<div page-header-bar>
  <div header-message>
    <div ng-if="!selectedList.isRenaming">
      <div class="list-name">
        {{selectedList.name}}
      </div>
      <span ng-if="!isCustomInventoryList">
        <div class="inline-block-display">
          <span ng-if="selectedList.issharing" class="large-icon icon-user-add" tooltip="You are sharing this list."></span>
          <span ng-if="selectedList.isshared" class="large-icon icon-users" tooltip="This list is shared with you."></span>
        </div>

        <div 
          class="inline-block-display"
          ng-if="selectedList" 
          ng-if="selectedList.permissions.canDeleteList || selectedList.permissions.canRenameList">
          
          <a 
            ng-if="selectedList.permissions.canRenameList" 
            ng-click="selectedList.isRenaming = true">
            <span class="hidden-print large-icon text-light icon-pencil"></span>
          </a>
          
          <a 
            ng-if="selectedList.permissions.canDeleteList" 
            confirmed-click="deleteList(selectedList.listid)" 
            class="hidden-print" 
            ng-confirm-click="{{'This will delete the list ' + selectedList.name + ' and all items within. Are you sure you want to delete this list?'}}">
            <span class="large-icon text-light icon-trash"></span>
          </a>
        </div>
      </span>

      <div class="hidden-md" style="font-size: .5em">
        <span ng-if="isCustomInventoryList">Enter non-Ben E. Keith items here if you'd like to include them in your Inventory report</span>
      </div>

    </div>

    <form name="renameListForm" class="style-validation-errors inline-header-form nowrap" ng-if="selectedList.isRenaming">
      <input 
        no-duplicates="name" 
        collection="lists" 
        type="text" 
        focus-me="selectedList.isRenaming" 
        required 
        ng-model-options="{ debounce: 1000 }" ng-model="selectedList.name" 
        name="listName" 
        id="listName" 
        class="input-lg form-control" />
      
      <button 
        ng-disabled="renameListForm.$invalid" 
        class="btn-no-style" 
        type="submit" 
        ng-click="renameList(selectedList.listid, selectedList.name); renameListForm.$setPristine();">
        <span class="large-icon text-green icon-checkmark"></span>
      </button>
      
      <a ng-click="cancelRenameList()"><span class="large-icon text-red icon-cross"></span></a>
      
      <span class="form-error-message" ng-if="renameListForm.listName.$error.required">List name is required</span>
      <span class="form-error-message" ng-if="renameListForm.listName.$error.noDuplicates">Duplicate list name</span>
    </form>

  </div>
  <div header-buttons>
    <button 
      ng-if="selectedList.permissions.canEditList && !isCustomInventoryList" 
      type="submit" 
      class="btn-lg btn btn-primary" 
      ng-disabled="listForm.$invalid" 
      ng-click="saveList(selectedList)">
      Save
    </button>
    <button 
      ng-if="selectedList.permissions.canEditList && isCustomInventoryList" 
      type="submit" 
      class="btn-lg btn btn-primary" 
      ng-disabled="listForm.$invalid" 
      ng-click="saveCustomInventoryList(selectedList.items)">
      Save
    </button>
    <button 
      ng-if="selectedList.permissions.canEditList" 
      class="btn-lg btn btn-default" 
      type="button"
      ng-click="undoChanges()" 
      ng-disabled="listForm.$pristine">
      Cancel
    </button>
  
    <div class="btn-group" dropdown is-open="status.listactions">
      <a class="btn btn-lg btn-default dropdown-toggle">
        List Actions <span class="caret text-dark"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a ng-click="openPrintOptionsModal(selectedList)">Print</a></li>
        <li><a ng-click="openExportModal()">Export</a></li>
        <li><a ng-click="openListImportModal()">Import</a></li>
        <li><a ng-if="selectedList.permissions.canShareList || selectedList.permissions.canCopyList" ng-click="openReplicateListModal(selectedList)">Give list</a></li>
        <li><a ng-click="copyList(selectedList)">Duplicate list</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- Mobile subheader bar -->
<div class="visible-xs visible-sm hidden-print row page-subheader-bar">

  <button 
    ng-if="selectedList.permissions.canEditList && !isCustomInventoryList" 
    type="submit" 
    class="btn-no-style page-subheader-bar__button button-left" 
    ng-disabled="listForm.$invalid" 
    ng-click="saveList(selectedList)">
    Save
  </button>

  <button 
    ng-if="selectedList.permissions.canEditList && isCustomInventoryList" 
    type="submit" 
    class="btn-no-style page-subheader-bar__button button-left" 
    ng-disabled="listForm.$invalid" 
    ng-click="saveCustomInventoryList(selectedList)">
    Save
  </button>

  <button 
    ng-if="selectedList.permissions.canEditList" 
    class="btn-no-style page-subheader-bar__button button-left" 
    ng-click="undoChanges()" 
    type="button"
    ng-disabled="listForm.$pristine">
    Cancel
  </button>
   
  <div class="btn-group pull-right" dropdown is-open="status.listsisopen">
    <a type="button" class="dropdown-toggle btn-no-style page-subheader-bar__button button-right text-regular">Lists <span class="icon-arrow-down5"></span></a>
    <ul class="dropdown-menu dropdown-menu-scroll" role="menu">
      <li ng-repeat="list in lists | sortLists track by list.listid" ng-if="(list.listid !== selectedList.listid)">
        <a ng-click="goToList(list, selectedCart)">
          {{list.name}}
        </a>
      </li>
      <li><a ng-click="createList()">Create a List...</a></li>

      <li ng-if="isInternalAccountAdminUser && !hideMandatoryListCreateButton"><a ng-click="createMandatoryList()">Create Mandatory List...</a></li>
      <li ng-if="isInternalAccountAdminUser && !hideRecommendedListCreateButton"><a ng-click="createRecommendedList()">Create Recommended List...</a></li>

    </ul>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <!-- Available Lists -->
    <div class="col-sm-2 hidden-xs hidden-sm hidden-print lists" ng-if="resized">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom-lists" sticky>
            <h3>Your Lists</h3>

            <div class="btn-group-vertical list-names text-blue">
              <button 
                type="button" 
                ng-repeat="list in lists | sortLists | limitTo: showMoreListNames ? numberListNamesToShow : lists.length track by list.listid" 
                ng-click="goToList(list.listid)" 
                ng-class="{'current-list' : list.listid == selectedList.listid}" 
                class="btn-lg custom-lists__name btn btn-default btn-list" 
                data-drop="isDragging && list.permissions.canAddItems" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'addItemFromDrag(list)'}">
                {{list.name}}
              </button>
            </div>
            <h5>
              <a 
                ng-show="lists.length > numberListNamesToShow" 
                ng-click="showMoreListNames = !showMoreListNames">
                {{showMoreListNames ? '+ Show More' : '- Show Less'}}
              </a>
            </h5>
            
            <div class="btn-group-vertical">
              <button 
                type="button" 
                ng-click="goToList('nonbeklist')" 
                class="btn btn-default btn-list text-light btn-lg">
                Non-BEK Items
              </button>

              <button 
                type="button" 
                ng-click="createList()" 
                data-drop="isDragging" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'createListFromDrag()'}" 
                class="btn btn-default btn-list text-light btn-lg">
                Create A List...
              </button>

              <button
                type="button" 
                ng-click="createMandatoryList()" 
                data-drop="isDragging" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'createMandatoryListFromDrag()'}" 
                class="btn btn-default btn-list text-left text-light btn-lg"
                ng-if="isInternalAccountAdminUser && !hideMandatoryListCreateButton"
                title="Create Mandatory Items List for Customer">
                Create <br>Mandatory...
              </button>

              <button
                type="button" 
                ng-click="createRecommendedList()" 
                data-drop="isDragging" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'createRecommendedListFromDrag()'}" 
                class="btn btn-default btn-list text-left text-light btn-lg"
                ng-if="isInternalAccountAdminUser && !hideRecommendedListCreateButton"
                title="Create Recommended Items List for Customer">
                Create <br>Recommended...
              </button>
              </div>
              
              <button 
                ng-if="selectedList.permissions.canDeleteItems && !isCustomInventoryList" 
                type="button" 
                class="btn btn-icon btn-default large-icon btn-trash" 
                ng-disabled="!isDragging" 
                data-drop="isDragging" 
                data-jqyoui-options="{hoverClass:'bek-drag-hover',tolerance:'pointer',activeClass:'bek-drag-active'}" 
                jqyoui-droppable="{onDrop: 'deleteItemFromDrag(selectedList)'}">
                <span class="icon-trash"></span>
              </button>

            <p style="margin-top: 10px; font-size: 14px;" ng-if="!isCustomInventoryList">
              <a ng-if="selectedList.permissions.canReorderItems" ui-sref="menu.organizelist({listId: selectedList.listid})">Organize this list<span class="icon-arrow-right6"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Items in List -->
    <div class="padding-top-sm padding-top-xs items col-md-10 col-xs-12">
      
      <div class="hidden-print">
        <p class="text-red" ng-if="listForm.$invalid && listForm.$dirty" >List has some errors. Please fix these before saving.</p>
      </div>
      
      <form name="listSearchForm" class="hidden-print" ng-hide="(selectedList.items | filter:{isSelected:'true'}).length > 0">
        <div class="input-group input-group-lg">
          <input 
            ng-model="listSearchTerm"
            type="text" 
            class="form-control" 
            placeholder="Search current list by keyword, item # or label" />
          <span class="input-group-btn">
            <button type="submit" ng-click="filterItems(listSearchTerm)" class="btn btn-default"><span class="icon-search"></span></button>
            <button type="button"  ng-click="clearFilter()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>

          </span>
        </div>
      </form>

      <!-- Multi-select menu -->
      <div class="hidden-print row" ng-show="(selectedList.items | filter:{isSelected:'true'}).length > 0">
        <div class="col-xs-12 col-sm-6">
          <div class="btn-group custom-lists__multi-actions">
            <!-- Add to List -->
            <div class="btn-group" dropdown is-open="multiSelect.showLists">
              <button type="button" class="multi-action-btn btn btn-default btn-lg dropdown-toggle">
                <span class="icon-folder large-icon text-light"></span>
                <span class="icon-arrow-down6 text-light"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li 
                  ng-click="addItemsToList(list)" 
                  ng-repeat="list in lists | sortLists track by list.listid" 
                  ng-if="(list.permissions.canAddItems && selectedList.listid !== list.listid && !list.permissions.specialDisplay)">
                  <a href="">{{list.name}}</a>
                </li>
                <li ng-click="createListFromMultiSelect()"><a>Create New List...</a></li>
              </ul>
            </div>
            <!-- Edit Labels -->
            <div class="btn-group" dropdown is-open="multiSelect.showLabels" ng-if="selectedList.permissions.canEditLabels">
              <button type="button" class="multi-action-btn btn btn-default btn-lg dropdown-toggle">
                <span class="icon-tag large-icon text-light"></span>
                <span class="icon-arrow-down6 text-light"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="label in labels track by label" ng-click="addLabels(label)"><a>{{label}}</a></li>
                <li ng-click="multiSelect.addingNewLabel=true; multiSelect.showLabels=false;"><a>Add New Label...</a></li>
              </ul>
            </div>
            <!-- Delete items -->
            <button 
              type="button" 
              class="multi-action-btn btn btn-default btn-lg" 
              ng-click="deleteMultipleItems(selectedList)" 
              ng-if="selectedList.permissions.canDeleteItems">
              <span class="icon-trash large-icon text-light"></span>
            </button>
          </div>
        </div>
        <div class="col-xs-8 col-sm-4" ng-if="multiSelect.addingNewLabel">
          <input 
            type="text" 
            class="input-lg form-control" 
            ng-model="multiSelect.newLabel" 
            focus-me="multiSelect.addingNewLabel" 
            placeholder="Add New Label..." />
        </div>
        <div class="col-xs-4 col-sm-2" ng-if="multiSelect.addingNewLabel">
          <button 
            type="button" 
            class="btn-lg btn btn-primary" 
            ng-disabled="!multiSelect.newLabel" 
            ng-click="applyNewLabel(multiSelect.newLabel)">
            Apply
          </button>
        </div>
      </div><!-- end Multi-select menu -->



  <div ng-show="selectedList.itemCount > pagingPageSize">
   <pagination 
    total-items="selectedList.itemCount" 
    ng-model="currentPage" 
    items-per-page="pagingPageSize" 
    max-size="10" 
    boundary-links="true" 
    rotate="false" 
    ng-change="blockUIAndChangePage(this)" 
    class="pagination">
   </pagination> 
  </div>

  <div class="row sub-content">
    <div class="col-xs-5 " >         
      <span>{{(selectedList.items|filter:{isSelected:'true', isdeleted:'false'}).length}} Items Selected</span>
    </div>



    <div class="col-xs-7 col-md-5 col-lg-5 text-right" style="float:right;" ng-if="(selectedList.itemCount - itemCountOffset) > 0 && (rangeStart - rangeStartOffset) <= (rangeEnd - rangeEndOffset)">      
     Showing {{rangeStart - rangeStartOffset}} - {{rangeEnd - rangeEndOffset}} of {{selectedList.itemCount - itemCountOffset}} Items
    </div>
    </div>

     <form 
      unsaved-warning-form 
      novalidate 
      name="forms.listForm" 
      class="style-validation-errors list-form" 
      autocomplete="off" 
      context-menu 
      favorite-item-click-handlers>
      
        <table 
          navigate-table="lists" 
          class="custom-lists__table table table-border table-striped-rows">
          <thead ng-show="!isCustomInventoryList">
            <tr fsm-sticky-header scroll-body="'.custom-lists__table'" scroll-stop="0" scroll-offset="163">
              <th class="nowrap input-col">
                <input class="hidden-print" type="checkbox" ng-model-options="{ debounce: 250 }" ng-model="selectedList.allSelected" ng-click="allSelected = true; changeAllSelectedItems(selectedList.allSelected)" id="selectAllCheckbox" no-dirty-check>
                <span class="sort-col-header" ng-click="sortList('position',sort[0].order)"> 
                  #
                  <span sort-icons field="'position'" sortorder="sort[0].order" sortby="sort[0].field"></span>
                </span>
              </th>
              <th class="sort-col-header" ng-click="sortList('itemnumber',sort[0].order)">
                <span>Item <span sort-icons field="'itemnumber'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="sort-col-header" ng-click="sortList('name',sort[0].order)">
                <span>Name <span sort-icons field="'name'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header"  ng-click="sortList('brandextendeddescription',sort[0].order)">
                <span>Brand <span sort-icons field="'brandextendeddescription'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="sort-col-header drop-column" ng-click="sortList('itemclass',sort[0].order)">
                <span>Category <span sort-icons field="'itemclass'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print">
                Pack/Size
              </th>
              <th class="sort-col-header drop-column" ng-click="sortList('notes',sort[0].order)">
                <span>Notes <span sort-icons field="'notes'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>          
              <th class="hidden-mobile-visible-print"></th>
              <th class="hidden-mobile-visible-print sort-col-header text-center" ng-if="selectedList.permissions.alternativeFieldHeader" ng-click="sortList(selectedList.permissions.alternativeFieldName,sort[0].order)">
                <span>{{selectedList.permissions.alternativeFieldHeader}}
                <span sort-icons field="selectedList.permissions.alternativeFieldName" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header text-center" ng-if="selectedList.permissions.alternativeFieldHeader2" ng-click="sortList(selectedList.permissions.alternativeFieldName2,sort[0].order)">
                <span>{{selectedList.permissions.alternativeFieldHeader2}}
                <span sort-icons field="selectedList.permissions.alternativeFieldName2" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-if="selectedList.permissions.canSeeLabels" ng-click="sortList('label',sort[0].order)">
                <span>Label <span sort-icons field="'label'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              </th>
              <th class="hidden-mobile-visible-print" ng-if="(!selectedList.read_only)">
                  Each
              </th>
              <th ng-if="canSeePrices" class="hidden-mobile-visible-print">
                  Price
              </th>
              <th class="hidden-mobile-visible-print sort-col-header" ng-if="selectedList.permissions.canSeeParlevel" ng-click="sortList('parlevel',sort[0].order)">
                <span>{{selectedList.permissions.alternativeParHeader || 'PAR'}}<span sort-icons field="'parlevel'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              
              <th class="hidden-print"></th>
            </tr> 
          </thead>

          <tbody 
              ng-class="{ 'item-selected': item.isSelected }" 
              fast-repeat="item in selectedList.items.slice(startingPoint, endPoint) | filter:{listitemid: '!!', isdeleted:'!true'}"
              data-product="{{item}}" 
              data-drag="dragEnabled" 
              data-jqyoui-options="{
                helper:generateDragHelper, 
                cursorAt: { top: -5, left: -5 }, 
                cancel: '.bek-no-drag', 
                handle: '.bek-drag-handle',
                delay: 200}" 
              jqyoui-draggable="{
                onStart: 'setIsDragging(true, item.listitemid)', 
                onStop: 'setIsDragging(false)'}" 
              id="listsTableRows"
              class="highlightRows"
              ng-click="shiftSelectOtherRows($event, item)"
              ng-show="!isCustomInventoryList">                
           
            <tr>
              <td class="hidden-drag bek-drag-handle">
                <input type="checkbox" class="hidden-print bek-no-drag hand" ng-model-options="{ debounce: 1000 }" ng-model="item.isSelected" no-dirty-check>
                <span style="font-size:11px;">
                  {{item.position}}
                </span>          
              </td>
              <td class="bek-drag-handle">
                <a class="bek-no-drag" ng-click="$event.stopPropagation()" ng-if="item.isvalid && item.catalog_id && item.catalog_id.indexOf('unfi') == 0" ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber, item: item, catalogType: 'UNFI' })">{{item.itemnumber}}</a>
                <a class="bek-no-drag" ng-click="$event.stopPropagation()" ng-if="item.isvalid && (!item.catalog_id || item.catalog_id.indexOf('unfi') != 0)" ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber, item: item })">{{item.itemnumber}}</a>
                <span ng-if="!item.isvalid" class="bek-no-drag" ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber, item: item })" tooltip="Please contact your DSR for more info.">{{item.itemnumber}}</span>
              </td>
              <td class="bek-drag-handle">
                <span ng-if="item.isvalid">
                  {{item.name}}
                </span>
                <span ng-if="!item.isvalid">
                  Invalid item
                </span>
              </td>
              <td class="hidden-mobile-visible-print bek-drag-handle" >
                {{item.brand_extended_description}}
              </td>
              <td class="bek-drag-handle drop-column">
                {{item.class}}
              </td>
              <td class="hidden-mobile-visible-print bek-drag-handle">
                {{item.packsize}}
              </td>
              <!-- Notes -->
              <td class="notes-col hidden-drag drop-column">
                {{item.notes}}
              </td>
              <span class="hidden-sm hidden-xs" >                
              <td ng-if="itemIconsActive" ng-click="$event.stopPropagation()" class="hidden-mobile-visible-print" item-icons></td>
              <td ng-if="!itemIconsActive" ng-click="$event.stopPropagation()" class="hidden-mobile-visible-print">
                <a ng-if="item.is_specialty_catalog === true"><span class="text-regular icon-leaf"></span></a>
                <a ng-if="item.inhistory === true"><span class="text-regular icon-history"></span></a>
                <a ng-if="item.notes"><span class="icon-docs text-regular"></span> </a>
                <a ng-if="item.replacementitem > 0"><span class="text-red icon-cycle"></span></a>
                <a ng-if="item.replaceditem > 0"><span class="text-green icon-cycle"></span></a>
                <a ng-if="item.substituteditemnumber"><span class="icon-switch text-regular"></span></a>
                <a ng-if="item.deviatedcost === 'Y'"><span class="text-regular icon-dollar"></span></a>
                <a ng-if="item.sellsheet === 'Y'"><span class="text-regular icon-sellsheet"></span></a>
                <a ng-if="item.childnutrition === 'Y'"><span class="text-regular icon-apple"></span></a>
                <a ng-if="item.nonstock === 'Y'"><span class="text-regular icon-user"></span></a>
                <a ng-if="item.temp_zone === 'F'"><span class="text-regular icon-snowflake"></span></a>
                <a ng-if="item.temp_zone === 'C'"><span class="text-regular icon-thermometer"></span></a>
                <a ng-if="item.temp_zone === 'D'"><span class="text-regular icon-air"></span></a>
              </td>
              <td id="{{item[selectedList.permissions.alternativeFieldName]}}" ng-if="selectedList.permissions.alternativeFieldName" class="hidden-xs hidden-sm text-center">
                {{item[selectedList.permissions.alternativeFieldName]}}
              </td>
              <td id="{{item[selectedList.permissions.alternativeFieldName2]}}" ng-if="selectedList.permissions.alternativeFieldName2" class="hidden-xs hidden-sm text-center">
                {{item[selectedList.permissions.alternativeFieldName2]}}
              </td>
              <!-- Label -->
              <td class="input-col nowrap hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-click="$event.stopPropagation()" ng-if="(selectedList.permissions.canSeeLabels && selectedList.permissions.canEditLabels)">
                <div ng-hide="item.isEditing" class="bek-no-drag label-width right-margin-10">
                  <select name="" id="" ng-model="item.label" ng-options="label for label in labels track by label" class="label-width">
                    <option style="display:none"  value="">{{item.label || 'Select a label...'}}</option>
                  </select>
                  <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                </div>

                <ng-form class="hidden-print bek-no-drag" name="addLabelForm" ng-if="item.isEditing">
                  <input 
                    id="newLabel" 
                    name="newLabel" 
                    type="text" 
                    class="edit-label bek-no-drag" 
                    focus-me="item.isEditing" 
                    placeholder="New Label..." 
                    ng-required="item.isEditing" 
                    ng-model="item.editLabel" />

                  <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                </ng-form>
              </td>
              <td class="input-col nowrap hidden-xs hidden-sm hidden-drag bek-drag-handle label-col" ng-click="$event.stopPropagation()" ng-if="(selectedList.permissions.canSeeLabels && !selectedList.permissions.canEditLabels)">
                {{item.label}}
              </td>
              <!-- Label for Print -->
              <td class="visible-print label-col" ng-if="(selectedList.permissions.canSeeLabels)">
                {{item.label}}
              </td>
              <td class="input-col hidden-mobile-visible-print max-width-20" ng-if="!selectedList.read_only">
              <ng-form name="eachForm" ng-click="$event.stopPropagation()" ng-if="item.hasPackagePrice">
                <input type="checkbox" class="mousetrap" ng-checked = "!item.hasCasePrice || item.each" ng-disabled = "!item.hasCasePrice" ng-model="item.each" id="each" name="each"/>
                <label for="each"></label>
              </ng-form>
              </td>
              <td ng-if="(item.packageprice || item.caseprice) && canSeePrices" class="hidden-mobile-visible-print" >
                {{item.each ? item.packageprice : item.caseprice | currency}}
                <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
              </td>
              <!-- Parlevel -->
              <td class="input-col hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-if="(selectedList.permissions.canSeeParlevel && selectedList.permissions.canEditParlevel)" ng-click="$event.stopPropagation()">
                <ng-form name="parlevelForm">
                   <input                    
                    id="defaultElement-{{currentIndex}}" 
                    name="parlevel"                    
                    type="text"     
                    numeric-validation
                    ng-model="item.parlevel"     
                    class="text-right input-number bek-no-drag tabstop"
                    ng-keypress="parlevelChanged($event)"
                    onfocus="this.select()"/>
                </ng-form>
              </td>

              <td class="input-col hidden-sm hidden-xs hidden-drag bek-drag-handle" style="padding-top:12px;" ng-if="(selectedList.permissions.canSeeParlevel && !selectedList.permissions.canEditParlevel)">
                {{item.parlevel}}
              </td>
              <!-- Parlevel for Print -->
              <td class="visible-print hidden-drag" ng-if="(selectedList.permissions.canSeeParlevel)">
                {{item.parlevel}}
              </td> 
              <td class="nowrap hidden-print large-icon icon-col" ng-click="$event.stopPropagation()">
                <div
                  id="optionsdropdown"
                  ng-if="!item.activeElement && item.isvalid"
                  class="context-menu-template context-menu__in-list hidden-print"
                  ng-mouseenter="item.activeElement = true"
                  ng-style="!(showRowOptionsDropdown && item.canOrder) && {'visibility': 'hidden'}">           
                  <a class="icon-plus2"></a>
                </div>
                <div
                  id="optionsdropdown"
                  ng-if="item.activeElement && item.isvalid"
                  class="context-menu-template context-menu__in-list hidden-print"
                  context-menu-template
                  ng-style="!(showRowOptionsDropdown && item.canOrder) && {'visibility': 'hidden'}">           
                  <a class="icon-plus2"></a>
                </div>                   
                <a class="bek-no-drag"><span class="text-light visible-xs-inline visible-sm-inline icon-ellipsis" ng-click="item.showDetails = !item.showDetails;"></span></a>
              </td>
            </tr>
            
            <tr ng-if="item.showDetails" class="mobile-details-row hidden-md hidden-lg" ng-class="{ odd : $odd, even: $even }">
              <td colspan="10">
                <table>
                  <colgroup>
                    <col width="25%" />
                    <col width="75%" />
                  </colgroup>
                  <tbody>
                    <tr >
                      <td>Notes</td>
                      <td class="notes-col">{{item.notes}}</td>
                    </tr>
                    <tr>
                      <td>Brand</td>
                      <td>{{item.brand_extended_description}}</td>
                    </tr>
                    <tr>
                      <td>Class</td>
                      <td>{{item.class}}</td>
                    </tr>
                    <tr>
                      <td>Pack/Size</td>
                      <td>{{item.packsize}}</td>
                    </tr>
                    <tr>
                      <td item-icons></td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.alternativeFieldName)">
                      <td>{{selectedList.permissions.alternativeFieldHeader}}</td>
                      <td>{{item[selectedList.permissions.alternativeFieldName]}}</td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.alternativeFieldName2)">
                      <td>{{selectedList.permissions.alternativeFieldHeader2}}</td>
                      <td>{{item[selectedList.permissions.alternativeFieldName2]}}</td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.canSeeLabels)">
                      <td>Label</td>
                      <td ng-if="(selectedList.permissions.canEditLabels)">
                        <div ng-hide="item.isEditing" class="form-control-group__input">
                          <div class="select-div bek-no-drag hidden-print">
                            <select name="" id="" ng-model-options="{ debounce: 1000}" ng-model="item.label" ng-options="label for label in labels" style="max-width:170px;">
                              <option style="display:none"  value="">{{item.label || 'Select A Label '}}</option>
                            </select>
                          </div>
                          <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                        </div>

                        <ng-form 
                          class="hidden-print form-control-group__input" 
                          name="addLabelForm_mobile" 
                          ng-if="item.isEditing">
                          
                          <input 
                            type="text" 
                            class="form-control edit-label bek-no-drag" 
                            placeholder="New Label..." 
                            ng-required="item.isEditing" 
                            ng-model-options="{ debounce: 1000 }" ng-model="item.editLabel" />
                          <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                        </ng-form>
                      </td>
                      <td class = "label-col" ng-if="(!selectedList.permissions.canEditLabels)">
                        {{item.label}}
                      </td>
                    </tr>
                    <tr ng-if="(item.hasPackagePrice && !selectedList.read_only)">
                    <td>Each</td>
                    <td>
                      <ng-form name="eachForm_mobile">
                        <input type="checkbox" ng-model="item.each" ng-checked = "!item.hasCasePrice || item.each" class="mousetrap" ng-disabled="(!item.hasCasePrice)" id="each" name="each" />
                      </ng-form>
                    </td>
                    </tr>
                    <tr ng-if="canSeePrices">
                      <td>Price</td>
                      <td>
                        {{item.each ? item.packageprice : item.caseprice | currency}}
                        <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
                      </td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.canSeeParlevel)">
                      <td>{{selectedList.permissions.alternativeParHeader || 'PAR'}}</td>
                      <td ng-if="(selectedList.permissions.canEditParlevel)">
                        <ng-form name="parlevelForm_mobile" class="form-control-group__input">
                          <span class="counter-container">
                            <button selection-model-ignore type="button" class="btn btn-warning icon-minus3 hidden-lg" ng-disabled = "item.parlevel === 0" ng-click="item.parlevel = item.parlevel - 1;"></button>
                              <input 
                                id="parlevel" 
                                name="parlevel" 
                                type="text"
                                numeric-validation
                                ng-model="item.parlevel" 
                                ng-blur="initParLvl(item)"
                                class="input-number input-number-mobile text-right bek-no-drag form-control"
                              />
                            <button selection-model-ignore type="button" class="btn btn-warning icon-plus3 hidden-lg" ng-click="item.parlevel = item.parlevel + 1;"></button>
                          </span>
                        </ng-form>
                      </td>
                      <td ng-if="(!selectedList.permissions.canEditParlevel)">
                        {{item.parlevel}}
                      </td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.canDeleteItems)">
                      <td colspan="2">
                        <button type="button" class="btn btn-lg btn-danger" ng-click="deleteItem(item)"><span class="icon-cross"></span> Remove Item</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody> 

          <thead ng-show="isCustomInventoryList">
            <tr fsm-sticky-header scroll-body="'.custom-lists__table'" scroll-stop="0" scroll-offset="163">
              <th class="nowrap input-col">
                <input class="hidden-print" type="checkbox" ng-model-options="{ debounce: 250 }" ng-model="selectedList.allSelected" ng-click="allSelected = true; changeAllSelectedItems(selectedList.allSelected)" id="selectAllCheckbox" no-dirty-check>
<!--                 <span class="sort-col-header" ng-click="sortList('position',sort[0].order)"> 
                  #
                  <span sort-icons field="'position'" sortorder="sort[0].order" sortby="sort[0].field"></span>
                </span> -->
              </th>
              <th class="sort-col-header" ng-click="sortList('itemnumber',sort[0].order)">
                <span>Item <span sort-icons field="'itemnumber'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="sort-col-header" ng-click="sortList('name',sort[0].order)">
                <span>Name <span sort-icons field="'name'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header"  ng-click="sortList('brand',sort[0].order)">
                <span>Brand <span sort-icons field="'brand'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="sort-col-header drop-column" ng-click="sortList('supplier',sort[0].order)">
                <span>Supplier <span sort-icons field="'supplier'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print">
                <span >Pack</span>
              </th>
              <th class="hidden-mobile-visible-print" >
                Size
              </th>        
              <th class="hidden-mobile-visible-print sort-col-header text-center" ng-if="selectedList.permissions.alternativeFieldHeader" ng-click="sortList(selectedList.permissions.alternativeFieldName,sort[0].order)">
                <span>{{selectedList.permissions.alternativeFieldHeader}}
                <span sort-icons field="selectedList.permissions.alternativeFieldName" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
              <th class="hidden-mobile-visible-print sort-col-header text-center" ng-if="selectedList.permissions.alternativeFieldHeader2" ng-click="sortList(selectedList.permissions.alternativeFieldName2,sort[0].order)">
                <span>{{selectedList.permissions.alternativeFieldHeader2}}
                <span sort-icons field="selectedList.permissions.alternativeFieldName2" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th>
<!--               <th class="hidden-mobile-visible-print sort-col-header" ng-if="selectedList.permissions.canSeeLabels" ng-click="sortList('label',sort[0].order)">
                <span>Label <span sort-icons field="'label'" sortorder="sort[0].order" sortby="sort[0].field"></span></span>
              </th> -->
              </th>
              <th class="hidden-mobile-visible-print" ng-if="(!selectedList.read_only)">
                  Each
              </th>
              <th ng-if="canSeePrices" class="hidden-mobile-visible-print">
                  Price
              </th>
              
              <th class="hidden-print"></th>
            </tr> 
          </thead>

          <tbody 
              ng-class="{ 'item-selected': item.isSelected }" 
              ng-repeat="item in selectedList.items"
              data-product="{{item}}" 
              data-drag="dragEnabled" 
              data-jqyoui-options="{
                helper:generateDragHelper, 
                cursorAt: { top: -5, left: -5 }, 
                cancel: '.bek-no-drag', 
                handle: '.bek-drag-handle',
                delay: 200}" 
              jqyoui-draggable="{
                onStart: 'setIsDragging(true, item.listitemid)', 
                onStop: 'setIsDragging(false)'}" 
                id="listsTableRows"
                class="highlightRows"
                ng-click="shiftSelectOtherRows($event, item)"
                ng-show="isCustomInventoryList">                
           
            <tr>
              <td class="hidden-drag">
                <input type="checkbox" class="hidden-print bek-no-drag hand" ng-model-options="{ debounce: 1000 }" ng-model="item.isSelected" style="margin-top:10px;" no-dirty-check>
<!--                 <span style="font-size:11px;">
                  {{item.id}}
                </span>    -->       
              </td>
              <td >
                <span ng-click="$event.stopPropagation()">
                  <input class="tabstop form-control" type="text" ng-model="item.itemnumber" placeholder="Add Item Number" maxlength="15" no-duplicates="itemnumber" collection="selectedList" style="min-width: 90px;" required>
                </span>
              </td>
              <td >
                <span ng-click="$event.stopPropagation()">
                  <input class="tabstop form-control" type="text" ng-model="item.name" maxlength="30" style="min-width:60px">
                </span>
              </td>
              <td class="drop-column hidden-mobile-visible-print" >
                <span ng-click="$event.stopPropagation()">
                  <input class="tabstop form-control" type="text" ng-model="item.brand" maxlength="30" style="min-width:60px">
                </span>
              </td>
              <td class="drop-column" >
                <span ng-click="$event.stopPropagation()">
                  <input class="tabstop form-control" type="text" ng-model="item.supplier" class="form-control" style="min-width:70px">
                </span>
              </td>
              <td class="hidden-mobile-visible-print" >
                <span ng-click="$event.stopPropagation()">
                  <ng-form>
                    <input                    
                    id="defaultElement-{{currentIndex}}"                     
                    type="text"     
                    pattern="([0-9])"
                    ng-model="item.pack"     
                    class="text-right bek-no-drag tabstop form-control"
                    maxlength="4"
                    style="min-width:40px; max-width:50px;"
                    inputmode="numeric" 
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                  </ng-form>
                </span>
              </td>
              <td class="hidden-mobile-visible-print" >
                <span ng-click="$event.stopPropagation()">
                  <ng-form name="itemSizeForm">
                    <input                    
                    id="defaultElement-{{currentIndex}}"                
                    type="text"
                    ng-model="item.size"     
                    class="text-right bek-no-drag tabstop form-control"
                    maxlength="8"
                    style="min-width:50px; max-width:60px;"
                    inputmode="text" />
                </ng-form>
                </span>
              </td>
              <td id="{{item[selectedList.permissions.alternativeFieldName]}}" ng-if="selectedList.permissions.alternativeFieldName" class="hidden-xs hidden-sm text-center">
                {{item[selectedList.permissions.alternativeFieldName]}}
              </td>
              <td id="{{item[selectedList.permissions.alternativeFieldName2]}}" ng-if="selectedList.permissions.alternativeFieldName2" class="hidden-xs hidden-sm text-center">
                {{item[selectedList.permissions.alternativeFieldName2]}}
              </td>
              <!-- Label -->
<!--               <td class="nowrap hidden-sm hidden-xs hidden-drag bek-drag-handle" ng-click="$event.stopPropagation()" ng-if="(selectedList.permissions.canSeeLabels && selectedList.permissions.canEditLabels)">
                <div ng-hide="item.isEditing" class="bek-no-drag label-width right-margin-10">
                  <select name="" id="label" ng-model="item.label" ng-options="label for label in labels track by label" class="label-width">
                    <option style="display:none"  value="">{{item.label || 'Select a label...'}}</option>
                  </select>
                  <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                </div>

                <ng-form class="hidden-print bek-no-drag" name="addLabelForm" ng-if="item.isEditing">
                  <input 
                    id="newLabel" 
                    name="newLabel" 
                    type="text" 
                    class="edit-label bek-no-drag form-control" 
                    focus-me="item.isEditing" 
                    placeholder="New Label..." 
                    ng-required="item.isEditing" 
                    ng-model="item.editLabel" />

                  <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                </ng-form>
              </td> -->
              <td class="hidden-mobile-visible-print max-width-20" ng-if="!selectedList.read_only">
              <ng-form name="eachForm" ng-click="$event.stopPropagation()" ng-if="item.hasPackagePrice || isCustomInventoryList">
                <input type="checkbox" class="mousetrap" ng-checked = "(!item.hasCasePrice && !isCustomInventoryList) || item.each" ng-disabled="!item.hasCasePrice && !isCustomInventoryList" ng-model="item.each" id="each" name="each"/>
                <label for="each"></label>
              </ng-form>
              </td>
              <td class="hidden-mobile-visible-print" ng-click="$event.stopPropagation()" ng-if="isCustomInventoryList && item.each">
                <ng-form>
                  <input                    
                  id="packagePrice"                    
                  type="text"     
                  numeric-validation
                  ng-model="item.packageprice"     
                  class="text-right bek-no-drag tabstop form-control"
                  style="max-width:75px; min-width:60px;"
                  max-length="10"/>
                </ng-form>
              </td>
              <td class="hidden-mobile-visible-print" ng-if="isCustomInventoryList && !item.each">
                <span ng-click="$event.stopPropagation()">                
                  <ng-form>
                    <input                    
                    id="casePrice"                   
                    type="text"     
                    numeric-validation
                    ng-model="item.caseprice"     
                    class="text-right bek-no-drag tabstop form-control"
                    max-length="10"
                    style="max-width:75px; min-width: 60px;"/>
                  </ng-form>
                </span>
              </td>
              <td class="nowrap hidden-print large-icon icon-col" ng-click="$event.stopPropagation()">
                <div
                id="optionsdropdown"
                ng-if="!item.activeElement && isCustomInventoryList"
                class="context-menu-template context-menu__in-list hidden-print margin-top-10"
                ng-mouseenter="item.activeElement = true"
                ng-style="!(showRowOptionsDropdown) && {'visibility': 'hidden'}">           
                  <a class="icon-plus2"></a>
                </div>
                <div
                id="optionsdropdown"
                ng-if="item.activeElement && isCustomInventoryList"
                class="context-menu-template context-menu__in-list hidden-print margin-top-10"
                context-menu-template
                ng-style="!(showRowOptionsDropdown) && {'visibility': 'hidden'}">           
                  <a class="icon-plus2"></a>
                </div>
                <a
                class="bek-no-drag hidden-xs hidden-sm margin-top-10">
                  <span 
                  class="text-red icon-cross" 
                  ng-click="deleteCustomInventoryItem(item)">
                  </span>
                </a>
                <a 
                class="bek-no-drag margin-top-10">
                  <span 
                  class="text-light visible-xs-inline visible-sm-inline icon-ellipsis" 
                  ng-click="item.showDetails = !item.showDetails;">
                  </span>
                </a>
              </td>
            </tr>
            
            <tr ng-if="item.showDetails" class="mobile-details-row hidden-md hidden-lg" ng-class="{ odd : $odd, even: $even }">
              <td colspan="10">
                <table>
                  <colgroup>
                    <col width="25%" />
                    <col width="75%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Brand</td>
                      <td>
                        <span  ng-click="$event.stopPropagation()">
                          <input class="tabstop form-control" type="text" ng-model="item.brand_extended_description" maxlength="8" style="max-width:40%;">
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Supplier</td>
                      <td>
                        <span  ng-click="$event.stopPropagation()">
                          <input class="tabstop form-control" type="text" ng-model="item.supplier" maxlength="8" style="max-width:40%;">
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td >Pack</td>
                      <td >
                        <span ng-click="$event.stopPropagation()">
                          <ng-form>
                            <input class="tabstop form-control pull-left" type="number" ng-model="item.pack" maxlength="4" style="max-width:40%;">
                          </ng-form>
                        </span>
                      </td>
                    </tr>
                    <tr >
                      <td>Size</td>
                      <td ng-click="$event.stopPropagation()" style="width:60px;">
                        <ng-form>
                          <input class="tabstop form-control pull-left" type="text" ng-model="item.size" maxlength="8" style="max-width:40%;">
                        </ng-form>
                      </td>
                    <tr ng-if="(selectedList.permissions.alternativeFieldName)">
                      <td>{{selectedList.permissions.alternativeFieldHeader}}</td>
                      <td>{{item[selectedList.permissions.alternativeFieldName]}}</td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.alternativeFieldName2)">
                      <td>{{selectedList.permissions.alternativeFieldHeader2}}</td>
                      <td>{{item[selectedList.permissions.alternativeFieldName2]}}</td>
                    </tr>
<!--                     <tr ng-if="(selectedList.permissions.canSeeLabels)">
                      <td>Label</td>
                      <td ng-if="(selectedList.permissions.canEditLabels)">
                        <div ng-hide="item.isEditing" class="form-control-group__input">
                          <div class="select-div bek-no-drag hidden-print">
                            <select name="" id="" ng-model-options="{ debounce: 1000}" ng-model="item.label" ng-options="label for label in labels" style="max-width:170px;">
                              <option style="display:none"  value="">{{item.label || 'Select A Label '}}</option>
                            </select>
                          </div>
                          <a ng-click="item.isEditing = true" class="large-icon hidden-print inline-icon"><span class="icon-plus3"></span></a>
                        </div>

                        <ng-form 
                          class="hidden-print form-control-group__input" 
                          name="addLabelForm_mobile" 
                          ng-if="item.isEditing">
                          
                          <input 
                            type="text" 
                            class="form-control edit-label bek-no-drag" 
                            placeholder="New Label..." 
                            ng-required="item.isEditing" 
                            ng-model-options="{ debounce: 1000 }" ng-model="item.editLabel" />
                          <a ng-click="item.isEditing = false"><span class="large-icon text-red icon-cross"></span></a>
                        </ng-form>
                      </td>
                    </tr> -->
                    <tr ng-if="(item.hasPackagePrice && !selectedList.read_only)">
                    <td>Each</td>
                    <td>
                      <ng-form name="eachForm_mobile">
                        <input type="checkbox" ng-model="item.each" ng-checked = "!item.hasCasePrice || item.each" class="mousetrap" ng-disabled="(!item.hasCasePrice)" id="each" name="each" />
                      </ng-form>
                    </td>
                    </tr>
                    <tr ng-if="canSeePrices">
                      <td>Price</td>
                      <td>
                        <span  ng-click="$event.stopPropagation()">
                          <input id="packagePrice" class="tabstop form-control" ng-if="item.each" type="text" ng-model="item.packageprice" max-length="10" numeric-validation style="max-width:40%;">
                          <input id="casePrice" class="tabstop form-control" ng-if="!item.each" type="text" ng-model="item.caseprice"  max-length="10" numeric-validation style="max-width:40%;">
                        </span>
                      </td>
                    </tr>
                    <tr ng-if="(selectedList.permissions.canDeleteItems)">
                      <td colspan="2">
                        <button type="button" class="btn btn-lg btn-danger" ng-click="deleteCustomInventoryItem(item)"><span class="icon-cross"></span> Remove Item</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody> 

          <tfoot ng-if="(selectedList.items.length) === 0 && !loadingResults">
            <tr>
              <td colspan="13">
                No products to display.
              </td>
            </tr>
          </tfoot>
        </table>
        <div 
        class="text-right margin-bottom-10">
          <button 
          type="button" 
          class="btn btn-primary btn-lg pull-left-xs pull-left-sm pull-left-md pull-right-lg" 
          ng-click="addNewItemToList()"
          ng-if="isCustomInventoryList">
          Add Item To List
          </button>
        </div>
      </form>


  <div ng-show="selectedList.itemCount > pagingPageSize">
   <pagination 
    total-items="selectedList.itemCount" 
    ng-model="currentPage" 
    items-per-page="pagingPageSize" 
    max-size="10" 
    boundary-links="true" 
    rotate="false" 
    ng-change="blockUIAndChangePage(this)" 
    class="pagination">
   </pagination> 
  </div>

    </div>
  </div>
</div>