<div page-header-bar>
  <div header-message>
    Marketing
  </div>
  <div header-buttons>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      
      <table class="table table-striped-rows table-border">
        <thead>
          <tr>
            <th>
              Date
            </th>
            <th>
              Email Address
            </th>
            <th>
              Division
            </th>
            <th>
              Customer Status
            </th>
            <th>
              Learn More
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-class="{ odd : $odd, even: $even}">
            <td>test</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
