<div page-header-bar>
  <div header-message>
    Registered Users
  </div>
  <div header-buttons>
    <a class="btn btn-icon btn-default" ng-click="print()" title="Print"><span class="icon-printer"></span></a>
    <a title="Export" ng-click="openExportModal()" class="btn btn-default btn-icon"><span class="icon-export"></span></a>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <form id="itemUsageForm" class="item-usage-form col-md-6">
      <div class="info-box" style="display:inline-block;">
      <table>
        <tr>              
          <td class="datepicker">
            <label>From: </label>
            <a
              ng-click="openDatepickerFrom = true"
              class="icon-calendar"
              datepicker-popup="{{datepickerOptions.options.dateFormat}}"
              ng-model="fromDate"
              is-open="openDatepickerFrom"
              min-date="datepickerOptions.minDate"
              max-date="datepickerOptions.maxDate"
              datepicker-options="datepickerOptions.options"
              date-disabled="disabled(date, mode)"
              close-text="Close"></a>
            {{fromDate | formatDate}}
          </td>
          <td class="datepicker">
            <label>To: </label>
            <a
              ng-click="openDatepickerTo = true"
              class="icon-calendar"
              datepicker-popup="{{datepickerOptions.options.dateFormat}}"
              ng-model="toDate"
              is-open="openDatepickerTo"
              min-date="datepickerOptions.minDate"
              max-date="datepickerOptions.maxDate"
              datepicker-options="datepickerOptions.options"
              date-disabled="disabled(date, mode)"
              close-text="Close"></a>
            {{toDate | formatDate}}
          </td>
          <td class="hidden-print">
            <button type="submit" ng-disabled="itemUsageForm.$invalid || itemUsageForm.$pristine" ng-click="refreshSearch()" class="btn btn-primary btn-lg" disabled="disabled">Update</button>
          </td>
        </tr>
      </table>
      </div>
    </form>
  </div>

  
      
  <table class="table table-striped-rows table-border table-marketing" style="margin-top: 10px;">
    <thead>
      <tr fsm-sticky-header scroll-body="'.table-marketing'" scroll-stop="0">
        <th class="sort-col-header" ng-click="sortTable('registeredon', sortDescending)">
          Date
          <span sort-icons field="'registeredon'" sortorder="sortDescending" sortby="sortField"></span>
        </th>
        <th class="sort-col-header" ng-click="sortTable('email', sortDescending)">
          Email Address
          <span sort-icons field="'email'" sortorder="sortDescending" sortby="sortField"></span>
        </th>
        <th class="sort-col-header" ng-click="sortTable('branchid', sortDescending)">
          Division
          <span sort-icons field="'branchid'" sortorder="sortDescending" sortby="sortField"></span>
        </th>
        <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortTable('iscustomer', sortDescending)">
          Is Customer?
          <span sort-icons field="'iscustomer'" sortorder="sortDescending" sortby="sortField"></span>
        </th>
        <th class="hidden-mobile-visible-print sort-col-header" ng-click="sortTable('learnmore', sortDescending)">
          Learn More?
          <span sort-icons field="'learnmore'" sortorder="sortDescending" sortby="sortField"></span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="user in users | orderBy:sortField:sortDescending" ng-class="{ odd : $odd, even: $even}">
        <td>{{user.registeredon | formatDate}}</td>
        <td>{{user.email}}</td>
        <td>{{user.branchid}}</td>
        <td class="hidden-mobile-visible-print">{{user.iscustomer ? 'Y' : 'N'}}</td>
        <td class="hidden-mobile-visible-print">{{user.learnmore ? 'Y' : 'N'}}</td>
        <td class="large-icon icon-col">
          <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
        </td>
      </tr>
      <tr ng-repeat-end class="mobile-details-row hidden-md hidden-lg" ng-show="showDetails" ng-class="{ odd : $odd, even: $even }">
        <td colspan="6">
          <table>
            <colgroup>
              <col width="25%" />
              <col width="75%" />
            </colgroup>
            <tr>
              <td>Is Customer?</td>
              <td>{{user.iscustomer ? 'Y' : 'N'}}</td>
            </tr>
            <tr>
              <td>Learn More?</td>
              <td>{{user.learnmore ? 'Y' : 'N'}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot ng-show="users.length === 0">
      <tr>
        <td colspan="6">
          No users to display.
        </td>
      </tr>
    </tfoot>
  </table>
      
</div>
