<!-- Mobile Sidebar -->
<div id="sp-nav" ng-swipe-right="$spMenu.hide()" class="sidebar sidebar-mobile" style="display:none;">
 <div class="person-info user-info" ng-click="displayUserMenu = !displayUserMenu">
    <div class="person-info__section"><img ng-src="{{userProfile.imageUrl}}" alt=""></div>
    <div class="person-info__section person-info__details">
      <div>
        <span class="text-white user-info__name">{{userProfile.firstName}} {{userProfile.lastName}}</span>  
      </div>
      <div>
        <span class="user-info__job-title">{{userProfile.role}}</span>
      </div>
    </div>
    <div class="person-info__section text-white">
      <span class="icon-arrow-down6"></span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul class="list-unstyled" ng-click="$spMenu.hide()">
        
        <div ng-show="displayUserMenu">
          <a ui-sref="menu.accountdetails">
            <li>Account Settings</li>
          </a>
          <a ng-click="logout()">
            <li>Sign Out</li>
          </a>
        </div>

        <a ng-repeat="item in menuItems" ng-if="!item.isHiddenMobile" ui-sref="{{item.sref}}" ui-sref-active="is-selected" >
          <li><div class="sidebar-nav__icon"><span ng-class="'icon-' + item.icon"></span></div>{{item.text}}</li>
        </a>
    </ul>
  </nav>
  <div class="person-info sidebar-dsr" ng-if="isOrderEntryCustomer">
    <div class="person-info__section"><img ng-src="{{userProfile.salesRep.imageUrl}}" alt=""></div>
    <div class="person-info__section person-info__details">
      <span class="text-white">{{userProfile.salesRep.name}}</span>  
      <span class="text-white">{{userProfile.salesRep.phone}}</span>
      <span><a class="text-uppercase" href="mailto:{{userProfile.salesRep.email}}">Email Me</a></span>
    </div>
  </div>
  <div ng-if="isOrder" class="sidebar-actions text-center">
    <button class="btn btn-primary">View Your Order</button>
  </div>
</div>

<div id="sp-page" ng-swipe-right="$spMenu.hide()" ng-swipe-left="$spMenu.show()" class="desktop-wrapper">
  
  <!-- Desktop Sidebar -->
  <div class="sidebar sidebar-desktop hidden-print hidden-sm hidden-xs">
    <div class="sidebar-logo text-center">
      <img src="images/bek-logo.png" alt="logo" />
    </div>

    <nav class="sidebar-nav">
      <ul class="list-unstyled">
        <a ng-repeat="item in menuItems" ng-if="!item.isHiddenDesktop" ui-sref="{{item.sref}}" ui-sref-active="is-selected" ng-class="{ 'is-selected' :$state.current.name.indexOf(item.sref) > -1 }">
          <li><div class="sidebar-nav__icon"><span ng-class="'icon-' + item.icon"></span></div>{{item.text}}</li>
        </a>
      </ul>
    </nav>

    <div class="sidebar-dsr text-center" ng-if="isOrderEntryCustomer">
      <p>Your Sales Rep</p>
      <img ng-show="userProfile.salesRep.imageUrl" ng-src="{{userProfile.salesRep.imageUrl}}" alt="dsr image" />
      <p class="contact-info">
        <span>{{userProfile.salesRep.name}}</span>
        <span>{{userProfile.salesRep.phone}}</span>
      </p>
      <a class="text-uppercase" href="mailto:{{userProfile.salesRep.email}}">Email Me</a>
    </div>
    <div class="text-center sidebar-meta">
      <span>Copyright 2014 Ben E. Keith</span>
      <a href="#">benekeith.com</a>
    </div>
  </div>

  <div class="row page-content">
    <div class="col-sm-12">
      
      <div class="row hidden-print user-bar-mobile visible-xs visible-sm">
        <img src="images/bek-logo.png" alt="logo" class="logo-mobile" />
        <ul>
          <a ng-click="isMobileSearchBarDisplayed = !isMobileSearchBarDisplayed"><li><span class="icon-search"></span></li></a>
          <a ui-sref="menu.cart"><li><span class="icon-truck"></span></li></a>
          <a ng-click="$spMenu.toggle()"><li><span class="icon-list2"></span></li></a>
        </ul>
      </div>

      <div class="row user-bar hidden-print" ng-init="isMobileSearchBarDisplayed = true" ng-class="{ 'hide-searchbar' : isMobileSearchBarDisplayed }">
        <div class="col-md-4 hidden-sm hidden-xs">
          <div class="select-div" ng-show="canBrowseCatalog">
            <select ng-change="changeLocation()" ng-options="location.name for location in locations track by location.name" ng-model="currentLocation"></select>
          </div>
        </div>
        <div class="col-md-4">
          <form name="universalSearchForm" novalidate ng-if="canBrowseCatalog">
            <div class="input-group">
              <input required ng-minlength="3" ng-model="userBar.universalSearchTerm" type="text" class="form-control" placeholder="Search by keyword">
              <span class="input-group-btn">
                <button ng-click="search(userBar.universalSearchTerm)" ng-disabled="universalSearchForm.$invalid" class="btn-default btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs text-right">
          <div ng-if="isLoggedIn">
            <span ng-if="isOrderEntryCustomer" class="icon-bell user-bar__notification"></span>
            <div class="person-info user-info" ng-mouseenter="displayUserMenu = true" ng-mouseleave="displayUserMenu = false">
              <div class="person-info__section person-info__details">
                <span class="user-info__name">{{userProfile.firstName}} {{userProfile.lastName}}</span> 
                <span class="user-info__job-title">{{userProfile.role}}</span>
                <div class="user-info__menu btn-group-vertical" ng-show="displayUserMenu">
                  <button class="btn btn-default" ui-sref="menu.accountdetails">Account Settings</button>
                  <button class="btn btn-default" ng-click="logout()">Sign Out</button>
                </div>
              </div>
              <div class="person-info__section">
                <span class="icon-arrow-down5"></span>
              </div>
              <div class="person-info__section" ng-show="userProfile.imageUrl"><img ng-src="{{userProfile.imageUrl}}" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row user-bar hidden-print" ng-show="showLoginForm">
        <div class="col-xs-12 text-right">
          
        </div>
      </div>

      <div class="view" ui-view="">
          <p loading-spinner="true"></p>
      </div>
    </div>
  </div>
</div>