<div class="sidebar hidden-sm hidden-xs">
  <div class="sidebar-logo text-center">
    <img src="images/bek-logo.png" alt="logo" />
  </div>

  <nav class="sidebar-nav">
    <ul class="list-unstyled">
      <a ui-sref="menu.home" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-house"></span></div>Home</li>
      </a>
      <a ui-sref="menu.orders" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-text"></span></div>Orders</li>
      </a>
      <a ui-sref="menu.catalog.home" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-book2"></span></div>Product Catalog</li>
      </a>
      <a ui-sref="menu.reports" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-pie"></span></div>Reports</li>
      </a>
      <a ng-show="isPayer" ui-sref="menu.invoices" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-dollar"></span></div>Invoices</li>
      </a>
      <a ui-sref="menu.emenu" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-food"></span></div>eMenuManage</li>
      </a>
      <a ng-show="isAdmin" ui-sref="menu.admin" ui-sref-active="is-selected">
        <li><div class="sidebar-nav__icon"><span class="icon-cog"></span></div>Admin</li>
      </a>
    </ul>
  </nav>

  <div class="sidebar-dsr text-center">
    <p>Your Sales Rep</p>
    <img ng-show="currentUser.salesRep.imageUrl" src="{{currentUser.salesRep.imageUrl}}" alt="dsr image" style="width:75px;height:75px;" />
    <p class="contact-info">
      <span>{{currentUser.salesRep.name}}</span>
      <span>{{currentUser.salesRep.phone}}</span>
    </p>
    <a class="text-uppercase" href="mailto:{{currentUser.salesRep.email}}">Email Me</a>
  </div>

  <div class="text-center sidebar-meta">
    <span>Copyright 2014 Ben E. Keith</span>
    <a href="#">benekeith.com</a>
  </div>
</div>

<div class="row page-content">
  <div class="col-sm-12">
    <div class="row user-bar">
      <div class="col-lg-9">
        <form role="form" class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn cta-btn btn-lg" ng-click="login();">Login</button>
          </form>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by keyword">
          <span class="input-group-btn">
            <button class="btn btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="view" ui-view="">
        <p>TODO: Loading content</p>
    </div>
  </div>
</div>