<!-- Mobile Sidebar -->
<!-- CSS to hide the Google Translate header bar -->
<style type="text/css">
/* iframe.goog-te-banner-frame{ display: none !important;}*/
/* body {position: static !important; top:0px !important;}*/
/* CSS to disable the Google Translate "original text" pop-up */
.goog-tooltip{ display: none !important;}
.goog-tooltip:hover{ display: none !important;}
.goog-text-highlight{ background-color: transparent !important; border: none !important; box-shadow: none !important;}></style>
<!-- End CSS -->

<div ng-swipe-left="isSidebarOpen = false" ng-swipe-right="isSidebarOpen = true" class="sidebar-menu-wrapper">

  <!-- Desktop Sidebar -->
  <div class="sidebar hidden-print" ng-class="{'open': isSidebarOpen}" style="z-index:10002;">
    <div class="person-info user-info hidden-md hidden-lg" ng-click="displayUserMenu = !displayUserMenu">
      <div class="person-info__section"><img ng-src="{{userProfile.imageurl}}" alt=""></div>
      <div class="person-info__section person-info__details">
        <div>
          <span class="text-white user-info__name">{{userProfile.displayname}}</span>
        </div>
        <div>
          <span class="user-info__job-title text-capitalize">{{userProfile.displayRole}}</span>
        </div>
      </div>
      <div class="person-info__section text-white">
        <span class="icon-arrow-down7"></span>
      </div>
    </div>
    <div class="sidebar-logo text-center hidden-xs hidden-sm">
      <img src="images/bek-logo.png" alt="logo" />
    </div>

    <!-- DESKTOP MENU -->
    <nav class="sidebar-nav">
      <ul class="list-unstyled">
        
        <div ng-show="displayUserMenu" class="hidden-md hidden-lg">
          <button
            class="btn-no-style"
            type="button"
            ng-click="isSidebarOpen = false"
            ui-sref="menu.userprofile">
            <li>Profile Settings</li>
          </button>
          <button
            class="btn-no-style"
            ng-click="isSidebarOpen = false; openTechnicalSupportModal()">
            <li>Technical Support</li>
          </button>
          <button
            class="btn-no-style"
            ng-click="openExternalLink(userGuideUrl)">
            <li>User Guide</li>
          </button>
          <button
            class="btn-no-style"
            ng-click="logout()">
            <li>Sign Out</li>
          </button>
          </div>

        <div ng-click="isSidebarOpen = false">
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!isOrderEntryCustomer"
            ui-sref="menu.home"
            ui-sref-active="is-selected" >
            <li>
              <span class="icon-house sidebar-nav__icon"></span>
              Home
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!canViewOrders"
            ui-sref="menu.order"
            ng-class="{'is-selected': $state.includes('menu.order') || $state.includes('menu.orderitems')}" >
            <li>
              <span class="icon-clipboard sidebar-nav__icon"></span>
              Orders
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!canBrowseCatalog"
            ui-sref="menu.catalog.home"
            ng-class="{'is-selected': $state.includes('menu.catalog')}" >
            <li>
              <span class="icon-book2 sidebar-nav__icon"></span>
              Product Catalog
            </li>
          </button>
          <a
            ng-if="::userProfile.ispowermenucustomer"
            ng-href="{{userProfile.powermenuloginurl}}"
            target="_blank" >
            <li>
              <span class="icon-food sidebar-nav__icon"></span>
              eMenu Manage
            </li>
          </a>
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!canPayInvoices"
            ui-sref="menu.reports"
            ng-class="{'is-selected': $state.includes('menu.reports')}" >
            <li>
              <span class="icon-pie sidebar-nav__icon"></span>
              Reports
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!canPayInvoices"
            ui-sref="menu.invoice"
            ui-sref-active="is-selected" >
            <li>
              <span class="icon-dollar sidebar-nav__icon"></span>
              Invoices
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-disabled="::!canManageLists"
            ui-sref="menu.lists.items({listId: 0})"
            ng-class="{'is-selected': $state.includes('menu.lists')}" >
            <li>
              <span class="icon-text sidebar-nav__icon"></span>
              My Lists
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-if="::canViewCustomerGroupDashboard || canViewCustomerGroups"
            ng-click="goToAdminLandingPage()"
            ng-class="{'is-selected': $state.includes('menu.admin') }" >
            <li>
              <span class="icon-cog sidebar-nav__icon"></span>
              Admin
            </li>
          </button>
          <button
            class="btn-no-style"
            type="button"
            ng-if="::canViewMarketing"
            ui-sref="menu.marketing"
            ui-sref-active="is-selected" >
            <li>
              <span class="icon-user sidebar-nav__icon"></span>
              Marketing
            </li>
          </button>
          <button
            class="btn-no-style hidden-md hidden-lg"
            type="button"
            ng-disabled="!isOrderEntryCustomer"
            ui-sref="menu.notifications"
            ui-sref-active="is-selected" >
            <li>
              <div class="sidebar-nav__icon"><span class="icon-bell"></span></div>
              <span ng-if="userBar.userNotificationsCount.unread && userBar.userNotificationsCount.unread > 0" class="badge">{{userBar.userNotificationsCount.unread}}</span>
              Notifications
            </li>
          </button>
        </div>
      </ul>
    </nav> <!-- END DESKTOP MENU -->

    <div class="sidebar-dsr" ng-if="::isOrderEntryCustomer && selectedUserContext.customer.dsr">
      <p class="hidden-xs hidden-sm">Your Sales Rep</p>
      <img ng-src="{{::selectedUserContext.customer.dsr.imageurl}}" alt="dsr image" />
      <div class="contact-info-wrapper">
        <p class="contact-info">
          <span>{{::selectedUserContext.customer.dsr.name}}</span>
          <a ng-href="{{::'tel:' + selectedUserContext.customer.dsr.phonenumber}}">{{::selectedUserContext.customer.dsr.phonenumber | phoneNumber}}</a>
        </p>
        <a class="text-uppercase" ng-show="::selectedUserContext.customer.dsr.emailaddress" href="mailto:{{::selectedUserContext.customer.dsr.emailaddress}}">Email Me</a>
      </div>
    </div>

    <div class="text-center sidebar-meta">
      <div style="margin-top:10px; margin-bottom:10px;" id="google_translate_element"></div>
      <script type="text/javascript">
           function googleTranslateElementInit() {
             new google.translate.TranslateElement({
              pageLanguage: 'en',
              includedLanguages: 'zh-CN,zh-TW,es,it',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
              gaTrack: true,
              gaId: 'UA-58495462-2'},
               'google_translate_element');
           }
       </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <div>
        <!-- <a href="https://play.google.com/store/apps/details?id=com.benekeith.entreeprod" target="_blank">iOS App</a>
        <span class="icon-dot"></span> -->
        <a href="https://play.google.com/store/apps/details?id=com.benekeith.entreeprod" target="_blank">Android App</a>
      </div>
      <span style="display:block;">Copyright 2015 Ben E. Keith</span>
      <a href="#">benekeith.com</a>
    </div>
  </div> <!-- end Desktop Sidebar -->

  <div class="row main-content">
    <div class="col-sm-12">
      <div class="row hidden-print user-bar-mobile visible-xs visible-sm">
        <ul class="left-mobile-menu">
          <a ng-hide="$state.current.name === 'menu.home'" ng-click="navigateBack()"><li class="mobile-menu-item"><span class="icon-back"></span></li></a>
          <a ng-click="isSidebarOpen = !isSidebarOpen"><li class="mobile-menu-item"><span class="icon-list2"></span></li></a>
        </ul>
        <ul class="right-mobile-menu">
          <a ng-click="isMobileSearchBarDisplayed = !isMobileSearchBarDisplayed"><li class="mobile-menu-item"><span class="icon-search"></span></li></a>
          <li class="mobile-menu-item" ng-if="canCreateOrders">
            
            <div class="btn-group" dropdown is-open="status.cartisopenmobile" style="  margin-top: -2px;margin-bottom: -3px;">
              <button class="badge-parent btn-no-style dropdown-toggle" style="padding: 0;">
                <span title="Carts" class="icon-truck"></span>
              </button>
              <ul class="dropdown-menu truck-dropdown">
                <li class="heading"><h3>Current Carts</h3></li>
                <li class="cart" ng-repeat="cart in cartHeaders | orderBy:'active':true | limitTo: 2">
                  <div class="cart-dropdown__truck"><span class="icon-truck large-icon text-light"></span></div>
                  <div class="cart-dropdown__info">
                    <strong>{{cart.name}}</strong>
                    <br>
                    Ship Date: {{cart.requestedshipdate | formatDate:'ddd, MMMM DD, YYYY'}}
                    <br>
                    <a class="btn btn-default" ui-sref="menu.cart.items({ cartId: cart.id })">View Cart</a>
                    <a class="btn btn-default" ui-sref="menu.addtoorder.items({ cartId: cart.id })">Continue Shopping</a>
                  </div>
                </li>
                <li class="cart-dropdown__view-all">
                  <div>
                    <a ui-sref="menu.order" class="btn btn-primary">View All Carts</a>
                  </div>
                </li>
              </ul>
            </div>
            
          </li>
        </ul>
        <img src="images/bek-logo.png" alt="logo" class="logo-mobile" ng-class="{'logo-margin-left': $state.current.name === 'menu.home'}" />
      </div>

      <div ng-if="mandatoryMessages.length" class="row user-notification-bar hidden-print" style="background-color:rgb(250, 255, 189); height:40px; border: 1px solid #c3bc9c; ">   
        <button class="btn btn-primary" style="margin-left:6px; margin-top: 4px;"  ng-click="showNotification(mandatoryMessages[0])"  type="submit">View Notification</button>
        <button class="btn btn-danger" style="margin-right:6px; margin-top: 4px;" ng-click="dismissNotification(mandatoryMessages[0])">Dismiss</button>
       <td>{{mandatoryMessages[0].subject}}</td>  
      </div>
      
    <div class="row hidden-md hidden-lg mobile-user-context hidden-print"> 
      <select class="input-lg form-control" ng-show="!isOrderEntryCustomer" ng-options="branch.id as branch.name for branch in branches" ng-model="selectedUserContext" ng-change="changeBranch(selectedUserContext)"></select>    
      <div ui-select2="customerSelectOptions" ng-if="isOrderEntryCustomer" ng-change="changeCustomerLocation(selectedUserContext)" ng-model="selectedUserContext" data-placeholder="Select a customer..." style="width:100%;">
      </div>
    </div>

      <div class="row user-bar hidden-print" ng-init="isMobileSearchBarDisplayed = true" ng-class="{ 'hide-searchbar' : isMobileSearchBarDisplayed }" >

         <div class="pull-left row hidden-print user-bar-mobile visible-md" style="margin-left:0px; margin-right:none; border:none;" ng-if="isMobile">
           <ul style="float: left;">
            <a ng-hide="$state.current.name === 'menu.home'" ng-click="navigateBack()" ><li class="tablet-menu-item" ><span title="Back" class="icon-back"></span></li></a>
          </ul>
         </div>

        <div class="col-md-3 hidden-xs hidden-sm"  ng-hide="$state.includes('menu.admin') || $state.includes('menu.transaction') || $state.includes('menu.notifications')">         
          <select class="input-lg form-control" ng-if="::!isOrderEntryCustomer" ng-options="branch.id as branch.name for branch in branches" ng-model="selectedUserContext" ng-change="changeBranch(selectedUserContext)"></select> 
          <div ui-select2="customerSelectOptions" ng-if="::isOrderEntryCustomer" ng-change="changeCustomerLocation(selectedUserContext)" ng-model="selectedUserContext" data-placeholder="Select a customer..." style="width:100%;">
          </div>
        </div>

        <div class="col-md-4">
          <form name="universalSearchForm" novalidate ng-if="::canBrowseCatalog">
            <div class="input-group input-group-lg">
              <input required ng-minlength="3" ng-model="userBar.universalSearchTerm" type="text" class="form-control" placeholder="Search by keyword">
              <span class="input-group-btn">
                <button ui-sref="menu.catalog.products.list({ type: 'search', id: userBar.universalSearchTerm })" ng-disabled="universalSearchForm.$invalid" class="btn-default btn" type="submit"><span class="icon-search"></span></button>
                <button ng-if="::isMobileApp" class="btn btn-default" type="button" ng-click="scanBarcode()"><span class="icon-camera"></span></button>
              </span>
            </div>
          </form>
        </div>

        <div class="col-md-4 hidden-sm hidden-xs text-right nowrap pull-right" style="margin-left:none; padding-left:none;">
          <div>
            <a ng-if="::isOrderEntryCustomer" ui-sref="menu.notifications" class="text-regular"><span class="user-bar__notification badge-parent">
              <span class="icon-bell"></span>
              <span class="badge" ng-if="userBar.userNotificationsCount.unread && userBar.userNotificationsCount.unread > 0">{{userBar.userNotificationsCount.unread}}</span>
            </span></a>
            <div class="person-info user-info" ng-mouseenter="displayUserMenu = true" ng-mouseleave="displayUserMenu = false">
              <div class="person-info__section person-info__details">
                <span class="user-info__name">{{userProfile.displayname}}</span>
                <span class="user-info__job-title text-capitalize">{{userProfile.displayRole}}</span>
                <div class="user-info__menu btn-group-vertical" ng-show="displayUserMenu">
                  <button class="btn btn-lg btn-default" ui-sref="menu.userprofile">Profile Settings</button>
                  <button class="btn btn-lg btn-default" ng-click="openTechnicalSupportModal()">Technical Support</button>
                  <button class="btn btn-lg btn-default"><a target="_tab" ng-href="{{userGuideUrl}}" title="Users Guide" style="color:#504938;">Users Guide</a></button>
                  <button class="btn btn-lg btn-default" ng-click="logout()">Sign Out</button>
                </div>
              </div>
              <div class="person-info__section">
                <span class="icon-arrow-down5"></span>
              </div>
              <div class="person-info__section"><img ng-src="{{::userProfile.imageurl}}" alt=""></div>
            </div>
          </div>
        </div>

      </div>

      <div class="view" ui-view="">
          <p loading-spinner="true"></p>
      </div>
    </div>
  </div>
</div>
