<div page-header-bar>
  <div header-message>
    Messages & Notifications
  </div>
  <div header-buttons>
    <button class="btn btn-default btn-icon" ng-click="print()"><span class="icon-printer"></span></button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    
    <table class="table table-striped-rows table-border">
      <thead>
        <tr>
          <th class="sort-col-header" ng-click="sortOrder=!sortOrder;sortList('ordernumber',sortOrder)">
            Order #
            <span sort-icons field="'ordernumber'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header" ng-click="sortOrder=!sortOrder;sortList('subject',sortOrder)">
            Subject
            <span sort-icons field="'subject'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header" ng-click="sortOrder=!sortOrder;sortList('type',sortOrder)">
            Type
            <span sort-icons field="'type'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="sort-col-header" ng-click="sortOrder=!sortOrder;sortList('time',sortOrder)">
            Time
            <span sort-icons field="'time'" sortorder="sortOrder" sortby="sortBy"></span>
          </th>
          <th class="hidden-print large-icon icon-col">
            <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
          </th>
        </tr>
      </thead>  

      <tbody>
        
        <!-- Filter Row -->
        <tr class="filter-row" ng-show="showFilter">
          <td class="hidden-xs hidden-sm input-col">
            <input type="text" placeholder="Filter..." ng-model="filterFields.notes">
          </td>
          <td class="hidden-xs hidden-sm input-col">
            <input type="text" placeholder="Filter..." ng-model="filterFields.notes">
          </td>
          <td class="hidden-xs hidden-sm input-col">
            <input type="text" placeholder="Filter..." ng-model="filterFields.notes">
          </td>
          <td class="hidden-xs hidden-sm"></td>
          <td class="hidden-xs hidden-sm"></td>
        </tr> <!-- end Filter Row -->

        <tr ng-repeat="notification in notifications" ng-class="{ odd : $odd, even: $even }">
          <td>{{notification.ordernumber}}</td>
          <td>{{notification.message}}</td>
          <td>{{notification.type}}</td>
          <td>{{notification.datetime}}</td>
          <td class="large-icon icon-col">
            <a ng-click="showAdditionalInfo(notification)"><span class="text-light icon-ellipsis"></span></a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>