<div page-header-bar>
  <div header-message>
    Order History
  </div>
  <div header-buttons>
    <button class="btn btn-icon btn-default"><span class="icon-printer"></span></button>
    <button class="btn btn-icon btn-default"><span class="icon-export"></span></button>
  </div>
</div>

<table class="table table-border table-striped-rows">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Status</th>
      <th>Delivery Date</th>
      <th>Item Count</th>
      <th class="text-right">Total</th>
      <th>Invoice #</th>
      <th>Invoice Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders" ng-class="{ odd : $odd, even: $even }">
      <td>
        <a ui-sref="menu.orderitems({orderNumber: order.ordernumber})">{{order.ordernumber}}</a>
      </td>
      <td></td>
      <td>{{order.deliveryDate}}</td>
      <td>{{order.itemcount}}</td>
      <td class="text-right">{{order.ordertotal | currency}}</td>
      <td>{{order.invoicenumber || 'N/A'}}</td>
      <td>{{order.invoicestatus || 'N/A'}}</td>
    </tr>
  </tbody>
</table>