<div page-header-bar>
  <div header-message>
    Orders 
    <button ng-click="refreshOrderHistory()" class="hidden-md hidden-lg hidden-print btn btn-lg btn-success pull-right" style="font-size: 12px;padding: 7px 10px;">Get Latest<br>Updates</button>
  </div>
  <div header-buttons>
    <button ng-click="refreshOrderHistory()" class="hidden-xs hidden-sm btn btn-lg btn-success">Get Latest Updates</button>
    <button title="Print" ng-click="print()" class="btn btn-icon btn-default"><span class="icon-printer"></span></button>
    <button title="Export" ng-click="openExportModal()" class="btn btn-icon btn-default"><span class="icon-export"></span></button>
    <order-dropdown></order-dropdown>
  </div>
</div>
 
<div class="page-content">
  
  <div class="row">
    <h3 class="col-xs-8">
      Pending Orders
      <button style="margin-top: -13px;margin-left: 10px;" class="btn btn-sm btn-danger" ng-show="cartGuids.length > 0" ng-click="deleteCarts(cartGuids)">Delete Carts</button>
    </h3>
    <div class="col-xs-4 text-right" style="margin-top:20px;">
      Showing {{carts.length}} Carts
    </div>
  </div>
 
  <table class="table table-border table-striped-rows">
    <thead>
      <tr>
        <th class="input-col">
          <input type="checkbox" ng-model="allCartsSelected" ng-change="toggleAllCarts(allCartsSelected)" />
        </th>
        <th>
          Name
        </th>
        <th>
          Ship Date
        </th>
        <th>
          PO Number
        </th>
        <th>
          Item Count
        </th>
        <th>
          Subtotal
        </th>
      </tr>
    </thead>
    <tbody>
 
      <tr ng-repeat="cart in carts" ng-class="{ odd : $odd, even: $even }">
        <td class="input-col">
          <input type="checkbox" ng-checked="cartGuids.indexOf(cart.id) > -1" ng-click="toggleCart(cart.id)" />
        </td>
        <td>
          <a ui-sref="menu.cart.items({ cartId: cart.id })">{{::cart.name}}</a>
        </td>
        <td>
          {{::(cart.requestedshipdate || 'N/A') | formatDate:'ddd, MMM D, YYYY'}}
        </td>
        <td>
          {{::cart.ponumber || 'N/A'}}
        </td>
        <td>
          {{::cart.itemcount}}
        </td>
        <td>
          {{::cart.subtotal | currency}}
        </td>
      </tr>
    </tbody>
    <tfoot ng-show="carts.length === 0">
      <tr>
        <td colspan="9">There are no carts to display.</td>
      </tr>
    </tfoot>
  </table>
  <div class="text-center" loading-spinner="loadingCarts"></div>
 
  <div class="row">
    <h3 class="col-xs-8">Confirmed Orders</h3>
    <div class="col-xs-4 text-right" style="margin-top:20px;">
      Showing {{orders.length}} of {{totalOrders}} Orders
    </div>
  </div>
 
  <table class="table table-border table-striped-rows" infinite-scroll="infiniteScrollLoadMore()">
    <thead>
      <tr>
        <th class="sort-col-header" ng-click="sortOrders('invoicenumber', !sort.sortDescending)">
          Invoice
          <span># <span sort-icons field="'invoicenumber'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <th class="sort-col-header" ng-click="sortOrders('createddate', !sort.sortDescending)">
          Order
          <span>Date <span sort-icons field="'createddate'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <th class="sort-col-header" ng-click="sortOrders('status', !sort.sortDescending)">
          <span>Status<span sort-icons field="'status'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortOrders('deliverydate', !sort.sortDescending)">
          Delivery
          <span>Date <span sort-icons field="'deliverydate'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <th class="hidden-mobile-visible-print">Item Count</th>
        <th class="sort-col-header text-right hidden-mobile-visible-print" ng-click="sortOrders('ordertotal', !sort.sortDescending)">
          <span>Total <span sort-icons field="'ordertotal'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <!-- <th class="hidden-mobile-visible-print">Invoice #</th> -->
        <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortOrders('invoicestatus', !sort.sortDescending)">
          Invoice
          <span>Status <span sort-icons field="'invoicestatus'" sortorder="sort.sortDescending" sortby="sort.field"></span></span>
        </th>
        <th class="large-icon icon-col">
          <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
        </th>
      </tr>
    </thead>
    <tbody>
 
      <!-- Filter Row -->
      <tr class="filter-row" ng-show="showFilter">
        <td class="input-col">
          <input type="text" placeholder="Filter..." ng-model="filterFields.invoicenumber">
        </td>
        <td></td>
        <td class="input-col">
          <input type="text" placeholder="Filter..." ng-model="filterFields.status">
        </td>
        <td class="hidden-mobile-visible-print"></td>
        <td class="hidden-mobile-visible-print"></td>
        <td class="hidden-mobile-visible-print"></td>
        <td class="hidden-mobile-visible-print input-col">
          <input type="text" placeholder="Filter..." ng-model="filterFields.invoicestatus">
        </td>
        <td class="input-col">
          <button type="button" class="btn btn-primary btn-sm" ng-click="filterOrders(filterFields)">Filter</button>
          <button type="button" class="btn btn-default btn-sm" ng-click="clearFilters(filterFields)">Clear</button>
        </td>
      </tr> <!-- end Filter Row -->
 
      <tr ng-repeat-start="order in orders | styleOrders" ng-class="{ odd : $odd, even: $even }">
        <td ng-class="{ 'red-border': order.invoicestatus === 'Past Due', 'green-border': order.invoicestatus === 'Paid' }">
          <div order-link></div>
        </td>
        <td>{{order.createddate | formatDate:'MM/DD/YYYY h:mma'}}</td>
        <td style="max-width: 100px;overflow-x: hidden;">{{order.status}}</td>
        <td class="hidden-mobile-visible-print">{{order.deliverydate || 'N/A' | formatDate:'ddd, MMM D, YYYY' }}</td>
        <td class="hidden-mobile-visible-print">{{order.itemcount}}</td>
        <td class="hidden-mobile-visible-print text-right">{{order.ordertotal | currency}}</td>
        <td 
          ng-class="{ 'text-red': order.invoicestatus === 'Past Due', 'text-green': order.invoicestatus === 'Paid' }" 
          class="hidden-mobile-visible-print">
          {{order.invoicestatus || 'N/A'}}
        </td>
        <td class="large-icon icon-col">
          <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
        </td>
      </tr>
      <tr ng-repeat-end ng-show="showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row hidden-md hidden-lg">
        <td colspan="4">
          <table>
            <colgroup>
              <col width="25%" />
              <col width="75%" />
            </colgroup>
            <tr>
              <td>Delivery Date</td>
              <td>{{order.deliverydate || 'N/A' | formatDate:'ddd, MMM D, YYYY'}}</td>
            </tr>
            <tr>
              <td>Item Count</td>
              <td>{{order.itemcount}}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{order.ordertotal | currency}}</td>
            </tr>
            <!-- <tr>
              <td>Invoice #</td>
              <td>{{order.invoicenumber || 'N/A'}}</td>
            </tr> -->
            <tr>
              <td>Invoice Status</td>
              <td ng-class="{ 'text-red': order.invoicestatus === 'Past Due', 'text-green': order.invoicestatus === 'Paid' }">{{order.invoicestatus || 'N/A'}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot ng-show="orders.length === 0">
      <tr>
        <td colspan="9">There are no orders to display.</td>
      </tr>
    </tfoot>
  </table>
  <div class="text-center" loading-spinner="loadingResults"></div>
</div>