<div class="row register-wrapper view sub-content">
  <div class="col-md-10 col-md-offset-1 col-xs-12">

    <div class="row register-header">
      <div class="col-md-6"  ng-class="{'text-center':isMobileApp}">
        <img src="images/bek-logo-green.png" alt="logo" />
      </div>

      <div class="col-md-6">
        <form novalidate name="loginForm" class="login-form style-validation-errors">
            <div class="row">
              <div class="col-md-5 form-group">
                <label for="username">Email Address</label>
                <span ng-show="loginForm.username.$error.required && loginForm.username.$dirty" class="text-red">Email is required</span>
                <input id="username" ng-trim focus-me="!isMobileApp" required name="username" type="text" class="form-control" ng-model="loginInfo.username">
              </div>
              <div class="col-md-5 form-group">
                <label for="password">Password</label>
                <span ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="text-red">Password is required</span>
                <input id="password" required name="password" type="password" class="form-control" ng-model="loginInfo.password">
              </div>
              <div class="col-md-2 form-group">
                <button ng-disabled="loginForm.$invalid" class="btn-primary btn " ng-class="{'col-xs-12 col-sm-12 btn-lg':isMobileApp}" type="submit" ng-click="login(loginInfo)">Login</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 text-red">
                <div ng-show="loginErrorMessage.length">
                {{loginErrorMessage}}
              </div>
              </div>
              <div class="col-md-5" >
                <a ng-confirm-click="{{'Request a password reset for the following email: ' + loginInfo.username + '?'}}" confirmed-click="forgotPassword(loginInfo.username)" ><strong>Forgot your password?</strong></a>
              </div>
            </div>
          </form>

      </div>
    </div>

    <div class="register-body sub-content">

      <div class="row">
        <div class="col-xs-12">          
          <h1 ng-if="!isMobileApp" class="text-thin">Sign Up Now - It's Free and Easy!</h1>
          <h1 ng-if="isMobileApp" class="text-center" ng-click="setSignUpBool(signUpBool)"><a class="text-thin">Sign Up Now <br> It's Free and Easy!</a></h1>
          <p ng-show="signUpBool">
            Please register by completing the form below. Your information is confidential to Ben E. Keith and will not be shared with any outside sources.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-red">
          <p>{{registrationErrorMessage}}</p>
        </div>
      </div>

      <form ng-show="signUpBool" name="registrationForm" novalidate class="register-form sub-content style-validation-errors">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="username">Email Address</label>
            <span ng-show="registrationForm.username.$error.required && registrationForm.username.$dirty" class="text-red">Email is required</span>
            <span ng-show="registrationForm.username.$error.internalEmailInvalid" class="text-red">You cannot register with an internal benekeith.com email address</span>
            <input required ng-trim internal-email-invalid class="form-control" type="text" id="username" name="username" ng-model="registerUser.email">
          </div>
          <div class="col-md-6 form-group">
            <label for="confirmUsername">Confirm Email</label>
            <span ng-show="registrationForm.confirmUsername.$error.matchInput && registrationForm.confirmUsername.$dirty" class="text-red">Emails do not match</span>
            <span ng-show="registrationForm.confirmUsername.$error.required && registrationForm.confirmUsername.$dirty" class="text-red">Email confirmation is required</span>
            <input required ng-trim class="form-control" type="text" id="confirmUsername" name="confirmUsername" ng-model="registerUser.confirmEmail" match-input="registerUser.email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="password">Password</label>
            <span ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty" class="text-red">Password is required</span>
            <span ng-show="registrationForm.password.$error.passwordRequirements && registrationForm.password.$dirty && !registrationForm.password.$error.required" class="text-red">Must contain one uppercase letter, one lowercase letter, and a number. Minimum length is 8 characters. Cannot contain any part of your name or email address.</span>
            <input password-requirements required class="form-control" id="password" type="password" name="password" ng-model="registerUser.password">
          </div>
          <div class="col-md-6 form-group">
            <label for="confirmPassword">Confirm Password</label>
            <span ng-show="registrationForm.confirmPassword.$error.matchInput && registrationForm.confirmPassword.$dirty" class="text-red">Passwords do not match</span>
            <span ng-show="registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$dirty" class="text-red">Password confirmation is required</span>
            <input required class="form-control" id="confirmPassword" type="password" name="confirmPassword" ng-model="registerUser.confirmPassword" match-input="registerUser.password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="customerStatus">Customer Status</label>
            <div class="radio">
              <label>
                <input ng-model="registerUser.existingcustomer" type="radio" name="customerStatus" id="customerStatus1" ng-value="false" ng-init="registerUser.existingcustomer = false">
                I am NOT a current customer
              </label>
            </div>
             <div class="radio">
              <label>
                <input ng-model="registerUser.existingcustomer" type="radio" name="customerStatus" id="customerStatus2" ng-value="true">
                I am a current customer
              </label>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <label for="branch">Division</label>
            <a class="pull-right" target="_system" href="Assets/bek-division-map.png">Division Map</a>
            <span ng-show="registrationForm.branch.$error.required && registrationForm.branch.$dirty" class="text-red">Division is required</span>
            <div class="select-div block full-width">
              <select required name="branch" id="branch" class="form-control" ng-options="branch.id as branch.name for branch in branches" ng-model="registerUser.branchid">
                <option value="">Please select a division</option>
              </select>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-12">
            <div class="checkbox">
              <label for="discounts">
                <input type="checkbox" ng-model="registerUser.marketingflag" name="discounts" id="discounts" ng-init="registerUser.marketingflag = true">
                Select checkbox to learn more about Ben E. Keith
              </label>
            </div>
          </div>
        </div>

        <div class="row sub-content">
          <div class="col-xs-12 button-row">
            <button 
            ng-click="registerNewUser(registerUser)" 
            ng-disabled="registrationForm.$invalid || registrationFormSubmitted" 
            type="submit" 
            class="btn-lg btn btn-primary">
            Submit Registration</button>
            <a ng-click="clearForm()">Cancel</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
