<div class="row">
  <div class="col-xs-12 sub-content">

    <p>
      Please register by completing the form below. Only items marked with an "*" are required. The registration is good for 6 months from today. Your information is confidential to Ben E. Keith and will not be shared with any outside sources.
    </p>

    <form action="" role="form">
      <div class="row form-group">
        <div class="col-md-6">
          <label for="">Email Address*</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="">Verify Email Address*</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-6">
          <label for="">Password*</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="">Confirm Password*</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-6">
          <label for="">Customer Status*</label>
          <div class="radio">
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> I am currently a Ben E. Keith customer
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> I am not a customer. Please contact me with more info.
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> I am not a customer. Please do not contact me with more info.
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <label for="">Default Catalog*</label>
          <!-- <div class="select-div"> -->
            <select name="" id="" class="form-control">
              <option value="">Please select a catalog</option>
            </select>
          <!-- </div> -->
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-3">
          <label for="">First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3">
          <label for="">Last Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="">Customer Name</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-3">
          <label for="">Phone Number</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6 col-md-offset-3">
          <label for="">City</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-3">
          <label for="">State</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3">
          <label for="">Zip Code</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn cta-btn">Submit Registration</button>
          <a href="">Cancel</a>
        </div>
      </div>
    </form>

  </div>
</div>