<div page-header-bar>
  <div header-message>
    Reports
  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="info-box" style="display: inline-block;">
        <div style="margin-top: 15px;"><h3><a ui-sref="menu.itemusagereport"><span class="icon-stats-dots extra-large-icon" style="padding-right: 5px; font-size: 45px;"></span> <span style="padding-bottom: 10px;">Item Usage Report</span></a></h3></div>
        <div><h3><a ui-sref="menu.inventoryreport"><span class="glyphicon glyphicon-list-alt extra-large-icon" style="top: 10px; padding-right: 5px; font-size: 45px;"></span> Inventory Valuation Report</a></h3></div>
      </div>
      
    </div>
  </div>
</div>
