<div page-header-bar>
  <div header-message>
    Reports
  </div>
  <div header-buttons>
  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="info-box" style="display: inline-block;">
        <h3 ng-show="userProfile.iskbitcustomer"><a ng-click="openExternalLink(cognosUrl)">KBIT</a></h3>
        <h3><a ui-sref="menu.itemusagereport">Item Usage Report</a></h3>
         <h3><a ui-sref="menu.inventoryreport">Inventory Valuations Report</a></h3>
      </div>
      
    </div>
  </div>
</div>
