<div page-header-bar>
	<div header-message>
		Product Catalog
	</div>
	<div header-buttons>
		<button class="btn btn-icon btn-default" title="Print"><span class="icon-printer"></span></button>
		<button class="btn btn-icon btn-default" title="Export" ng-click="openExportModal()"><span class="icon-export"></span></button>
	</div>
</div>
<div class="row page-subheader-bar">
	<div class="col-md-12 page-subheader-bar__container">
		<div class="page-subheader-bar__message hidden-xs hidden-sm">
			<div ng-repeat="bc in breadcrumbs"><a ng-click="breadcrumbClickEvent(bc.type,bc.id)">{{bc.name}} </a> <span>>></span></div>
		</div>
		<div class="page-subheader-bar__message hidden-lg hidden-md">
			{{categoryName}}{{searchTerm}}
		</div>
		<div ng-click="hidden = ! hidden" class="hidden-lg hidden-md page-subheader-bar__filter">
			Filter <span ng-show="filterCount>0">({{filterCount}})</span><span class="icon-arrow-down5"></span>
		</div>
	</div>
</div>
<div class="row" ng-hide="hidden">
	<div class="col-xs-9 col-xs-offset-3 mobile-filter filters">
		<div class="row">
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.openCategories">
					<accordion-heading>
						Categories<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.openCategories, 'icon-arrow-down7': !status.openCategories}"></i>
					</accordion-heading>
					<div ng-repeat="category in categories" class="panel panel-default">
						<div class="panel-body">
							<a ng-click="toggleSelection(category, 'category')" ng-class="{active: category.name == selectedCategory.name}">{{category.categoryname}} ({{category.count}})</a>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="status.openBrand">
					<accordion-heading>
						Brand<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.openBrand, 'icon-arrow-down7': !status.openBrand}"></i>
					</accordion-heading>
					<div ng-repeat="brand in brands" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="brandValue_{{brand.name}}"
							id="brandId_{{brand.name}}"
							ng-checked="selectedBrands.indexOf(brand.name) > -1 || brand.name === houseBrand"
							ng-disabled="brand.name === houseBrand"
							ng-click="toggleSelection(brand.name,'brand')">
							<label for="brandId_{{brand.name}}">{{brand.name}} ({{brand.count}})</label>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="status.openDietary">
					<accordion-heading>
						Dietary<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.openDietary, 'icon-arrow-down7': !status.openDietary}"></i>
					</accordion-heading>
					<div ng-repeat="diet in dietary" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="dietValue_{{diet.name}}"
							id="dietId_{{diet.name}}"
							ng-checked="selectedDietary.indexOf(diet.name) > -1"
							ng-click="toggleSelection(diet.name,'dietary')">
							<label for="dietId_{{diet.name}}">{{diet.name}} ({{diet.count}})</label>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="status.openSpecs">
					<accordion-heading>
						Item Specifications<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.openSpecs, 'icon-arrow-down7': !status.openSpecs}"></i>
					</accordion-heading>
					<div ng-class="{hidenonstock: !hasNonstock}" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="nonstockValue_{{nonstock.name}}"
							id="nonstockId_{{nonstock.name}}"
							ng-checked="selectedNonstock.indexOf(nonstock.name) > -1"
							ng-click="toggleSelection(nonstock.name,'nonstock')">
							<label for="nonstockId_{{nonstock.name}}"><span class="{{nonstock.iconclass}}"></span> {{nonstock.displayname}} ({{nonstock.count}})</label>
						</div>
					</div>
					<div ng-repeat="spec in itemspecs" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="specValue_{{spec.name}}"
							id="specId_{{spec.name}}"
							ng-checked="selectedSpecs.indexOf(spec.name) > -1"
							ng-click="toggleSelection(spec.name,'spec')">
							<label for="specId_{{spec.name}}"><span class="{{spec.iconclass}}"></span> {{spec.displayname}} ({{spec.count}})</label>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>
<div class="row">
	<!-- Filters -->
	<div class="col-sm-3 hidden-xs hidden-sm search-results__filters">
		<div class="row">
			<div class="col-sm-12">
				<h3 ng-show="paramType !== 'category'">Categories</h3>
				<h3 ng-show="paramType === 'category'">{{categoryName}}</h3>
				<ul class="nav search-results__category" ng-show="categories">
					<li ng-repeat="category in categories">
						<a ng-click="toggleSelection(category, 'category')" ng-class="{active: category.name == selectedCategory.name}">{{category.categoryname}} ({{category.count}})</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row" ng-show="brands">
			<div class="col-sm-12">
				<h3>Brand</h3>
				<div ng-repeat="brand in brands" ng-class="{hidebrand: $index > brandHiddenNumber}">
					<input type="checkbox"
					value="brandValue_{{brand.name}}"
					id="brandId_{{brand.name}}"
					ng-checked="selectedBrands.indexOf(brand.name) > -1 || brand.name === houseBrand"
					ng-disabled="brand.name === houseBrand"
					ng-click="toggleSelection(brand.name,'brand')">
					<label for="brandId_{{brand.name}}">{{brand.name}} ({{brand.count}})</label>
				</div>
				<div ng-class="{'hidebrand': brandCount <= constantHiddenNumber}">
					<a ng-class="{'hidebrand': isBrandShowing}" ng-click="showBrand()">+ Show More</a>
					<a ng-class="{'hidebrand': !isBrandShowing}" ng-click="hideBrand()">- Show Less</a>
				</div>
			</div>
		</div>
		<div class="row" ng-show="dietary">
			<div class="col-sm-12">
				<h3>Dietary</h3>
				<div ng-repeat="diet in dietary" ng-class="{hidedietary: $index > dietaryHiddenNumber}">
					<input type="checkbox"
					value="dietValue_{{diet.name}}"
					id="dietId_{{diet.name}}"
					ng-checked="selectedDietary.indexOf(diet.name) > -1"
					ng-click="toggleSelection(diet.name,'dietary')">
					<label class="text-capitalize" for="dietId_{{diet.name}}">{{diet.name}} ({{diet.count}})</label>
				</div>
				<div ng-class="{'hidedietary': dietaryCount <= constantHiddenNumber}">
					<a ng-class="{'hidedietary': isDietaryShowing}" ng-click="showDietary()">+ Show More</a>
					<a ng-class="{'hidedietary': !isDietaryShowing}" ng-click="hideDietary()">- Show Less</a>
				</div>
			</div>
		</div>
		<div class="row" ng-show="itemspecs || hasNonstock">
			<div class="col-sm-12">
				<h3>Item Specifications</h3>
				<div ng-class="{hidenonstock: !hasNonstock}">
					<input type="checkbox"
					value="nonstockValue_{{nonstock.name}}"
					id="nonstockId_{{nonstock.name}}"
					ng-checked="selectedNonstock.indexOf(nonstock.name) > -1"
					ng-click="toggleSelection(nonstock.name,'nonstock')">
					<label for="nonstockId_{{nonstock.name}}"><span class="{{nonstock.iconclass}}"></span> {{nonstock.displayname}} ({{nonstock.count}})</label>
				</div>
				<div ng-repeat="spec in itemspecs" ng-class="{hidespec: $index > specHiddenNumber}">
					<input type="checkbox"
					value="specValue_{{spec.name}}"
					id="specId_{{spec.name}}"
					ng-checked="selectedSpecs.indexOf(spec.name) > -1"
					ng-click="toggleSelection(spec.name,'spec')">
					<label for="specId_{{spec.name}}"><span class="{{spec.iconclass}}"></span> {{spec.displayname}} ({{spec.count}})</label>
				</div>
				<div ng-class="{'hidespec': specCount <= constantHiddenNumber}">
					<a ng-class="{'hidespec': isSpecShowing}" ng-click="showSpec()">+ Show More</a>
					<a ng-class="{'hidespec': !isSpecShowing}" ng-click="hideSpec()">- Show Less</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Search Results -->
	<div class="col-md-9 col-xs-12">
		<div class="row">
			<h2 class="col-xs-6">Search Results</h2>
      <span style="margin-top: 25px;" class="col-xs-6 text-right">{{totalItems}} results</span>
		</div>
		
		<table class="table table-striped-rows table-border" infinite-scroll="infiniteScrollLoadMore()" context-menu favorite-item-click-handlers>
			<thead>
				<tr>
          <th></th>
          <th class="sort-col-header" ng-click="sortTable('itemnumber')">
            Item #
            <span sort-icons field="'itemnumber'" sortorder="sortReverse" sortby="sortField"></span>
          </th>
          <th class="sort-col-header hidden-sm hidden-xs" ng-click="sortTable('brand_description_not_analyzed')">
            Brand
            <span sort-icons field="'brand_description_not_analyzed'" sortorder="sortReverse" sortby="sortField"></span>
          </th>
          <th class="sort-col-header" ng-click="sortTable('name_not_analyzed')">
            Name
            <span sort-icons field="'name_not_analyzed'" sortorder="sortReverse" sortby="sortField"></span>
          </th>
          <th class="hidden-sm hidden-xs">
            Pack/Size
          </th>
          <th class="hidden-sm hidden-xs"></th>
          <th class="hidden-sm hidden-xs" ng-class="{'sort-col-header': totalItems < 201}" ng-click="sortTable('caseprice')">
            Price
            <span ng-show="totalItems < 201" sort-icons field="'caseprice'" sortorder="sortReverse" sortby="sortField"></span>
          </th>
          <th></th>
        </tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="item in products" ng-class="{ odd : $odd, even: $even }">
          <td class="large-icon icon-col">
            <span favorite-icons></span>
          </td>
          <td>
            <a ng-click="goToItemDetails(item)">{{item.itemnumber}}</a>
          </td>
          <td class="hidden-sm hidden-xs">
            {{item.brand_extended_description}}
          </td>
          <td>
            {{item.name}}
          </td>
          <td class="hidden-sm hidden-xs">
            {{item.pack | number}} / {{item.size}}
          </td>
          <td class="nowrap hidden-sm hidden-xs text-right" item-icons>
          </td>
          <td class="hidden-sm hidden-xs">
            <span ng-if="item.caseprice !== '$0.00'">{{item.caseprice}}</span>
            <span class="text-small" tooltip="Catch weight pricing" ng-if="item.catchweight">LB</span>
          </td>
          <td class="large-icon icon-col">
            <span ng-if="canManageLists || canCreateOrders || canSubmitOrders" context-menu-template class="context-menu__in-list"><a><span class="icon-plus2"></span></a></span>

            <a ng-click="showDetails = !showDetails;"><span class="text-light visible-xs-inline visible-sm-inline icon-ellipsis"></span></a>
          </td>
        </tr>
        <tr ng-repeat-end ng-show="showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row">
          <td colspan="4">
            <div>
              <p>Pack / Size: {{item.pack | number}} / {{item.size}}</p>
              <p>Brand: {{item.brand_extended_description}}</p>
              <p class="large-icon" item-icons>
              <p ng-if="item.caseprice !== '$0.00'">Price: {{item.caseprice}}</p>
              </p>
            </div>
          </td>
        </tr>
			</tbody>
			<tfoot>
				<tr ng-show="products.length === 0">
					<td colspan="8">No products found.</td>
				</tr>
			</tfoot>
		</table>

		<div class="text-center" loading-spinner="loadingResults"></div>
	</div>
</div>