<div page-header-bar>
	<div header-message>
		Product Catalog
	</div>
	<div header-buttons>
		<button class="btn btn-icon"><span class="icon-printer"></span></button>
		<button class="btn btn-icon"><span class="icon-disk"></span></button>
	</div>
</div>
<div class="row page-subheader-bar">
	<div class="col-md-12 page-subheader-bar__container">
		<div class="page-subheader-bar__message hidden-xs hidden-sm">
			<div ng-repeat="bc in breadcrumbs"><a ng-click="breadcrumbClickEvent(bc.type,bc.id)">{{bc.name}} </a> <span>>></span></div>
		</div>
		<div class="page-subheader-bar__message hidden-lg hidden-md">
			{{searchTerm}}
		</div>
		<div ng-click="hidden = ! hidden" class="hidden-lg hidden-md page-subheader-bar__filter">
			Filter <span ng-show="filterCount>0">({{filterCount}})</span><span class="icon-arrow-down5"></span>
		</div>
	</div>
</div>
<div class="row" ng-hide="hidden">
	<div class="col-xs-9 col-xs-offset-3 mobile-filter filters">
		<div class="row">
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.open">
					<accordion-heading>
						Categories<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.open, 'icon-arrow-down7': !status.open}"></i>
					</accordion-heading>
					<accordion close-others="false">
						<accordion-group is-open="status.subopen[$index]" ng-repeat="category in categories | orderBy : ['name']" class="sub-accordion">
							<accordion-heading>
								<div class="panel panel-default">
									<div class="panel-body">
										<a ng-click="toggleSelection(category, 'category')" ng-class="{active: category.name == selectedCategory}">{{category.name}}</a>
									</div>
								</div>
								<!-- {{category.name}}<i class="pull-right glyphicon"></i> -->
							</accordion-heading>
							<div ng-repeat="subcategory in category.subcategories" class="panel panel-default" style="height: auto;">
								<div class="panel-body">
									<li ng-click="toggleSelection(subcategory, 'subcategory')">
										<span ng-class="{active: subcategory.name == selectedSubcategory}">{{subcategory.name}}</span>
									</li>
								</div>
							</div>
						</accordion-group>
					</accordion>
				</accordion-group>
				<accordion-group is-open="status.open2">
					<accordion-heading>
						Brand<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.open2, 'icon-arrow-down7': !status.open2}"></i>
					</accordion-heading>
					<div ng-repeat="brand in brands" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="brandValue_{{brand.name}}"
							id="brandId_{{brand.name}}"
							ng-checked="selectedBrands.indexOf(brand.name) > -1"
							ng-click="toggleSelection(brand.name,'brand')">
							<label for="brandId_{{brand.name}}">{{brand.name}}</label>
						</div>
					</div>
				</accordion-group>
				<accordion-group is-open="status.open3">
					<accordion-heading>
						Allergens<i class="pull-right glyphicon" ng-class="{'icon-arrow-up6': status.open3, 'icon-arrow-down7': !status.open3}"></i>
					</accordion-heading>
					<div ng-repeat="allergen in allergens" class="panel panel-default">
						<div class="panel-body">
							<input type="checkbox"
							value="allergenValue_{{allergen.id}}"
							id="allergenId_{{allergen.id}}"
							ng-checked="selectedAllergens.indexOf(allergen.id) > -1"
							ng-click="toggleSelection(allergen.id,'allergen')">
							<label for="allergenId_{{allergen.id}}">{{allergen.name}}</label>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>
<div class="row">
	<!-- Filters -->
	<div class="col-sm-3 hidden-xs hidden-sm search-results__filters">
		<div class="row">
			<div class="col-sm-12">
				<h3>Categories</h3>
				<ul class="nav search-results__category">
					<li class="text-center" loading-spinner="loadingCategories"></li>
					<li ng-repeat="category in categories | orderBy : ['name']">
						<a ng-click="toggleSelection(category, 'category')" ng-class="{active: category.name == selectedCategory}">{{category.name}} ({{category.count}})</a>
						<ul ng-show="category.show" class="">
							<li ng-repeat="subcategory in category.subcategories" ng-click="toggleSelection(subcategory, 'subcategory')">
								<span ng-class="{active: subcategory.name == selectedSubcategory}">{{subcategory.name}}</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="row sub-content">
			<div class="col-sm-12">
				<h3>Brand</h3>
				<div ng-repeat="brand in brands" ng-class="{hidebrand: $index > brandHiddenNumber}">
					<input type="checkbox"
					value="brandValue_{{brand.name}}"
					id="brandId_{{brand.name}}"
					ng-checked="selectedBrands.indexOf(brand.name) > -1"
					ng-click="toggleSelection(brand,'brand')">
					<label for="brandId_{{brand.name}}">{{brand.name}} ({{brand.count}})</label>
				</div>
				<a ng-class="{'hidebrand': isBrandShowing}" ng-click="showBrand()">+ Show More</a>
				<a ng-class="{'hidebrand': !isBrandShowing}" ng-click="hideBrand()">- Show Less</a>
			</div>
		</div>
		<div class="row sub-content">
			<div class="col-sm-12">
				<h3>Allergens</h3>
				<div ng-repeat="allergen in allergens" ng-class="{hideallergen: $index > allergenHiddenNumber}">
					<input type="checkbox"
					value="allergenValue_{{allergen.name}}"
					id="allergenId_{{allergen.name}}"
					ng-checked="selectedAllergens.indexOf(allergen.name) > -1"
					ng-click="toggleSelection(allergen,'allergen')">
					<label for="allergenId_{{allergen.name}}">{{allergen.name}} ({{allergen.count}})</label>
				</div>
				<a ng-class="{'hideallergen': isAllergenShowing}" ng-click="showAllergen()">+ Show More</a>
				<a ng-class="{'hideallergen': !isAllergenShowing}" ng-click="hideAllergen()">- Show Less</a>
			</div>
		</div>
		<div class="row sub-content">
			<div class="col-sm-12">
				<h3>Item Specifications</h3>
				<div ng-repeat="spec in itemSpecifications" ng-class="{hidespec: $index > specHiddenNumber}">
					<input type="checkbox"
					value="specValue_{{spec.id}}"
					id="specId_{{spec.id}}"
					ng-checked="selectedAllergens.indexOf(spec.id) > -1"
					ng-click="toggleSelection(spec,'spec')">
					<label for="specId_{{spec.id}}"><span class="{{spec.iconClass}}"></span> {{spec.name}}</label>
				</div>
				<a ng-class="{'hidespec': isSpecShowing}" ng-click="showSpec()">+ Show More</a>
				<a ng-class="{'hidespec': !isSpecShowing}" ng-click="hideSpec()">- Show Less</a>
			</div>
		</div>
	</div>
	<!-- Search Results -->
	<div class="col-md-9 col-xs-12">
		<h2 class="hidden-xs hidden-sm">Search Results</h2>
		<div>
			<table class="table table-striped" when-scrolled="infiniteScrollLoadMore()">
				<thead>
					<tr>
						<th style="width:10px;"></th>
						<th ng-click="predicate = 'id'; reverse=!reverse">
							Item <span ng-class="{
							'icon-menu':predicate !== 'id',
							'icon-arrow-down4':predicate == 'id' && !reverse,
							'icon-arrow-up3': predicate == 'id' && reverse
							}"></span>
						</th>
						<th class="hidden-sm hidden-xs" ng-click="predicate = 'cases'; reverse=!reverse">
							Pack/Size <span ng-class="{
							'icon-menu':predicate !== 'cases',
							'icon-arrow-down4':predicate == 'cases' && !reverse,
							'icon-arrow-up3': predicate == 'cases' && reverse
							}"></span>
						</th>
						<th class="hidden-sm hidden-xs" ng-click="predicate = 'brand'; reverse=!reverse">
							Brand <span ng-class="{
							'icon-menu':predicate !== 'brand',
							'icon-arrow-down4':predicate == 'brand' && !reverse,
							'icon-arrow-up3': predicate == 'brand' && reverse
						}"></span></th>
						<th ng-click="predicate = 'name'; reverse=!reverse">Name <span ng-class="{
							'icon-menu':predicate !== 'name',
							'icon-arrow-down4':predicate == 'name' && !reverse,
							'icon-arrow-up3': predicate == 'name' && reverse
						}"></span></th>
						<th class="hidden-sm hidden-xs"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="item in products | orderBy:predicate:reverse" ng-class="{ odd : $odd, even: $even }" class="table-striped__desktop-details">
						<td class="text-light table-icon" style="width:10px;">
							<span favorite-item-click-handlers><span favorite-icons></span></span>
						</td>
						<td>
							<a ui-sref="menu.catalog.products.details({ itemNumber : item.itemnumber })">{{item.itemnumber}}</a>
						</td>
						<td class="hidden-sm hidden-xs">
							{{item.cases}} / {{item.size}}
						</td>
						<td class="hidden-sm hidden-xs">
							{{item.brand}}
						</td>
						<td>
							{{item.name}}
						</td>
						<td class="hidden-sm hidden-xs icons" item-icons>
						</td>
						<td class="table-icon">
							<a class="icon-plus2" ng-mouseleave="isContextMenuDisplayed=false" ng-mouseenter="isContextMenuDisplayed = true"><div context-menu class="context-menu__in-list"></div></a>
							<span class="text-light visible-xs-inline visible-sm-inline icon-ellipsis" ng-click="showDetails = !showDetails;"></span>
						</td>
					</tr>
					<tr ng-repeat-end ng-show="showDetails" class="table-striped__mobile-details" ng-class="{ odd : $odd, even: $even }">
						<td colspan=4>
							<div>
								<p>Pack / Size: {{item.cases}} / {{item.size}}</p>
								<p>Brand: {{item.brand}}</p>
								<p item-icons>
								</p>
							</div>
						</td>
					</tr>
					<tr ng-show="products.length === 0">
						<td colspan="7">No products found.</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center sub-content" loading-spinner="loadingResults"></div>
		</div>
	</div>
</div>