<div page-header-bar>
  <div header-message>
    Pending Transactions for All Customers
  </div>
  <div header-buttons>
    <a class="btn btn-icon btn-default" ng-click="print()" title="Print"><span class="icon-printer"></span></a>
    <a class="btn btn-icon btn-default" ng-click="openExportModal()" title="Export"><span class="icon-export"></span></a>
  </div>
</div>

<div class="page-content">

  <div class="row">
    <div class="col-xs-12">
      <a ui-sref="menu.invoice">Return to Invoices</a>
      <div class="text-right">
        Showing {{transactions.length}} of {{totalTransactions}} Transactions
      </div>
    </div>
  </div>
  
  <div class="table-transactions">
    <table class="table table-border table-striped-rows"  infinite-scroll="infiniteScrollLoadMore()">
      <thead>
        <tr fsm-sticky-header scroll-body="'.table-transactions'" scroll-stop="0">
          <th class="sort-col-header" ng-click="sortTransactions('customername', !sortOrder)">
            Customer
            <span>Name <span sort-icons field="'customername'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortTransactions('customernumber', !sortOrder)">
            Customer
            <span># <span sort-icons field="'customernumber'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortTransactions('confirmationid', !sortOrder)">
            Confirmation
            <span>ID <span sort-icons field="'confirmationid'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortTransactions('invoicenumber', !sortOrder)">
            Invoice
            <span># <span sort-icons field="'invoicenumber'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header" ng-click="sortTransactions('amount', !sortOrder)">
            <span>Amount <span sort-icons field="'amount'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header" ng-click="sortTransactions('date', !sortOrder)">
            Date
            <span>Scheduled <span sort-icons field="'date'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>
          <th class="sort-col-header hidden-mobile-visible-print" ng-click="sortTransactions('account', !sortOrder)">
            <span>Account <span sort-icons field="'account'" sortorder="sortOrder" sortby="transactionParams.sort[0].field"></span></span>
          </th>

          <th class="large-icon icon-col">
            <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
          </th>
        </tr>
      </thead>
      <tbody>

        <!-- Filter Row -->
        <tr class="filter-row" ng-show="showFilter">
          <td class="input-col">
            <input type="text" placeholder="Filter..." ng-model="filterRowFields.customername">
          </td>
          <td class="input-col hidden-mobile-visible-print">
            <input type="text" placeholder="Filter..." ng-model="filterRowFields.customernumber">
          </td>
          <td class="input-col hidden-mobile-visible-print">
            <input type="text" placeholder="Filter..." ng-model="filterRowFields.confirmationid">
          </td>
          <td class="input-col hidden-mobile-visible-print">
            <input type="text" placeholder="Filter..." ng-model="filterRowFields.invoicenumber">
          </td>
          <td></td>
          <td></td>
          <td class="input-col hidden-mobile-visible-print">
            <input type="text" placeholder="Filter..." ng-model="filterRowFields.account">
          </td>
          <td class="input-col nowrap">
            <button type="button" class="btn btn-primary btn-sm" ng-click="filterTransactions(filterRowFields)">Filter</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="clearFilters(filterRowFields)">Clear</button>
          </td>
        </tr> <!-- end Filter Row -->

        <tr ng-repeat-start="transaction in transactions" ng-class="{ odd : $odd, even: $even }">
          <td>
            {{::transaction.customername}}
          </td>
          <td class="hidden-mobile-visible-print">
            {{::transaction.customernumber}}
          </td>
          <td class="hidden-mobile-visible-print">
            {{::transaction.confirmationid}}
          </td>
          <td class=" hidden-mobile-visible-print">
            <a ng-click="goToInvoiceDetails(transaction.customernumber, transaction.branchid, transaction.invoicenumber)">{{::transaction.invoicenumber}}</a>
          </td>
          <td>
            {{::transaction.amount | currency}}
          </td>
          <td>
            {{::transaction.date.substr(0,10) | formatDate:'MMM D, YYYY'}}
          </td>
          <td class="hidden-mobile-visible-print">
            {{::transaction.account}}
          </td>
          <td class="large-icon icon-col">
            <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
          </td>
        </tr>

        <tr ng-repeat-end class="mobile-details-row hidden-md hidden-lg" ng-show="showDetails" ng-class="{ odd : $odd, even: $even }">
          <td colspan="8">
            <table>
              <colgroup>
                <col width="25%" />
                <col width="75%" />
              </colgroup>
              <tr>
                <td>Confirmation ID</td>
                <td>{{::transaction.confirmationid}}</td>
              </tr>
              <tr>
                <td>Invoice #</td>
                <a ng-click="goToInvoiceDetails(transaction.customernumber, transaction.invoicenumber)">{{::transaction.invoicenumber}}</a>
              </tr>
              <tr>
                <td>Customer Number</td>
                <a href="goToInvoicesForCustomer(transaction.customernumber)">{{::transaction.customernumber}}</a>
              </tr>
              <tr>
                <td>Account</td>
                <td>{{::transaction.account}}</td>
              </tr>
            </table>
          </td>
        </tr>

      </tbody>

      <tfoot ng-show="transactions.length === 0 && !loadingResults">
        <tr>
          <td colspan="8">There are no transactions to display.</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="text-center" loading-spinner="loadingResults"></div>
</div>

