<div page-header-bar>
  <div header-message>
    Natural and Organic
  </div>
</div>

<div class="page-content">
  <!-- Search -->
  <div class="row hidden-sm hidden-xs">
  	<div class="col-sm-12">
  		<form name="catalogSearchForm" novalidate class="catalog-search">
  			<div class="input-group">
  				<input required ng-minlength="3" ng-model="catalogSearchTerm" type="text" class="form-control" placeholder="Search by keyword, item number, brand or manufacturer number">
  				<span class="input-group-btn">
  				<button 
            ui-sref="menu.catalog.products.list({ type: 'search', id: catalogSearchTerm })" 
            ng-disabled="catalogSearchForm.$invalid" 
            class="btn btn-primary btn-lg" 
            type="submit">
            <span class="icon-search"></span> SEARCH
          </button>
  				</span>
  			</div>
  		</form>
  	</div>
</div>


    <!-- Recently Ordered Items -->
  <div class="row">
    <div class="col-sm-12">
      <h2 ng-if="recentlyOrderedUnfiItems.length > 0">Recently Ordered <span><a class="clearRecent"  ng-click="clearRecentlyOrderedItems()"> Clear</a></span></h2> 
      <div loading-spinner="loadingrecentlyOrderedUnfiItems" ng-show="loadingrecentlyOrderedUnfiItems"></div>

      <div ng-show="!loadingrecentlyOrderedUnfiItems && recentlyOrderedUnfiItems.length > 0">
        <ul class="horizontal-slide hidden-xs hidden-sm">
          <li ng-repeat="item in recentlyOrderedUnfiItems" class="item-holder">
            <div class="featured-item text-center">
              <img 
                ng-if="item.images.length > 0" 
                class="hand" 
                ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" 
                ng-src="{{item.images[0].url}}" 
                alt="product image">
              <img 
                ng-if="item.images.length === 0" 
                class="product-placeholder-image" 
                src="images/bek-logo.png" 
                alt="default product image">
              <span class="featured-item__detail">
                {{item.name}}
                <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })" class="text-uppercase">#{{item.itemnumber}}</a>
              </span>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>  <!-- end Recently Ordered Items -->
 
    <!-- Catagories -->
    <div class="row topPadded">
    <div class="col-sm-12">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="true" ng-show="true">
        <accordion-heading>
        Categories<i class="pull-right" ng-class="{'icon-arrow-up6': ture, 'icon-arrow-down7': !status.openCategories}"></i>
      </accordion-heading>
      <div ng-repeat="category in categories | orderBy: ['department','name']" class="panel panel-default">
        <div class="panel-body">
          <a ui-sref="menu.catalog.products.list({ type: 'category', id: category.search_name })">{{category.department}} - {{category.name}}</a>
        </div>
      </div>
    </accordion-group>
        </accordion>
      </div>
   
</div>
</div>