<!--Used for Home Page Mobile-->
<div ng-if="!isCatalog" class="featured-item-mobile hidden-lg">
  <ul rn-carousel  class="featured-item-carousel featured-item-width featured-item-height">
    <li ng-repeat="item in itemList | orderBy:'-'">
      <div ng-include="template"></div>
    </li>
    <div class="rn-carousel-controls">
      <span class="rn-carousel-control carousel-control-prev" ng-click="prevSlide()" ng-if="carouselIndex > 0">
        <span class="glyphicon glyphicon-menu-left navigation-menu-icon"></span>
      </span>
      <span class="rn-carousel-control carousel-control-next" ng-click="nextSlide()" ng-if="carouselIndex < itemList.length - 1">
        <span class="glyphicon glyphicon-menu-right navigation-menu-icon"></span>
      </span>
    </div>
  </ul>
  <div style="text-align: center; font-size: 20px;" rn-carousel-indicators ng-if="itemList.length > 1" slides="itemList" rn-carousel-index="carouselIndex"></div>
</div>

<!--Used for Catalog Page-->
<div ng-if="isCatalog" class="featured-item-mobile visible-xs visible-sm">
  <span class="carousel-index">{{carouselIndex + 1}} / {{itemList.length}}</span>
  <ul rn-carousel rn-carousel-buffered rn-carousel-index="carouselIndex" class="featured-item-carousel" style="height: 84px;">
    <li ng-repeat="item in itemList">
      <div ng-include="template"></div>
    </li>
    <div class="rn-carousel-controls">
      <span class="rn-carousel-control carousel-control-prev" ng-click="prevSlide()" ng-if="carouselIndex > 0">
        <span class="glyphicon glyphicon-menu-left"></span>
      </span>
      <span class="rn-carousel-control carousel-control-next" ng-click="nextSlide()" ng-if="carouselIndex < itemList.length - 1">
        <span class="glyphicon glyphicon-menu-right"></span>
      </span>
    </div>
  </ul>
</div>

<!--Used for Home Page Web-->
<div ng-if="!isCatalog" class="visible-lg">
  <ul rn-carousel rn-carousel-controls-allow-loop rn-carousel-auto-slide="8" rn-carousel-easing rn-carousel-duration="900" rn-carousel-index="carouselIndex" style="background:transparent" class="featured-item-carousel-web featured-item-width featured-item-height">
    <li ng-repeat="item in itemList | orderBy:'-'">
      <div ng-include="template"></div>
    </li>
    <div class="rn-carousel-controls">
      <span class="rn-carousel-control carousel-control-prev" ng-click="prevSlide()" ng-if="carouselIndex > 0">
        <span class="glyphicon glyphicon-menu-left navigation-menu-icon"></span>
      </span>
      <span class="rn-carousel-control carousel-control-next" ng-click="nextSlide()" ng-if="carouselIndex < itemList.length - 1">
        <span class="glyphicon glyphicon-menu-right navigation-menu-icon"></span>
      </span>
    </div>
  </ul>
  <div style="text-align: center; font-size: 20px;" rn-carousel-indicators ng-if="itemList.length > 1" slides="itemList" rn-carousel-index="carouselIndex"></div>
</div>
