<span ng-if="order.ischangeorderallowed">
<a 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.ordernumber})">
  {{order.invoicenumber}}
  
</a>
<a class="icon-pencil" ui-sref="menu.cart.items({ cartId: order.ordernumber })"></a>
</span>
<a 
  ng-if="order.invoicenumber !== 'Processing' && order.invoicenumber !== 'Rejected' && !order.ischangeorderallowed" 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.invoicenumber})">
  {{order.invoicenumber}}
</a>
<a 
  ng-if="(order.invoicenumber === 'Processing' || order.invoicenumber === 'Rejected') && !order.ischangeorderallowed" 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.ordernumber})">
  {{order.invoicenumber}}
</a>