<div class="btn-group" dropdown is-open="openScope" tooltip="{{tooltipMessage}}">
  <button type="button" ng-if="!isMobile" ng-disabled="isDisabled" class="btn btn-lg" ng-class="{'btn-primary': !isHomePage, 'background-white': isHomePage}" ng-click="openCreateOrderModal('lg')">
    Create An Order
  </button>
  <button type="button" ng-if="isMobile" ng-disabled="isDisabled" class="btn btn-lg" ng-class="{'btn-primary': !isHomePage, 'background-white': isHomePage}" ng-click="openCreateOrderModal('md')">
    Create An Order
  </button>
</div>