<span ng-if="order.ischangeorderallowed">
<a 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.ordernumber})">
  <span ng-if="!order.ponumber">
    {{order.invoicenumber}}
  </span>
    <span ng-if="order.ponumber">
    {{order.ponumber}}
  </span>
  
</a>
<a class="icon-pencil" ui-sref="menu.cart.items({ cartId: order.ordernumber })"></a>
</span>
<a 
  ng-if="order.invoicenumber !== 'Processing' && order.invoicenumber !== 'Rejected' && !order.ischangeorderallowed" 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.invoicenumber})">
  <span ng-if="!order.ponumber">
    {{order.invoicenumber}}
  </span>
    <span ng-if="order.ponumber">
    {{order.ponumber}}
  </span>
</a>
<a 
  ng-if="(order.invoicenumber === 'Processing' || order.invoicenumber === 'Rejected') && !order.ischangeorderallowed" 
  format="telephone=no"
  ui-sref="menu.orderitems({invoiceNumber: order.ordernumber})">
  <span ng-if="!order.ponumber">
    {{order.invoicenumber}}
  </span>
    <span ng-if="order.ponumber">
    {{order.ponumber}}
  </span>
</a>