<div class="btn-group" dropdown is-open="openScope" tooltip="{{tooltipMessage}}">
  <button type="button" ng-disabled="isDisabled" class="btn btn-lg btn-default dropdown-toggle">
    Create An Order <span class="caret text-dark"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a ui-sref="menu.addtoorder.items({ listId: 0, cartId: 'New' })">From List</a></li>
    <li><a ng-click="openQuickAddModal()">From Quick Add</a></li>
    <li><a ng-click="openOrderImportModal()">From Import</a></li>
  </ul>
</div>