<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BEKDBContext" connectionString="Data Source=corpsqltst12;Initial Catalog=BEK_Commerce_AppData;Integrated Security=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="AppName" value="QueueTests"/>
    </appSettings>
</configuration>