/* SELECT DROPDOWNS */

.select-div {
  display: inline-block;
  width: 260px;
  min-height: 40px;
  overflow: hidden;
  background: url("../images/down-arrow.png") no-repeat 96% $color-white;
  border: 1px solid $color-border;
  vertical-align: middle;
  border-radius: 5px;

  select {
    background: transparent;
    width: 300px;
    padding: 10px 0px 10px 12px;
    min-height: 40px;
    -webkit-appearance: none;
    font-weight: 300;
    border: 0;
    font-size: $font-size-base;
  }

  &.block {
    display: block;
  }
  &.full-width {
    width: 100%;

    select {
      width: calc(100% + 20px);
    }
  }
}