.user-bar {
  font-weight: 300;

  @include header-bar($background, 15px);

  .user-bar__notification {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    position: relative;

    .badge {
      top: -5px;
      right: -3px;
    }
  }

  .user-info {
    .user-info__name {
      font-size: 14px;
    }

    .user-info__job-title {
      color: $color-font-light;
    }

    .user-info__menu {
      position: absolute;
      right: 60px;
      z-index: 3;
      background-color: $color-white;
      min-width: 200px;
      box-shadow: 4px 4px 10px $color-border;
      border-radius: 4px;

      button {
        text-align: left;
        // font-size: $font-size;
      }
    }
  }
}

.user-info img {
  border: 1px solid $color-border;
}

.mobile-user-context {
  padding: 10px 15px;
  background-color: $background;
  border-bottom: 1px solid $color-border;
}

.user-bar-mobile {
  background-color: $background;
  // height: 65px;
  border-bottom: 1px solid $color-border;

  text-align: center;

  .logo-mobile {
    height: 50px;
    padding: 5px 0;
    display: inline-block;

    &.logo-margin-left {
      margin-left: 45px;
    }
  }

  ul {
    padding: 0;
    float: right;
    margin: 0;

    a {
      font-size: 24px;
      color: #9E987E;
      text-decoration: none;
      li {
        display: inline-block;
        padding: 8px 10px;
      }
    }
  }

  ul.left-mobile-menu {
    float: left;
    a {
      li {
        border-right: 1px solid $color-border;
      }
    }
  }
  ul.right-mobile-menu {
    float: right;

    a {
      li {
        border-left: 1px solid $color-border;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .hide-searchbar {
    display: none;
  }
}
