<#+
/*
(c) 2012 CommerceServer.net, Inc. and its affiliates. All rights reserved.
*/
  string ProcessTemplate(string templateFileName)
  {
    string template = File.ReadAllText(this.Host.ResolvePath(templateFileName));
    Engine engine = new Engine();
    return engine.ProcessTemplate(template, this.Host);
  }

  string BuildConfigFilePath()
  {
	  string templatePath = Path.GetDirectoryName(Host.TemplateFile);
	  return new DirectoryInfo(templatePath).Parent.FullName + @"\web.config";
  }
#>