<div page-header-bar>
  <div header-message>
    Invoice Details
  </div>
  <div header-buttons>
    <button title="Print" class="btn btn-icon btn-default"><span class="icon-printer"></span></button>
    <button title="Export" class="btn btn-icon btn-default"><span class="icon-export"></span></button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="info-box">
      <h3 class="no-margin">INVOICE INFORMATION</h3>
      <div class="order-item">
        <div class="order-item-title">Invoice #</div>
        <div class="order-item-value-1">{{invoice.invoicenumber || 'N/A'}}</div>
        <div class="order-item-title">Type</div>
        <div class="order-item-value-2">{{invoice.typedescription}}</div>
      </div>
      <div class="order-item">
        <div class="order-item-title">Invoice Status</div>
        <div class="order-item-value-1">{{invoice.statusdescription || 'N/A'}}</div>
        <div class="order-item-title">Due Date</div>
        <div class="order-item-value-2">{{invoice.duedate | date:short}}</div>
      </div>
      <div class="order-item">
        <div class="order-item-title">Total Cost</div>
        <div class="order-item-value-1">{{invoice.amount | currency}}</div>
        <div class="order-item-title">Items</div>
        <div class="order-item-value-2">{{invoice.items.length}}</div>
      </div>
      <div class="order-item">
        <div class="order-item-title">Order Date</div>
        <div class="order-item-value-1">{{invoice.orderdate | date:short}}</div>
        <div class="order-item-title">Ship Date</div>
        <div class="order-item-value-2">{{invoice.invoicedate | date:short}}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-4 padding-top-xs padding-top-sm" ng-if="transactions.length > 1">
    <h4 class="no-margin-top">TRANSACTIONS</h4>
    <table class="table table-striped-rows table-border table-narrow">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tr ng-repeat="transaction in transactions" ng-class="{ odd : $odd, even: $even}">
        <td>{{transaction.invoicedate | date:short}}</td>
        <td>{{transaction.typedescription}}</td>
        <td>{{transaction.amount | currency}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row sub-content">
  <div class="col-xs-12 text-right">
    Showing {{filteredItems.length}} of {{invoice.items.length}} Items
  </div>
</div>

<table class="table table-border table-striped-rows">
  <thead>
    <tr>
      <th class="sort-col-header" ng-click="sortBy='linenumber';sortOrder=!sortOrder;">
        Line #
        <span sort-icons field="'linenumber'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="sort-col-header" ng-click="sortBy='itemnumber';sortOrder=!sortOrder;">
        Item #
        <span sort-icons field="'itemnumber'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm sort-col-header" ng-click="sortBy='notes';sortOrder=!sortOrder;">
        Notes
        <span sort-icons field="'notes'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm"></th>
      <th class="hidden-xs hidden-sm">
        Pack/Size
      </th>
      <th class="hidden-xs hidden-sm sort-col-header" ng-click="sortBy='brand';sortOrder=!sortOrder;">
        Brand
        <span sort-icons field="'brand'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="sort-col-header" ng-click="sortBy='name';sortOrder=!sortOrder;">
        Name
        <span sort-icons field="'name'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm"></th>
      <th class="sort-col-header hidden-xs hidden-sm" ng-click="sortBy='quantityordered';sortOrder=!sortOrder;">
        # Ordered
        <span sort-icons field="'quantityordered'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="sort-col-header hidden-xs hidden-sm" ng-click="sortBy='quantityshipped';sortOrder=!sortOrder;">
        # Shipped
        <span sort-icons field="'quantityshipped'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm sort-col-header" ng-click="sortBy='each';sortOrder=!sortOrder;">
        Each
        <span sort-icons field="'each'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm sort-col-header text-right" ng-click="sortBy='price';sortOrder=!sortOrder;">
        Price
        <span sort-icons field="'price'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="hidden-xs hidden-sm sort-col-header text-right" ng-click="sortBy='linetotal';sortOrder=!sortOrder;">
        Ext Price
        <span sort-icons field="'linetotal'" sortorder="sortOrder" sortby="sortBy"></span>
      </th>
      <th class="large-icon icon-col">
        <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Filter Row -->
    <tr class="filter-row" ng-show="showFilter">
      <td></td>
      <td></td>
      <td class="hidden-xs hidden-sm input-col">
        <input type="text" placeholder="Filter..." ng-model="filterFields.notes">
      </td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm input-col">
        <input type="text" placeholder="Filter..." ng-model="filterFields.brand">
      </td>
      <td class="input-col">
        <input type="text" placeholder="Filter..." ng-model="filterFields.name">
      </td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="hidden-xs hidden-sm"></td>
      <td class="large-icon icon-col">
        <a ng-click="filterFields = {}"><span class="text-light icon-cross3"></span></a>
      </td>
    </tr> <!-- end Filter Row -->

    <tr ng-repeat-start="item in (filteredItems = (invoice.items | filter:filterFields | orderBy:sortBy:sortOrder))" ng-class="{ odd : $odd, even: $even }">
      <td>
        {{item.linenumber}}
      </td>
      <td>
        <a ui-sref="menu.catalog.products.details({ itemNumber: item.itemnumber })">{{item.itemnumber}}</a>
      </td>
      <td class="hidden-xs hidden-sm notes-col">{{item.notes}}</td>
      <td class="hidden-sm hidden-xs">
        <span tooltip="{{item.notes}}" ng-if="item.notes" class="icon-docs"></span>
      </td>
      <td class="hidden-xs hidden-sm">{{item.packsize}}</td>
      <td class="hidden-xs hidden-sm">{{item.brand}}</td>
      <td>{{item.name}}</td>
      <td class="hidden-xs hidden-sm" item-icons></td>
      <td class="hidden-xs hidden-sm">{{item.quantityordered}}</td>
      <td class="hidden-xs hidden-sm">{{item.quantityshipped}}</td>
      <td class="hidden-xs hidden-sm">
        {{item.each ? 'Y' : 'N'}}
      </td>
      <td class="hidden-xs hidden-sm text-right">{{item.itemprice | currency}}</td>
      <td class="hidden-xs hidden-sm text-right">{{item.salesnet | currency}}</td>
      <td class="large-icon icon-col">
        <a class="visible-xs visible-sm"><span class="hidden-print text-light icon-ellipsis" ng-click="showDetails = !showDetails;"></span></a>
      </td>
    </tr>

    <tr ng-repeat-end ng-show="showDetails" ng-class="{ odd : $odd, even: $even }" class="mobile-details-row hidden-md hidden-lg">
      <td colspan="4">
        <table>
          <colgroup>
            <col width="25%" />
            <col width="75%" />
          </colgroup>
          <tr>
            <td>Notes</td>
            <td>{{item.notes}}</td>
          </tr>
          <tr>
            <td>Pack/Size</td>
            <td>{{item.packsize}}</td>
          </tr>
          <tr>
            <td>Brand</td>
            <td>{{item.brand}}</td>
          </tr>
          <tr>
            <td>Qty Ordered</td>
            <td>{{item.quantityordered}}</td>
          </tr>
          <tr>
            <td>Qty Shipped</td>
            <td>{{item.quantityshipped}}</td>
          </tr>
          <tr>
            <td item-icons></td>
          </tr>
          <tr>
            <td>Each</td>
            <td>
              {{item.each ? 'Y' : 'N'}}
            </td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{item.itemprice | currency}}</td>
          </tr>
          <tr>
            <td>Ext Price</td>
            <td>{{item.salesnet | currency}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
  <tfoot ng-show="(invoice.items.length === 0 || !invoice.items || filteredItems.length === 0) && order">
    <tr>
      <td colspan="15">
        There are no products to display.
      </td>
    </tr>
  </tfoot>
</table>
