<div page-header-bar>
  <div header-message>
    Accounts
  </div>
  <div header-buttons></div>
</div>

<div class="page-content row">
  <div class="col-md-3">

    <ng-form name="customerSearchForm" class="customers-search">
      <div class="input-group">
        <input 
          ng-model="searchTerm" 
          type="text" 
          class="form-control" 
          placeholder="Find account by name" />
        <span class="input-group-btn">
          <button type="submit" ng-click="searchAccounts(searchTerm)" class="btn btn-default"><span class="icon-search"></span></button>
        </span>
      </div>
    </ng-form>

    <a ui-sref="menu.admin.accountdetails({ accountId: 'new'})">Add New Account...</a>

    <ul class="list-no-style">
      <li ng-repeat="account in accounts | orderBy:'name'">
        <a ui-sref="menu.admin.accountdetails({accountId: account.id})">{{account.name}}</a>
      </li>
    </ul>

    <div ng-show="accounts && accounts.length === 0">No accounts found.</div>

  </div>

  <div class="col-md-9">
    <div ui-view></div>
  </div>
</div>
