<div class="col-xs-12">
  <h2>Add A User To Your Account</h2>
  <p>
    Add a user to your account by completing all fields below. You may create a new profile or search for and add previously registered users. You may return and edit this information at any time. Once the user profile is created, an email will be sent to the new user (using the account ID entered) inviting them to login and complete their profile. A confirmation email will be sent to the account administrator as well.
  </p>

  <form action="" class="form-horizontal">
    <div class="row">
      <div class="col-md-6">
        <h3>Add user</h3>  

        <div class="form-group">
          <label for="newUsername" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="newUsername">
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password">
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="confirmPassword">
          </div>
        </div>

        <div class="form-group">
          <label for="userRole" class="col-sm-2 control-label">User Role</label>
          <div class="col-sm-10">
            <select name="userRole" id="userRole" class="form-control"></select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Find an existing user</h3>
        
        <div class="form-group">
          <label for="newUsername" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="newUsername">
          </div>
        </div>

      </div>
    </div>

    <hr>

    <div class="row">
      
    </div>

    <hr>

    <button class="btn btn-lg btn-primary">Create User</button>
  </form>
</div>