<div class="col-xs-12">
  <h2>Add Users</h2>

  <p>
    Add a user to your account by completing all fields below. You may create a new profile or search for and add
    previously registered users. You may return and edit this information at any time. Once the user profile is
    created, an email will be sent to the new user (using the account ID entered) inviting them to login and
    complete their profile. A confirmation email will be sent to the account administrator as well.
  </p>

  <form action="" class="form-horizontal">
    <div class="row">
      <div class="col-md-6">
        <h3>Add user</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="newUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="newUsername">
        </div>
      </div>
      <div class="col-md-6 form-group">
        <label class="col-sm-12 col-sm-offset-2 col-md-offset-0 control-label userMessage" ng-show="isExistingUser">Existing User Account Found</label>
        <label class="col-sm-12 col-sm-offset-2 col-md-offset-0 control-label userMessage" ng-show="!isExistingUser">Creating New User Account</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="userRole" class="col-sm-2 control-label">User Role</label>
        <div class="col-sm-10">
          <select name="userRole" id="userRole" class="form-control">
            <option ng-repeat="userRole in userRoles">{{userRole}}</option>
          </select>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" ng-model="customerSearch" class="form-control input-lg" placeholder="Search available customer numbers">
          </div>
        </div>
        <div class="row">
          <div class="top-buffer">
            <div class="col-md-6">
              <div class="listHeader">NA / RA Numbers</div>
              <ul class="list-group scrollable-list">
                <li class="stripedLi noSelect" ng-repeat="group in regionGroups">
                  <span ng-click="group.show = !group.show" class="list-group-item">
                    <input type="checkbox" ng-click="toggleSelectCustomerGroup(group.customers);$event.stopPropagation();" class="inline-checkbox"/>
                    {{group.groupNumber}}
                    <span class="expandCollapseArrow glyphicon glyphicon-chevron-left" ng-show="!group.show"></span>
                    <span class="expandCollapseArrow glyphicon glyphicon-chevron-down" ng-show="group.show"></span>
                  </span>
                  <ul class="list-group child-list-group" ng-show="group.show" ng-repeat="customer in group.customers | filter:customerSearch">
                    <li class="list-group-item"><input type="checkbox" ng-click="toggleSelectCustomer(customer);" class="inline-checkbox"/>{{customer.customerNumber}}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="listHeader">Customer Numbers</div>
              <ul class="list-group scrollable-list">
                <li class="list-group-item" ng-repeat="customer in unassignedGroup | filter:customerSearch">
                  <input type="checkbox" ng-click="toggleSelectCustomer(customer);" class="inline-checkbox"/>{{customer.customerNumber}}
                </li>
              </ul>
            </div>
            <!--<div class="col-md-4"> IF UNCOMMENTED CHANGE COLUMNS TO ALL BE MD4`
              <div class="listHeader">Custom Groups</div>
              <ul class="list-group scrollable-list">
                <li class="">
                  <span class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Group Title</span>
                  <ul class="list-group child-list-group">
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer</li>
                  </ul>
                </li>
                <li class="">
                  <span class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Group Title</span>
                  <ul class="list-group child-list-group" style="padding-left: 35px;">
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Customer
                    </li>
                  </ul>
                </li>
              </ul>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Selected:</h3>
        <ul class="list-group scrollable-list">
          <li class="list-group-item" ng-repeat="customer in selectedCustomers">
            <input type="checkbox" class="inline-checkbox" ng-click="toggleSelectCustomer(customer);"/>
            {{customer.customerNumber}}
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="form-group button-row">
      <div class="col-sm-6">
        <button class="btn btn-lg btn-primary" ng-show="!isExistingUser">Create User</button>
        <button class="btn btn-lg btn-primary" ng-show="isExistingUser">Add User</button>
        <a ui-sref="menu.admin.user">Cancel</a>
      </div>
    </div>
  </form>
</div>
