<div class="col-xs-12">
    <h2>Add A User To Your Account</h2>

    <p>
        Add a user to your account by completing all fields below. You may create a new profile or search for and add
        previously registered users. You may return and edit this information at any time. Once the user profile is
        created, an email will be sent to the new user (using the account ID entered) inviting them to login and
        complete their profile. A confirmation email will be sent to the account administrator as well.
    </p>

    <form action="" class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <h3>Add user</h3>

                <div class="form-group">
                    <label for="newUsername" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newUsername">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="userRole" class="col-sm-2 control-label">User Role</label>

                    <div class="col-sm-10">
                        <select name="userRole" id="userRole" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Find an existing user</h3>

                <div class="form-group">
                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="findUsername">
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary">Find User</button>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control input-lg" placeholder="Search available customer numbers, custom groups, and account numbers">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>NA/RA:</h3>
                <ul class="list-group scrollable-list">
                    <li class="">
                        <span class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Parent</span>
                        <ul class="list-group child-list-group" style="padding-left: 35px;">
                            <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Child</li>
                            <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Child</li>
                            <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Child</li>
                            <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Child</li>
                        </ul>
                    </li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="">
                        <span class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Parent</span>
                        <ul class="list-group child-list-group" style="padding-left: 35px;">
                            <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example Child</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Customer #'s:</h3>
                <ul class="list-group scrollable-list">
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                </ul>
            </div>
            <!--<div class="col-md-4">
                <h3>Custom Groups:</h3>
                <ul class="list-group scrollable-list">
                    <li class="list-group-item">Example</li>
                    <li class="list-group-item">Example</li>
                    <li class="list-group-item">Example</li>
                    <li class="list-group-item">Example</li>
                    <li class="list-group-item">Example</li>
                </ul>
            </div>-->
            <div class="col-md-4">
                <h3>Selected:</h3>
                <ul class="list-group scrollable-list">
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                    <li class="list-group-item"><input type="checkbox" class="inline-checkbox"/>Example</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="form-group button-row">
            <div class="col-sm-6">
                <button class="btn btn-lg btn-primary">Create User</button>
                <a ui-sref="menu.admin.user">Cancel</a>
            </div>
        </div>

    </form>
</div>