<div page-header-bar>
  <div header-message>
    Create Customer Group
  </div>
  <div header-buttons></div>
</div>
<div class="page-content">
  <form name="customerGroupDetailsForm" unsaved-warning-form novalidate>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="customerGroupName" class="control-label">Name</label>
            <span class="text-red" ng-show="customerGroupDetailsForm.customerGroupName.$dirty && customerGroupDetailsForm.customerGroupName.$error.required">Customer group name is required.</span>
            <input type="text" class="input-lg form-control" name="customerGroupName" id="customerGroupName" ng-model="customerGroup.name" required>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group button-row">
          <button type="submit" ng-disabled="customerGroupDetailsForm.$invalid" class="btn btn-lg btn-primary" ng-click="createNewCustomerGroup(customerGroup)">
            Create Group
          </button>
          <a ui-sref="menu.admin.customergroup" class="text-large">Back</a>
        </div>
      </div>
    </div>
  </form>
</div>
