<div page-header-bar>
  <div header-message>
    Customer Groups
  </div>
  <div header-buttons></div>
</div>

<div class="page-content row">
  <div class="col-md-12">

    <div class="row">
      <form name="customerSearchForm" class="col-md-6 search-form">
        
        <p class="text-red" ng-show="customerSearchForm.searchTerm.$error.validateEmail">Please enter a valid email address</p>

        <div class="form-group radio-button-group">
          <label>Search by</label>
          <div class="radio-button" ng-repeat="option in searchOptions">
            <label>
              <input type="radio" ng-model="search.field" value="{{option.value}}" />
              {{option.text}}
            </label>
          </div>
        </div>
        <div class="form-group input-group">
          <input 
            ng-model="search.term" 
            type="text" 
            name="searchTerm"
            class="form-control" 
            placeholder="Find customer group"
            validate-email="{{search.field === 'user'}}" />
          <span class="input-group-btn">
            <button type="submit" ng-disabled="customerSearchForm.$invalid" ng-click="searchCustomerGroups(search)" class="btn btn-default"><span class="icon-search"></span></button>
          </span>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">

        <p>
          <a ui-sref="menu.admin.customergroupdetails({ groupId: 'new'})" ng-if="canManageCustomerGroups">Add New Customer Group...</a>
          <span class="pull-right">Showing {{customerGroups.length}} of {{totalGroups}} Customer Groups</span>
        </p>

        <table class="table table-striped-rows table-border" ng-show="customerGroups.length > 0" infinite-scroll="infiniteScrollLoadMore()">
          <thead>
            <tr>
              <th>Customer Group Name</th>
              <th ng-if="canManageCustomerGroups"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="customerGroup in customerGroups | orderBy:'name'" ng-class="{ odd : $odd, even: $even }">
              <td>{{customerGroup.name}}</td>
              <td ng-if="canManageCustomerGroups">
                <a ui-sref="menu.admin.customergroupdetails({groupId: customerGroup.id})">Edit Details</a>
              </td>
              <td>
                <a ui-sref="menu.admin.customergroupdashboard({customerGroupId: customerGroup.id})">View Dashboard</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div ng-show="customerGroups && customerGroups.length === 0">No customer groups found.</div>  

        <div loading-spinner="loadingResults"></div>
      </div>
    </div>
    
  </div>

</div>
