<div page-header-bar>
  <div header-message>
    Customer # {{customer.customerNumber}}: {{customer.customerName}}
  </div>
  <div header-buttons>

  </div>
</div>
<div class="col-xs-12">
  <h2>Customer Information</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Point of Contact:</label> {{customer.pointOfContact}}broussard32
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Email:</label> {{customer.email}}clay@torchys.com
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Phone:</label> {{customer.phone}}555-555-5555
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12">
        <label class="control-label">Address:</label> {{customer.address}}123 Main St. Dallas, TX 75001
      </div>
    </div>
  </div>

  <h2>Customer Notification Preferences &nbsp;&nbsp;&nbsp;<a class="smallerHeaderLinkText" ng-init="canEditNotifications = false" ng-click="canEditNotifications = !canEditNotifications"><span class="glyphicon glyphicon-pencil"></span> Edit Notifications</a></h2>
  <form ng-submit="saveChanges()" class="form-horizontal">
    <table class="preferencesTable">
      <thead>
        <tr>
          <th>Email</th>
          <th>Push</th>
          <th>Web</th>
          <th>Notify My When:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td>My Order Is Confirmed</td>
        </tr>
        <tr>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td>My Order Has Shipped</td>
        </tr>
        <tr>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td>My Invoices Need Attention</td>
        </tr>
        <tr>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td class="checkboxCenter"><input type="checkbox" ng-disabled="!canEditNotifications"/></td>
          <td>Ben E. Keith Has News For Me</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="form-group button-row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
        <a ng-click="restoreDefaults()">Restore Default Settings</a>
      </div>
    </div>
  </form>
</div>

