<div page-header-bar>
  <div header-message>
    Customer # {{customer.customerNumber}}: {{customer.customerName}}
  </div>
  <div header-buttons>

  </div>
</div>
<div class="col-xs-12">
  <h2>Customer Information</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Email:</label> {{customer.email}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12 form-group">
        <label class="control-label">Phone:</label> {{customer.phone}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="col-md-12">
        <label class="control-label">Address:</label> {{customer.address.street}} {{customer.address.city}}, {{customer.address.regioncode}} {{customer.address.postalcode}}
      </div>
    </div>
  </div>

  <h2>Customer Notification Preferences &nbsp;&nbsp;&nbsp;<a class="smallerHeaderLinkText" ng-init="canEditNotifications = false" ng-click="canEditNotifications = !canEditNotifications"><span class="glyphicon glyphicon-pencil"></span> Edit Notifications</a></h2>
  <form ng-submit="savePreferences()" class="form-horizontal">
    <table class="preferencesTable">
      <thead>
        <tr>
          <th>Email</th>
          <th>Push</th>
          <th>Web</th>
          <th>Notify Me When:</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="preference in defaultPreferences">
          <td ng-repeat="channel in preference.channels track by $index" class="checkboxCenter">
            <input type="checkbox" ng-model="preference.channels[$index]" ng-disabled="!canEditNotifications"/>
          </td>
          <td>{{preference.description}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="form-group button-row">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
        <a ng-click="restoreDefaults()">Restore Default Settings</a>
      </div>
    </div>
  </form>
</div>

