<div page-header-bar>
  <div header-message>
    Update User Profile
    <a 
      class="btn btn-danger btn-sm" 
      confirmed-click="deleteProfile(profile)" 
      ng-confirm-click="{{'Are you sure you want to remove this user from the customer group?'}}">Remove User from Customer Group</a>
  </div>
  <div header-buttons>

  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal style-validation-errors" name="editUserForm" novalidate unsaved-warning-form novalidate>
        <div class="form-group">
          <label for="firstName" class="col-md-2 control-label">First Name</label>

          <div class="col-md-4">
            <input type="text" class="form-control" id="firstName" name="firstName"
                   ng-model="profile.firstname">
          </div>
          <label for="lastName" class="col-md-2 control-label">Last Name</label>

          <div class="col-md-4">
            <input type="text" class="form-control" id="lastName" name="lastName"
                   ng-model="profile.lastname">
          </div>
        </div>
        <div class="form-group">
          <label for="emailAddress" class="col-md-2 control-label">Email</label>

          <div class="col-md-10">
            <span ng-show="updateProfileForm.emailAddress.$error.required"
                  class="text-red">Email Address is required</span>
            <span ng-show="updateProfileForm.emailAddress.$error.email"
                  class="text-red">Must be a valid email address</span>
            <input type="email" class="form-control form-control-lg" required id="emailAddress" name="emailAddress"
                   ng-model="profile.email">
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="col-md-2 control-label">Phone</label>

          <div class="col-md-4">
            <input 
              type="text" 
              class="form-control form-control-lg" 
              ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/"
              id="phoneNumber" 
              name="phoneNumber"
              ng-model="profile.phonenumber">
          </div>
        </div>
          
        <div class="form-group">
          <label for="userRole" class="col-md-2 control-label">User Role</label>
          <div class="col-md-4">
            <select id="userRole" ng-options="role.value as role.text for role in roles" class="text-capitalize form-control" ng-model="profile.role" required></select>
          </div>
        
        </div>
      </form>
      <form class="form-horizontal style-validation-errors" name="editUserPermissionsForm">
        <div class="form-group" ng-if="canGrantAccessToKbit">
          <label for="kbitAccess" class="col-md-2 control-label">Kbit Access</label>
          <div class="col-md-4">
            <input name="kbitAccess" type="checkbox" ng-model="profile.iskbitcustomer" ng-change="changeUserAccess(profile.iskbitcustomer, 'kbit')" class="editDetailsCheckbox"/>
          </div>
        
        </div>
        <div class="form-group" ng-if="canGrantAccessToEmenuManage">
          <label for="powerMenuAccess" class="col-md-2 control-label">E-Menu Manage Access</label>
          <div class="col-md-2">
            <input name="powerMenuAccess" type="checkbox" ng-model="profile.ispowermenucustomer" ng-change="changeUserAccess(profile.ispowermenucustomer, 'powermenu')" class="editDetailsCheckbox"/>
          </div>
          <a ng-if="profile.powermenupermissionslink" class="col-md-4 btn-link" target="_blank" ng-href="{{profile.powermenupermissionslink}}">Setup eMenuManage Permissions</a>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>
        Assigned Customers
        <button style="margin-left: 5px;" class="btn btn-lg btn-default" type="button" ng-click="openCustomerAssignmentModal()">Assign Customers to User</button>
      </h3>
      <div>
        <a ng-click="removeSelectedCustomers()">Remove Selected Customers</a>
        <span class="pull-right">({{profile.customers.length}} Assigned)</span>
      </div>
      <table class="table no-margin table-border table-striped-rows">
        <thead>
          <tr>
            <th>
              <input class="hidden-print" type="checkbox" ng-change="selectAllCustomers(allRemovableSelected,'remove')" ng-model="allRemovableSelected" />
            </th>
            <th>Number</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in profile.customers" ng-class="{ odd : $odd, even: $even }">
            <td>
              <input type="checkbox" class="hidden-print bek-no-drag hand" ng-model="customer.selected">
            </td>
            <td>{{customer.customerNumber}}</td>
            <td>({{customer.customerBranch}})- {{customer.customerName}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="customerGroup.customers.length === 0">
            <td colspan="4">There are no selected customers to display.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="form-group sub-content">
    <div class="col-md-6 button-row">
      <button type="submit" ng-click="updateProfile(profile)" class="btn btn-lg btn-primary">Save User Details</button>
      <a class="text-large" ui-sref="menu.admin.customergroupdashboard({customerGroupId: groupId})">Back</a>
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>