<div page-header-bar>
  <div header-message>
    Update User Profile
  </div>
  <div header-buttons>

  </div>
</div>

<div class="page-content">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal style-validation-errors" name="editUserForm">
        <div class="form-group">
          <label for="firstName" class="col-md-2 control-label">First Name</label>

          <div class="col-md-4">
            <input type="text" class="form-control" id="firstName" name="firstName"
                   ng-model="profile.firstname">
          </div>
          <label for="lastName" class="col-md-2 control-label">Last Name</label>

          <div class="col-md-4">
            <input type="text" class="form-control" id="lastName" name="lastName"
                   ng-model="profile.lastname">
          </div>
        </div>
        <div class="form-group">
          <label for="emailAddress" class="col-md-2 control-label">Email</label>

          <div class="col-md-10">
            <span ng-show="updateProfileForm.emailAddress.$error.required"
                  class="text-red">Email Address is required</span>
            <span ng-show="updateProfileForm.emailAddress.$error.email"
                  class="text-red">Must be a valid email address</span>
            <input type="email" class="form-control form-control-lg" required id="emailAddress" name="emailAddress"
                   ng-model="profile.email">
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber" class="col-md-2 control-label">Phone</label>

          <div class="col-md-4">
            <input 
              type="text" 
              class="form-control form-control-lg" 
              ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/"
              id="phoneNumber" 
              name="phoneNumber"
              ng-model="profile.phonenumber">
          </div>
        </div>
          
        <div class="form-group">
          <label for="userRole" class="col-md-2 control-label">User Role</label>
          <div class="col-md-4">
            <select id="userRole" ng-options="role as role for role in roles" class="text-capitalize form-control" ng-model="profile.role" required></select>
          </div>
        
        </div>

        <div class="form-group" ng-if="canGrantAccessToOtherServices">
          <label for="kbitAccess" class="col-md-2 control-label">Kbit Access</label>
          <div class="col-md-4">
            <input name="kbitAccess" type="checkbox" ng-model="profile.iskbitcustomer" ng-change="changeUserAccess(profile.iskbitcustomer, 'kbit')" />
          </div>
        
        </div>
        <div class="form-group" ng-if="canGrantAccessToOtherServices">
          <label for="powerMenuAccess" class="col-md-2 control-label">Power Menu Access</label>
          <div class="col-md-4">
            <input name="powerMenuAccess" type="checkbox" ng-model="profile.ispowermenucustomer" ng-change="changeUserAccess(profile.ispowermenucustomer, 'powermenu')" />
          </div>
        
        </div>

        <div>
          <a ng-if="profile.powermenupermissionslink" target="_blank" ng-href="{{profile.powermenupermissionslink}}">Setup eMenuManage Permissions</a>
        </div>

        <a 
          class="col-md-offset-2 btn-link" 
          confirmed-click="deleteProfile(profile)" 
          ng-confirm-click="{{'Are you sure you want to remove this user from the customer group?'}}">Remove User from Customer Group</a>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3 class="no-margin-top">Customers Available to Assign</h3>
      Showing {{filteredCustomers.length}} of {{totalCustomers}} Customers

      <form name="customerSearchForm" class="search-form">
        <div class="input-group">
          <input 
            ng-model="customerSearchTerm" 
            type="text" 
            class="form-control" 
            placeholder="Filter customers by name or number" />
          <span class="input-group-btn">
            <button type="submit" ng-click="searchCustomers(customerSearchTerm)" class="btn btn-default"><span class="icon-search"></span></button>
          </span>
        </div>
      </form>

      <div class="infiniteScroll">
        <table class="table no-margin table-border table-striped-rows" 
          infinite-scroll="infiniteScrollLoadMore()" 
          infinite-scroll-container="'.infiniteScroll'">
          <thead>
            <tr>
              <th class="sort-col-header" ng-click="sortCustomers('customerNumber', !customersSortDesc);">
                Number
                <span sort-icons field="'customerNumber'" sortorder="customersSortDesc" sortby="customersSortField"></span>
              </th>
              <th class="sort-col-header" ng-click="sortCustomers('customerName', !customersSortDesc)">
                Name
                <span sort-icons field="'customerName'" sortorder="customersSortDesc" sortby="customersSortField"></span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="customer in filteredCustomers = (customers | filter:{selected:false})" ng-class="{ odd : $odd, even: $even }">
              <td>{{customer.customerNumber}}</td>
              <td>{{customer.customerName}}</td>
              <td>
                <a ng-click="selectCustomer(customer)">Add</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr ng-show="customers.length === 0 || filteredCustomers.length === 0">
              <td colspan="3">There are no customers to display.</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="text-center" loading-spinner="loadingCustomers"></div>
    </div>
    <div class="col-md-6">
      <h3 class="no-margin-top">Assigned Customers</h3>
      <table class="table no-margin table-border table-striped-rows">
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in filterSelectedCustomers = (profile.customers | filter: {accountId: groupId})" ng-class="{ odd : $odd, even: $even }">
            <td>{{customer.customerNumber}}</td>
            <td>{{customer.customerName}}</td>
            <td>
              <a ng-click="unselectCustomer(customer)">Remove</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="filterSelectedCustomers.length === 0">
            <td colspan="3">There are no selected customers in this customer group to display.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="form-group sub-content">
    <div class="col-md-6 button-row">
      <button type="button" ng-click="updateProfile()" class="btn btn-lg btn-primary">Save Updates</button>
      <a ui-sref="menu.admin.customergroupdashboard({customerGroupId: groupId})">Cancel</a>
    </div>
  </div>
</div>