<div page-header-bar>
  <div header-message>
    User Profile Update
  </div>
  <div header-buttons>

  </div>
</div>
<div class="col-xs-12">
  <form action="" class="form-horizontal">
    <h2>Viewing profile for:</h2>
    <div class="row top-buffer">
      <div class="col-lg-4">
        <span><strong>{{profile.firstname}} {{profile.lastname}} ({{profile.email}})</strong> | <a class="btn-link" ng-click="deleteProfile()">Delete User</a></span>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-lg-4 col-md-5">
        <div class="col-md-4">
          <label for="userRole" class="control-label">User Role</label>
        </div>
        <div class="col-md-8">
          <select id="userRole" ng-options="role as role for role in roles" class="text-capitalize form-control" ng-model="profile.role" required></select>
        </div>
      </div>
    </div>
    <hr>
    <h2>Assign Customers to the user:</h2>
    <div class="row top-buffer">
      <div class="col-md-8">
        <table class="table no-margin table-border table-striped-rows">
          <thead>
            <tr>
              <th>
                <input type="checkbox" ng-init="selectAll = false" ng-change="changeAllSelected(selectAll);" ng-model="selectAll"/>
                Select All
              </th>
              <th class="sort-col-header" ng-click="sortBy='customerNumber';sortOrder=!sortOrder;">Customer Number
                <span sort-icons field="'customerNumber'" sortorder="sortOrder" sortby="sortBy"></span>
              </th>
              <th class="sort-col-header" ng-click="sortBy='customerName';sortOrder=!sortOrder;">Customer Name
                <span sort-icons field="'customerName'" sortorder="sortOrder" sortby="sortBy"></span>
              </th>
              <th class="sort-col-header" ng-click="sortBy='nationalOrRegionalAccountNumber';sortOrder=!sortOrder;">Account Number
                <span sort-icons field="'nationalOrRegionalAccountNumber'" sortorder="sortOrder" sortby="sortBy"></span>
              </th>
              <th>
                <a ng-click="showFilter = !showFilter;"><span class="icon-filter"></span></a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="filter-row" ng-show="showFilter">
              <td class="hidden-xs hidden-sm filterInputLeft">
                <input type="checkbox" ng-model="tempSelected" ng-change="setSelectedFilter(filterFields.selected)"/>
              </td>
              <td class="hidden-xs hidden-sm input-col">
                <input type="text" placeholder="Filter..." ng-model="filterFields.customerNumber">
              </td>
              <td class="hidden-xs hidden-sm input-col">
                <input type="text" placeholder="Filter..." ng-model="filterFields.customerName">
              </td>
              <td class="input-col">
                <input type="text" placeholder="Filter..." ng-model="filterFields.nationalOrRegionalAccountNumber">
              </td>
              <td class="large-icon icon-col">
                <a ng-click="filterFields = {}"><span class="text-light icon-cross3"></span></a>
              </td>
            </tr>
            <tr ng-repeat="customer in customers | filter:filterFields | orderBy:sortBy:sortOrder" ng-class="{ odd : $odd, even: $even }">
              <td><input type="checkbox" ng-model="customer.selected"/></td>
              <td><a class="btn-link" ui-sref="menu.admin.customer({customerNumber: customer.customerNumber})">{{customer.customerNumber}}</a></td>
              <td>{{customer.customerName}}</td>
              <td>{{customer.nationalOrRegionalAccountNumber}}</td>
              <td></td>
            </tr>
          </tbody>
          <tfoot ng-show="customers.length === 0">
            <tr>
              <td>There are no customers to display.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-12">
        <div class="form-group button-row">
          <div class="col-sm-6">
            <button type="button" ng-click="updateProfile()" class="btn btn-lg btn-primary">Save Updates</button>
            <a ui-sref="menu.accountdetails">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
