<div ui-view>
  <div page-header-bar>
    <div header-message>
      Admin Test Page
    </div>
    <div header-buttons>
    </div>
  </div>
  <div class="col-md-12 page-subheader-bar__container">
    <input type="email" ng-model="emailAddress" placeholder="enter email address">
    <a ui-sref="menu.admin.edituser({email: emailAddress})">Edit User</a>
    <hr>
    <input type="text" ng-model="customerNumber" placeholder="enter customer number">
    <a ui-sref="menu.admin.customer({customerNumber: customerNumber})">Go to Customer Profile</a>
  </div>
</div>
