<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="commerceServer">
      <sectionGroup name="crosstier">
        <section name="exceptionHandling" type="CommerceServer.Foundation.Configuration.CommerceExceptionHandlingSection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="extensibility" type="CommerceServer.Foundation.Configuration.CommerceExtensibilitySection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
      <sectionGroup name="foundation">
        <section name="cacheRefresh" type="CommerceServer.Foundation.Configuration.CommerceCacheRefreshSection, CommerceServer.Foundation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
        <section name="channelConfiguration" type="CommerceServer.Foundation.Configuration.CommerceChannelConfigurationSection, CommerceServer.Foundation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
        <section name="debug" type="CommerceServer.Foundation.Configuration.CommerceApplicationDebugSection, CommerceServer.Foundation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Encryption.IV" value="w4o0f5PEmqY8AtszwoA5eg==" />
    <add key="Encryption.Key" value="rzQ9uvtGTnuiMVvXdL2FIKWi88x5TZH4iSw7+URzkKM=" />
  </appSettings>

  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CommerceServer.Foundation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add assembly="CommerceServer.Foundation.SequenceComponents, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add assembly="CommerceServer.Foundation.SequenceComponents.Extensions, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add assembly="CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </assemblies>
    </compilation>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommerceMessageManager" publicKeyToken="null" culture="en-US" version="6.0.1.0" />
        <codeBase href="bin\CommerceMessageManager.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <commerceServer>
    <crosstier>
      <extensibility>
        <operationStatusConverter implementation="CommerceServer.Foundation.OperationStatusConverter, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </extensibility>
      <exceptionHandling defaultPolicyName="Default">
        <exceptionPolicy name="Default">
          <exceptionHandler name="TextLoggingExceptionHandler" type="CommerceServer.Foundation.LoggingExceptionHandler, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" initializeData="CommerceServer.Foundation.Exceptions" />
        </exceptionPolicy>
      </exceptionHandling>
    </crosstier>
    <foundation>
      <debug includeExceptionDetails="true" />
      <channelConfiguration configSource="ChannelConfiguration.config" />
      <cacheRefresh enabled="true" pollingInterval="30" />
    </foundation>
  </commerceServer>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
    </diagnostics>
    <!-- For fiddler
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    -->
    <extensions>
      <behaviorExtensions>
        <add name="errorHandlingBehavior" type="CommerceServer.Foundation.OperationErrorHandler, CommerceServer.Foundation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OperationServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <errorHandlingBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CommerceServer.Foundation.OperationService" behaviorConfiguration="OperationServiceBehaviour">
        <!-- For fiddler
        <endpoint name="WsHttpOperationService" binding="wsHttpBinding" contract="CommerceServer.Foundation.IOperationService" bindingConfiguration="NewBinding0"/>
        -->
        <endpoint name="WsHttpOperationService" binding="wsHttpBinding" contract="CommerceServer.Foundation.IOperationService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".svc" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

  <!-- Needed this for our object mapping -->
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="CommerceServer.Foundation.CommerceOperation, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL">
          <knownType type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
          <knownType type="System.Collections.Generic.List`1[[CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL]]" />
          <knownType type="System.Collections.Generic.List`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
        </add>
        <add type="CommerceServer.Foundation.CommerceOperationResponse, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        <add type="CommerceServer.Foundation.CommerceOptions, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.ValidationError, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.GeneralOperationFault, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>

</configuration>