<html>
  <head>

    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/entreeMaintenancePage.css"/>

  </head>

  <body>

    <div class="container-fluid register-wrapper"> 
      <div class="col-md-12 text-center entreeLogoDiv">
        <img class="entreeLogo" src="../images/bek-logo.png" alt="logo"/>
      </div>

      <div class="text-center maitenanceTextDiv">
        <h3>Thank you for choosing Ben E. Keith</h3>
        <h3>Entr&eacute;e is currently unavailable for scheduled maintenance.</h3>
        <h3>We should be back online soon!</h3>
      </div>
    </div>

  </body>
</html>
