<div class="hidden-lg">
  <div class="no-padding text-left">
    <img class="featured-item-height" ng-if="item.imageurl" src="images/Oreo-July-2017-Banner_2.jpg" alt="image">
    <img class="featured-item-height" ng-if="!item.imageurl" class="product-placeholder-image" src="images/bek-logo.png" alt="default product image">
  </div>
</div>

<div class="text-center box visible-lg" ng-click="storePromoItemInformation(item.targeturltext, item.id)" style="background:transparent;">
  <div style="display:inline-block">
    <img class="item-image featured-item-height" ng-if="item.imageurl" src="images/Oreo-July-2017-Banner.jpg" ng-click="openExternalLink(item.targeturl)" alt="image">
    <img class="item-image featured-item-height" ng-if="!item.imageurl" class="product-placeholder-image" src="images/bek-logo.png" alt="default product image">
  </div>
</div>
