<div class="col-xs-12">
  
  <h3>Customers</h3>

  <table class="table table-border table-striped-rows">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Branch</th>
        <th>DSR Number</th>
        <th>Contract ID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customers" ng-class="{ odd : $odd, even: $even }">
        <td>{{customer.customerNumber}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerBranch}}</td>
        <td>{{customer.dsrNumber}}</td>
        <td>{{customer.contractId}}</td>
      </tr>
    </tbody>
  </table>

</div>