 <div class="modal-header">
    <h3 class="modal-title">Order From List</h3>
</div>
<div class="modal-body">

  <form name="OrderFromListForm" class="style-validation-errors form-group">
    <div class="form-group row">
    <label class="col-xs-2 col-form-label">Customer:</label>
      <div class="col-xs-10">
        <p type="text"> {{currentCustomer.text}}</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Cart Name:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" value="{{selectedCart.name}}" ng-model="selectedCart.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">List:</label>        
      <div class="no-border-right-sm select-nav btn-group dropdown-toggle hand form-control orderFromListDropdown" dropdown is-open="showLists" ng-disabled="lists.length === 1">
        <span class="nav-title">{{selectedList.name}}</span>
        <span class="pull-right caret text-dark margin-top-5"></span>
        <ul class="dropdown-menu col-xs-12 dropdown-menu-scroll" role="menu">
          <li ng-repeat="list in lists | sortLists" ng-if="list.listid !== selectedList.listid">
            <a ng-click="selectedList.name = list.name; selectedList.listid = list.listid;">
              {{list.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Ship Date:</label>
      <div class="btn-group hand no-border-right-sm dropdown-toggle form-control orderFromListDropdown" dropdown is-open="showShipDates">
        <span class="nav-title">
          {{(selectedCart.requestedshipdate | formatDate) || 'Select a Date...' }}
        </span>
        <span class="pull-right caret text-dark margin-top-5"></span>
        <div class="dropdown-menu">
          <table class="table no-margin">
            <tr class="hand-pointer">
              <td></td>
              <td>Ship Date</td>
              <td>Submit By</td>
            </tr>
            <tr ng-repeat="shipDate in shipDates" ng-if="shipDate.shipdate != selectedCart.requestedshipdate" ng-click="selectedCart.requestedshipdate = shipDate.shipdate;">
              <td>{{shipDate.dayofweek}}</td>
              <td class="nowrap">{{shipDate.shipdate}}</td>
              <td class="nowrap">{{shipDate.cutoffdatetime | formatDateWithTimezone}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">PO Number:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" name="poNumber" ng-model="selectedCart.ponumber" ng-maxlength="20" placeholder="Enter PO Number...">
      </div>
    </div>


  </form>

</div>
<div class="modal-footer">

  <button
  type="submit"
  class="btn-lg btn btn-primary pull-right block-display margin-left-10"
  analytics-on
  analytics-category="Orders"
  analytics-event="Create Order" 
  analytics-label="From List" 
  ng-click="createCart(selectedCart)">
  Create Cart
  </button>

  <button
  type="button"
  class="btn-lg btn btn-default pull-right block-display"
  ng-click="close()">
  Close
  </button>
</div>