 <div class="modal-header">
    <h3 class="modal-title">Cart Quick Add</h3>
</div>
<div class="modal-body">
  <p class="text-red" ng-if="quickAddForm.itemNumber.$error.fcsaNumber">Cart has some invalid item numbers. These items will be excluded when the order is submitted.</p>

  <form name="quickAddForm" class="style-validation-errors">
    <p class="text-green" >
    <span ng-if="enableSubmit && !isChangeOrder && !existingCart">All item numbers are valid. Click Create Cart</span>
    <span ng-if="enableSubmit && isChangeOrder || enableSubmit && existingCart">All item numbers are valid.</span>
    </p>
    <p class="text-red" ng-if="!enableSubmit">You must enter all valid item numbers before you can create the cart</p>
    <p class="text-red" ng-if="invalidValue">Please enter a quantity no greater than 999</p>

    <table class="table table-border" navigate-quick-add>
      <thead>
        <tr>
          <th>Item #</th>
          <th>Qty</th>
          <th>Each</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in quickAddItems">
          <td class="input-col" ng-class="{ 'red-border': item.valid === false }">
            <input name="itemNumber" focus-me="true" type="text" ng-model="item.itemnumber" fcsa-number="{ 'noFormat': true, 'maxDigits': 6 }">
            <span ng-if="item.valid === false" class="text-red">{{item.reason}}</span>
          </td>
          <td class="input-col">
            <div counter name="quantity" type="text" ng-model="item.quantity"></div>
          </td>
          <td class="input-col">
            <input name="each" type="checkbox" ng-model="item.each">
          </td>
          <td>
            <a ng-click="removeRow(item)"><span class="large-icon text-red icon-cross"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  
  <div class="text-right">
    <button type="button" class="btn btn-primary btn-lg" ng-click="addRow()">Add Row</button>
  </div>

</div>
<div class="modal-footer">
  <button
  type="button"
  class="btn btn-lg btn-default pull-left"
  ng-click="validateItems(quickAddItems)"
  ng-disabled = "isValidating"
  >Validate Items
  </button>

  <button
  type="submit"
  class="btn-lg btn btn-primary pull-right block-display"
  analytics-on
  analytics-category="Orders"
  analytics-event="Create Order" 
  analytics-label="Quick Add" 
  ng-if="!isChangeOrder && !existingCart"
  ng-disabled="!enableSubmit"
  ng-click="createCart(quickAddItems)">Create Cart
  </button>

  <button
  type="button"
  class="btn-lg btn btn-primary pull-right block-display"
  ng-if="existingCart"
  ng-disabled = "!enableSubmit"
  ng-click="updateCart(quickAddItems)">Add To
   <span ng-if="!isChangeOrder">Cart</span>
   <span ng-if="isChangeOrder">Change Order</span>
  </button>

  <button
  type="button"
  class="btn-lg btn btn-default pull-right block-display"
  ng-click="close()"
  ng-disabled = "isValidating">Close
  </button>
</div>