<div class="modal-header">
    <div class="modal-close-button" ng-click="closeModal()"><span class="icon-cross large-icon"></span></div>
</div>
<div id="printThis - {{notification.id}}" class="modal-body">

  <h3>{{notification.messagecreated | formatDate:'MMM D, YYYY' }}</h3>

  <h4 style="margin-top:20px;">{{notification.subject}}</h4>
  <pre class="notification-body" ng-class="{ 'text-red': notification.mandatory }" ng-bind-html="notification.body"></pre>
  <a ng-if="notification.link" target="_blank" href="{{notification.link}}">Click Here For Additional Details</a>

</div>
<div class="modal-footer">
  <button 
    ng-if="notification.displayType === 'Order'" 
    ng-click="goToPage('menu.order')" 
    class="btn btn-lg btn-primary pull-left">
    View All Orders
  </button>
  <button 
    ng-if="notification.displayType === 'Invoice'"
    ng-click="goToPage('menu.invoice')" 
    class="btn btn-lg btn-primary pull-left">
    View All Invoices
  </button>
  <button 
    ng-if="notification.displayType !== 'Order' && notification.displayType !== 'Invoice'"
    ng-click="closeModal()" 
    class="btn btn-lg btn-primary pull-left">
    OK
  </button>
  <button 
    class="btn btn-lg btn-primary pull-right"
    ng-click="printNotificationModal()">
    Print
  </button>
  <button 
    class="btn btn-lg btn-primary pull-right hidden-xs"
    ng-click="emailNotification(notification.id, sendToEmailAddress)"
    ng-disabled="!sendToEmailAddress">
    Email
  </button>
  <input
    type="email"
    class="form-control pull-right hidden-xs margin-top-5"
    style="max-width:200px;"
    placeholder="Enter Email Address"
    ng-model="sendToEmailAddress"
    required
  />
<!--   <a 
    class="btn btn-lg btn-primary pull-right"
    type="button"
    href="mailto:%20?body={{emailBody}}&subject=Entree Notification - {{notification.messagecreated | formatDate:'MMM D, YYYY' }} - {{notification.subject}}">
    Email
  </a> -->
</div>