 <div class="modal-header">
    <h3 class="modal-title">Import a New Order</h3>
</div>
<div class="modal-body">

  <form name="orderImportForm" class="form-horizontal style-validation-errors">
    <div class="form-group">
      <label for="file" class="col-sm-4 control-label">File: </label>
      <div class="col-sm-8">
        <label class="btn btn-default" for="importFile">Choose File</label>
        {{files[0].name}}
        <input style="display:none;" type="file" id="importFile" name="importFile" ng-file-select="onFileSelect($files)">
      </div>
    </div>
    <div class="form-group">
      <label for="itemType" class="col-sm-4 control-label">Item type: </label>
      <div class="col-sm-8">
        <select class="style-select" name="itemType" id="" required ng-model="options.itemnumber">
          <option value="0">Item Number</option>
          <option value="1">UPC</option>
          <option value="2">Item Number or UPC</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="contents" class="col-sm-4 control-label">Contents: </label>
      <div class="col-sm-8">
        <select class="style-select" name="contents" id="" required ng-model="options.contents">
          <option value="0">Item Only</option>
          <option value="1">Item, Quantity</option>
          <option value="2">Item, Quantity, Broken Case (Y/N)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="fileFormat" class="col-sm-4 control-label">File format: </label>
      <div class="col-sm-8">
        <select class="style-select" name="fileFormat" id="" required ng-model="options.fileformat">
          <option value="0">CSV</option>
          <option value="1">Tab</option>
          <option value="2">Excel</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="ignoreZeroes" class="col-sm-4 control-label checkbox-line">Ignore zero quantities: </label>
      <div class="col-sm-8">
        <input type="checkbox" name="ignoreZeroes" ng-model="options.ignorezero">
      </div>
    </div>
    <div class="form-group">
      <label for="ignoreFirstLine" class="col-sm-4 control-label checkbox-line">Ignore first line: </label>
      <div class="col-sm-8">
        <input type="checkbox" name="ignoreFirstLine" ng-model="options.ignorefirst">
      </div>
    </div>
    <div class="form-group">
      <label for="importByInventory" class="col-sm-4 control-label checkbox-line">Import by PAR Level: </label>
      <div class="col-sm-8">
        <input type="checkbox" name="importByInventory" ng-model="options.importbyinventory">
      </div>
    </div>
    <div class="form-group" ng-show="options.importbyinventory">
      <label for="selectedList" class="col-sm-4 control-label checkbox-line">List with PARs: </label>
      <div class="col-sm-8">
        <select class="style-select" ng-options="list.listid as list.name for list in customListHeaders" ng-model="options.listid" id="selectedList" name="selectedList"></select>
      </div>
    </div>
    

  </form>

</div>
 <p class="text-red text-left" style="padding-left:15px;" ng-show="invalidType">This is an incompatible file type. Please choose a file with one of the following extensions: .xls .xlsx .csv .txt.</p>
 <p class="text-left" style="padding-left:15px;" ng-show="!invalidType">Please choose a file with one of the following extensions: .xls .xlsx .csv .txt.</p>
<div class="modal-footer">
    <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
    <button class="btn-lg btn btn-primary" analytics-on analytics-category="Orders" ng-disabled = "invalidType" analytics-event="Create Order" analytics-label="Import" ng-click="startOrderUpload(options)">Import</button>
    <button class="btn-lg btn btn-default" ng-click="cancel()">Cancel</button>
</div>
