<tabset class="tabset modal-body" justified="true">
  <tab heading="Share">
    <p>
      Sharing a list with another customer allows all users under that customer to view a living copy of the list.  Any edits you make will also occur on all shared versions of the list.  Users who have a shared copy will not be able to make any edits. 
    </p>
    <form name="shareForm">
      <div class="share-customers">
        <ng-form name="customerSearchForm" class="search-form">
          <div class="input-group">
            <input 
              ng-model="customerSearchTerm" 
              type="text" 
              class="form-control" 
              placeholder="Filter customers by name or number" />
            <span class="input-group-btn">
              <button type="submit" ng-click="filterCustomerList(customerSearchTerm)" class="btn btn-default icon-search"></button>
            </span>
          </div>
        </ng-form>
        <div infinite-scroll="infiniteScrollLoadMore()" 
          infinite-scroll-container="'.share-customers'">
          <div 
            class="checkbox" 
            ng-repeat="customer in customers" 
            ng-if="selectedUserContext.customer.customerNumber !== customer.customerNumber">
            <label>
              <input type="checkbox"
                name="customers"
                value="{{customer.customerName}}"
                ng-checked="selectedShareCustomers.indexOf(customer) > -1"
                ng-click="toggleCustomerSelection(selectedShareCustomers, customer)">
              {{customer.customerName}}
            </label>
          </div>
        </div>
      </div>
      <div class="text-center" loading-spinner="loadingResults"></div>
      <div class="sub-content text-right">
        <button type="button" class="btn-lg btn btn-primary" ng-disabled="!customers || customers.length === 0" ng-click="shareList(list, selectedShareCustomers)">Share List</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </form>

  </tab>

  <tab heading="Copy">
    <p>
      Copying a list with another customer provides that customer their own version of the list.  Once the list has been copied, it can be edited, modified, or deleted independent of the original list.
    </p>
    <form name="copyForm">
      <ng-form name="customerSearchForm" class="search-form">
        <div class="input-group">
          <input 
            ng-model="customerSearchTerm" 
            type="text" 
            class="form-control" 
            placeholder="Filter customers by name or number" />
          <span class="input-group-btn">
            <button type="submit" ng-click="filterCustomerList(customerSearchTerm)" class="btn btn-default icon-search"></button>
          </span>
        </div>
      </ng-form>
      <div class="copy-customers">
        <div infinite-scroll="infiniteScrollLoadMore()" 
          infinite-scroll-container="'.copy-customers'">
          <div class="checkbox" ng-repeat="customer in customers" ng-if="selectedUserContext.customer.customerNumber !== customer.customerNumber">
            <label>
              <input type="checkbox"
                name="customers"
                value="{{customer.customerName}}"
                ng-checked="selectedCopyCustomers.indexOf(customer) > -1"
                ng-click="toggleCustomerSelection(selectedCopyCustomers, customer)">
              {{customer.customerName}}
            </label>
          </div>
        </div>
      </div>
      <div class="text-center" loading-spinner="loadingResults"></div>
      <div class="sub-content text-right">
        <button type="button" class="btn-lg btn btn-primary" ng-disabled="!customers || customers.length === 0" ng-click="copyList(list, selectedCopyCustomers)">Copy List</button>
        <button type="button" class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </tab>
</tabset>