<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Site Settings -->
    <add key="AppName" value="Entree Access Service" />
    <add key="IsProduction" value="false" />
    <!-- RabbitMQ Settings -->
    <add key="RabbitMQAccessServer" value="corpkecdev1" />
    <add key="RabbitMQOrderServer" value="corpkecdev1" />
    <add key="RabbitMQConfirmationServer" value="corpkecdev1" />
    <!--<add key="RabbitMQAccessServer" value="corpkecqas1" />-->
    <!--<add key="RabbitMQOrderServer" value="corpkecqas1" /> -->
    <!--<add key="RabbitMQConfirmationServer" value="corpkecqas1" />-->
    <add key="RabbitMQAccessVHost" value="access_update" />
    <add key="RabbitMQOrderVHost" value="orders_createupdate" />
    <add key="RabbitMQConfirmationVHost" value="orders_statusnotification" />
    <add key="RabbitMQAccessExchange" value="access_exchange" />
    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" />
    <add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" />
    <add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" />
    <add key="RabbitMQUpdateRequestExchange" value="bek_commerce_historyrequest" />
    <add key="RabbitMQAccessConsumerUserName" value="accessclnt" />
    <add key="RabbitMQAccessConsumerUserPassword" value="acspassclnt" />
    <add key="RabbitMQAccessPublisherUserName" value="accesspub" />
    <add key="RabbitMQAccessPublisherUserPassword" value="acspasspub" />
    <add key="RabbitMQOrderConsumerUserName" value="orderclnt" />
    <add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" />
    <add key="RabbitMQOrderPublisherUserName" value="orderpub" />
    <add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" />
    <add key="RabbitMQAccessQueue" value="access_update_queue" />
    <add key="RabbitMQOrderQueue" value="orders_created" />
    <add key="RabbitMQOrderErrorQueue" value="orders_error" />
    <add key="RabbitMQOrderHistoryQueue" value="orders_history" />
    <add key="RabbitMQUpdateRequestQueue" value="orders_historyrequest" />
    <!-- PowerMenu Settings -->
    <add key="PowerMenuAdminUsername" value="pniadmin" />
    <add key="PowerMenuAdminPassword" value="9M9NC0N" />
    <add key="PowerMenuWebServiceUrl" value="http://bekpmwsq1.bekco.com/pmserviceendpoint.asmx" />
    <add key="PowerMenuPermissionsUrl" value="http://bekpmwsq1.bekco.com/main/Logon.aspx?Adminusername=pniadmin&amp;Adminpassword=9M9NC0N&amp;Username={0}&amp;path=USER" />
    <!-- Email Settings -->
    <add key="SmtpServer" value="corpampas1.bekco.com" />
    <add key="FailureEmailAddress" value="mdjoiner@benekeith.com" />
    <add key="FromEmailAddress" value="no-reply@benekeith.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=Entree Access Service; user id=eluser; Password=3v3ntWr1t3r" />
    <add name="KbitCustomer" connectionString="Data Source=corpsqltst12.bekco.com\bi; Initial Catalog=kbit_customer; Application Name=Entree Access Service; user id=outuser; Password=Oracl3" />
    <add name="BEKDBContext" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="KPAYDBContext" connectionString="Data Source=corpsqltst12.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>