<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EventLog" 
         connectionString="Data Source=corpsqltst14.bekco.com; Initial Catalog=eventlog; Application Name=Entree Access Service; user id=eluser; Password=3v3ntWr1t3r" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="KbitCustomer" 
         connectionString="Data Source=corpsqltst14.bekco.com\bi; Initial Catalog=kbit_customer; Application Name=Entree Access Service; user id=outuser; Password=Oracl3"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BEKDBContext" 
         connectionString="Data Source=corpsqltst14;Initial Catalog=BEK_Commerce_AppData;user id=ecom;Password=!2klkA5" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="KPAYDBContext" 
         connectionString="Data Source=corpsqltst14.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>