<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppDataConnection" 
         connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EventLog" 
         connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="BEKDBContext" 
         connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="AuditLog" 
         connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProfileDbConnection" 
         connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_Profiles; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient"  
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>