<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search by keyword, item number, brand or manufacture number">
			<span class="input-group-btn">
			<button class="btn" type="button"><span class="glyphicon glyphicon-search"></span> SEARCH</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-sm-12 -->
</div><!-- /.row -->
<div class="row sub-content">
	<div class="col-sm-12">
		<h4>Ben E. Keith Recommended Items</h4>
		<ul class="horizontal-slide">
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/Walnuts.jpg" alt="image">
					<div class="featured-item__detail">
						Walnut Pieces
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row sub-content">
	<div class="col-sm-12">
		<h4>Select A Category</h4>
		<ul class="horizontal-slide">
			<li ng-repeat="category in categories | orderBy: ['name']" class="item-holder">
				<div class="featured-item text-center">
					<img src="images/green-apple.jpg" alt="image">
					<div class="featured-item__detail">
						{{category.name}}
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row sub-content">
	<div class="col-sm-12">
		<h4>Select A Brand</h4>
		<ul class="horizontal-slide">
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
			<li class="item-holder">
				<div class="featured-item text-center">
					<img src="images/admiral.jpg" alt="image">
					<div class="featured-item__detail">
						Admiral Of The Fleet
						<a href="" class="text-uppercase">view details</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>