<div class="sidebar hidden-sm hidden-xs">
  <div class="sidebar-logo text-center">
    <img src="images/bek-logo.png" alt="logo" />
  </div>

  <nav class="sidebar-nav">
    <ul class="list-unstyled">
      <a href="#/home">
        <li><span class="icon-house"></span> Home</li>
      </a>
      <a href="/orders">
        <li><span class="icon-text"> Orders</li>
      </a>
      <a href="#/catalog">
        <li><span class="icon-book2"> Product Catalog</li>
      </a>
      <a href="/reports">
        <li><span class="icon-pie"> Reports</li>
      </a>
      <a href="/invoices">
        <li><span class="icon-dollar"> Invoices</li>
      </a>
      <a href="/emenu">
        <li><span class="icon-food"> eMenuManage</li>
      </a>
      <a href="/admin">
        <li><span class="icon-cog"> Admin</li>
      </a>
    </ul>
  </nav>

  <div class="sidebar-dsr">
    <p>Your Sales Rep</p>
    <img src="" alt="dsr image" style="width:75px;height:75px;" />
    <p class="contact-info">
      <span>Heather Hill</span>
      <span>(888) 912-2342</span>
    </p>
    <a class="text-uppercase" href="#">Email Me</a>
  </div>

  <div class="text-center sidebar-meta">
    <span>Copyright 2014 Ben E. Keith</span>
    <a href="#">benekeith.com</a>
  </div>
</div> 