$account-summary__border: #ddd8c5;
$account-summary__background: white;

.account-summary__balance {
  background-color: $account-summary__background;
  border: 1px solid $account-summary__border;
  padding: 20px;
  
  .balance__amount {
    font-size:32px;
    font-weight:bold;
    padding-top: 5px;
  }
  .balance__term:not(:last-child) {
    border-right: 1px solid $account-summary__border;
  }
}
.account-summary__graph {
  @extend .account-summary__balance;
  border-top: none;
}