button {
  background-color: #489ecf;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 20px;
  border: none;
  height: 55px;
}

select {
  border: 1px solid #c3bc9c;
  background-color: white;
  font-size: 20px;
  // color: #c3bc9c;
  padding: 15px;
  height: 55px;
}

input[type='text'] {
  border: 1px solid #c3bc9c;
  height: 55px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}