@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
// @import "compass/reset";

@import "compass";

$gold: #e8aa30;

$background: #f3f1eb;
$font-color: #504938;

body {
  font-family: 'Source Sans Pro', sans-serif;
  // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
  color: $font-color;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}
.main-content {
  width: calc(100% - 250px);
  float: left;
  padding-left: 15px;
}
.page-content {
  padding: 30px 20px 0 20px;
}

h1,h2,h3,h4 {
  margin-top: 0;
  letter-spacing: 0;
}
h3 {
  font-size: 20px;
}

// BOOTSTRAP FIX FOR SIDEBAR
.container-fluid {
  padding: 0;
}

$color--late: #dc6a6a;
$color--paid: #04a773;
.text--late {
  color: $color--late;
}
.text--paid {
  color: $color--paid;
}

.featured-item {
  margin-bottom: 15px;
  background-color: white;

  img {
    height: 175px;
    width: 100%;
    padding: 10px;
  }

  a {
    display: block;
  }

  .featured-item__detail {
    padding: 15px;
    border-top: 1px solid #e1ddcd;
  }
}

.sub-content{
  padding-top: 20px;
}

::-webkit-input-placeholder {
  font-style: italic;
}
 
::-moz-placeholder {
  font-style: italic;
}


@import 'sidebar';
@import 'user-bar';
@import 'components';
@import 'order-summary';
@import 'account-summary';
@import 'catalog';