<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- RabbitMQ for logging Config -->
        <add key="LogExchange" value="log_exchange" />
        <add key="LogPassword" value="dGlkbpdG5lZlZ2FGdpcmcHRuZ" />
        <add key="LogRoutingKey" value="bek_eventlog_v2" />
        <add key="LogServer" value="elkrmq-arnet.benekeith.com" />
        <add key="LogUserName" value="loguser" />
        <add key="LogVirtualHost" value="log_host" />
    </appSettings>
    <connectionStrings>
        <!-- This connection string points to the AppData database for testing (BEK_Commercer_AppData_Test)-->
        <add name="BEKDBContext" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData_Test;Integrated Security=true" providerName="System.Data.SqlClient" />
        <!--<add name="BEKDBContext" connectionString="Data Source=corpsqltst14;Initial Catalog=BEK_Commerce_AppData_Test;user id=ecom;Password=!2klkA5" providerName="System.Data.SqlClient" />-->
        <add name="EventLog" connectionString="Data Source=corpsqltst14.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r" />
    </connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>