<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="commerceServer">
      <sectionGroup name="crosstier">
        <section name="exceptionHandling" type="CommerceServer.Foundation.Configuration.CommerceExceptionHandlingSection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="extensibility" type="CommerceServer.Foundation.Configuration.CommerceExtensibilitySection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
      <sectionGroup name="presentation">
        <section name="presentationConfiguration" type="CommerceServer.Foundation.Configuration.CommercePresentationConfigurationSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="operationServices" type="CommerceServer.Foundation.Configuration.CommerceOperationServicesSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="router" type="CommerceServer.Foundation.Configuration.CommerceRouterSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="userRecognition" type="CommerceServer.Foundation.Configuration.CommerceUserRecognitionSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
    </sectionGroup>
    <section name="commerceServerCodeGeneration" type="CommerceServerContrib.CodeGeneration.Configuration.CommerceServerCodeGenerationConfigurationSection, CommerceServerContrib.CodeGeneration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    <sectionGroup name="commerceServerContrib">
      <section name="presentation" type="CommerceServerContrib.CrossTier.Configuration.PresentationConfigurationSection, CommerceServerContrib.CrossTier" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-KeithLink.Svc.WebApi-20140709005804;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-KeithLink.Svc.WebApi-20140709005804.mdf" />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=Order Upload Service; user id=eluser; Password=3v3ntWr1t3r" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" xmlns="" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <commerceServer>
    <crosstier>
      <exceptionHandling defaultPolicyName="Default">
        <exceptionPolicy name="Default">
          <exceptionHandler name="TextLoggingExceptionHandler" type="CommerceServer.Foundation.LoggingExceptionHandler, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" initializeData="CommerceServer.Foundation.Exceptions" />
        </exceptionPolicy>
      </exceptionHandling>
    </crosstier>
    <presentation>
      <operationServices>
        <operationService name="IOperationService" mode="Service" clientEndpointName="IOperationService" throwOnFault="true" />
      </operationServices>
      <presentationConfiguration commerceConfigurationProviderType="CommerceServer.Foundation.DefaultConfigurationProvider, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" cacheRefreshPollingTime="00:00:30">
        <default name="Default" channel="">
          <types>
            <type name="SiteContext" type="CommerceServerContrib.Web.SiteContext, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAdapter" type="CommerceServer.Foundation.RequestTemplates.RequestTemplateServiceAdapter, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAgent" type="CommerceServer.Foundation.RequestTemplates.MessageBundlingOperationServiceAgent, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
          </types>
          <caching enabled="true">
            <cacheRefresh enabled="true">
              <cacheEvent eventName="Presentation_requestTemplateFileChange" cachesToUpdate="RequestTemplateCache;Catalog" />
              <cacheEvent eventName="CatalogCache" cachesToUpdate="Catalog" />
              <cacheEvent eventName="AllMarketingCaches" cachesToUpdate="Marketing" />
            </cacheRefresh>
            <cacheTypes>
              <cacheType name="Local" type="CommerceServer.Foundation.EnterpriseLibraryCacheProvider, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </cacheTypes>
            <caches defaultCacheType="Local">
              <cache name="RequestTemplateCache" enabled="true" />
              <cache name="Catalog" enabled="true" />
              <cache name="Profile" enabled="true" />
              <cache name="Orders" enabled="true" />
              <cache name="Marketing" enabled="true" />
            </caches>
          </caching>
        </default>
      </presentationConfiguration>
    </presentation>
  </commerceServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!--For fiddler add proxyAddress="http://clr4-dev123:8888" useDefaultWebProxy="false" to the bind-->
        <binding name="wsHttp" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <!--For fiddler add mode="None"-->
          <security>
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="CommerceServer.Foundation.CommerceOperation, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL">
          <knownType type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
          <knownType type="CommerceServer.Foundation.RequestTemplates.RequestTemplate, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        </add>
        <add type="CommerceServer.Foundation.CommerceOperationResponse, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        <add type="CommerceServer.Foundation.CommerceOptions, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.ValidationError, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.GeneralOperationFault, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <commerceServerCodeGeneration>
    <entitiesToIgnore>
      <entity name="CommerceEntityDefinition" />
      <entity name="RelationshipDefinition" />
      <entity name="RelationshipTypeDefinition" />
      <entity name="PropertyDefinition" />
      <entity name="EntityMapping" />
      <entity name="DefinitionMapping" />
      <entity name="ConstraintBase" />
      <entity name="EnumerationEntry" />
      <entity name="EntityMetadata" />
      <entity name="AuthorizationDefinition" />
      <entity name="CommerceClaim" />
      <entity name="CommerceCache" />
      <entity name="Site" />
      <entity name="Solution" />
      <entity name="Channel" />
      <entity name="MembershipSettings" />
      <entity name="Image" />
      <entity name="StoreProfile" />
      <entity name="VEClientToken" />
      <entity name="VENearbyStore" />
      <entity name="ImageGalleryFile" />
      <entity name="ImageGallery" />
    </entitiesToIgnore>
  </commerceServerCodeGeneration>
  <commerceServerContrib>
    <presentation configSource="Presentation.config" />
  </commerceServerContrib>
</configuration>