<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PricingSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx" binding="basicHttpBinding" bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
