// Account Balance
.balance__term--amount {
  @include make-xs-column(6);
  @include make-sm-column(3);
  @include make-md-column(6);
  @include make-lg-column(3);

  strong {
    display: block;
  }
}

// Aging  Term amount borders

.term-amount-1, .term-amount-3 {
  border-right: 1px solid $color-border;
}

// xs and md devices show as 2x2 grid
@media(max-width: $screen-xs-max),
  (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .term-amount-3, .term-amount-4 {
    margin-top: 5px;
    strong {
      padding-top: 5px;
      border-top: 1px solid $color-border;
    }
  }
}

// sm and lg devices show as 1x4 grid
@media(min-width: $screen-sm-min) and (max-width: $screen-sm-max),
  (min-width: $screen-lg-min) {
  .term-amount-2 {
    border-right: 1px solid $color-border;
  }
}

.account-summary__graph {
  border-top: none;
}

// Recent Activity
.notification {
  @include make-row();
  overflow:  hidden;

  .notification__icon {
    @include make-md-column(3);
    text-align: center;
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;

    &:after {
      content:"";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 49%;
      border-left: 2px solid $color-font;
    }
  }

  &:first-child .notification__icon:after {
    top: 5px;
  }

  .notification__message {
    width: inherit !important;
    @include make-md-column(9);
    @include arrow('left','top', 5px, $color-white, $color-border, 1px);
    margin-top: 15px;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: $color-white;
    border: 1px solid $color-border;
    padding: 8px;
    // margin-left: -20px;

    span.timestamp {
      color: $color-border;
    }
  }

  &.notification--date {
    .notification__icon {
      padding-top: 15px;
    }
    .notification__date {
      @include make-md-column(9);
      margin-top: 15px;
      padding-left: 0;
      // margin-left: -20px;
    }
  }
  &.notification--activity {
    .notification__icon {
      padding-top: 20px;

      div.icon {
        height: 25px;
        width: 25px;
        padding: 3px;
        border: 1px solid $color-font;
        border-radius: 100px;
        background-color: $color-white;
        display: inline-block;
      }
    }
  }
  &.notification--message {
    .notification__icon {
      padding-top: 10px;

      img {
        height: 40px;
        width: 40px;
        background-color: $color-white;
        border: 1px solid $color-font;
        border-radius: 100px;
      }
    }
  }
}

// Order Summary
$order-col__background: #f1efe5;

.order-summary__header {
  font-weight: 600;
}
.order-summary__order {
  background-color: $color-white;
  border: 1px solid $color-border;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #c3bc9c;

  &.order-summary__order--paid {
    border-left: 3px solid $color-green;

    .highlight-col {
      color: $color-green;
    }
  }
  &.order-summary__order--late {
    border-left: 3px solid $color-red;

    .highlight-col {
      color: $color-red;
    }
  }

  // order table columns
  .table-col {
    padding: 34px 0;
  }

  .order-col {
    background-color: $order-col__background;
    border-right: 1px solid $color-border;
    padding: $gutter-size 0;

    .order-col__number {
      font-size: 16px;
      font-weight: 600;
      display: block;
    }
  }
}

@media(min-width: $screen-md-min) {
  .order-col {
    @include arrow('right','center', 10px, $order-col__background, $color-border, 1px);
  }
}

@media(max-width: $screen-sm-max) {
  .order-summary__order {
    // background-color: $color-white;
    // border: 1px solid $color-border;
    border-top: none;

    &.order-summary__order--late {
      border-left: none;
      .order-col {
        border-top: 3px solid $color-red;
      }
    }
    &.order-summary__order--paid {
      border-left: none;
      .order-col {
        border-top: 3px solid $color-green;
      }
    }

    .order-col {
      border-bottom: 1px solid $color-border;
      border-top: 1px solid $color-border;
      border-right: none;
      padding: 10px $gutter-size;
      background-color: $order-col__background;
      position: relative;
      @include arrow('bottom','left', 10px, $order-col__background, $color-border, 1px);

      .order-col__date {
        text-align: right;
        font-size: 14px;
        // margin-top: 10px;
      }
    }
    .order-details {
      padding: $gutter-size;

      > .details-item {
        @include make-row();
        padding-top: 10px;

        > div {
          @include make-xs-column(6);
        }
        .item-value {
          text-align: right;
        }
        .item-title {
          font-weight: 600;
        }
      }
    }
  }
}
