.context-menu-template {
  display: inline-block;
}

.context-menu__in-list {
  position: relative;
  .context-menu {
    right: 0;
  }
}
.context-menu {
  display: none;
  // border-radius: 5px;
  // position: fixed;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  position: absolute;

  &.open {
    display: block;
  }
  
  .btn-group-vertical {
    box-shadow: 0px 0px 15px $color-border;
  }

  .dropdown-menu {
    top: 0;
    left: 100%;
    font-size: $font-size-base;
    padding: 0;
    min-width: 0;
    /*border-radius: 4px;*/
    background: transparent;
    border: none;
    box-shadow: none;

    a {
      color: $color-font-light;
    }
  }
  .btn-group {
    max-width: 150px;
  }
  .btn, {
    color: $color-font-light;
    font-size: $font-size-base;
    // text-align: left;
    letter-spacing: 0;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $color-white !important;
      background-color: $color-blue !important;
      border-color: $color-blue !important;
    }

    // &:focus {
    //   background-color: $color-white;
    //   color: $color-font-light;
    //   border: 1px solid $color-border;
    // }
  }

  .btn-group.open > button {
    box-shadow: none;
    color: $color-white;
  }
}

.context-menu__in-list {
//   position: relative;
//   .context-menu { 
//     right: 80%;
//     margin-top: -10px;
//   }
  .dropdown-menu {
    left: -100%;  
  }
}