.input-group-lg > .form-control, .form-group-lg .form-control, .input-lg {
  font-size: $font-size-base;
}
input.input-number {
  width: 40px !important;
}

input.input-number-mobile {
  width: 47px !important;
}

.style-select {
  border: 1px solid $color-border;
  border-radius: 4px;
  height: 30px;
}

.checkbox-line{
  bottom:7px
}

@mixin text-placeholder($color, $style) {
  ::-webkit-input-placeholder {
    color: $color !important;
    font-style: $style;
  }  
  :-moz-placeholder { /* Firefox 18- */
    color: $color !important;  
    font-style: $style;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color !important;  
    font-style: $style;
  }
  :-ms-input-placeholder {  
    color: $color !important;  
    font-style: $style;
  }
}
@include text-placeholder ($color-border, italic);

.radio-button-group {
  .radio-button {
    display: inline-block;

    label {
      font-weight: normal;
      margin-left: 5px; 
      margin-right: 5px;
    }
  } 
}

@media (max-width: $screen-xs-max) {
  .radio-button-group {
    .radio-button {
      display: block;
    }
  }  
}