.no-padding-modal {
  .modal-content {
    border: none;
  }
  .modal-body {
    padding: 0;
  }

}

.modal-backdrop {
  bottom: 0;
  position: fixed !important; // override bootstrap
}

.modal-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #373029;
  border-radius: 100px;
  color: white;
  padding: 5px 6px 4px 6px;
  cursor: pointer;
}

.color-background-modal .modal-content {
  background-color: $background;
}

@media print {
  .modal {
    display: none !important;
  }
}