.no-padding-modal {
  .modal-content {
    border: none;
  }
  .modal-body {
    padding: 0;
  }

}

.modal-backdrop {
  bottom: 0;
  position: fixed !important; // override bootstrap
}

.modal-close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #373029;
  border-radius: 100px;
  color: white;
  padding: 5px 6px 4px 6px;
  cursor: pointer;
}

.color-background-modal .modal-content {
  background-color: $background;
}

@media print {
  .modal {
    display: none !important;
  }
}

@media (max-width: $screen-md-max) AND (min-width: $screen-sm-max) {
  .orderFromListDropdown {
    width:78%; 
    margin-left:16px;
  }
}

@media (max-width: $screen-sm-max){
  .orderFromListDropdown {
    width:75%;
  }

  .createOrderModalCustomer {
    padding-left:25px !important;
  }
}

@media (max-width: $screen-sm-max) and (orientation:portrait){
  .orderFromListDropdown {
    margin-left: 12px;
  }
  .createOrderModalRemoveField {
    display:none;
  }
  .margin-top-5-portrait {
    margin-top: 5px;
  }
}

@media (max-width: $screen-sm-max) and (orientation:landscape){
  .orderFromListDropdown {
    margin-left: 38px;
  }
  .padding-left-8-orderModal {
    margin: auto;
    width: 50%;
    padding: 0 10px 0 10px;
  }
}

@media (min-width: $screen-md-max) {
  .orderFromListDropdown {
    width:80%; 
    margin-left:16px;
  }
}