/*
for IE8 support use add code to tr ng-repeat
ng-class="{ odd : $odd, even: $even }"
*/
.table-striped-rows {
  > tbody {
    > tr.odd {
      > td,
      > th {
        background-color: $background;
      }
    }
    > tr.even {
      > td,
      > th {
        background-color: $color-white;
      }
    }
  }
}

.table-border {
  > thead:first-child > tr:first-child > th {
    border-top: 1px solid $color-border;
  }
  > thead > tr > th,
  > tbody > tr > td,
  > tfoot > tr > td {
    &:first-child {
      border-left: 1px solid $color-border;

      &.red-border {
        border-left:3px solid $color-red;
      }
    }
    &:last-child {
      border-right: 1px solid $color-border;
    }
  }
  > tbody > tr > td, 
  > tfoot > tr > td {
    border-bottom: 1px solid $color-border;
  }
  > tbody > tr:first-child > td,
  > tbody > tr:first-child > th {
    border-top: none;
  }
}

.table {
  font-size: 11px;
  
  > thead > tr > th {
    background-color: $background;
    border-bottom-width: 1px;

    &.sort-col-header {
      cursor: pointer;
      > span {
        white-space: nowrap;
      }
    }
  }

  // always hide mobile details row on md and lg devices
  .mobile-details-row {
    @extend .hidden-md;
    @extend .hidden-lg;
  }

  > tbody > tr.mobile-details-row > td {
    border-top: none;
  }

  // filter and footer have white background
  > tfoot > tr > td, 
  .filter-row > td {
    background-color: $color-white;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 12px 5px;
      }
    }
  }

  > tbody + tbody {
    border-top: none;
  }

  .item-selected > tr > td, 
  .item-selected > td {
    background-color: $color-yellow !important;
  }
}

.table-narrow {
  margin-bottom: 0;

  > thead > tr > th, 
  > thead > tr > td, 
  > tbody > tr > th, 
  > tbody > tr > td, 
  > tfoot > tr > th, 
  > tfoot > tr > td {
    padding: 6px 5px;

    &.input-col {
      padding: 3px 5px;
    }
  }
}

// inputs 
table {
  tr {

    > td, > th {
      &.input-col {
        padding: 6px 5px;
        
        input[type="text"] {
          border: 1px solid #c3bc9c;
          padding: 5px;
          width: 100%;
        }
      }

      &.icon-col {
        padding: 7px 5px;
      }

      &.notes-col {
        max-width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.filter-row {
      input {
        width: 100%;
      }
    }

    &.mobile-details-row table {
      width: 100%;
      > tbody > tr > td {
        padding-top: 5px;
      }
    }
  }  
}


@media print {
  .table {
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 8px 3px;
        }
      }
    }
  }

  table {
    tr {
      > td, > th {
        &.input-col {
          padding: 5px 3px;
          
          input[type="text"] {
            border: 1px solid #c3bc9c;
            padding: 3px;
            width: 100%;
          }
        }

        &.icon-col {
          padding: 4px 3px;
        }

        &.notes-col {
          max-width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &.filter-row {
        input {
          width: 100%;
        }
      }

      &.mobile-details-row table {
        width: 100%;
        > tbody > tr > td {
          padding-top: 5px;
        }
      }
    }  
  }
}