<!-- Replacement Item -->
<a ui-sref="menu.catalog.products.details({ itemNumber: item.replacementitem })" ng-if="item.replacementitem > 0">
  <span tooltip="Item is replacing item # {{item.replacementitem}}" class="text-green icon-cycle"></span>
</a>
<a ui-sref="menu.catalog.products.details({ itemNumber: item.replaceditem })" ng-if="item.replaceditem > 0">
  <span tooltip="Item is being replaced by item # {{item.replaceditem}}" class="text-red icon-cycle"></span>
</a>
<!-- Deviated Cost -->
<!-- Sell Sheet -->
<!-- Child Nutrition -->
<a ng-if="item.cndoc === 'Y'" ng-href="{{'http://multidocs.benekeith.com/ChildNutrition/GetFile?ItemNumber=' + item.itemnumber}}" target="_blank">
  <span tooltip="Child nutrition information" class="text-regular icon-apple"></span>
</a>
<!-- Non-Stock -->
<a ng-if="item.nonstock === 'Y'">
  <span tooltip="Contact your DSR to order this item" class="text-regular icon-user"></span>
</a>
<!-- MSDS -->
<!--TEMP ZONE-->
<a ng-if="item.temp_zone === 'F'">
  <span tooltip="Frozen" class="text-regular icon-snowflake"></span>
</a>
<a ng-if="item.temp_zone === 'C'">
  <span tooltip="Refrigerated" class="text-regular icon-thermometer"></span>
</a>
<a ng-if="item.temp_zone === 'D'">
  <span tooltip="Dry" class="text-regular icon-air"></span>
</a>