// must have for infinite scroll
html, body {
  height: 100%;
}

body {

}

#sp-page {
  background-image: url('../images/Textured-BG.jpg');
}

// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.main-content {
  width: calc(100% - 175px);
  margin-left: $sidebar-width;
}
.view {
  padding-bottom: $gutter-size;
}
.page-content {
  margin-top: 30px;
}

@media (max-width: $screen-sm-max) {
  .main-content {
    width: inherit;
    margin-left: 0;
  }
  .page-content {
    margin-top: 15px;
  }
}

@media print {
  .main-content {
    margin-left: 0;
  }
}
