.hidden-mobile-visible-print {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .visible-print;
  @extend .visible-md;
  @extend .visible-lg;
}

@media print {
  @include make-grid(sm);

  @include responsive-visibility('.visible-xs');
  @include responsive-visibility('.hidden-xs');
  @include responsive-visibility('.visible-sm');
  @include responsive-invisibility('.hidden-xs.hidden-print');
  @include responsive-invisibility('.hidden-sm');
  @include responsive-invisibility('.visible-sm.hidden-print');

  .table-border {
    > thead:first-child > tr:first-child > th {
      border-top: 1px solid black !important;
    }
    > thead > tr > th,
    > tbody > tr > td,
    > tfoot > tr > td {
      &:first-child {
        border-left: 1px solid black !important;
      }
      &:last-child {
        border-right: 1px solid black !important;
      }
    }
    > tbody > tr > td, 
    > tfoot > tr > td {
      border-bottom: 1px solid black !important;
    }
    > tbody > tr:first-child > td,
    > tbody > tr:first-child > th {
      border-top: none;
    }
  }
}