$background: #f3f1eb;

$color-orange: #e8aa30;
$color-blue: #489ecf;
$color-red: #dc6a6a;
$color-green: #04a773;
$color-white: #fff;
$color-brown: #9E987E;
$color-yellow: #f8f8c4;

$color-font: #504938;
$color-font-light: rgb(160, 148, 127);
$color-border: #c3bc9c;

$sidebar-width: 175px;

$gutter-size: 15px;