<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Entree</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <link rel="stylesheet" href="lib/ng-mobile-menu/ng-mobile-menu.css" />
    <link rel="stylesheet" href="lib/angular-toaster/toaster.css" />
    <link rel="stylesheet" href="lib/angular-loading-bar/loading-bar.css" />
    <link rel="stylesheet" href="lib/icomoon/style.css" />
    <link rel="stylesheet" href="lib/google-fonts-Open_Sans/css/google-fonts.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
  </head>
  <body>
    
    <!--[if lt IE 9]>
    <p>Entree does not support older browsers. Please upgrade or use KeithNet.</p>
    <![endif]-->

    <toaster-container></toaster-container>

    <div ui-view="" class="container-fluid"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    //    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //    ga('create', 'UA-XXXXX-X');
    //    ga('send', 'pageview');
    </script>

    <!-- build:js(app) scripts/vendor.js -->
    <script src="lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/json3/lib/json3.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-local-storage/angular-local-storage.js"></script>
    <script src="lib/ng-mobile-menu/ng-mobile-menu.js"></script>
    <script src="lib/angular-dragdrop/angular-dragdrop.js"></script>
    <script src="lib/angular-ui-sortable/sortable.js"></script>
    <script src="lib/ng-infinite-scroll/ng-infinite-scroll.js"></script>
    <script src="lib/angular-unsavedChanges/unsavedChanges.js"></script>
    <script src="lib/angular-toaster/toaster.js"></script>
    <script src="lib/angular-loading-bar/loading-bar.js"></script>
    <script src="lib/angular-file-upload/angular-file-upload.js"></script>
    <script src="lib/angular-fcsa-number/fcsaNumber.js"></script>
    <script src="lib/angular-base64-upload/angular-base64-upload.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
    <script>
        angular.element(document).ready(function() {
            app.initialize();
            angular.bootstrap(document, ['bekApp']);
        });
    </script>
    <!-- endbuild -->

     <script id="template/carousel/carousel.html" type="text/ng-template">
      <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
        <ol class="carousel-paging" ng-show="slides.length > 1">
          <li ng-repeat="slide in slides track by $index" ng-class="{showIndex: !isActive(slide)}" ng-click="select(slide)">{{$index + 1}} / {{slides.length}}</li>
        </ol>
        <div class="carousel-inner" ng-transclude></div>
        <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    </script>


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/configenv.js"></script>
    <script type="text/javascript" src="scripts/controllers/CatalogController.js"></script>
    <script type="text/javascript" src="scripts/controllers/HomeController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ItemDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ListController.js"></script>
    <script type="text/javascript" src="scripts/controllers/MenuController.js"></script>
    <script type="text/javascript" src="scripts/controllers/SearchController.js"></script>
    <script type="text/javascript" src="scripts/controllers/RegisterController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AccountDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/CartItemsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/AddToOrderController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ContextMenuModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/PromoItemContentModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ReplicateListModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/NotificationDetailsModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/TechnicalSupportModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ImportModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/ItemNotesModalController.js"></script>
    <script type="text/javascript" src="scripts/controllers/OrderController.js"></script>
    <script type="text/javascript" src="scripts/controllers/OrderItemsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/InvoiceController.js"></script>
    <script type="text/javascript" src="scripts/controllers/InvoiceItemsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/NotificationsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/AccountDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/AccountsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/CustomersController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/EditUserDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/AddUserDetailsController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/UsersController.js"></script>
    <script type="text/javascript" src="scripts/controllers/admin/AccountAdminController.js"></script>
    <script type="text/javascript" src="scripts/directives/FeaturedItemCarousel.js"></script>
    <script type="text/javascript" src="scripts/directives/ItemIcons.js"></script>
    <script type="text/javascript" src="scripts/directives/LoadingSpinner.js"></script>
    <script type="text/javascript" src="scripts/directives/PageHeaderBar.js"></script>
    <script type="text/javascript" src="scripts/directives/ConfirmClick.js"></script>
    <script type="text/javascript" src="scripts/directives/ContextMenu.js"></script>
    <script type="text/javascript" src="scripts/directives/ContextMenuTemplate.js"></script>
    <script type="text/javascript" src="scripts/directives/FavoriteIcons.js"></script>
    <script type="text/javascript" src="scripts/directives/FavoriteItemClickHandlers.js"></script>
    <script type="text/javascript" src="scripts/directives/AllowOnePositiveDecimal.js"></script>
    <script type="text/javascript" src="scripts/directives/CheckDuplicateField.js"></script>
    <script type="text/javascript" src="scripts/directives/FocusMe.js"></script>
    <script type="text/javascript" src="scripts/directives/MatchInput.js"></script>
    <script type="text/javascript" src="scripts/directives/SortIcons.js"></script>
    <script type="text/javascript" src="scripts/directives/Integer.js"></script>
    <script type="text/javascript" src="scripts/directives/NoDirtyCheck.js"></script>
    <script type="text/javascript" src="scripts/directives/UpdateQuantityFromParlevel.js"></script>
    <script type="text/javascript" src="scripts/directives/ValidatePassword.js"></script>
    <script type="text/javascript" src="scripts/directives/NavigateTable.js"></script>
    <script type="text/javascript" src="scripts/directives/Counter.js"></script>
    <script type="text/javascript" src="scripts/directives/OrderCutoffDate.js"></script>
    <script type="text/javascript" src="scripts/directives/DisableNgAnimate.js"></script>
    <script type="text/javascript" src="scripts/directives/MandatoryItemsCheck.js"></script>
    <script type="text/javascript" src="scripts/services/Constants.js"></script>
    <script type="text/javascript" src="scripts/services/AccessService.js"></script>
    <script type="text/javascript" src="scripts/services/AuthenticationService.js"></script>
    <script type="text/javascript" src="scripts/services/AuthenticationInterceptor.js"></script>
    <script type="text/javascript" src="scripts/services/BrandService.js"></script>
    <script type="text/javascript" src="scripts/services/CategoryService.js"></script>
    <script type="text/javascript" src="scripts/services/ListService.js"></script>
    <script type="text/javascript" src="scripts/services/CartService.js"></script>
    <script type="text/javascript" src="scripts/services/ProductService.js"></script>
    <script type="text/javascript" src="scripts/services/UserProfileService.js"></script>
    <script type="text/javascript" src="scripts/services/UtilityService.js"></script>
    <script type="text/javascript" src="scripts/services/BranchService.js"></script>
    <script type="text/javascript" src="scripts/services/OrderService.js"></script>
    <script type="text/javascript" src="scripts/services/LocalStorage.js"></script>
    <script type="text/javascript" src="scripts/services/CustomerService.js"></script>
    <script type="text/javascript" src="scripts/services/AccountService.js"></script>
    <script type="text/javascript" src="scripts/services/ResolveService.js"></script>
    <script type="text/javascript" src="scripts/services/InvoiceService.js"></script>
    <script type="text/javascript" src="scripts/services/NotificationService.js"></script>
    <script type="text/javascript" src="scripts/services/BankAccountService.js"></script>
    <script type="text/javascript" src="scripts/services/MarketingService.js"></script>
    <script type="text/javascript" src="scripts/services/MessagePreferenceService.js"></script>
    <script type="text/javascript" src="scripts/resources/CartResource.js"></script>
    <script type="text/javascript" src="scripts/resources/InvoiceResource.js"></script>
    <script type="text/javascript" src="scripts/resources/ListResource.js"></script>
    <script type="text/javascript" src="scripts/resources/RecentlyViewedItemResource.js"></script>
    <script type="text/javascript" src="scripts/resources/ItemNotesResource.js"></script>
    <script type="text/javascript" src="scripts/resources/OrderResource.js"></script>
    <script type="text/javascript" src="scripts/resources/CustomerResource.js"></script>
    <script type="text/javascript" src="scripts/resources/AccountResource.js"></script>
    <script type="text/javascript" src="scripts/resources/NotificationResource.js"></script>
    <script type="text/javascript" src="scripts/resources/BankAccountResource.js"></script>
    <script type="text/javascript" src="scripts/filters/SortListsFilter.js"></script>
    <script type="text/javascript" src="scripts/filters/MeetsMinimumQuantityFilter.js"></script>
    <script type="text/javascript" src="scripts/filters/PhoneNumberFilter.js"></script>
    <script type="text/javascript" src="scripts/filters/StyleOrdersFilter.js"></script>
    <script type="text/javascript" src="scripts/phonegapServices/PhonegapServices.js"></script>
    <script type="text/javascript" src="scripts/phonegapServices/PhonegapAuthenticationService.js"></script>
    <script type="text/javascript" src="scripts/phonegapServices/PhonegapListService.js"></script>
    <script type="text/javascript" src="scripts/phonegapServices/PhonegapCartService.js"></script>
    <script type="text/javascript" src="scripts/phonegapServices/PhonegapPushService.js"></script>
    <!-- endbuild -->
</body>
</html>
