<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
			<add name="BEKDBContext" 
           connectionString="Data Source=corpsqltst12;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=!2klkA5" 
           providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="ProfileDbConnection" 
           connectionString="Data Source=corpsqltst12;Initial Catalog=BEK_Commerce_Profiles;User Id=ecom;Password=!2klkA5" 
           providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="KPAYDBContext" 
           connectionString="Data Source=corpsqltst12.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" 
           providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="EventLog" 
           connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithComInternalSvc; user id=eluser; Password=3v3ntWr1t3r" 
           providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <appSettings >
    </appSettings>
	<system.web>
  </system.web>
</configuration>