<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppDataConnection"
      connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=_Po$S1aM6"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EventLog"
      connectionString="Data Source=bekscsql.bekco.com; Initial Catalog=eventlog; Application Name=KeithComInternalSvc; user id=eluser; Password=3v3ntWr1t3r"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BEKDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=_Po$S1aM6" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KPAYDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings >
    <!--Commerce Server Settings-->
    <add key="CS_SiteName" value="BEK_Commerce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--AD Transforms-->
    <add key="ADExtRoot" value="ou=KEC_Production,dc=benekeith,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADGuestOU" value="__bek_guest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtUser" value="KEC-SVC-LDAP-Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtPass" value="Qu3ryU$3r$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtAccessGroupKbitAdmin" value="Kbit Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtAccessGroupKbitCustomer" value="Kbit Customer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtAccessGroupPowerMenuCustomer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="PowerMenu Customer"/>

    <!--AWS Settings-->
    <add key="AmazonSnsAccessKey" value="AKIAJ74TCMZZSQRJNDNQ"  xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="AmazonSnsSecretKey" value="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"  xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="AmazonSnsMobilePlatformAppArnIOS" value="arn:aws:sns:us-east-1:951996173818:app/APNS/BEK_APNS" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"  />

    <!--Site Settings-->
    <add key="CorsEnabledDomains" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AllowedApiKeys" value="android_prod_v1,iphone_prod_v1,web_prod_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireHttps" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BrandAssetsUrl" value="https://shop.benekeith.com/assets/brands" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="kecampas1.benekeith.com" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/> 

    <!--ElasticSearch Settings-->
    <add key="ElasticSearchURL" value="http://localhost:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--MultiDocs Settings-->
    <add key="MultiDocsUrl" value="http://multidocs.benekeith.com/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="MultiDocsProxyUrl" value="https://shop.benekeith.com/multidocsurl/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>

    <!--AD Settings-->
    <add key="ADExtRoot" value="ou=KEC_Production,dc=benekeith,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtUser" value="KEC-SVC-LDAP-Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtPass" value="Qu3ryU$3r$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADGuestOU" value="Prod_Users" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--RabbitMq Settings-->
    <add key="RabbitMQOrderServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="RabbitMQOrderUpdateQueue" value="orders_updates"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationQueue" value="confirmations" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationQueue" value="notifications_v1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="RunInternalServiceQueues" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IsProduction" value="true" xdt:Transform="Insert" />

		<add key="EntreeSiteURL" value="https://shop.benekeith.com"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		
    <!--farm settings-->
    <add key="CacheServerEndpoints" value="http://bekkecpas1:9876/CacheService.svc,http://bekkecpas2:9876/CacheService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      
      <endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding"
									bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService"
									name="BasicHttpBinding_IDivisionService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      
      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IOrderService" contract="com.benekeith.OrderService.IOrderService"
            name="BasicHttpBinding_IOrderService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      
      <endpoint address="http://keithnet2.benekeith.com/pricing/pricing.asmx" binding="basicHttpBinding" 
                bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap" 
                name="PricingSoap" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>