<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EventLog" connectionString="Data Source=bekkecbdb1.bekco.com; Initial Catalog=eventlog; Application Name=KeithComInternalSvc; user id=eluser; Password=3v3ntWr1t3r" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BEKDBContext" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=RtOKxf)h]vt" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KPAYDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ProfileDbConnection" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_Profiles;User Id=ecom;Password=RtOKxf)h]vt" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings >
    <!-- Application Settings -->
      <!-- Application settings not needing transform -->

    <!-- Item History - Used to geenrate item averages over a period of weeks -->
    <add key="ItemHistoryAverageWeeks" value="8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Rabbit MQ Settings -->
    <add key="RabbitMQOrderServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="RabbitMQOrderConsumerUserName" value="orderclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="RabbitMQOrderPublisherUserName" value="orderpub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="RabbitMQNotificationPublisherUserName" value="notifypub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationPublisherUserPassword" value="notifypasspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQNotificationConsumerUserName" value="notifyclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationConsumerUserPassword" value="notifypassclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderReprocessExchange" value="bek_commerce_orders_reprocess" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationExchange" value="bek_commerce_confirmations" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationErrorExchange" value="bek_commerce_confirmations_errors" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderUpdateExchange" value="bek_commerce_orderupdates" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationExchange" value="bek_commerce_notifications" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQOrderVHost" value="orders_createupdate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationVHost" value="orders_statusnotification" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationVHost" value="notifications_notify" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQOrderQueue" value="orders_created" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderErrorQueue" value="orders_error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderHistoryQueue" value="orders_history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderReprocessQueue" value="orders_reprocess" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderUpdateQueue" value="orders_updates" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationQueue" value="notifications_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationQueue" value="confirmations" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationErrorQueue" value="confirmations_error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Active Directory Settings -->
    <add key="ADExtDomain" value="benekeith" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtPass" value="Qu3ryU$3r$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoot" value="ou=KEC_Production,dc=benekeith,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtServer" value="ldap-kec.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtUser" value="KEC-SVC-LDAP-Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupKbitAdmin" value="Kbit Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupKbitCustomer" value="Kbit Customer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupPowerMenuCustomer" value="PowerMenu Customer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ADIntDomain" value="bekco" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntPass" value="@ud1tm3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntRoleNameCorporateAdmin" value="CORP-LS-SYS-AC-Entree_Admins" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntRoot" value="dc=bekco,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntServer" value="ldap-bek.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntUser" value="corp-ssa-secaudit" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ADBadPwdCount" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADLockoutDuration" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADGuestOU" value="Prod_Users" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Email Settings -->
    <add key="SmtpServer" value="kecampas1.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServiceEmailAddress" value="BekEntree@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FailureEmailAddress" value="jwames@benekeith.com,mdjoiner@benekeith.com,bakillins@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FromEmailAddress" value="BekEntree@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- ElasticSearch Settings -->
    <add key="ElasticSearchURL" value="http://localhost:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CategoryPrefixesToExclude" value="AA,ZZ,TW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Amazon Settings -->
    <add key="AmazonSnsAccessKey" value="AKIAJ74TCMZZSQRJNDNQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AmazonSnsSecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AmazonSnsMobilePlatformAppArnIOS" value="arn:aws:sns:us-east-1:951996173818:app/APNS/BEK_APNS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AmazonSnsMobilePlatformAppArnAndroid" value="arn:aws:sns:us-east-1:951996173818:app/GCM/BEK_GCM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- BillPay Settings -->
    <add key="BillPayCutOffTime" value="14:00:00" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- this setting must be in a 24 hour format -->

    <!-- Commerce Service Settings -->
    <add key="CS_SiteName" value="BEK_Commerce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- MultiDocs Settings -->
    <add key="MultiDocsUrl" value="http://multidocs.benekeith.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MultiDocsProxyUrl" value="https://shopbeta.benekeith.com/multidocsurl/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- PowerMenu Settings -->
    <add key="PowerMenuAdminUsername" value="pniadmin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuAdminPassword" value="9M9NC0N" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuWebServiceUrl" value="https://emenumanage.benekeith.com:8443/pmserviceendpoint.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuPermissionsUrl" value="https://emenumanage.benekeith.com:8443/main/Logon.aspx?Adminusername=pniadmin&amp;Adminpassword=9M9NC0N&amp;Username={0}&amp;path=USER" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuGroupSetupUrl" value="https://emenumanage.benekeith.com:8443/main/Logon.aspx?Adminusername=pniadmin&amp;Adminpassword=9M9NC0N&amp;path=CUSTOMER" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuLoginUrl" value="https://emenumanage.benekeith.com:8443/main/Logon.aspx?username={0}&amp;password={1}&amp;path=MAIN&amp;customerlist={2}&amp;order=true&amp;framed=false&amp;lang=ENG&amp;country=USA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Misc Settings -->
    <add key="WebNowUrl" value="http://invoice.benekeith.com/webnow/index.jsp?action=filter&amp;username=anonymous&amp;drawer={branch}AR501&amp;tab={customer}&amp;field4={invoice}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogSystemPerformanceWithErrors" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CacheServerEndpoints" value="http://bekkecbas1:9876/CacheService.svc,http://bekkecbas2:9876/CacheService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="EntreeSiteURL" value="https://shopbeta.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/> 
  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://prodpricing.benekeith.com:8900/pricing/pricing.asmx" binding="basicHttpBinding" bindingConfiguration="PricingSoap"
        contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>