<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CS_SiteName" value="BEK_Commerce" />
    <add key="ElasticSearchURL" value="http://localhost:9200/" />
    <add key="CategoryPrefixesToExclude" value="AA,ZZ,TW" />
		<add key="AppName" value="KeithLink.InternalSvc" />
  </appSettings>
  <connectionStrings>
		<add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithComInternalSvc; user id=eluser; Password=3v3ntWr1t3r" />
		<add name="AppDataConnection" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData;User Id=ecom; Password=!2klkA5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PricingSoap" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BasicHttpBinding_IOrderService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx" binding="basicHttpBinding" bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
		</client>
  <extensions>
			<behaviorExtensions>
				<add name="ErrorLogging" type="KeithLink.Svc.InternalSvc.ErrorHandlerBehavior, KeithLink.Svc.InternalSvc" />
			</behaviorExtensions>
		</extensions>
    <services>
      <service name="KeithLink.Svc.InternalSvc.ETLService">
        <endpoint address="" binding="basicHttpBinding" contract="KeithLink.Svc.InternalSvc.Interfaces.IETLService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
			<service name="KeithLink.Svc.InternalSvc.PipelineService">
				<endpoint address="" binding="basicHttpBinding" contract="KeithLink.Svc.InternalSvc.Interfaces.IPipelineService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>		
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
