<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AppDataConnection"
      connectionString="Data Source=corpkecqdb1\stage;Initial Catalog=BEK_Commerce_AppData;User Id=ecom_stg;Password=@(mIHn9s"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EventLog"
      connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=KeithComInternalSvc; user id=eluser; Password=3v3ntWr1t3r"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="BEKDBContext" connectionString="Data Source=corpkecqdb1\stage;Initial Catalog=BEK_Commerce_AppData;User Id=ecom_stg;Password=@(mIHn9s" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
  <appSettings >
    <add key="CS_SiteName" value="BEK_Commerce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchURL" value="http://localhost:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADIntRoleNameCorporateAdmin" value="CORP-LS-SYS-AC-Entree_Admins" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RunInternalServiceQueues" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!--Rabbit MQ-->
    <add key="RabbitMQOrderServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="RabbitMQConfirmationQueue" value="confirmations_qa"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQOrderUpdateQueue" value="orders_updates_qa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQNotificationQueue" value="notifications_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    
    <add key="MultiDocsUrl" value="http://testmultidocs.bekco.com/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="MultiDocsProxyUrl" value="https://shopstaging.benekeith.com/multidocsurl/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="AmazonSnsAccessKey" value="AKIAJ74TCMZZSQRJNDNQ"  xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="AmazonSnsSecretKey" value="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"  xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
    <add key="AmazonSnsMobilePlatformAppArnIOS" value="arn:aws:sns:us-east-1:951996173818:app/APNS/BEK_APNS" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)" />
		<add key="CacheServerEndpoints" value="http://bekkecsas1:9876/CacheService.svc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="EntreeSiteURL" value="https://shopstaging.benekeith.com"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
	<system.serviceModel>
    <client>
      <endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding"
									bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService"
									name="BasicHttpBinding_IDivisionService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IOrderService" contract="com.benekeith.OrderService.IOrderService"
            name="BasicHttpBinding_IOrderService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx" binding="basicHttpBinding"
                bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap"
                name="PricingSoap" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
    </client>
	</system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>