<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AppName" value="Entree Order Service - Beta" />
        <add key="SmtpServer" value="corpampas1.benekeith.com" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    </appSettings>
    <connectionStrings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="EventLog" connectionString="Data Source=bekkecbdb1.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="SpecialOrderDBContext" connectionString="Data Source=bekcpsql.bekco.com;Initial Catalog=SpecialOrderItems;User Id=soiuser; Password=$uP37CaLa" providerName="System.Data.SqlClient" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEKDBContext" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=RtOKxf)h]vt" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/OrderService.svc" 
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" 
                      contract="IS_OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>
