<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!-- Site Settings -->
    <add key="AppName" value="KeithLink Order Service" />
    <add key="AllowedApiKeys" value="android_dev_v1,iphone_dev_v1,web_dev_v1," />
    <add key="BrandAssetsUrl" value="http://devkeithlink.bekco.com/assets/brands" />
    <add key="IsProduction" value="false" />
    <add key="ListItemDaysNew" value="2" />
    <add key="OrderUpdateWatchPath" value="c:\test\entree\orderupdates\" />
    <add key="RequireHttps" value="false" />
    <add key="RecentItemsToKeep" value="10" />

    <!-- Active Directory Settings -->
    <add key="ADExtDomain" value="benekeith" />
    <add key="ADExtPass" value="D3leg@ti0n" />
    <add key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" />
    <!--<add key="ADExtServer" value="ldap-kec.benekeith.com" />-->
    <add key="ADExtServer" value="bekkecad1.benekeith.com" />
    <add key="ADExtUser" value="KEC-SVC-LDAPAdmin" />

    <add key="ADIntDomain" value="bekco" />
    <add key="ADIntPass" value="@ud1tm3" />
    <add key="ADIntRoot" value="dc=bekco,dc=com" />
    <add key="ADIntServer" value="ldap-bek.benekeith.com" />
    <add key="ADIntUser" value="corp-ssa-secaudit" />

    <add key="ADBadPwdCount" value="3" />
    <add key="ADLockoutDuration" value="3" />
    <add key="ADGuestOU" value="_bek_guest" />

    <!-- Elastic Search Settings -->
    <!--<add key="ElasticSearchURL" value="http://localhost:9200" />-->
    <add key="ElasticSearchURL" value="http://shopdev.benekeith.com:9200" />
    <add key="CategoryPrefixesToExclude" value="AA,ZZ,TW" />
    <add key="DefaultCategoryReturnSize" value="2000" />
    <add key="DefaultProductReturnSize" value="500" />
    <add key="MaxSortByPriceItemCount" value="200" />
    <add key="ElasticSearchAggregations" value="categories:categoryname_not_analyzed,brands:brand_description_not_analyzed,allergens:contains,dietary:diettype,itemspecs:itemspecification,nonstock:nonstock" />
    <add key="ElasticSearchTermSearchFields" value="name,description,categoryname" />
    <add key="ElasticSearchDigitSearchFields" value="upc,gtin,itemnumber" />
    <add key="ElasticSearchItemExcludeValues" value="D,!,W" />

    <!-- Commerce Server Settings -->
    <add key="CS_SiteName" value="BEK_Commerce" />

    <add key="CorsEnabledDomains" value="*" />
    <add key="CorsEnabledHeaders" value="*" />
    <add key="CorsEnabledMethods" value="*" />

    <!-- RabbitMQ Settings -->
    <add key="RabbitMQOrderServer" value="qarmq.benekeith.com" />
    <add key="RabbitMQConfirmationServer" value="qarmq.benekeith.com" />
    <add key="RabbitMQNotificationServer" value="qarmq.benekeith.com" />

    <add key="RabbitMQOrderVHost" value="orders_createupdate" />
    <add key="RabbitMQConfirmationVHost" value="orders_statusnotification" />
    <add key="RabbitMQNotificationVHost" value="notifications_notify" />

    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" />
    <add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" />
    <add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" />
    <add key="RabbitMQOrderReprocessExchange" value="bek_commerce_orders_reprocess" />
    <add key="RabbitMQUpdateRequestExchange" value="bek_commerce_historyrequest" />
    <add key="RabbitMQConfirmationExchange" value="bek_commerce_confirmations" />
    <add key="RabbitMQConfirmationErrorExchange" value="bek_commerce_confirmation_errors" />
    <add key="RabbitMQNotificationExchange" value="bek_commerce_notifications" />
    <add key="RabbitMQOrderUpdateExchange" value="bek_commerce_orderupdates"/>

    <add key="RabbitMQOrderConsumerUserName" value="orderclnt" />
    <add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" />
    <add key="RabbitMQOrderPublisherUserName" value="orderpub" />
    <add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" />
    <add key="RabbitMQNotificationPublisherUserName" value="notifypub" />
    <add key="RabbitMQNotificationPublisherUserPassword" value="notifypasspub" />
    <add key="RabbitMQNotificationConsumerUserName" value="notifyclnt" />
    <add key="RabbitMQNotificationConsumerUserPassword" value="notifypassclnt" />

    <add key="RabbitMQOrderQueue" value="orders_created" />
    <add key="RabbitMQOrderErrorQueue" value="orders_error" />
    <add key="RabbitMQOrderHistoryQueue" value="orders_history" />
    <add key="RabbitMQOrderReprocessQueue" value="orders_reprocess" />
    <add key="RabbitMQUpdateRequestQueue" value="orders_historyrequest" />
    <add key="RabbitMQOrderUpdateQueue" value="orders_update"/>
    <add key="RabbitMQConfirmationQueue" value="confirmations_dev_jeremy" />
    <add key="RabbitMQConfirmationErrorQueue" value="confirmations_error" />
    <add key="RabbitMQNotificationQueue" value="notifications_v1" />

    <!-- MultiDocs Settings -->
    <add key="MultiDocsUrl" value="http://testmultidocs.bekco.com/" />
    <add key="MultiDocsProxyUrl" value="http://testmultidocs.bekco.com/" />

    <!-- Mainframe Connection Settings-->
    <add key="MfAddress" value="192.168.20.12" />
    <add key="MfConfirmationPort" value="4001" />
    <add key="MFOrderHistoryPort" value="4002" />
    <add key="MfPort" value="3011" />
    <add key="MfTrans" value="OT90" />
    <add key="MfTransHistory" value="OT96" />

    <!-- Email Settings -->
    <add key="ServiceEmailAddress" value="noreply@credera.com" />
    <add key="SMTPHostName" value="smtp.credera.com" />
    <add key="SmtpServer" value="corpampas1" />

    <add key="FailureEmailAddress" value="jwames@benekeith.com,mdjoiner@benekeith.com,jmmcmillan@benekeith.com" />
    <add key="FromEmailAddress" value="no-reply@benekeith.com" />
    <add key="FAQ_ContactEmail" value="faqinfo@benekeith.com"  />
    <add key="FAM_ContactEmail" value="amainfo@benekeith.com"  />
    <add key="FDF_ContactEmail" value="dfwinfo@benekeith.com"  />
    <add key="FHS_ContactEmail" value="fhsinfo@benekeith.com"  />
    <add key="FLR_ContactEmail" value="flrinfo@benekeith.com"  />
    <add key="FOK_ContactEmail" value="okinfo@benekeith.com"  />
    <add key="FSA_ContactEmail" value="fsainfo@benekeith.com"  />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="IS_OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
    </client>
  </system.serviceModel>
</configuration>