<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ADExtDomain" value="benekeith" />
    <add key="ADExtPass" value="D3leg@ti0n" />
    <add key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" />
    <add key="ADExtServer" value="ldap-kec.benekeith.com" />
    <add key="ADExtUser" value="KEC-SVC-LDAPAdmin" />
    <add key="ADIntDomain" value="bekco" />
    <add key="ADIntPass" value="@ud1tm3" />
    <add key="ADIntRoot" value="dc=bekco,dc=com" />
    <add key="ADIntServer" value="ldap-bek.benekeith.com" />
    <add key="ADIntUser" value="corp-ssa-secaudit" />
    <add key="ADBadPwdCount" value="3" />
    <add key="ADLockoutDuration" value="3" />
    <add key="AppName" value="KeithCom Svc Unit Tests" />
    <add key="MfAddress" value="192.168.20.12" />
    <add key="MfPort" value="3011" />
    <add key="MfTrans" value="OT90" />
    <add key="MultiDocsUrl" value="http://testmultidocs.bekco.com/" />
    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created"/>
    <add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error"/>
    <add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history"/>
    <add key="RabbitMQOrderServer" value="devapi.bekco.com"/>
    <add key="RabbitMQOrderConsumerUserName" value="orderclnt"/>
    <add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt"/>
    <add key="RabbitMQOrderErrorQueue" value="orders_error"/>
    <add key="RabbitMQOrderHistoryQueue" value="orders_history"/>
    <add key="RabbitMQOrderPublisherUserName" value="orderpub"/>
    <add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub"/>
    <add key="RabbitMQOrderQueue" value="orders_created"/>
    <add key="RabbitMQOrderVHost" value="orders_createupdate"/>
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
  </connectionStrings>
</configuration>