<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <!-- Site Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AppName" value="Entree Order Service - Beta" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AllowedApiKeys" value="android_prod_v1,iphone_prod_v1,web_prod_v1," />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="BrandAssetsUrl" value="http://shop.benekeith.com/assets/brands" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="IsProduction" value="true" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ListItemDaysNew" value="2" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="OrderUpdateWatchPath" value="S:\InetOE\ftpdata\Beta\ecom\order_history" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RequireHttps" value="false" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RecentItemsToKeep" value="10" />

        <!-- Active Directory Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtDomain" value="benekeith" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtPass" value="D3leg@ti0n" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtRoot" value="ou=KEC_Production,dc=benekeith,dc=com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtServer" value="ldap-kec.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtUser" value="KEC-SVC-LDAPAdmin" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntDomain" value="bekco" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntPass" value="@ud1tm3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntRoleNameCorporateAdmin" value="CORP-LS-SYS-AC-Entree_Admins" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntRoot" value="dc=bekco,dc=com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntServer" value="ldap-bek.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntUser" value="corp-ssa-secaudit" />

        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADBadPwdCount" value="3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADLockoutDuration" value="3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADGuestOU" value="Prod_Users" />

        <!-- Elastic Search Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchURL" value="http://shopapi.benekeith.com:9200" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CategoryPrefixesToExclude" value="AA,ZZ,TW" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DefaultCategoryReturnSize" value="2000" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DefaultProductReturnSize" value="500" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MaxSortByPriceItemCount" value="200" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchAggregations" value="categories:categoryname_not_analyzed,brands:brand_description_not_analyzed,allergens:contains,dietary:diettype,itemspecs:itemspecification,nonstock:nonstock" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchTermSearchFields" value="name,description,categoryname" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchDigitSearchFields" value="upc,gtin,itemnumber" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchItemExcludeValues" value="D,!,W" />

        <!-- Commerce Server Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CS_SiteName" value="BEK_Commerce" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CorsEnabledDomains" value="*" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CorsEnabledHeaders" value="*" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CorsEnabledMethods" value="*" />

        <!-- RabbitMQ Settings: Servers -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderServer" value="betarmq.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationServer" value="betarmq.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationServer" value="betarmq.benekeith.com" />

        <!-- RabbitMQ Settings: VHosts -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderVHost" value="orders_createupdate" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationVHost" value="orders_statusnotification" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationVHost" value="notifications_notify" />

        <!-- RabbitMQ Settings: Exchanges -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderReprocessExchange" value="bek_commerce_orders_reprocess" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQUpdateRequestExchange" value="bek_commerce_historyrequest" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationExchange" value="bek_commerce_confirmations" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationErrorExchange" value="bek_commerce_confirmation_errors" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationExchange" value="bek_commerce_notifications" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderUpdateExchange" value="bek_commerce_orderupdates" />

        <!-- RabbitMQ Settings: User/Pass -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderConsumerUserName" value="orderclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderPublisherUserName" value="orderpub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationPublisherUserName" value="notifypub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationPublisherUserPassword" value="notifypasspub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationConsumerUserName" value="notifyclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationConsumerUserPassword" value="notifypassclnt" />

        <!-- RabbitMQ Settings: Queues -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderQueue" value="orders_created" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderErrorQueue" value="orders_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderHistoryQueue" value="orders_history" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderReprocessQueue" value="orders_reprocess" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQUpdateRequestQueue" value="orders_historyrequest" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderUpdateQueue" value="orders_updates" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationQueue" value="confirmations" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationErrorQueue" value="confirmations_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationQueue" value="notifications_v1" />

        <!-- MultiDocs Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MultiDocsUrl" value="http://multidocs.bekco.com/" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MultiDocsProxyUrl" value="https://shop.benekeith.com/multidocsurl" />

        <!-- Mainframe Connection Settings-->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MfAddress" value="192.168.20.12" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MfConfirmationPort" value="4101" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MFOrderHistoryPort" value="4102" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MfPort" value="3010" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MfTrans" value="OT30" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="MfTransHistory" value="OT35" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EntreeCollectorType" value="5" />

        <!-- Email Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ServiceEmailAddress" value="noreply@credera.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SMTPHostName" value="corpampas1.bekco.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SmtpServer" value="corpampas1.bekco.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FailureEmailAddress" value="corp-dis-ecommdev@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FromEmailAddress" value="no-reply@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FAQ_ContactEmail" value="faqinfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FAM_ContactEmail" value="amainfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FDF_ContactEmail" value="dfwinfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FHS_ContactEmail" value="fhsinfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FLR_ContactEmail" value="flrinfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FOK_ContactEmail" value="okinfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FSA_ContactEmail" value="fsainfo@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <connectionStrings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="EventLog" connectionString="Data Source=bekkecbdb1.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="SpecialOrderDBContext" connectionString="Data Source=bekcpsql.bekco.com;Initial Catalog=SpecialOrderItems;User Id=soiuser; Password=$uP37CaLa" providerName="System.Data.SqlClient" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEKDBContext" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=RtOKxf)h]vt" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/OrderService.svc" 
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" 
                      contract="IS_OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>
