<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AppName" value="Entree Order Service" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
    <add name="SpecialOrderDBContext" connectionString="Data Source=corpsqltst12.bekco.com;Initial Catalog=SpecialOrderItems;User Id=soiuser; Password=$uP37CaLa" providerName="System.Data.SqlClient" />
    <add name="BEKDBContext" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="AppDataConnection" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="IS_OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>