<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1404.0" newVersion="3.5.1404.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1404.0" newVersion="3.5.1404.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="PricingSoap" />
                        <binding name="ShipDateSoap" />
                </basicHttpBinding>
                <wsHttpBinding>
                        <binding name="WsHttpOperationService" />
                </wsHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx"
                        binding="basicHttpBinding" bindingConfiguration="PricingSoap"
                        contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
                <endpoint address="http://win2012bek:1000/Foundation/FoundationService.svc"
                        binding="wsHttpBinding" bindingConfiguration="WsHttpOperationService"
                        contract="com.benekeith.FoundationService.IBEKFoundationService"
                        name="WsHttpOperationService" />
                <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/shipdate.asmx"
                        binding="basicHttpBinding" bindingConfiguration="ShipDateSoap"
                        contract="com.benekeith.ShipDateService.ShipDateSoap"
                        name="ShipDateSoap" />
        </client>
    </system.serviceModel>
</configuration>