<?xml version="1.0" encoding="utf-8" ?>
<presentation renderFileLocation="\xslts\" preferredRenderTypes="ascx;xslt" enableXsltDebugging="true" xmlns="http://schemas.commerceservercontrib.net/2013/01/PresentationConfiguration" >
  <defaultBrand name="Default" operationServiceName="IOperationService">
    <exceptionHandling defaultExceptionPolicy="DefaultChannel"/>

    <userSecurityManagement>
      <registeredUser cookieName="__CLRegisteredUser" secureEncryptionKeyName="CookieSecure" nonSecureCookieName="__CLRegisteredUserHttp" nonSecureEncryptionKeyName="CookieNonSecure" rememberMeCookieName="__CLRememberMe" sslMode="Mixed" />
      <anonymousUser cookieName="__CLAnonymousUser" />
    </userSecurityManagement>

    <encryptionKeys>
      <encryptionKey name="CookieSecure" encryptionProviderType="AesEncryptionProvider">
        <key name="public" value="Z5wzlDEUqGxrM/Cv6lEM2aFV1pNCc4r+Ap1lui7FDjg="/>
      </encryptionKey>
      <encryptionKey name="CookieNonSecure" encryptionProviderType="AesEncryptionProvider">
        <key name="public" value="rzQ9uvtGTnuiMVvXdL2FIKWi88x5TZH4iSw7+URzkKM="/>
      </encryptionKey>
    </encryptionKeys>

    <securePageSettings requireSsl="false" nonSecureHostName="" nonSecurePort="80" secureHostName="" securePort="443">
      <pages>
        <clearPages/>
        <!-- Root pages -->
        <addPage path="/checkout" />
      </pages>
    </securePageSettings>
  </defaultBrand>
  <sites>
    <site id="Root">
      <groups>
        <group id="QueryKeyList">
          <settings>
            <setting key="CategoryKey"  value="category">
              <localizedValues>
                <localizedSetting key="*" value="Category" />
              </localizedValues>
            </setting>
            <setting key="ProductIdKey"  value="pid" >
              <localizedValues>
                <localizedSetting key="*" value="Product ID" />
              </localizedValues>
            </setting>
            <setting key="CatalogKey"  value="cat" >
              <localizedValues>
                <localizedSetting key="*" value="Catalog" />
              </localizedValues>
            </setting>
            <setting key="RankKey"  value="rank" >
              <localizedValues>
                <localizedSetting key="*" value="Rank" />
              </localizedValues>
            </setting>
            <setting key="SortFieldKey"  value="v1" >
              <localizedValues>
                <localizedSetting key="*" value="Sort Field" />
              </localizedValues>
            </setting>
            <setting key="AscendingSortDirectionKey"  value="asc" >
              <localizedValues>
                <localizedSetting key="*" value="Accending Sort Direction" />
              </localizedValues>
            </setting>
            <setting key="CategoryPathKey"  value="catpath" >
              <localizedValues>
                <localizedSetting key="*" value="Category Path" />
              </localizedValues>
            </setting>
            <setting key="ItemsPerPageKey"  value="rows" >
              <localizedValues>
                <localizedSetting key="*" value="Items Per Page" />
              </localizedValues>
            </setting>
            <setting key="StartIndexKey"  value="start1" >
              <localizedValues>
                <localizedSetting key="*" value="Start Index" />
              </localizedValues>
            </setting>
            <setting key="iFrameKey"  value="iframe" >
              <localizedValues>
                <localizedSetting key="*" value="iFrame Key" />
              </localizedValues>
            </setting>
            <setting key="VariantIdKey"  value="vid" >
              <localizedValues>
                <localizedSetting key="*" value="Variant" />
              </localizedValues>
            </setting>
            <setting key="SelectedQuantityKey"  value="sq" >
              <localizedValues>
                <localizedSetting key="*" value="Selected Quantity" />
              </localizedValues>
            </setting>
            <setting key="OrderIdKey"  value="orderId" >
              <localizedValues>
                <localizedSetting key="*" value="Order ID" />
              </localizedValues>
            </setting>
            <setting key="FromCheckoutUrlKey"  value="fromcheckout" >
              <localizedValues>
                <localizedSetting key="*" value="From-checkout Url" />
              </localizedValues>
            </setting>
            <setting key="LineItemIdKey"  value="liid" >
              <localizedValues>
                <localizedSetting key="*" value="Line Item ID" />
              </localizedValues>
            </setting>
            <setting key="ReturnUrlKey"  value="returnurl" >
              <localizedValues>
                <localizedSetting key="*" value="Return Url" />
              </localizedValues>
            </setting>
            <setting key="CreatedDateStartKey"  value="cds" >
              <localizedValues>
                <localizedSetting key="*" value="Created Date Start Key" />
              </localizedValues>
            </setting>
            <setting key="CreatedDateEndKey"  value="cde" >
              <localizedValues>
                <localizedSetting key="*" value="Create Date End Key" />
              </localizedValues>
            </setting>
            <setting key="RefinementTokenFilterKey"  value="r" >
              <localizedValues>
                <localizedSetting key="*" value="Refinement Token" />
              </localizedValues>
            </setting>
            <setting key="SearchFilterKey"  value="f" >
              <localizedValues>
                <localizedSetting key="*" value="Search Filter" />
              </localizedValues>
            </setting>
            <setting key="SearchKeywordKey"  value="k" >
              <localizedValues>
                <localizedSetting key="*" value="Search Keyword" />
              </localizedValues>
            </setting>
            <setting key="AddressIdKey"  value="address" >
              <localizedValues>
                <localizedSetting key="*" value="Address ID" />
              </localizedValues>
            </setting>
            <setting key="PageKey" value="page">
              <localizedValues>
                <localizedSetting key="*" value="Page" />
              </localizedValues>
            </setting>
          </settings>
        </group>
        <group id="CheckoutSteps">
          <settings>
            <setting key="Step1" value="shipping.aspx">
              <localizedValues>
                <localizedSetting key="*" value="Step1" />
              </localizedValues>
            </setting>
            <setting key="Step2" value="billing.aspx">
              <localizedValues>
                <localizedSetting key="*" value="Step2" />
              </localizedValues>
            </setting>
            <setting key="Step3" value="orderreview.aspx">
              <localizedValues>
                <localizedSetting key="*" value="Step3" />
              </localizedValues>
            </setting>
            <setting key="Step4" value="orderconfirmation.aspx">
              <localizedValues>
                <localizedSetting key="*" value="Step4" />
              </localizedValues>
            </setting>
          </settings>
        </group>
      </groups>
    </site>
  </sites>
</presentation>
