<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="BrandProvider" type="CommerceServerContrib.Web.BrandProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
  <alias alias="PerWebRequest" type="CommerceServerContrib.Web.WebRequestLifetimeManager, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
  
  <container name="Default">
    <register type="CommerceServerContrib.CrossTier.Interfaces.Controllers.ICatalogController, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.Controllers.CatalogController, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
    <register type="CommerceServerContrib.CrossTier.Interfaces.Controllers.IOrdersController, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.Controllers.OrdersController, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    <register type="CommerceServerContrib.CrossTier.Interfaces.Controllers.IRequestTemplateController, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.Controllers.RequestTemplateController, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>
    <register type="CommerceServerContrib.CrossTier.Interfaces.Controllers.IMarketingController, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.Controllers.MarketingController, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a"/>

    <register type="CommerceServerContrib.CrossTier.Interfaces.IBrandProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.BrandProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IXsltProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.DiskXsltProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IFileProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.DiskFileProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IQueryStringProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.QueryStringProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>

    <register name="QueryStringParameterType" type="CommerceServerContrib.CrossTier.Interfaces.IParameterType, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.QueryStringParameterType, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="PerWebRequest"/>
    </register>
    <register name="ConstantParameterType" type="CommerceServerContrib.CrossTier.Interfaces.IParameterType, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.ConstantParameterType, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register name="CookieParameterType" type="CommerceServerContrib.CrossTier.Interfaces.IParameterType, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.CookieParameterType, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register name="SiteContextParameterType" type="CommerceServerContrib.CrossTier.Interfaces.IParameterType, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.SiteContextParameterType, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="PerWebRequest"/>
    </register>
    <register name="Html" type="CommerceServerContrib.CrossTier.Interfaces.IRenderExtensionObjectProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.Html, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register name="QueryStringProvider" type="CommerceServerContrib.CrossTier.Interfaces.IRenderParameterProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.QueryStringProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
    </register>
    <register name="CommonXsltArgumentProvider" type="CommerceServerContrib.CrossTier.Interfaces.IRenderParameterProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.CommonXsltParameter, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="PerWebRequest"/>
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.ICatalogImageManager, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.CatalogImageManager, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
      <constructor>
      </constructor>
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IResourceProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.ResourceProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton"/>
      <constructor>
        <param name="directoryName" value="App_GlobalResources"/>
      </constructor>
    </register>
    <register type="Microsoft.Practices.EnterpriseLibrary.Caching.ICacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" mapTo="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <lifetime type="singleton"/>
    </register>
    
    <register type="CommerceServerContrib.CrossTier.Interfaces.IAuthenticationProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.FormsAuthenticationProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton" />
    </register>
    <register name="AesEncryptionProvider" type="CommerceServerContrib.CrossTier.Interfaces.IEncryptionProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.AesEncryptionProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton" />
    </register>
    <register name="RsaEncryptionProvider" type="CommerceServerContrib.CrossTier.Interfaces.IEncryptionProvider, CommerceServerContrib.CrossTier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" mapTo="CommerceServerContrib.Web.RsaEncryptionProvider, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a">
      <lifetime type="singleton" />
    </register>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IAuthorizationRoleNamesProvider, CommerceServerContrib.CrossTier" mapTo="CommerceServerContrib.Web.Authorization.AuthorizationRoleNamesProvider, CommerceServerContrib.Web"/>
    <register type="CommerceServerContrib.CrossTier.Interfaces.IAuthorizationEvaluator, CommerceServerContrib.CrossTier" mapTo="CommerceServerContrib.Web.Authorization.AuthorizationEvaluator, CommerceServerContrib.Web"/>
  </container>
</unity>
