<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings >
  </appSettings>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/InvoiceService.svc" binding="basicHttpBinding" 
								bindingConfiguration="BasicHttpBinding_IListServcie" 
								contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding" 
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService" 
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
			<endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.OrderService.IOrderService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/MessagingService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.MessagingService.IMessagingService"
            name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/OnlinePaymentService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService"
          contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService"
          name="BasicHttpBinding_IOnlinePaymentService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/ContentManagementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
          contract="com.benekeith.ContentManagementService.IContentManagementService"
          name="BasicHttpBinding_IContentManagementService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
			<endpoint address="http://localhost:9876/ConfigurationService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
            contract="com.benekeith.ConfigurationService.IConfigurationService"
            name="BasicHttpBinding_IConfigurationService"  xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/ReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
          contract="com.benekeith.ReportService.IReportService"
          name="BasicHttpBinding_IReportService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOrderService" contract="com.benekeith.OrderService.IOrderService"
        name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:9876/DsrService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDsrService" contract="com.benekeith.DsrService.IDsrService"
        name="BasicHttpBinding_IDsrService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/ProfileService.svc"
							binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
							contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
    </client>
	</system.serviceModel>
	<connectionStrings>
    <add name="BEKDBContext" connectionString="Data Source=corpsqltst12;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=!2klkA5" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProfileDbConnection" connectionString="Data Source=corpsqltst12;Initial Catalog=BEK_Commerce_Profiles; Application Name=Entree Web API; User Id=ecom;Password=!2klkA5" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

  <system.web>
  </system.web>
	
</configuration>