<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings >
  
    <add key="SmtpServer" value="corpampas1.benekeith.com" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="EventLog" connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="BEKDBContext" connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProfileDbConnection" connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_Profiles; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KPAYDBContext"
         connectionString="Data Source=corpsqltst14.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient"/>
  </connectionStrings>

	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/InvoiceService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie"
								contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
			<endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.OrderService.IOrderService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/MessagingService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.MessagingService.IMessagingService"
            name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/OnlinePaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService" 
        contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService" name="BasicHttpBinding_IOnlinePaymentService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ConfigurationService.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService" 
        contract="com.benekeith.ConfigurationService.IConfigurationService" name="BasicHttpBinding_IConfigurationService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/DsrService.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDsrService"
        contract="com.benekeith.DsrService.IDsrService" name="BasicHttpBinding_IDsrService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ListServcie.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.ListService.IListServcie" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/MessagingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.MessagingService.IMessagingService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ContentManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
        contract="com.benekeith.ContentManagementService.IContentManagementService" name="BasicHttpBinding_IContentManagementService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/DivisionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.DivisionService.IDivisionService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/OrderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.OrderService.IOrderService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
        
      <endpoint address="http://localhost:9876/ReportService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
        contract="com.benekeith.ReportService.IReportService" name="BasicHttpBinding_IReportService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ProfileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
        contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService"
                xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>