<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings >
    <add key="CorsEnabledDomains" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CS_SiteName" value="BEK_Commerce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--
    <add key="RabbitMQOrderServer" value="qarmq.benekeith.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationServer" value="qarmq.benekeith.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    -->
    <add key="RabbitMQOrderServer" value="corpkecqas1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationServer" value="corpkecqas1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
	<system.serviceModel>
		<client>
			<endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/InvoiceService.svc" binding="basicHttpBinding" 
								bindingConfiguration="BasicHttpBinding_IListServcie" 
								contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
			<endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding" 
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService" 
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
			<endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.OrderService.IOrderService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/MessagingService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.MessagingService.IMessagingService"
            name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/OnlinePaymentService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService"
          contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService"
          name="BasicHttpBinding_IOnlinePaymentService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/ContentManagementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
          contract="com.benekeith.ContentManagementService.IContentManagementService"
          name="BasicHttpBinding_IContentManagementService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
			<endpoint address="http://localhost:9876/ConfigurationService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
            contract="com.benekeith.ConfigurationService.IConfigurationService"
            name="BasicHttpBinding_IConfigurationService"  xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/ReportService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
          contract="com.benekeith.ReportService.IReportService"
          name="BasicHttpBinding_IReportService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
		</client>
	</system.serviceModel>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	
</configuration>