<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="commerceServer">
      <sectionGroup name="crosstier">
        <section name="exceptionHandling" type="CommerceServer.Foundation.Configuration.CommerceExceptionHandlingSection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="extensibility" type="CommerceServer.Foundation.Configuration.CommerceExtensibilitySection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
      <sectionGroup name="presentation">
        <section name="presentationConfiguration" type="CommerceServer.Foundation.Configuration.CommercePresentationConfigurationSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="operationServices" type="CommerceServer.Foundation.Configuration.CommerceOperationServicesSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="router" type="CommerceServer.Foundation.Configuration.CommerceRouterSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="userRecognition" type="CommerceServer.Foundation.Configuration.CommerceUserRecognitionSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
    </sectionGroup>
    <section name="commerceServerCodeGeneration" type="CommerceServerContrib.CodeGeneration.Configuration.CommerceServerCodeGenerationConfigurationSection, CommerceServerContrib.CodeGeneration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="commerceServerContrib">
      <section name="presentation" type="CommerceServerContrib.CrossTier.Configuration.PresentationConfigurationSection, CommerceServerContrib.CrossTier" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ADExtDomain" value="benekeith" />
    <!--<add key="ADExtPass" value="D3leg@ti0n" />-->
    <add key="ADExtPass" value="B3k$y$pa$$1" />
    <add key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" />
    <add key="ADExtServer" value="ldap-kec.benekeith.com" />
    <!--<add key="ADExtServer" value="bekkecad1.benekeith.com" />-->
    <!--<add key="ADExtUser" value="KEC-SVC-LDAPAdmin" />-->
    <add key="ADExtUser" value="ecommadmin" />
    <add key="ADIntDomain" value="bekco" />
    <add key="ADIntPass" value="@ud1tm3" />
    <add key="ADIntRoot" value="dc=bekco,dc=com" />
    <!--<add key="ADIntServer" value="corpad1.bekco.com" />-->
    <add key="ADIntServer" value="ldap.bek.benekeith.com" />
    <add key="ADIntUser" value="corp-ssa-secaudit" />
    <add key="AppName" value="KeithCom WebApi" />
    <add key="CorsEnabledDomains" value="*" />
    <add key="CorsEnabledHeaders" value="*" />
    <add key="CorsEnabledMethods" value="*" />
    <add key="ElasticSearchURL" value="http://devkeithlink.bekco.com:9200" />
    <add key="DefaultCategoryReturnSize" value="2000" />
    <add key="DefaultProductReturnSize" value="500" />
    <add key="ElasticSearchAggregations" value="categories:categoryid,brands:brand,allergens:contains,dietary:diettype,itemspecs:itemspecification,nonstock:nonstock" />
    <!--<add key="CS_SiteName" value="CSharpSite"/>-->
    <add key="CS_SiteName" value="BEK_Commerce" />
  </appSettings>
  
  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
  </connectionStrings>
      
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" xmlns="" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <commerceServer>
    <crosstier>
      <exceptionHandling defaultPolicyName="Default">
        <exceptionPolicy name="Default">
          <exceptionHandler name="TextLoggingExceptionHandler" type="CommerceServer.Foundation.LoggingExceptionHandler, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" initializeData="CommerceServer.Foundation.Exceptions" />
        </exceptionPolicy>
      </exceptionHandling>
    </crosstier>
    <presentation>
      <operationServices>
        <operationService name="IOperationService" mode="Service" clientEndpointName="IOperationService" throwOnFault="true" />
      </operationServices>
      <presentationConfiguration commerceConfigurationProviderType="CommerceServer.Foundation.DefaultConfigurationProvider, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" cacheRefreshPollingTime="00:00:30">
        <default name="Default" channel="">
          <types>
            <type name="SiteContext" type="CommerceServerContrib.Web.SiteContext, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAdapter" type="CommerceServer.Foundation.RequestTemplates.RequestTemplateServiceAdapter, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAgent" type="CommerceServer.Foundation.RequestTemplates.MessageBundlingOperationServiceAgent, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
          </types>
          <caching enabled="true">
            <cacheRefresh enabled="true">
              <cacheEvent eventName="Presentation_requestTemplateFileChange" cachesToUpdate="RequestTemplateCache;Catalog" />
              <cacheEvent eventName="CatalogCache" cachesToUpdate="Catalog" />
              <cacheEvent eventName="AllMarketingCaches" cachesToUpdate="Marketing" />
            </cacheRefresh>
            <cacheTypes>
              <cacheType name="Local" type="CommerceServer.Foundation.EnterpriseLibraryCacheProvider, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </cacheTypes>
            <caches defaultCacheType="Local">
              <cache name="RequestTemplateCache" enabled="true" />
              <cache name="Catalog" enabled="true" />
              <cache name="Profile" enabled="true" />
              <cache name="Orders" enabled="true" />
              <cache name="Marketing" enabled="true" />

              <cache name="Pricing" enabled="true" />
            </caches>
          </caching>
        </default>
      </presentationConfiguration>
    </presentation>
  </commerceServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PricingSoap" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <!--For fiddler add proxyAddress="http://clr4-dev123:8888" useDefaultWebProxy="false" to the bind-->
        <binding name="wsHttp" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <!--For fiddler add mode="None"-->
          <security>
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="IOperationService" address="http://devapi:1000/Foundation/FoundationService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx" binding="basicHttpBinding" bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />

    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="CommerceServer.Foundation.CommerceOperation, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL">
          <knownType type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
          <knownType type="CommerceServer.Foundation.RequestTemplates.RequestTemplate, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        </add>
        <add type="CommerceServer.Foundation.CommerceOperationResponse, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        <add type="CommerceServer.Foundation.CommerceOptions, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.ValidationError, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.GeneralOperationFault, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <commerceServerCodeGeneration>
    <entitiesToIgnore>
      <entity name="CommerceEntityDefinition" />
      <entity name="RelationshipDefinition" />
      <entity name="RelationshipTypeDefinition" />
      <entity name="PropertyDefinition" />
      <entity name="EntityMapping" />
      <entity name="DefinitionMapping" />
      <entity name="ConstraintBase" />
      <entity name="EnumerationEntry" />
      <entity name="EntityMetadata" />
      <entity name="AuthorizationDefinition" />
      <entity name="CommerceClaim" />
      <entity name="CommerceCache" />
      <entity name="Site" />
      <entity name="Solution" />
      <entity name="Channel" />
      <entity name="MembershipSettings" />
      <entity name="Image" />
      <entity name="StoreProfile" />
      <entity name="VEClientToken" />
      <entity name="VENearbyStore" />
      <entity name="ImageGalleryFile" />
      <entity name="ImageGallery" />
    </entitiesToIgnore>
  </commerceServerCodeGeneration>
  <commerceServerContrib>
    <presentation configSource="Presentation.config" />
  </commerceServerContrib>
  <unity configSource="Unity.config" />
  <cachingConfiguration configSource="Caching.config" />
  <!--<loggingConfiguration configSource="Logging.config" />-->
</configuration>