<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="commerceServer">
      <sectionGroup name="crosstier">
        <section name="exceptionHandling" type="CommerceServer.Foundation.Configuration.CommerceExceptionHandlingSection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="extensibility" type="CommerceServer.Foundation.Configuration.CommerceExtensibilitySection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
      <sectionGroup name="presentation">
        <section name="presentationConfiguration" type="CommerceServer.Foundation.Configuration.CommercePresentationConfigurationSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="operationServices" type="CommerceServer.Foundation.Configuration.CommerceOperationServicesSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="router" type="CommerceServer.Foundation.Configuration.CommerceRouterSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="userRecognition" type="CommerceServer.Foundation.Configuration.CommerceUserRecognitionSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </sectionGroup>
    </sectionGroup>
    <section name="commerceServerCodeGeneration" type="CommerceServerContrib.CodeGeneration.Configuration.CommerceServerCodeGenerationConfigurationSection, CommerceServerContrib.CodeGeneration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="commerceServerContrib">
      <section name="presentation" type="CommerceServerContrib.CrossTier.Configuration.PresentationConfigurationSection, CommerceServerContrib.CrossTier" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Site Settings -->
    <add key="AppName" value="KeithCom WebApi" />
    <add key="PresentationUrl" value="http://localhost:8080/"/>
    <add key="AllowedApiKeys" value="android_dev_v1,iphone_dev_v1,web_dev_v1," />
    <add key="BrandAssetsUrl" value="http://devkeithlink.bekco.com/assets/brands" />   
    <add key="RequireHttps" value="false" />
		<add key="RecentItemsToKeep" value="10" />
    <add key="EnableEtaForUsers" value="all" /> <!-- values are none, internal_only, all -->

    <!-- Active Directory Settings -->
    <add key="ADExtDomain" value="benekeith" />
    <add key="ADExtPass" value="D3leg@ti0n" />
    <add key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" />
    <!--<add key="ADExtServer" value="ldap-kec.benekeith.com" />-->
    <add key="ADExtServer" value="bekkecad1.benekeith.com" />
    <add key="ADExtUser" value="KEC-SVC-LDAPAdmin" />

    <add key="ADIntDomain" value="bekco" />
    <add key="ADIntPass" value="@ud1tm3" />
    <add key="ADIntRoot" value="dc=bekco,dc=com" />
    <add key="ADIntServer" value="ldap-bek.benekeith.com" />
    <add key="ADIntUser" value="corp-ssa-secaudit" />

    <add key="ADBadPwdCount" value="3" />
    <add key="ADLockoutDuration" value="3" />
    <add key="ADGuestOU" value="_bek_guest" />

    <!-- Elastic Search Settings -->
    <!--<add key="ElasticSearchURL" value="http://localhost:9200" />-->
    <add key="ElasticSearchURL" value="http://shopdev.benekeith.com:9200" />
    <add key="DefaultCategoryReturnSize" value="2000" />
    <add key="DefaultProductReturnSize" value="500" />
    <add key="MaxSortByPriceItemCount" value="200" />
    <add key="ElasticSearchAggregations" value="categories:categoryname_not_analyzed,brands:brand_description_not_analyzed,allergens:contains,dietary:diettype,itemspecs:itemspecification,nonstock:nonstock,mfrname:mfrname_not_analyzed" />
    <add key="ElasticSearchTermSearchFields" value="name,description,categoryname,brand,mfrname" />
    <add key="ElasticSearchDigitSearchFields" value="upc,gtin,itemnumber" />
    <add key="ElasticSearchItemExcludeValues" value="D,!,W" />

    <!-- Commerce Server Settings -->
    <add key="CS_SiteName" value="BEK_Commerce" />

    <add key="CorsEnabledDomains" value="*" />
    <add key="CorsEnabledHeaders" value="*" />
    <add key="CorsEnabledMethods" value="*" />

    <!-- RabbitMQ Settings -->
    <!--<add key="RabbitMQOrderServer" value="qarmq.benekeith.com" />
    <add key="RabbitMQConfirmationServer" value="qarmq.benekeith.com" />-->
    <add key="RabbitMQOrderServer" value="corpkecqas1" />
    <add key="RabbitMQConfirmationServer" value="corpkecqas1" />
		
    <add key="RabbitMQOrderVHost" value="orders_createupdate" />
    <add key="RabbitMQConfirmationVHost" value="orders_statusnotification" />

    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" />
		<add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" />
		<add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" />
    <add key="RabbitMQUpdateRequestExchange" value="bek_commerce_historyrequest" />
    
    <add key="RabbitMQOrderConsumerUserName" value="orderclnt" />
		<add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" />
    <add key="RabbitMQOrderPublisherUserName" value="orderpub" />
		<add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" />
	
		<add key="RabbitMQOrderQueue" value="orders_created" />
    <add key="RabbitMQOrderErrorQueue" value="orders_error" />
		<add key="RabbitMQOrderHistoryQueue" value="orders_history" />
    <add key="RabbitMQUpdateRequestQueue" value="orders_historyrequest" />
	
    <!-- MultiDocs Settings -->
    <add key="MultiDocsUrl" value="http://testmultidocs.bekco.com/" />
    <add key="MultiDocsProxyUrl" value="http://testmultidocs.bekco.com/" />   
    
    <!-- Email Settings -->
    <add key="SmtpServer" value="CORPAMPAS1.bekco.com" />
    <add key="FailureEmailAddress" value="jwames@benekeith.com,mdjoiner@benekeith.com,jmmcmillan@benekeith.com" />
    <add key="FromEmailAddress" value="no-reply@benekeith.com" />
    <add key="FAQ_ContactEmail" value="faqinfo@benekeith.com"  />
		<add key="FAM_ContactEmail" value="amainfo@benekeith.com"  />
		<add key="FDF_ContactEmail" value="dfwinfo@benekeith.com"  />
		<add key="FHS_ContactEmail" value="fhsinfo@benekeith.com"  />
		<add key="FLR_ContactEmail" value="flrinfo@benekeith.com"  />
		<add key="FOK_ContactEmail" value="okinfo@benekeith.com"  />
		<add key="FSA_ContactEmail" value="fsainfo@benekeith.com"  />


		<add key="AddServerNameToHeaderResponse" value="true"/>
  </appSettings>
  
  <connectionStrings>
    <clear />
    <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" />
		<add name="BEKDBContext" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
        <identity impersonate="false" />
    <machineKey validationKey="6FFE5C253CECC19197C87A46A8ED5F201276AFD1E1AB6DE9D584B564A11B6D6FF5853F5DEDF09070A2CCF14381BDDADF72DCCC1774332812646273A7E5DFD5BB" decryptionKey="DCDF31D720F88DAA9AF1198D68E9F5944B1F97DDEAEC8E2188C54C857FA843E7" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" xmlns="" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <commerceServer>
    <crosstier>
      <exceptionHandling defaultPolicyName="Default">
        <exceptionPolicy name="Default">
          <exceptionHandler name="TextLoggingExceptionHandler" type="CommerceServer.Foundation.LoggingExceptionHandler, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" initializeData="CommerceServer.Foundation.Exceptions" />
        </exceptionPolicy>
      </exceptionHandling>
    </crosstier>
    <presentation>
      <operationServices>
        <operationService name="IOperationService" mode="Service" clientEndpointName="IOperationService" throwOnFault="true" />
      </operationServices>
      <presentationConfiguration commerceConfigurationProviderType="CommerceServer.Foundation.DefaultConfigurationProvider, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" cacheRefreshPollingTime="00:00:30">
        <default name="Default" channel="">
          <types>
            <type name="SiteContext" type="CommerceServerContrib.Web.SiteContext, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAdapter" type="CommerceServer.Foundation.RequestTemplates.RequestTemplateServiceAdapter, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            <type name="ServiceAgent" type="CommerceServer.Foundation.RequestTemplates.MessageBundlingOperationServiceAgent, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
          </types>
          <caching enabled="true">
            <cacheRefresh enabled="true">
              <cacheEvent eventName="Presentation_requestTemplateFileChange" cachesToUpdate="RequestTemplateCache;Catalog" />
              <cacheEvent eventName="CatalogCache" cachesToUpdate="Catalog" />
              <cacheEvent eventName="AllMarketingCaches" cachesToUpdate="Marketing" />
            </cacheRefresh>
            <cacheTypes>
              <cacheType name="Local" type="CommerceServer.Foundation.EnterpriseLibraryCacheProvider, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </cacheTypes>
            <caches defaultCacheType="Local">
              <cache name="RequestTemplateCache" enabled="true" />
              <cache name="Catalog" enabled="true" />
              <cache name="Profile" enabled="true" />
              <cache name="Orders" enabled="true" />
              <cache name="Marketing" enabled="true" />

              <cache name="Pricing" enabled="true" />
            </caches>
          </caching>
        </default>
      </presentationConfiguration>
    </presentation>
  </commerceServer>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="PricingSoap" closeTimeout="00:20:00" openTimeout="00:10:00"
                receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
            <binding name="ShipDateSoap" />
            <binding name="BasicHttpBinding_IOrderService" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IListServcie" receiveTimeout="00:30:00"
                sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IDivisionService" maxBufferPoolSize="21474783647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IMessagingService" maxBufferPoolSize="21474783647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IInvoiceService" maxBufferPoolSize="21474783647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IOnlinePaymentService" maxBufferPoolSize="21474783647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IContentManagementService" maxBufferPoolSize="21474783647"
                maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IConfigurationService" receiveTimeout="00:30:00"
                sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IReportService" receiveTimeout="00:30:00"
                sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            <binding name="BasicHttpBinding_IMessagingService1" />
            <binding name="BasicHttpBinding_IOrderService1" />
        </basicHttpBinding>
        <wsHttpBinding>
            <binding name="wsHttp" closeTimeout="00:20:00" openTimeout="00:10:00"
                receiveTimeout="00:00:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <security>
                    <transport clientCredentialType="Windows" />
                    <message clientCredentialType="Windows" />
                </security>
            </binding>
        </wsHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:1000/Foundation/FoundationService.svc"
            binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService"
            name="IOperationService" />
        <endpoint address="http://localhost:1000/Foundation/FoundationService.svc"
            binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="com.benekeith.FoundationService.IBEKFoundationService"
            name="WsHttpOperationService" />
        <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx"
            binding="basicHttpBinding" bindingConfiguration="PricingSoap"
            contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
        <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/shipdate.asmx"
            binding="basicHttpBinding" bindingConfiguration="ShipDateSoap"
            contract="com.benekeith.ShipDateService.ShipDateSoap" name="ShipDateSoap" />
        <endpoint address="http://localhost:1317/DivisionService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDivisionService"
            contract="com.benekeith.DivisionService.IDivisionService"
            name="BasicHttpBinding_IDivisionService" />
        <endpoint address="http://localhost:1317/InvoiceService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvoiceService"
            contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IInvoiceService" />
        <endpoint address="http://localhost:1317/ContentManagementService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
            contract="com.benekeith.ContentManagementService.IContentManagementService"
            name="BasicHttpBinding_IContentManagementService" />
        <endpoint address="http://localhost:1317/OnlinePaymentService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService"
            contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService"
            name="BasicHttpBinding_IOnlinePaymentService" />
        <endpoint address="http://localhost:1317/ConfigurationService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
            contract="com.benekeith.ConfigurationService.IConfigurationService"
            name="BasicHttpBinding_IConfigurationService" />
        <endpoint address="http://localhost:1317/MessagingService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingService"
            contract="com.benekeith.MessagingService.IMessagingService"
            name="BasicHttpBinding_IMessagingService" />
        <endpoint address="http://localhost:1317/ListServcie.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
            name="BasicHttpBinding_IListServcie" />
        <endpoint address="http://localhost:1317/ReportService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IReportService" contract="com.benekeith.ReportService.IReportService"
            name="BasicHttpBinding_IReportService" />
        <endpoint address="http://localhost:1317/OrderService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IOrderService" contract="com.benekeith.OrderService.IOrderService"
            name="BasicHttpBinding_IOrderService" />
    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="CommerceServer.Foundation.CommerceOperation, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL">
          <knownType type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
          <knownType type="CommerceServer.Foundation.RequestTemplates.RequestTemplate, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        </add>
        <add type="CommerceServer.Foundation.CommerceOperationResponse, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
        <add type="CommerceServer.Foundation.CommerceOptions, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.ValidationError, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <add type="CommerceServer.Foundation.GeneralOperationFault, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <commerceServerCodeGeneration>
    <entitiesToIgnore>
      <entity name="CommerceEntityDefinition" />
      <entity name="RelationshipDefinition" />
      <entity name="RelationshipTypeDefinition" />
      <entity name="PropertyDefinition" />
      <entity name="EntityMapping" />
      <entity name="DefinitionMapping" />
      <entity name="ConstraintBase" />
      <entity name="EnumerationEntry" />
      <entity name="EntityMetadata" />
      <entity name="AuthorizationDefinition" />
      <entity name="CommerceClaim" />
      <entity name="CommerceCache" />
      <entity name="Site" />
      <entity name="Solution" />
      <entity name="Channel" />
      <entity name="MembershipSettings" />
      <entity name="Image" />
      <entity name="StoreProfile" />
      <entity name="VEClientToken" />
      <entity name="VENearbyStore" />
      <entity name="ImageGalleryFile" />
      <entity name="ImageGallery" />
    </entitiesToIgnore>
  </commerceServerCodeGeneration>
  <commerceServerContrib>
    <presentation configSource="Presentation.config" />
  </commerceServerContrib>
  <unity configSource="Unity.config" />
  <cachingConfiguration configSource="Caching.config" />
  <!--<loggingConfiguration configSource="Logging.config" />-->
</configuration>