<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings >
    <!--Site Settings-->
    <add key="PresentationUrl" value="http://shop.benekeith.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CorsEnabledDomains" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AllowedApiKeys" value="android_prod_v1,iphone_prod_v1,web_prod_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireHttps" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServer" value="kecampas1.benekeith.com" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>

    <!--ElasticSearch Settings-->
    <add key="ElasticSearchURL" value="http://localhost:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--MultiDocs Settings-->
    <add key="MultiDocsUrl" value="http://multidocs.benekeith.com/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="MultiDocsProxyUrl" value="https://shop.benekeith.com/multidocsurl/" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    
    <add key="BrandAssetsUrl" value="https://shop.benekeith.com/assets/brands" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    
    <!--AD Settings-->
    <add key="ADExtRoot" value="ou=KEC_Production,dc=benekeith,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADGuestOU" value="__bek_guest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtUser" value="KEC-SVC-LDAP-Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtPass" value="Qu3ryU$3r$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ADExtAccessGroupKbitCustomer" value="Kbit Customer" xdt:Locator="Match(key)" />

    <!--RabbitMq Settings-->
    <add key="RabbitMQAccessServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQOrderServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RabbitMQConfirmationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--farm settings-->
		<add key="AddServerNameToHeaderResponse" value ="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CacheServerEndpoints" value="http://bekkecpas1:5006,http://bekkecpas2:5006"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsProduction" value="true" xdt:Transform="Insert" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EventLog" connectionString="Data Source=bekscsql.bekco.com; Initial Catalog=eventlog; Application Name=Entree; user id=eluser; Password=3v3ntWr1t3r" />
    <add name="BEKDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=BEK_Commerce_AppData;Application Name=Entree; user id=ecom; Password=_Po$S1aM6" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9876/ListServcie.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.ListService.IListServcie"
        name="BasicHttpBinding_IListServcie"  xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/InvoiceService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie"
								contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/DivisionService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.DivisionService.IDivisionService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/OrderService.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.OrderService.IOrderService"
								name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/MessagingService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IListServcie" contract="com.benekeith.MessagingService.IMessagingService"
            name="BasicHttpBinding_IListServcie" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/OnlinePaymentService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService"
          contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService"
          name="BasicHttpBinding_IOnlinePaymentService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://localhost:9876/ContentManagementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
          contract="com.benekeith.ContentManagementService.IContentManagementService"
          name="BasicHttpBinding_IContentManagementService" xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
      <endpoint address="http://keithnet2.benekeith.com/pricing/pricing.asmx"
        binding="basicHttpBinding" bindingConfiguration="PricingSoap"
        contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://keithnet2.benekeith.com/pricing/shipdate.asmx"
        binding="basicHttpBinding" bindingConfiguration="ShipDateSoap"
        contract="com.benekeith.ShipDateService.ShipDateSoap" name="ShipDateSoap" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
      <endpoint address="http://localhost:9876/DsrService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDsrService" contract="com.benekeith.DsrService.IDsrService"
        name="BasicHttpBinding_IDsrService" xdt:Transform="Replace" xdt:Locator="Match(contract)" />
    </client>
    <client>
      <endpoint name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService"
                xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>