<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="commerceServer">
            <sectionGroup name="crosstier">
                <section name="exceptionHandling" type="CommerceServer.Foundation.Configuration.CommerceExceptionHandlingSection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <section name="extensibility" type="CommerceServer.Foundation.Configuration.CommerceExtensibilitySection, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </sectionGroup>
            <sectionGroup name="presentation">
                <section name="presentationConfiguration" type="CommerceServer.Foundation.Configuration.CommercePresentationConfigurationSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <section name="operationServices" type="CommerceServer.Foundation.Configuration.CommerceOperationServicesSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <section name="router" type="CommerceServer.Foundation.Configuration.CommerceRouterSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <section name="userRecognition" type="CommerceServer.Foundation.Configuration.CommerceUserRecognitionSection, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </sectionGroup>
        </sectionGroup>
        <section name="commerceServerCodeGeneration" type="CommerceServerContrib.CodeGeneration.Configuration.CommerceServerCodeGenerationConfigurationSection, CommerceServerContrib.CodeGeneration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <sectionGroup name="commerceServerContrib">
            <section name="presentation" type="CommerceServerContrib.CrossTier.Configuration.PresentationConfigurationSection, CommerceServerContrib.CrossTier" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="AppName" value="KeithCom WebApi" />
        <add key="SmtpServer" value="localhost" />
        <!-- RabbitMQ for logging Config -->
        <add key="LogExchange" value="log_exchange" />
        <add key="LogPassword" value="dGlkbpdG5lZlZ2FGdpcmcHRuZ" />
        <add key="LogRoutingKey" value="bek_eventlog_v2" />
        <add key="LogServer" value="elkrmq-arnet.benekeith.com" />
        <add key="LogUserName" value="loguser" />
        <add key="LogVirtualHost" value="log_host" />
    </appSettings>
    <connectionStrings>
        <add name="EventLog" connectionString="Data Source=corpsqltst12.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r" />
        <add name="BEKDBContext" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom; Password=!2klkA5" providerName="System.Data.SqlClient" />
        <add name="KPAYDBContext" connectionString="Data Source=corpsqltst12.bekco.com;Initial Catalog=kpay; Application Name=Entree Web API; User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient" />
        <!--<add name="AuditLog" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
        <add name="ProfileDbConnection" connectionString="Data Source=localhost;Initial Catalog=BEK_Commerce_Profiles; Application Name=Entree Web API; Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.5">
            <assemblies>
                <add assembly="CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5" />
        <authentication mode="None" />
        <identity impersonate="false" />
        <machineKey validationKey="6FFE5C253CECC19197C87A46A8ED5F201276AFD1E1AB6DE9D584B564A11B6D6FF5853F5DEDF09070A2CCF14381BDDADF72DCCC1774332812646273A7E5DFD5BB" decryptionKey="DCDF31D720F88DAA9AF1198D68E9F5944B1F97DDEAEC8E2188C54C857FA843E7" validation="SHA1" decryption="AES" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="PowerMenuPricingServiceHandler" verb="GET,POST" path="services/powermenupricinghandler.ashx" type="KeithLink.Svc.WebApi.Services.PowerMenuPricingHandler" resourceType="File" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule" />
        </modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" xmlns="" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" xmlns="" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <commerceServer>
        <crosstier>
            <exceptionHandling defaultPolicyName="Default">
                <exceptionPolicy name="Default">
                    <exceptionHandler name="TextLoggingExceptionHandler" type="CommerceServer.Foundation.LoggingExceptionHandler, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" initializeData="CommerceServer.Foundation.Exceptions" />
                </exceptionPolicy>
            </exceptionHandling>
        </crosstier>
        <presentation>
            <operationServices>
                <operationService name="IOperationService" mode="Service" clientEndpointName="IOperationService" throwOnFault="true" />
            </operationServices>
            <presentationConfiguration commerceConfigurationProviderType="CommerceServer.Foundation.DefaultConfigurationProvider, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" cacheRefreshPollingTime="00:00:30">
                <default name="Default" channel="">
                    <types>
                        <type name="SiteContext" type="CommerceServerContrib.Web.SiteContext, CommerceServerContrib.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                        <type name="ServiceAdapter" type="CommerceServer.Foundation.RequestTemplates.RequestTemplateServiceAdapter, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                        <type name="ServiceAgent" type="CommerceServer.Foundation.RequestTemplates.MessageBundlingOperationServiceAgent, CommerceServer.Foundation.Presentation, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                    </types>
                    <caching enabled="true">
                        <cacheRefresh enabled="true">
                            <cacheEvent eventName="Presentation_requestTemplateFileChange" cachesToUpdate="RequestTemplateCache;Catalog" />
                            <cacheEvent eventName="CatalogCache" cachesToUpdate="Catalog" />
                            <cacheEvent eventName="AllMarketingCaches" cachesToUpdate="Marketing" />
                        </cacheRefresh>
                        <cacheTypes>
                            <cacheType name="Local" type="CommerceServer.Foundation.EnterpriseLibraryCacheProvider, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                        </cacheTypes>
                        <caches defaultCacheType="Local">
                            <cache name="RequestTemplateCache" enabled="true" />
                            <cache name="Catalog" enabled="true" />
                            <cache name="Profile" enabled="true" />
                            <cache name="Orders" enabled="true" />
                            <cache name="Marketing" enabled="true" />
                            <cache name="List" enabled="true" />
                            <cache name="ContractInformation" enabled="true" />
                            <cache name="CustomInventory" enabled="true" />
                            <cache name="Pricing" enabled="true" />
                            <cache name="ShoppingCart" enabled="true" />
                            <cache name="Invoices" enabled="true" />
                        </caches>
                    </caching>
                </default>
            </presentationConfiguration>
        </presentation>
    </commerceServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PricingSoap" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
                <binding name="ShipDateSoap" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsHttp" closeTimeout="00:20:00" openTimeout="00:10:00" receiveTimeout="00:00:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security>
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1000/Foundation/FoundationService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService" name="IOperationService" />
            <endpoint address="http://localhost:1000/Foundation/FoundationService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="com.benekeith.FoundationService.IBEKFoundationService" name="WsHttpOperationService" />
            <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx" binding="basicHttpBinding" bindingConfiguration="PricingSoap" contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
            <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/shipdate.asmx" binding="basicHttpBinding" bindingConfiguration="ShipDateSoap" contract="com.benekeith.ShipDateService.ShipDateSoap" name="ShipDateSoap" />
        </client>
    </system.serviceModel>
    <system.runtime.serialization>
        <dataContractSerializer>
            <declaredTypes>
                <add type="CommerceServer.Foundation.CommerceOperation, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <add type="CommerceServer.Foundation.CommerceEntity, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL">
                    <knownType type="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" />
                    <knownType type="CommerceServer.Foundation.RequestTemplates.RequestTemplate, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
                </add>
                <add type="CommerceServer.Foundation.CommerceOperationResponse, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a, processorArchitecture=MSIL" />
                <add type="CommerceServer.Foundation.CommerceOptions, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <add type="CommerceServer.Foundation.ValidationError, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
                <add type="CommerceServer.Foundation.GeneralOperationFault, CommerceServer.Foundation.CrossTier, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
            </declaredTypes>
        </dataContractSerializer>
    </system.runtime.serialization>
    <commerceServerCodeGeneration>
        <entitiesToIgnore>
            <entity name="CommerceEntityDefinition" />
            <entity name="RelationshipDefinition" />
            <entity name="RelationshipTypeDefinition" />
            <entity name="PropertyDefinition" />
            <entity name="EntityMapping" />
            <entity name="DefinitionMapping" />
            <entity name="ConstraintBase" />
            <entity name="EnumerationEntry" />
            <entity name="EntityMetadata" />
            <entity name="AuthorizationDefinition" />
            <entity name="CommerceClaim" />
            <entity name="CommerceCache" />
            <entity name="Site" />
            <entity name="Solution" />
            <entity name="Channel" />
            <entity name="MembershipSettings" />
            <entity name="Image" />
            <entity name="StoreProfile" />
            <entity name="VEClientToken" />
            <entity name="VENearbyStore" />
            <entity name="ImageGalleryFile" />
            <entity name="ImageGallery" />
        </entitiesToIgnore>
    </commerceServerCodeGeneration>
    <commerceServerContrib>
        <presentation configSource="Presentation.config" />
    </commerceServerContrib>
    <unity configSource="Unity.config" />
    <cachingConfiguration configSource="Caching.config" />
</configuration>