<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EventLog" connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=KeithCom Unit Test Project; user id=eluser; Password=3v3ntWr1t3r" providerName="System.Data.SqlClient"
         xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="BEKDBContext" connectionString="" providerName="System.Data.SqlClient"
         xdt:Transform="Remove" xdt:Locator="Match(name)"/>
    <add name="AuditLog" connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings >
    <!-- Site Settings -->
    <add key="AppName" value="KeithCom WebApi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PresentationUrl" value="http://shopqa.benekeith.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AllowedApiKeys" value="android_test_v1,iphone_test_v1,web_test_v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BrandAssetsUrl" value="https://shopqa.benekeith.com/assets/brands" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequireHttps" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RecentItemsToKeep" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenDuration" value="7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnableEtaForUsers" value="all" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- values are none, internal_only, all -->

    <!-- Active Directory Settings -->
    <add key="ADExtDomain" value="benekeith" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtPass" value="D3leg@ti0n" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtServer" value="bekkecad1.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtUser" value="KEC-SVC-LDAPAdmin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtUserContainer" value="Users" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoleNameAccouting" value="Dev Accounting" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoleNameApprover" value="Dev Approver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoleNameBuyer" value="Dev Buyer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoleNameGuest" value="Dev Guest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtRoleNameOwner" value="Dev Owner" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupKbitAdmin" value="Dev Kbit Admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupKbitCustomer" value="Dev Kbit Customer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADExtAccessGroupPowerMenuCustomer" value="Dev PowerMenu Customer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ADIntDomain" value="bekco" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntPass" value="@ud1tm3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntRoleNameCorporateAdmin" value="CORP-LS-SYS-AC-Entree_Admins" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntRoot" value="dc=bekco,dc=com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntServer" value="ldap-bek.benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADIntUser" value="corp-ssa-secaudit" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ADBadPwdCount" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADLockoutDuration" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ADGuestOU" value="_bek_guest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="WhiteListedBekUsers" value="tcfox,jwames,pabrandt,mdjoiner,jdhughes,corp-ssa-entreadmin,dmderusha,bakillins,jmmills" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- must be lowercase -->
    <add key="WhiteListedBekUsersEnforced" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Elastic Search Settings -->
    <add key="ElasticSearchURL" value="http://localhost:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultCategoryReturnSize" value="2000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultProductReturnSize" value="500" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MaxSortByPriceItemCount" value="200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchAggregations" value="categories:categoryname_not_analyzed,brands:brand_description_not_analyzed,allergens:contains,dietary:diettype,itemspecs:itemspecification,nonstock:nonstock,mfrname:mfrname_not_analyzed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchTermSearchFields" value="name,description,categoryname,brand,mfrname" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchDigitSearchFields" value="upc,gtin,itemnumber,mfrnumber" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchItemExcludeValues" value="D,!,W" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Commerce Server Settings -->
    <add key="CS_SiteName" value="BEK_Commerce" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="CorsEnabledDomains" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CorsEnabledHeaders" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CorsEnabledMethods" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- RabbitMQ Settings -->
    <!--<add key="RabbitMQAccessServer" value="corpkecdev1" />-->
    <!--<add key="RabbitMQOrderServer" value="corpkecdev1" />-->
    <!--<add key="RabbitMQConfirmationServer" value="corpkecdev1" />-->
    <add key="RabbitMQNotificationServer" value="corpkecqas1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQAccessServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationServer" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQAccessVHost" value="access_update" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderVHost" value="orders_createupdate" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConfirmationVHost" value="orders_statusnotification" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQAccessExchange" value="access_exchange" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQUpdateRequestExchange" value="bek_commerce_historyrequest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQNotificationPublisherUserName" value="notifypub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationPublisherUserPassword" value="notifypasspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationExchange" value="bek_commerce_notifications" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQNotificationVHost" value="notifications_notify" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RabbitMQAccessConsumerUserName" value="accessclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQAccessConsumerUserPassword" value="acspassclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQAccessPublisherUserName" value="accesspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQAccessPublisherUserPassword" value="acspasspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderConsumerUserName" value="orderclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderPublisherUserName" value="orderpub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="RabbitMQAccessQueue" value="access_update_queue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderQueue" value="orders_created_dev_jeremy" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderErrorQueue" value="orders_error" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQOrderHistoryQueue" value="orders_history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQUpdateRequestQueue" value="orders_historyrequest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- MultiDocs Settings -->
    <add key="MultiDocsUrl" value="http://testmultidocs.bekco.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MultiDocsProxyUrl" value="https://shopqa.benekeith.com/multidocsurl/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Email Settings -->
    <add key="SmtpServer" value="corpampas1.bekco.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FailureEmailAddress" value="jwames@benekeith.com,mdjoiner@benekeith.com,bakillins@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FromEmailAddress" value="BekEntree@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FAQ_ContactEmail" value="faqinfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FAM_ContactEmail" value="amainfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FDF_ContactEmail" value="dfwinfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FHS_ContactEmail" value="fhsinfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FLR_ContactEmail" value="flrinfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FOK_ContactEmail" value="okinfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FSA_ContactEmail" value="fsainfo@benekeith.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Cache setttings -->
    <add key="AddServerNameToHeaderResponse" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CacheServerEndpoints" value="http://corpkecqas1:5006,http://corpkecqas2:5006" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- imaging settings //-->
    <add key="ImagingServerUrl" value="http://bekimage.bekco.com:8080/integrationserver_727/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagingUserName" value="corp-ssa-imgentree" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagingUserPassword" value="imagenow67" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagingViewId" value="200000054R_001QL95EY9CM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- BillPay Settings -->
    <add key="BillPayCutOffTime" value="14:00:00" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- this setting must be in a 24 hour format -->

    <!-- PowerMenu Settings -->
    <add key="PowerMenuAdminUsername" value="pniadmin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuAdminPassword" value="9M9NC0N" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuWebServiceUrl" value="http://bekpmwsq1.bekco.com:8443/pmserviceendpoint.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuPermissionsUrl" value="http://bekpmwsq1.bekco.com:8443/main/Logon.aspx?Adminusername=pniadmin&amp;Adminpassword=9M9NC0N&amp;Username={0}&amp;path=USER" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuGroupSetupUrl" value="http://bekpmwsq1.bekco.com:8443/main/Logon.aspx?Adminusername=pniadmin&amp;Adminpassword=9M9NC0N&amp;path=CUSTOMER" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PowerMenuLoginUrl" value="http://bekpmwsq1.bekco.com:8443/main/Logon.aspx?username={0}&amp;password={1}&amp;path=MAIN&amp;customerlist={2}&amp;order=true&amp;framed=false&amp;lang=ENG&amp;country=USA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Content Management Settings -->
    <add key="MarketingBranchItemCount" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MarketingContentUrl" value="http://www.benekeith.com/api/app" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MarketingTotalItemCount" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- UNFI Whitelisting configurations - these are temporary entries -->
    <add key="UNFIWhitelistDSRs" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UNFIWhitelistCustomers" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UNFIWhitelistBEKUsers" value="tcfox,jwames,pabrandt,jmmills,mdjoiner,jdhughes,dmderusha,bakillins" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:1000/Foundation/FoundationService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttp" 
        contract="com.benekeith.FoundationService.IBEKFoundationService" name="WsHttpOperationService" 
        xdt:Transform="Replace" xdt:Locator="Match(contract)" />

      <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx"
        binding="basicHttpBinding" bindingConfiguration="PricingSoap"
        contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://bekkpnwst2.bekco.com:8900/pricing/shipdate.asmx"
        binding="basicHttpBinding" bindingConfiguration="ShipDateSoap"
        contract="com.benekeith.ShipDateService.ShipDateSoap" name="ShipDateSoap"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/InvoiceService.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.InvoiceService.IInvoiceService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/OnlinePaymentService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlinePaymentService" 
        contract="com.benekeith.OnlinePaymentService.IOnlinePaymentService" name="BasicHttpBinding_IOnlinePaymentService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ConfigurationService.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService" 
        contract="com.benekeith.ConfigurationService.IConfigurationService" name="BasicHttpBinding_IConfigurationService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/DsrService.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDsrService"
        contract="com.benekeith.DsrService.IDsrService" name="BasicHttpBinding_IDsrService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ListServcie.svc" 
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.ListService.IListServcie" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/MessagingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.MessagingService.IMessagingService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ContentManagementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagementService"
        contract="com.benekeith.ContentManagementService.IContentManagementService" name="BasicHttpBinding_IContentManagementService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/DivisionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.DivisionService.IDivisionService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/OrderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListServcie"
        contract="com.benekeith.OrderService.IOrderService" name="BasicHttpBinding_IListServcie"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
        
      <endpoint address="http://localhost:9876/ReportService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
        contract="com.benekeith.ReportService.IReportService" name="BasicHttpBinding_IReportService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>

      <endpoint address="http://localhost:9876/ProfileService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
        contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService"
        xdt:Transform="Replace" xdt:Locator="Match(contract)"/>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="CommerceServer.Foundation.IOperationService"
                xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>