<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <!-- Application Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AppName" value="Entree Queue Service - Beta" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RecentItemsToKeep" value="10" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ListItemDaysNew" value="2" />

        <!-- Rabbit MQ Settings: Servers -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderServer" value="localhost" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationServer" value="localhost" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationServer" value="localhost" />

        <!-- Rabbit MQ Settings: User/Pass -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderConsumerUserName" value="orderclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderConsumerUserPassword" value="ordpassclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderPublisherUserName" value="orderpub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderPublisherUserPassword" value="ordpasspub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationPublisherUserName" value="notifypub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationPublisherUserPassword" value="notifypasspub" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationConsumerUserName" value="notifyclnt" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationConsumerUserPassword" value="notifypassclnt" />

        <!-- Rabbit MQ Settings: Exchanges -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderCreatedExchange" value="bek_commerce_orders_created" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderErrorExchange" value="bek_commerce_orders_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderHistoryExchange" value="bek_commerce_orders_history" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderReprocessExchange" value="bek_commerce_orders_reprocess" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationExchange" value="bek_commerce_confirmations" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationErrorExchange" value="bek_commerce_confirmations_errors" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderUpdateExchange" value="bek_commerce_orderupdates" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQSpecialOrderUpdateExchange" value="bek_commerce_specialorderupdates" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationExchange" value="bek_commerce_notifications" />

        <!-- Rabbit MQ Settings: VHosts -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderVHost" value="orders_createupdate" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationVHost" value="orders_statusnotification" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationVHost" value="notifications_notify" />

        <!-- Rabbit MQ Settings: Queues -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderQueue" value="orders_created" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderErrorQueue" value="orders_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderHistoryQueue" value="orders_history" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderReprocessQueue" value="orders_reprocess" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQOrderUpdateQueue" value="orders_updates" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationQueue" value="notifications_v1" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQNotificationQueueExternal" value="notifications_v1_external" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationQueue" value="confirmations" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQConfirmationErrorQueue" value="confirmations_error" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="RabbitMQSpecialOrderUpdateQueue" value="specialorders_updates" />

        <!-- Active Directory Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtDomain" value="benekeith" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtPass" value="D3leg@ti0n" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtRoot" value="ou=KEC_Development,dc=benekeith,dc=com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtServer" value="ldap-kec.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADExtUser" value="KEC-SVC-LDAPAdmin" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntDomain" value="bekco" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntPass" value="@ud1tm3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntRoleNameCorporateAdmin" value="CORP-LS-SYS-AC-Entree_Admins"/>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntRoot" value="dc=bekco,dc=com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntServer" value="ldap-bek.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADIntUser" value="corp-ssa-secaudit" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADBadPwdCount" value="3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADLockoutDuration" value="3" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ADGuestOU" value="Prod_Users" />

        <!-- Email Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SmtpServer" value="kecampas1.benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ServiceEmailAddress" value="no-reply@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FailureEmailAddress" value="jwames@benekeith.com,mdjoiner@benekeith.com,jcswaringen@benekeith.com,bakillins@benekeith.com" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="FromEmailAddress" value="no-reply@benekeith.com" />

        <!-- Amazon Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AmazonSnsAccessKey" value="AKIAJ74TCMZZSQRJNDNQ" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AmazonSnsSecretKey" value="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" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AmazonSnsMobilePlatformAppArnIOS" value="arn:aws:sns:us-east-1:951996173818:app/APNS/BEK_APNS" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AmazonSnsMobilePlatformAppArnAndroid" value="arn:aws:sns:us-east-1:951996173818:app/GCM/BEK_GCM" />

        <!-- ElasticSearch Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ElasticSearchURL" value="http://localhost:9200" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CategoryPrefixesToExclude" value="AA,ZZ,TW" />

        <!-- Commerce Service Settings -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CS_SiteName" value="BEK_Commerce" />

        <!-- Queue Service Functions -->
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CheckLostOrders" value="true" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CheckLostOrdersStatus" value="Submitted" />
    </appSettings>
    <connectionStrings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="EventLog" connectionString="Data Source=bekkecbdb1.bekco.com; Initial Catalog=eventlog; Application Name=EntreeQueueService; user id=eluser; Password=3v3ntWr1t3r" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEKDBContext" connectionString="Data Source=bekkecbdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData;user id=ecom; Password=RtOKxf)h]vt" providerName="System.Data.SqlClient" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="KPAYDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://prodpricing.benekeith.com:8900/pricing/pricing.asmx" 
                      binding="basicHttpBinding" bindingConfiguration="PricingSoap" 
                      contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc" 
                      binding="wsHttpBinding" bindingConfiguration="wsHttp" 
                      contract="CommerceServer.Foundation.IOperationService">
                <identity>
                    <servicePrincipalName />
                </identity>
            </endpoint>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:1000/Foundation/FoundationService.svc" 
                      binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="com.benekeith.FoundationService.IBEKFoundationService" name="WsHttpOperationService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/ProfileService.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                      contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/DsrService.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IDsrService" contract="com.benekeith.DsrService.IDsrService"
                      name="BasicHttpBinding_IDsrService" />
        </client>
    </system.serviceModel>
</configuration>