<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="NewRelic.AppName" value="Entree - PROD - Queue Service" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="SmtpServer" value="kecampas1.benekeith.com" />
    </appSettings>
    <connectionStrings>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="EventLog" connectionString="Data Source=bekscsql.bekco.com; Initial Catalog=eventlog; Application Name=EntreeQueueService; user id=eluser; Password=3v3ntWr1t3r" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="BEKDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=BEK_Commerce_AppData;user id=ecom; Password=_Po$S1aM6" providerName="System.Data.SqlClient" />
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="KPAYDBContext" connectionString="Data Source=bekscsql.bekco.com;Initial Catalog=kpay;User Id=kpuser; Password=0nl1n3P@ym3ntsF0rK31thCust0m3rs" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:8900/pricing/pricing.asmx"
                      binding="basicHttpBinding" bindingConfiguration="PricingSoap"
                      contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc"
                      binding="wsHttpBinding" bindingConfiguration="wsHttp"
                      contract="CommerceServer.Foundation.IOperationService">
                <identity>
                    <servicePrincipalName />
                </identity>
            </endpoint>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:1000/Foundation/FoundationService.svc"
                      binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="com.benekeith.FoundationService.IBEKFoundationService" name="WsHttpOperationService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/ProfileService.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                      contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/DsrService.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IDsrService" contract="com.benekeith.DsrService.IDsrService"
                      name="BasicHttpBinding_IDsrService" />
        </client>
    </system.serviceModel>
</configuration>