<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="EventLog"
           connectionString="Data Source=corpkecqdb1.bekco.com; Initial Catalog=eventlog; Application Name=Entree Web API; user id=eluser; Password=3v3ntWr1t3r" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="BEKDBContext"
           connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_AppData; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="ProfileDbConnection"
           connectionString="Data Source=corpkecqdb1.bekco.com;Initial Catalog=BEK_Commerce_Profiles; Application Name=Entree Web API; User Id=ecom;Password=Qa!2klkA5" providerName="System.Data.SqlClient"  
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://bekkpnwst2.bekco.com:8900/pricing/pricing.asmx"
                      binding="basicHttpBinding" bindingConfiguration="PricingSoap"
                      contract="com.benekeith.PricingService.PricingSoap" name="PricingSoap" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" name="IOperationService" address="http://localhost:1000/Foundation/FoundationService.svc"
                      binding="wsHttpBinding" bindingConfiguration="wsHttp"
                      contract="CommerceServer.Foundation.IOperationService">
                <identity>
                    <servicePrincipalName />
                </identity>
            </endpoint>
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:1000/Foundation/FoundationService.svc"
                      binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="com.benekeith.FoundationService.IBEKFoundationService" name="WsHttpOperationService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/ProfileService.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                      contract="com.benekeith.ProfileService.IProfileService" name="BasicHttpBinding_IProfileService" />
            <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)" address="http://localhost:9876/DsrService.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IDsrService" contract="com.benekeith.DsrService.IDsrService"
                      name="BasicHttpBinding_IDsrService" />
        </client>
    </system.serviceModel>
</configuration>