.account-summary__balance {
  background-color: $color-white;
  border: 1px solid $color-border;
  padding: 15px;
  
  .balance__amount {
    font-size: 24px;
    font-weight: bold;
  }

  .pay-now-btn {
    margin-top: 20px;
  }

  .balance__term {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .balance__term--amount {
    strong {
      display: block;
    }
  }
  .balance__term--amount:not(:last-child) {
    border-right: 1px solid $color-border;
  }
}
.account-summary__graph {
  @extend .account-summary__balance;
  border-top: none;
}

@media(max-width: $mobile-max) {
  .account-summary__balance {
  
    .pay-now-btn {
      margin-top: 0px;
    }

    h4 {
      margin-bottom: 0px;
    }
  }
}