@mixin component {
  font-weight: 300;
  letter-spacing: 1px;
  border: 1px solid $color-border;
}

/* BUTTONS */

@mixin color-button($color) {
  color: white;
  background-color: $color;
  border: none;
}

// default button
.btn {
  @include component;
  min-height: 40px;
  // background-color: white;
  white-space: inherit;
  padding: 9px 12px;
  
  &.btn-default {
    &:hover, &:active, &:focus {
      background-color: #EBE7D9;
      border-color: $color-border;
    }
  }

  &.btn-primary {
    @include color-button($color-blue);
  }
  &.btn-danger {
    @include color-button($color-red);
  }
  &.btn-success {
    @include color-button($color-green);
  }
  &.btn-info {
    @include color-button($color-blue);
  }
}

.btn-no-style {
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.btn-icon {
  font-size: 20px;
  color: $color-font-light;
  margin-right: 5px;
  padding: 5px 9px;
}

.btn-group-vertical {
  .btn {
    text-align: left;
  }
}

/* SELECT DROPDOWNS */

.select-div select {
  background: transparent;
  width: 300px;
  padding: 10px 0px 10px 12px;
  min-height: 40px;
  -webkit-appearance: none;
  font-weight: 300;
  border: 0;
  font-size: $font-size;
} 

.select-div {
  display: inline-block;
  width: 260px;
  min-height: 40px;
  overflow: hidden;
  background: url("../images/down-arrow.png") no-repeat 96% $color-white;
  border: 1px solid #c3bc9c;
  vertical-align: middle;
  border-radius: 5px;
}

/* TEXT INPUTS */




input[type='text'], input[type='email'], input[type='password'], textarea {
  @include component;
  min-height: 40px;
  font-size: $font-size;
}

/* Checkboxes */


@mixin style-checkbox ($clear-url, $checked-url, $vertical-position, $horizontal-position, $size) {
  input[type="checkbox"] + label{
    background:url('../images/' + $clear-url) $vertical-position $horizontal-position no-repeat;
    background-size: $size;
  }
  input[type="checkbox"]:checked + label {
    background:url('../images/' + $checked-url) $vertical-position $horizontal-position no-repeat;
    background-size: $size;
  }
}

// input[type="checkbox"] {
//     display:none;
// }
// input[type="checkbox"] + label {
//   display: inline-block;
//   vertical-align: middle;
//   cursor: pointer;
//   padding-left: 25px;
//   content: '';
// }
// @include style-checkbox('checkbox-clear.png', 'checkbox-checked.png', center, left, 20px);

/* Search Form */

.search-form {
  padding-bottom: $gutter-size;

  input {
    border-right: none;
  }
}

hr {
  border-top: 1px solid $color-border;
}

/* DATEPICKER */ 

.datepicker + .dropdown-menu {
  table tbody button, table thead button {
    border: none !important;
  }
}

.quantity-dropdown {
  border-radius: 0;
  padding: 0;
  min-width: 55px;

  li {
    padding: 3px 10px;
    text-align: right;

    &:hover {
      background-color: $background;
    }
  }
}