@mixin component {
  font-weight: 300;
  letter-spacing: 1px;
  border: 1px solid $color-border;
}

/* BUTTONS */

// default button
button.btn {
  @include component;
  min-height: 40px;
  background-color: white;
  white-space: inherit;
  
  // call to action button
  &.cta-btn {
    color: white;
    background-color: $color-blue;
    border: none;
  }
}

button.btn-no-style {
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.btn-icon {
  font-size: 20px;
  color: $color-font-light;
  margin-right: 5px;
  padding: 5px 9px;
}

.btn-group-vertical {
  .btn {
    text-align: left;
  }
}

/* SELECT DROPDOWNS */

.select-div select {
  background: transparent;
  width: 300px;
  padding: 10px 0px 10px 12px;
  min-height: 40px;
  -webkit-appearance: none;
  font-weight: 300;
  border: 0;
} 

.select-div{
   display: inline-block;
   width: 260px;
   min-height: 40px;
   overflow: hidden;
   background: url("../images/down-arrow.png") no-repeat 96% $color-white;
   border: 1px solid #c3bc9c;
}

/* TEXT INPUTS */

@mixin text-placeholder($color, $style) {
  ::-webkit-input-placeholder {
    color: $color !important;
    font-style: $style;
  }  
  :-moz-placeholder { /* Firefox 18- */
    color: $color !important;  
    font-style: $style;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color !important;  
    font-style: $style;
  }
  :-ms-input-placeholder {  
    color: $color !important;  
    font-style: $style;
  }
}
@include text-placeholder ($color-border, italic);

input[type='text'], input[type='email'], input[type='password'] {
  @include component;
  min-height: 40px;
  font-size: $font-size;
}

/* TABS */

.nav-tabs {
  border-bottom: 1px solid $color-border;

  li {
    a {
      margin-right: 5px;
      color: $color-font;
      border-radius: 0;
      border: 1px solid $color-border;
      padding: 12px 40px;

      &:hover {
        @extend a;
      }
    }
    &.active a {
      border: 1px solid $color-border;
      border-bottom-color: transparent;
      border-top: 3px solid $color-blue;
      padding-top: 10px;
      font-weight: normal;

      &:hover {
        @extend a;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    background-color: $color-white;
    border-left: 1px solid $color-border;
    border-right: 1px solid  $color-border;
    border-bottom: 1px solid  $color-border;
  }
}


@media (max-width: 768px) {
  .nav-tabs {
    li {
      width: 100%;

      a {
        margin-right: 0px;
        border-radius: 8px;
        margin-bottom: 5px;
      }
    }

    li.active a {
      border-bottom-color: $color-border;
    }
  }
}

/* Checkboxes */

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/checkbox-clear.png") top left no-repeat;
  cursor: pointer;
  background-size: 20px;
  padding-left: 25px;
}
input[type="checkbox"]:checked + label {
  background:url('../images/checkbox-checked.png') top left no-repeat;
  background-size: 20px;  
}

/* Search Form */

.search-form {
  padding-bottom: $gutter-size;

  input {
    border-right: none;
  }
}