/* BUTTONS */

// default button
button.btn {
  height: 40px;
  letter-spacing: 1px;
  background-color: white;
  border: 1px solid $color-border;
  font-weight: 300;
  
  // call to action button
  &.cta-btn {
    color: white;
    background-color: $color-blue;
    border: none;
  }
}

/* SELECT DROPDOWNS */

select {
  border: 1px solid $color-border;
  font-weight: 300;
  height: 40px;
  letter-spacing: 1px;
}

/* TEXT INPUTS */

@mixin text-placeholder($color, $style) {
  ::-webkit-input-placeholder {
    color: $color !important;
    font-style: $style;
  }  
  :-moz-placeholder { /* Firefox 18- */
    color: $color !important;  
    font-style: $style;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color !important;  
    font-style: $style;
  }
  :-ms-input-placeholder {  
    color: $color !important;  
    font-style: $style;
  }
}
@include text-placeholder ($color-border, italic);

input[type='text'], input[type='email'], input[type='password'] {
  border: 1px solid $color-border;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

/* TABS */

.nav-tabs {
  border-bottom: 1px solid $color-border;

  li {
    a {
      margin-right: 5px;
      // line-height: 35px;
      border-radius: 0;
      border: 1px solid $color-border;
      padding: 12px 40px;

      &:hover {
        @extend a;
      }
    }
  }

  li.active a {
    border: 1px solid $color-border;
    border-bottom-color: transparent;
    border-top: 3px solid $color-blue;
    padding-top: 10px;
    font-weight: normal;

    &:hover {
      @extend a;
    }
  }
}
.tab-content {
  .tab-pane {
    background-color: $color-white;
    border-left: 1px solid $color-border;
    border-right: 1px solid  $color-border;
    border-bottom: 1px solid  $color-border;
  }
}


@media (max-width: 768px) {
  .nav-tabs {
    li {
      width: 100%;

      a {
        margin-right: 0px;
        border-radius: 8px;
        margin-bottom: 5px;
      }
    }

    li.active a {
      border-bottom-color: $color-border;
    }
  }
}

/* TABLES */

.table-responsive {
  border: none;
  margin-bottom: 0;
}

.table {
  margin-bottom: 0; 
  border: 1px solid $color-border;

  thead {
    background-color: $background;
  }

  thead > tr > th, 
  tbody > tr > th, 
  tfoot > tr > th, 
  thead > tr > td, 
  tbody > tr > td, 
  tfoot > tr > td {
    border-top: none;
    border-bottom: none;
  }

  tbody > tr > th, 
  tfoot > tr > th, 
  tbody > tr > td, 
  tfoot > tr > td {
    padding: 15px 10px;
  }
  
  tr {
    border-bottom: 1px solid  $color-border;
  }
}

.table-striped {

  tbody {

    tr:nth-child(even) {
      background-color: $background;
    }
    tr:nth-child(odd) {
      background-color: $color-white;
    }
  }
}