.featured-item {
  background-color: white;
  float: left;
  width: 170px;
  margin: 8px 4px;
  box-shadow: 0px 0px 10px $color-border;

  img {
    height: 175px;
    width: 100%;
  }

  a {
    display: block;
    letter-spacing: 1px;
  }

  .featured-item__detail {
    padding: 15px 10px 15px 10px;
    border-top: 1px solid $color-border;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.featured-item-mobile {
  background-color: $color-white;
  box-shadow: 0px 0px 10px $color-border;

  img{
    max-height: 84px;
    max-width: 100px;
  }

  .featured-item-mobile__detail{
    text-align: left;
    padding: 25px 15px 25px 20px;
    
    a {
      font-size: 12px;
    }
  }

  .carousel-counter{
    display: none;
  }
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
  color: $color-border;
}

.carousel-control{
  .glyphicon-chevron-left,.glyphicon-chevron-right {
    top: 38%;
  }
}

.carousel-paging {
  position: absolute;
  z-index: 15;
  list-style: none;
  margin-top: -47px;
  right: 0;
  cursor: auto;

  .showIndex {
    display: none;
  }
}   
