form.style-validation-errors {

	input.ng-dirty.ng-invalid {
		border: 1px solid $color-red !important;
  }

  .form-error-message {
    color: $color-red;
    font-size: $font-size;
  }
}

.button-row {
  button,a {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  } 
}