html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-font;
  font-size: $font-size;
  height: 100%;
  min-height: 100%;
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
}
.wrapper {
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
}

h1,h2,h3,h4 {
  margin-top: 0;
}
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 13px; }

a {
  color: $color-blue;
  cursor: pointer;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  padding-left: 0;
  position: relative;
  min-height: 100%;
  padding-right: 0px;
}
.page-content {
  width: calc(100% - 175px);
  margin-left: $sidebar-width;
}

@media (max-width: $mobile-max) {
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}

// Angular ui bootstrap fix for cursor pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.no-padding{
  padding:0;
}
.no-margin {
  margin: 0;
}

.text-red { color: $color-red; }
.text-green { color: $color-green; }
.text-white { color: $color-white; }
.text-regular { color: $color-font; }
.text-blue { color: $color-blue; }
.text-light { color: $color-font-light; }

.view {
  padding-bottom: $gutter-size;
}
.sub-content{
  padding-top: 20px;
}
.sub-content-mobile{
  padding-top: 50px;
}