/* LEFT SIDE LIST NAVIGATION BUTTONS */
.custom-lists .btn-list {
  min-width: 130px;
  font-size: $font-size;
  display: block;

  &:hover {
    color: $color-blue;
  }

  &.bek-drag-active {
    border: 1px dashed $color-border;
  }

  &.bek-drag-hover {
    color: $color-blue;
    border: 2px solid $color-blue;
    cursor: copy;
  }
  
  // button list of custom list names
  &.custom-lists__name {

    // currently selected list link
    &.current-list {
      background-color: $color-blue;
      color: $color-white !important;
      border: none;
    }
  }
}

// 'Show More' link
.custom-lists__more {
  margin-top: 10px;
}

// trash can button
.btn-trash {
  margin-top: 10px;
  
  &.bek-drag-active {
    border: 1px dashed $color-red;
    display: inline-block;
  }

  &.bek-drag-hover {
    border: 2px solid $color-red;
    cursor: copy;
  }
}

/* LIST TABLE */
.custom-lists__table {

  .table-row 

  .edit-parlevel {
    width: calc(100% - 15px);
  }

  .edit-label {
    width: calc(100% - 25px);
  }
}

/* DRAG AND DROP */
.ui-draggable-handle {
  cursor: move;
}
.ui-draggable-dragging {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;
  // width: 400px;
  
  [class^='col-'] {
    width: inherit;
    float: none;
    background-color: $color-white !important;
    display: inline-block;
  }

  // [class^='col-'] {
  //   background-color: $color-white !important;
  // }
  .hidden-drag {
    display: none;
  } 
}
.ui-sortable-helper {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;
  width: 95% !important;
  background-color: #EBE7D9 !important;
}

// highlight row when hovering on desktop only
@media (min-width: $mobile-max) {
  .custom-lists__table .table-body .table-row:hover [class^='col-'] {
    background-color: #EBE7D9 !important;
  }
}

@media (max-width: $mobile-max) {
  .custom-lists {
    position:absolute; 
    z-index: 3; 
    right: 10px; 
    top: 155px;
  }

  .custom-lists__table {
    .edit-label {
      display: inline-block;
    }
  }
}

.bootstrap-table {
  > .row {
    margin: 0;
  }

  .table-row-data [class^='col-'] {
    padding: 14px 5px;
  }

  .table-header {
    .table-row {
      font-weight: 600;
      border: 1px solid $color-border;
      background-color: $background;
    }
  }

  .table-body, .table-footer {
    .table-row  {
      border-bottom: 1px solid $color-border;
      border-left: 1px solid $color-border;
      border-right: 1px solid $color-border;
      background-color: $color-white;
    }
  }

  .table-row {
    
    .table-col-icons {
      padding: 8px 5px;

      a,span {
        display: inline-block;
        font-size: 18px;
      }
    }

    .table-col-input {
      padding-top: 6px;
      padding-bottom: 4px;

      input {   
        min-height: 0;
        padding: 5px;
      }

      .select-div {
        min-height: 0;

        select {
          padding: 5px;
          min-height: 0;
        }
      }  
    }
    
    &.odd {
      background-color: $background;
    }

  }
}

.form-control-group {
  padding-bottom: $gutter-size;

  .form-control-group__label, .form-control-group__input { 
    display: inline-block;
    vertical-align: middle;
  }
}