.custom-lists .btn {
  min-width: 135px;
  font-size: $font-size;

  &:hover {
    color: $color-blue;
  }
}

.btn-group-vertical .btn {
  &:focus, &:active {
    background-color: $color-blue;
    color: $color-white !important;
    border: none;
  }

  &:hover {
    color: $color-blue;
    border: 2px solid $color-blue;
  }
}

.custom-lists

.custom-lists__more {
  margin-top: 10px;
}

.ui-draggable-dragging {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;

  td {
    background-color: $color-white !important;
  }
  .hidden-drag {
    display: none;
  } 
}

.ng-hover {
  color: red !important;
}