// all buttons on the left side nav
.custom-lists .btn-list {
  min-width: 130px;
  font-size: $font-size;
  display: block;

  &:hover {
    color: $color-blue;
  }

  &.bek-drag-active {
    border: 1px dashed $color-border;
  }

  &.bek-drag-hover {
    color: $color-blue;
    border: 2px solid $color-blue;
    cursor: copy;
  }
  
  // button list of custom list names
  &.custom-lists__name {

    // currently selected list link
    &.current-list {
      background-color: $color-blue;
      color: $color-white !important;
      border: none;
    }
  }
}


// 'Show More' link
.custom-lists__more {
  margin-top: 10px;
}

// trash can button
.btn-trash {
  margin-top: 10px;
  
  &.bek-drag-active {
    border: 1px dashed $color-red;
    display: inline-block;
  }

  &.bek-drag-hover {
    border: 2px solid $color-red;
    cursor: copy;
  }
}

.ui-draggable-dragging {
  border: 1px solid $color-border !important;
  box-shadow: 0px 0px 10px $color-border;

  td {
    background-color: $color-white !important;
  }
  .hidden-drag {
    display: none;
  } 
}

.custom-lists__table tr:hover td {
  background-color: #EBE7D9 !important;
}