$order-col__background: #f1efe5;

.order-summary__header {
  font-weight: bold;
  margin-left: 0;
}
.order-summary__order {
  background-color: $color-white;
  border: 1px solid $color-border;
  margin-top: 10px;
  margin-left: 0;

  &.order-summary__order--paid {
    border-left: 3px solid $color-red;
  }
  &.order-summary__order--late {
    @media (min-width: $desktop-min){
    border-left: 3px solid $color-green;
  }
  @media (max-width: $mobile-max)
  {
    border-top: 3px solid $color-green;
  }
  }
  
  // order table columns
  div {
    padding-top: 30px;
  }

  .inside-div{
    padding: 0;
  }

  .right{
    @media(max-width: $mobile-max)
    {
      text-align: right;
    }
  }

  .order-col {
    @extend div;
    background-color: $order-col__background;
    border-right: 1px solid $color-border;
    padding: 20px 0;

    .order-col__date {
      display: block;
    }
    .order-col__number {
      font-size: 16px;
      font-weight: 600;
      display: block;
    }
    .order-col__text{
      text-transform: uppercase;
    }
  }
}

@media(max-width: $mobile-max) {
  .order-summary__order {
    padding-bottom: 15px;
    margin-right: 0;
    
    // order table rows
    div {
      padding-top: 15px;
    }

    .order-col {
      border-right: none;
      border-bottom: 1px solid $color-border;
      padding: 10px 15px;

      .order-col__date {
        float: right;
      }
      .order-col__number {
        float: left;
      }
      .order-col__text {
        width: 100%;
        float: left;
        text-align: left;
      }
    }
  }
}