$order-col__background: #f1efe5;

.order-summary {
  font-size: 16px;

  .order-col, .payment-status-col {
    width: 20%;
  }
  .delivery-date-col, .total-cost-col {
    width: 17%;
  }
  .status-col {
    width: 26%;
  }
}
.order-summary__header {
  font-weight: bold;
}
.order-summary__order {
  background-color: $color-white;
  border: 1px solid $color-border;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 5px;

  &.order-summary__order--paid {
    border-left: 3px solid $color-red;
  }
  &.order-summary__order--late {
    border-left: 3px solid $color-green;
  }
  
  // order table columns
  div {
    min-height: 95px;
    padding-top: 37px;
  }

  .order-col {
    @extend div;
    background-color: $order-col__background;
    border-right: 1px solid $color-border;
    padding-top: 15px;
    padding-bottom: 15px;

    .order-col__date {
      display: block;
      margin-top: 12px;
      font-size: 15px;
    }
    .order-col__number {
      font-size: 22px;
      font-weight: 400;
      display: block;
    }
  }
}