.register-wrapper {
	color: $color-white;
  min-height: 100%;
  position: absolute;
  background-image: url('../images/Registration-BG.jpg');
  width: 100%;
  margin-left: 0;
}
.register-header {
  // logo
  img {
    height: 80px;
  }

  .login-form {
  
    .form-group {
      padding-left: 0;
    }

    input, button {
      min-height: 35px;
    }

    // login button
    button {
      margin-top: 20px;
      padding: 7px 25px;
    }
  }
}

.register-body {
  font-size: 14px;

  h1 {
    font-weight: 300;
  }
  hr {
    opacity: .5;
  }
}

.register-form {

  input[type='text'], input[type='email'], input[type='password'] {
    min-height: 60px;
    font-size: 14px;
    font-weight: 400;
  }

  // .checkbox {
  //   label {
  //     padding-left: 45px;
  //     padding-top: 5px;
  //     padding-bottom: 5px;
  //   }
  //   @include style-checkbox('graycheckbox-clear.png', 'graycheckbox-checked.png', center, left, 30px);
  // }

  .select-div {
    display: block;
    width: 100%;
    border-radius: 4px;

    select {
      width: 105%;
      min-height: 60px;
      padding: 20px 10px;
    }
  }
}

@media (max-width: $mobile-max) {
  .register-header {
    .login-form {
      padding-top: $gutter-size;

      .form-group {
        padding-left: $gutter-size;
      }

      button {
        margin-top: 0;
      }
    }
  }
  .register-form {
    input[type='text'], input[type='email'], input[type='password'] {
      min-height: 40px;
    }

    .select-div {
      select {
        min-height: 40px;
        padding: 9px 5px;
      }
    }
  }
}