.category{
  max-height: 400px;
    overflow-y:scroll; 
    background-color: white;
}

.nav{
  li{
    a:hover{
      background-color: white;
    }
    a{
      color: $color-font;
    }
  }
  .active{
    a{
      color: $color-blue;
      font-weight: 600;
    }
  }
}

.view{
  font-weight: 400;
}

.checkbox input[type=checkbox]{
  margin-left: 0;
}

input[type=checkbox]:checked + label {
  color: $color-blue;
}

.checkbox + .checkbox{
  margin-top:0;
}