body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
  color: $color-font;
  font-size: 12px;
  letter-spacing: 1px;
}

h1,h2,h3,h4 {
  margin-top: 0;
}
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 13px; }

// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  padding-left: 0;
  position: relative;
}
.page-content {
  width: calc(100% - $sidebar-width);
  margin-left: $sidebar-width;
}
.view {
  padding-bottom: 15px ;
}

// Angular ui bootstrap fix for cursor pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media (max-width: $desktop-min) {
  .container-fluid {
    padding-right: 15px;
  }
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}