body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
  color: $color-font;
  font-size: 12px;
}

h1,h2,h3,h4 {
  margin-top: 0;
}
h2 { font-size: 20px; }
h3 { font-size: 16px; }
h4 { font-size: 13px; }

a {
  color: $color-blue;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  padding-left: 0;
  position: relative;
}
.page-content {
  width: calc(100% - $sidebar-width);
  margin-left: $sidebar-width;
}

@media (max-width: $desktop-min) {
  .container-fluid {
    padding-right: 15px;
  }
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}
.view {
  padding-bottom: $gutter-size;
}

// Angular ui bootstrap fix for cursor pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.no-padding{
  padding:0;
}

.text-late {
  color: $color-red;
}
.text-paid {
  color: $color-green;
}

// slightly lighter text color, mostly for icons
.text-light {
  color: $color-font-light;
}

.sub-content{
  padding-top: 20px;
}
.sub-content-mobile{
  padding-top: 50px;
}