body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/Textured-BG.jpg');
  background-color: $background;
  color: $color-font;
  font-size: 14px;
  letter-spacing: 1px;
}

h1,h2,h3,h4 {
  margin-top: 0;
}
h3 {
  font-size: 20px;
}

// Bootstrap adjustment for fixed width sidebar
.container-fluid {
  padding: 0;
  position: relative;
}
.page-content {
  width: calc(100% - 250px);
  margin-left: 250px;
}

// Angular ui bootstrap fix for cursor pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media (max-width: 992px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}