$sidebar__background--light: #433c35;
$sidebar__background--dark: #373029;
$sidebar__text: #9f8e7c; 

$sidebar-nav__border: #706457; 
$sidebar-nav__background--selected: #2a2621;
$sidebar-nav__text--selected: $color-white;

.sidebar {
  color: $sidebar__text;
  font-size: 13px;
  padding: 0;
  width: $sidebar-width;
  background-color: $sidebar__background--light;
  background-image: url('../images/Nav-Image.jpg');
  background-position:center bottom;
  background-repeat: no-repeat; 
  min-height: 650px;
  
  position: absolute;
  top: 0;
  bottom: 0;
  
  a {
    color: $color-orange;
    text-decoration: none;
    font-weight: 100;
  }

  .sidebar-logo {
    padding: 25px 0;
    background-color: $sidebar__background--dark;

    img {
      height: 75px;
    }
  }

  $border__size: 3px;
  $padding__size: 14px;

  .sidebar-nav ul { 
    margin-bottom: 0; 
    
    // nav menu items
    li {
      padding: 14px $padding__size;
      color: $sidebar--text;
      cursor: pointer;
      border-top: 1px solid $sidebar-nav__border;
      font-weight: 400;
      letter-spacing: 1px;
      
      // menu icons
      .sidebar-nav__icon {
        width: 25px;
        display: inline-block;
        text-align: center;
        font-size: 16px;
      }
    }
    
    .is-selected li {
      color: $sidebar-nav__text--selected;
      background-color: $sidebar-nav__background--selected;
      border-left: $border__size solid $color-orange;
      padding-left: $padding__size - $border__size;
    }
  }

  .sidebar-dsr {
    padding: 20px;
    background-color: $sidebar__background--dark;
    border-bottom: 1px solid $sidebar-nav__border;
    border-top: 1px solid $sidebar-nav__border;

    img {
      height: 60px;
      width: 60px;
      border-radius: 50px;
    }

    .contact-info {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 100;
      
      // contact info items
      span {
        color: white;
        display: block;
      }
    }
  }

  .sidebar-meta {
    font-size: 11px;
    font-weight: 300;
    position: absolute;
    bottom: $gutter-size;
    left: 0;
  }
}