@mixin header-bar($background-color, $padding) {
  background-color: $background-color;
  border-bottom: 1px solid $color-border;
  padding-top: $padding;
  padding-bottom: $padding;
}

.user-bar {
  font-weight: 300;

  @include header-bar($background, 15px);

  .user-bar__notification {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
  }

  .user-info {
    display: inline-block;
    padding-left: $gutter-size;
    vertical-align: middle;

    div {
      display: block;
    }

    .user-info__name {
      font-size: 14px;
    }

    .user-info__job-title {
      color: #a89f88;
      margin-right: 18px;
    }
  }

  // user profile image
  img {
    display: inline-block;
  }
}

.user-bar-mobile {
  background-color: $background;
  height: 65px;
  border-bottom: 1px solid $color-border;
  // position: fixed;
  // width: 100%;
  // z-index: 2;

  .logo-mobile {
    height: 65px;
    padding: 5px 15px;
    float: left;
  }

  ul {
    padding: 0;
    float: right;
    margin: 0;

    li {
      display: inline-block;
      border-left: 1px solid $color-border;
      padding: 12px 16px;

      a {
        font-size: 28px;
        color: #9E987E;
        text-decoration: none;
      }     
    }
  }
}