@mixin header-bar($background-color, $padding) {
  background-color: $background-color;
  border-bottom: 1px solid $color-border;
  padding-top: $padding;
  padding-bottom: $padding;
}

.user-bar {
  @include header-bar($background, 18px);

  .user-bar__notification {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .user-info {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;

    div {
      display: block;
    }

    .user-info__name {
      font-size: 18px;
    }

    .user-info__job-title {
      color: #a89f88;
      font-size: 16px;
      margin-right: 18px;
    }
  }

  // user profile image
  img {
    display: inline-block;
  }
}

.page-header-bar {
  @include header-bar($color-white, 15px);
  margin-bottom: 30px;

  .page-header-bar__message {
    font-size: 35px;
    font-weight: 300;
    padding-left: 20px;
  }

  .page-header__export-button {
    font-size: 25px;
    color: $color-border;
    margin-right: 5px;
  }

  .page-header__orders {
    color: #489ecf;
    font-size: 22px;
    margin-left: 10px;
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
  }
}