$user-bar__background: #f1efe5;
$page-header-bar__background: white;
$user-bar__border: #c3bc9c;

@mixin header-bar($background-color, $padding) {
  background-color: $background-color;
  border-bottom: 1px solid $user-bar__border;
  padding-top: $padding;
  padding-bottom: $padding;
}

.user-bar {
  @include header-bar($user-bar__background, 18px);

  .user-bar__notification {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .user-info {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;

    div {
      display: block;
    }

    .user-info__name {
      font-size: 18px;
    }

    .user-info__job-title {
      color: #a89f88;
      font-size: 16px;
      margin-right: 18px;
    }
  }

  img {
    display: inline-block;
  }
}

.page-header-bar {
  @include header-bar($page-header-bar__background, 14px);
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 10px $user-bar__border;
  -moz-box-shadow: 0px 1px 10px $user-bar__border;
  box-shadow: 0px 1px 10px $user-bar__border;
  position: relative;

  .page-header-bar__message {
    font-size: 35px;
    font-weight: 300;
    padding-left: 20px;
  }
}

.page-subheader-bar {
  @include header-bar($page-header-bar__background, 14px);
  margin-bottom: 30px;
  margin-top: -30px;
    .page-subheader-bar__message {
    padding-left: 10px;
    color: #A1A1A1;
    a{
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}