@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000314}}
.text-late {
  color: #dc6a6a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000317}}
.text-paid {
  color: #04a773;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000321}}
.featured-item {
  margin-bottom: 15px;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000325}}
.featured-item img {
  height: 175px;
  width: 100%;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000331}}
.featured-item a, .featured-item .nav-tabs li a:hover, .nav-tabs li .featured-item a:hover {
  display: block;
  letter-spacing: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000336}}
.featured-item .featured-item__detail {
  padding: 15px;
  border-top: 1px solid #c3bc9c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000342}}
.sub-content {
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000346}}
.table {
  border: 1px solid #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000349}}
.table td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000354}}
.table th a, .table th .nav-tabs li a:hover, .nav-tabs li .table th a:hover {
  color: #504938;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000357}}
.table th span {
  color: #B2AA99;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000362}}
.table .icon-plus2 {
  color: #489ecf;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000366}}
.table .icon-star2 {
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000375}}
.table-striped tbody tr:nth-child(odd) td {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/main\.scss}line{font-family:\0000378}}
.table-striped tbody tr:nth-child(odd) th {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\000031}}
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/Textured-BG.jpg");
  background-color: #f3f1eb;
  color: #504938;
  font-size: 14px;
  letter-spacing: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000310}}
h1, h2, h3, h4 {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000313}}
h3 {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000318}}
.container-fluid {
  padding: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000322}}
.page-content {
  width: calc(100% - 250px);
  margin-left: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000328}}
.nav, .pagination, .carousel, .panel-title a, .panel-title .nav-tabs li a:hover, .nav-tabs li .panel-title a:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000331}}
  .container-fluid {
    padding-right: 15px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_setup\.scss}line{font-family:\0000334}}
  .page-content {
    width: inherit;
    margin-left: 0;
  }
}
/* BUTTONS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\000034}}
button.btn {
  height: 50px;
  letter-spacing: 1px;
  background-color: white;
  border: 1px solid #c3bc9c;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000312}}
button.btn.cta-btn {
  color: white;
  background-color: #489ecf;
  border: none;
}

/* SELECT DROPDOWNS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000321}}
select {
  border: 1px solid #c3bc9c;
  font-size: 20px;
  height: 50px;
  letter-spacing: 1px;
}

/* TEXT INPUTS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000331}}
::-webkit-input-placeholder {
  color: #c3bc9c !important;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000335}}
:-moz-placeholder {
  /* Firefox 18- */
  color: #c3bc9c !important;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000339}}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c3bc9c !important;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000343}}
:-ms-input-placeholder {
  color: #c3bc9c !important;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000350}}
input[type='text'], input[type='email'], input[type='password'] {
  border: 1px solid #c3bc9c;
  height: 50px;
  font-size: 20px;
  letter-spacing: 1px;
}

/* TABS */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000359}}
.nav-tabs {
  border-bottom: 1px solid #c3bc9c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000363}}
.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a:hover {
  margin-right: 5px;
  line-height: 35px;
  font-size: 16px;
  border-radius: 0;
  border: 1px solid #c3bc9c;
  padding: 10px 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000377}}
.nav-tabs li.active a, .nav-tabs li.active a:hover {
  border: 1px solid #c3bc9c;
  border-bottom-color: transparent;
  border-top: 3px solid #489ecf;
  padding-top: 8px;
  font-weight: normal;
}

@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000392}}
  .nav-tabs li {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\0000395}}
  .nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a:hover {
    margin-right: 0px;
    border-radius: 8px;
    margin-bottom: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_components\.scss}line{font-family:\00003102}}
  .nav-tabs li.active a, .nav-tabs li.active a:hover {
    border-bottom-color: #c3bc9c;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\000039}}
.sidebar {
  color: #9f8e7c;
  font-size: 20px;
  padding: 0;
  width: 250px;
  background-color: #433c35;
  background-image: url("../images/Nav-Image.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 900px;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000324}}
.sidebar a, .sidebar .nav-tabs li a:hover, .nav-tabs li .sidebar a:hover {
  color: #e8aa30;
  text-decoration: none;
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000330}}
.sidebar .sidebar-logo {
  padding: 25px 0;
  background-color: #373029;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000334}}
.sidebar .sidebar-logo img {
  height: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000342}}
.sidebar .sidebar-nav ul {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000346}}
.sidebar .sidebar-nav ul li {
  padding: 19px 25px;
  color: #9f8e7c;
  cursor: pointer;
  border-top: 1px solid #706457;
  font-weight: 400;
  letter-spacing: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000355}}
.sidebar .sidebar-nav ul li .sidebar-nav__icon {
  width: 30px;
  display: inline-block;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000362}}
.sidebar .sidebar-nav ul .is-selected li {
  color: white;
  background-color: #2a2621;
  border-left: 3px solid #e8aa30;
  padding-left: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000370}}
.sidebar .sidebar-dsr {
  padding: 32px;
  font-size: 18px;
  background-color: #373029;
  border-bottom: 1px solid #706457;
  border-top: 1px solid #706457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000377}}
.sidebar .sidebar-dsr .contact-info {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000383}}
.sidebar .sidebar-dsr .contact-info span {
  color: white;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_sidebar\.scss}line{font-family:\0000390}}
.sidebar .sidebar-meta {
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\000038}}
.user-bar {
  background-color: #f3f1eb;
  border-bottom: 1px solid #c3bc9c;
  padding-top: 18px;
  padding-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000311}}
.user-bar .user-bar__notification {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000317}}
.user-bar .user-info {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000323}}
.user-bar .user-info div, .user-bar .user-info .order-summary__order .order-col, .order-summary__order .user-bar .user-info .order-col {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000327}}
.user-bar .user-info .user-info__name {
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000331}}
.user-bar .user-info .user-info__job-title {
  color: #a89f88;
  font-size: 16px;
  margin-right: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000339}}
.user-bar img {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000344}}
.page-header-bar {
  background-color: white;
  border-bottom: 1px solid #c3bc9c;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 10px #c3bc9c;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000352}}
.page-header-bar .page-header-bar__message {
  font-size: 35px;
  font-weight: 300;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000358}}
.page-header-bar .page-header__export-button {
  font-size: 25px;
  color: #c3bc9c;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000364}}
.page-header-bar .page-header__buttons {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000368}}
.page-header-bar .page-header__orders {
  color: #489ecf;
  font-size: 22px;
  margin-left: 10px;
  line-height: 50px;
  vertical-align: middle;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000378}}
.page-subheader-bar {
  background-color: white;
  border-bottom: 1px solid #c3bc9c;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 30px;
  margin-top: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000382}}
.page-subheader-bar .page-subheader-bar__message {
  padding-left: 10px;
  color: #A1A1A1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_user-bar\.scss}line{font-family:\0000385}}
.page-subheader-bar .page-subheader-bar__message a, .page-subheader-bar .page-subheader-bar__message .nav-tabs li a:hover, .nav-tabs li .page-subheader-bar .page-subheader-bar__message a:hover {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\000033}}
.order-summary {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\000036}}
.order-summary .order-col, .order-summary .payment-status-col {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\000039}}
.order-summary .delivery-date-col, .order-summary .total-cost-col {
  width: 17%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000312}}
.order-summary .status-col {
  width: 26%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000316}}
.order-summary__header {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000319}}
.order-summary__order {
  background-color: white;
  border: 1px solid #c3bc9c;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000326}}
.order-summary__order.order-summary__order--paid {
  border-left: 3px solid #dc6a6a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000329}}
.order-summary__order.order-summary__order--late {
  border-left: 3px solid #04a773;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000334}}
.order-summary__order div, .order-summary__order .order-col {
  min-height: 95px;
  padding-top: 37px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000339}}
.order-summary__order .order-col {
  background-color: #f1efe5;
  border-right: 1px solid #c3bc9c;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000346}}
.order-summary__order .order-col .order-col__date {
  display: block;
  margin-top: 12px;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_order-summary\.scss}line{font-family:\0000351}}
.order-summary__order .order-col .order-col__number {
  font-size: 22px;
  font-weight: 400;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_account-summary\.scss}line{font-family:\000031}}
.account-summary__balance, .account-summary__graph {
  background-color: white;
  border: 1px solid #c3bc9c;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_account-summary\.scss}line{font-family:\000036}}
.account-summary__balance .balance__amount, .account-summary__graph .balance__amount {
  font-size: 32px;
  font-weight: bold;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_account-summary\.scss}line{font-family:\0000311}}
.account-summary__balance .balance__term:not(:last-child), .account-summary__graph .balance__term:not(:last-child) {
  border-right: 1px solid #c3bc9c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_account-summary\.scss}line{font-family:\0000315}}
.account-summary__graph {
  border-top: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_catalog\.scss}line{font-family:\000031}}
ul.horizontal-slide {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_catalog\.scss}line{font-family:\000038}}
ul.horizontal-slide .item-holder {
  display: inline-block;
  float: none;
  padding: 0;
  width: 175px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_catalog\.scss}line{font-family:\0000316}}
ul.horizontal-slide .item-holder:first-child {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_recent-activity\.scss}line{font-family:\000031}}
.notification {
  padding-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_recent-activity\.scss}line{font-family:\000034}}
.notification__message {
  background-color: white;
  padding: 10px;
  border: 1px solid #c3bc9c;
  display: inline-block;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\000031}}
.category {
  max-height: 400px;
  overflow-y: scroll;
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\000039}}
.nav li a:hover, .nav .nav-tabs li.active a:hover, .nav-tabs .nav li.active a:hover {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000312}}
.nav li a, .nav .nav-tabs li a:hover, .nav-tabs .nav li a:hover {
  color: #504938;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000317}}
.nav .active a, .nav .active .nav-tabs li a:hover, .nav-tabs li .nav .active a:hover, .nav .nav-tabs li.active a:hover, .nav-tabs .nav li.active a:hover {
  color: #489ecf;
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000324}}
.view {
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000328}}
.checkbox input[type=checkbox] {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000332}}
input[type=checkbox]:checked + label {
  color: #489ecf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000336}}
.checkbox + .checkbox {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000340}}
.hidebrand {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_search-results\.scss}line{font-family:\0000344}}
.hideallergen {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\000031}}
.item-details {
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\000035}}
.item-details__actions {
  padding-top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000310}}
.tab-content .tab-pane {
  background-color: white;
  border-left: 1px solid #c3bc9c;
  border-right: 1px solid #c3bc9c;
  border-bottom: 1px solid #c3bc9c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000318}}
.details-table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000321}}
.details-table th, .details-table td {
  padding: 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000325}}
.details-table tr {
  border-bottom: 1px solid #c3bc9c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000328}}
.details-table tr:last-child {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mknabe\/dev\/bek-app\/KeithLink\/KeithLink\.Web\.Presentation\/angular-app\/app\/styles\/_item-details\.scss}line{font-family:\0000333}}
.details-table tr:nth-child(even) {
  background-color: #f3f1eb;
}
