<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPipelineService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1317/PipelineService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPipelineService"
                contract="PipelineService.IPipelineService" name="BasicHttpBinding_IPipelineService" />
        </client>
    </system.serviceModel>
</configuration>